/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudActivityFeed
import ai.hanzo.cloud.model.CloudAgentDetail
import ai.hanzo.cloud.model.CloudAgentList
import ai.hanzo.cloud.model.CloudAgentView
import ai.hanzo.cloud.model.CloudBuildList
import ai.hanzo.cloud.model.CloudBuildView
import ai.hanzo.cloud.model.CloudClaimKeyOut
import ai.hanzo.cloud.model.CloudControlDrain
import ai.hanzo.cloud.model.CloudCreateAgentIn
import ai.hanzo.cloud.model.CloudMetricsView
import ai.hanzo.cloud.model.CloudPatchSessionIn
import ai.hanzo.cloud.model.CloudPatchTargetIn
import ai.hanzo.cloud.model.CloudRegisterReq
import ai.hanzo.cloud.model.CloudReportOut
import ai.hanzo.cloud.model.CloudReportRunIn
import ai.hanzo.cloud.model.CloudRoutedRunOut
import ai.hanzo.cloud.model.CloudRunList
import ai.hanzo.cloud.model.CloudSessionDetail
import ai.hanzo.cloud.model.CloudSessionList
import ai.hanzo.cloud.model.CloudSessionView
import ai.hanzo.cloud.model.CloudTargetDeleted
import ai.hanzo.cloud.model.CloudTargetList
import ai.hanzo.cloud.model.CloudTargetReq
import ai.hanzo.cloud.model.CloudTargetView
import ai.hanzo.cloud.model.CloudTreeNode
import ai.hanzo.cloud.model.CloudUpdateAgentIn

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class AgentsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/agents/{ref}
     * DeleteAgent removes an agent and every run recorded against it.
     * DeleteAgent removes an agent and every run recorded against it. Answers 204.
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1AgentsRef(ref: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1AgentsRefWithHttpInfo(ref = ref)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/agents/{ref}
     * DeleteAgent removes an agent and every run recorded against it.
     * DeleteAgent removes an agent and every run recorded against it. Answers 204.
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1AgentsRefWithHttpInfo(ref: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1AgentsRefRequestConfig(ref = ref)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1AgentsRef
     *
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return RequestConfig
     */
    fun cloudDeleteV1AgentsRefRequestConfig(ref: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/agents/{ref}".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/agents/targets/{id}
     * DeleteTarget deregisters one machine.
     * DeleteTarget deregisters one machine. Only its owner, or an org admin, may remove it; an unknown id, a cross-org id and a machine owned by someone else all answer the same not-found, so a probe learns nothing about what exists.
     * @param id ID is the target to act on, from the path.
     * @return CloudTargetDeleted
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1AgentsTargetsId(id: kotlin.String) : CloudTargetDeleted {
        val localVarResponse = cloudDeleteV1AgentsTargetsIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTargetDeleted
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/agents/targets/{id}
     * DeleteTarget deregisters one machine.
     * DeleteTarget deregisters one machine. Only its owner, or an org admin, may remove it; an unknown id, a cross-org id and a machine owned by someone else all answer the same not-found, so a probe learns nothing about what exists.
     * @param id ID is the target to act on, from the path.
     * @return ApiResponse<CloudTargetDeleted?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1AgentsTargetsIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudTargetDeleted?> {
        val localVariableConfig = cloudDeleteV1AgentsTargetsIdRequestConfig(id = id)

        return request<Unit, CloudTargetDeleted>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1AgentsTargetsId
     *
     * @param id ID is the target to act on, from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1AgentsTargetsIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/agents/targets/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents
     * ListAgents returns every agent defined in the caller&#39;s org, each with the number of runs recorded against it.
     * ListAgents returns every agent defined in the caller&#39;s org, each with the number of runs recorded against it.
     * @return CloudAgentList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1Agents() : CloudAgentList {
        val localVarResponse = cloudGetV1AgentsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents
     * ListAgents returns every agent defined in the caller&#39;s org, each with the number of runs recorded against it.
     * ListAgents returns every agent defined in the caller&#39;s org, each with the number of runs recorded against it.
     * @return ApiResponse<CloudAgentList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsWithHttpInfo() : ApiResponse<CloudAgentList?> {
        val localVariableConfig = cloudGetV1AgentsRequestConfig()

        return request<Unit, CloudAgentList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1Agents
     *
     * @return RequestConfig
     */
    fun cloudGetV1AgentsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/activity
     * AgentActivity serves the org-wide recent-activity feed.
     * AgentActivity serves the org-wide recent-activity feed. Events are REAL: each recorded run is an invoked (ok) or failed (error) event; each agent&#39;s own create/update timestamps are created/updated events. Merged, newest first, capped. Nothing is invented — an org with no agents and no runs gets [].
     * @return CloudActivityFeed
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsActivity() : CloudActivityFeed {
        val localVarResponse = cloudGetV1AgentsActivityWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudActivityFeed
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/activity
     * AgentActivity serves the org-wide recent-activity feed.
     * AgentActivity serves the org-wide recent-activity feed. Events are REAL: each recorded run is an invoked (ok) or failed (error) event; each agent&#39;s own create/update timestamps are created/updated events. Merged, newest first, capped. Nothing is invented — an org with no agents and no runs gets [].
     * @return ApiResponse<CloudActivityFeed?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsActivityWithHttpInfo() : ApiResponse<CloudActivityFeed?> {
        val localVariableConfig = cloudGetV1AgentsActivityRequestConfig()

        return request<Unit, CloudActivityFeed>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsActivity
     *
     * @return RequestConfig
     */
    fun cloudGetV1AgentsActivityRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/activity",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/builds
     * ListBuilds returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product.
     * ListBuilds returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product. PUBLIC, no tenancy: publishing is the author&#39;s act, and only published root sessions appear here.
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return CloudBuildList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsBuilds(limit: kotlin.Int? = null) : CloudBuildList {
        val localVarResponse = cloudGetV1AgentsBuildsWithHttpInfo(limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudBuildList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/builds
     * ListBuilds returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product.
     * ListBuilds returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product. PUBLIC, no tenancy: publishing is the author&#39;s act, and only published root sessions appear here.
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return ApiResponse<CloudBuildList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsBuildsWithHttpInfo(limit: kotlin.Int?) : ApiResponse<CloudBuildList?> {
        val localVariableConfig = cloudGetV1AgentsBuildsRequestConfig(limit = limit)

        return request<Unit, CloudBuildList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsBuilds
     *
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1AgentsBuildsRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/builds",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/builds/{org}/{project}
     * ReadBuild returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact &#x60;git log&#x60; that re-derives every commit binding from git itself, so nothing here has to be taken on trust.
     * ReadBuild returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact &#x60;git log&#x60; that re-derives every commit binding from git itself, so nothing here has to be taken on trust.  PUBLIC, no tenancy: it answers only for a session its author explicitly published, which is what makes it safe to be anonymous. An unpublished session is invisible here no matter who asks; its owner reads it through the org-scoped /v1/agents/sessions routes, which need a validated principal.
     * @param org Org is the org that published the build, from the path.
     * @param project Project is the product&#39;s slug, from the path.
     * @return CloudBuildView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsBuildsOrgProject(org: kotlin.String, project: kotlin.String) : CloudBuildView {
        val localVarResponse = cloudGetV1AgentsBuildsOrgProjectWithHttpInfo(org = org, project = project)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudBuildView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/builds/{org}/{project}
     * ReadBuild returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact &#x60;git log&#x60; that re-derives every commit binding from git itself, so nothing here has to be taken on trust.
     * ReadBuild returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact &#x60;git log&#x60; that re-derives every commit binding from git itself, so nothing here has to be taken on trust.  PUBLIC, no tenancy: it answers only for a session its author explicitly published, which is what makes it safe to be anonymous. An unpublished session is invisible here no matter who asks; its owner reads it through the org-scoped /v1/agents/sessions routes, which need a validated principal.
     * @param org Org is the org that published the build, from the path.
     * @param project Project is the product&#39;s slug, from the path.
     * @return ApiResponse<CloudBuildView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsBuildsOrgProjectWithHttpInfo(org: kotlin.String, project: kotlin.String) : ApiResponse<CloudBuildView?> {
        val localVariableConfig = cloudGetV1AgentsBuildsOrgProjectRequestConfig(org = org, project = project)

        return request<Unit, CloudBuildView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsBuildsOrgProject
     *
     * @param org Org is the org that published the build, from the path.
     * @param project Project is the product&#39;s slug, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1AgentsBuildsOrgProjectRequestConfig(org: kotlin.String, project: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/builds/{org}/{project}".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"project"+"}", encodeURIComponent(project.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/metrics
     * AgentMetrics serves the invocations-over-time histogram for the org&#39;s Agents dashboard.
     * AgentMetrics serves the invocations-over-time histogram for the org&#39;s Agents dashboard. Every point is a REAL count of recorded runs in that time bucket — one series line per agent that ran in the window. The Resource Usage rollup is all-null because this store meters no CPU/memory/storage/cost; the console renders those as \&quot;—\&quot; rather than a fabricated figure. No runs &#x3D;&gt; empty series (an honest \&quot;not connected / no activity yet\&quot;), never a synthesized trend.
     * @param range Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D. (optional)
     * @return CloudMetricsView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsMetrics(range: kotlin.String? = null) : CloudMetricsView {
        val localVarResponse = cloudGetV1AgentsMetricsWithHttpInfo(range = range)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudMetricsView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/metrics
     * AgentMetrics serves the invocations-over-time histogram for the org&#39;s Agents dashboard.
     * AgentMetrics serves the invocations-over-time histogram for the org&#39;s Agents dashboard. Every point is a REAL count of recorded runs in that time bucket — one series line per agent that ran in the window. The Resource Usage rollup is all-null because this store meters no CPU/memory/storage/cost; the console renders those as \&quot;—\&quot; rather than a fabricated figure. No runs &#x3D;&gt; empty series (an honest \&quot;not connected / no activity yet\&quot;), never a synthesized trend.
     * @param range Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D. (optional)
     * @return ApiResponse<CloudMetricsView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsMetricsWithHttpInfo(range: kotlin.String?) : ApiResponse<CloudMetricsView?> {
        val localVariableConfig = cloudGetV1AgentsMetricsRequestConfig(range = range)

        return request<Unit, CloudMetricsView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsMetrics
     *
     * @param range Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1AgentsMetricsRequestConfig(range: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/metrics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/{ref}
     * GetAgent returns one agent with its system prompt and its 20 most recent runs.
     * GetAgent returns one agent with its system prompt and its 20 most recent runs. The ref is the agent&#39;s public id or its org-unique name — a created agent is immediately gettable by whatever create handed back.
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return CloudAgentDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsRef(ref: kotlin.String) : CloudAgentDetail {
        val localVarResponse = cloudGetV1AgentsRefWithHttpInfo(ref = ref)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/{ref}
     * GetAgent returns one agent with its system prompt and its 20 most recent runs.
     * GetAgent returns one agent with its system prompt and its 20 most recent runs. The ref is the agent&#39;s public id or its org-unique name — a created agent is immediately gettable by whatever create handed back.
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return ApiResponse<CloudAgentDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsRefWithHttpInfo(ref: kotlin.String) : ApiResponse<CloudAgentDetail?> {
        val localVariableConfig = cloudGetV1AgentsRefRequestConfig(ref = ref)

        return request<Unit, CloudAgentDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsRef
     *
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return RequestConfig
     */
    fun cloudGetV1AgentsRefRequestConfig(ref: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/{ref}".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/{ref}/runs
     * ListAgentRuns returns one agent&#39;s execution history, newest first — each run&#39;s input, its output or its error, and how long it took.
     * ListAgentRuns returns one agent&#39;s execution history, newest first — each run&#39;s input, its output or its error, and how long it took. Every row is a run that actually happened.
     * @param ref Ref is the agent&#39;s public id or its org-unique name, from the path.
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @return CloudRunList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsRefRuns(ref: kotlin.String, limit: kotlin.Int? = null) : CloudRunList {
        val localVarResponse = cloudGetV1AgentsRefRunsWithHttpInfo(ref = ref, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudRunList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/{ref}/runs
     * ListAgentRuns returns one agent&#39;s execution history, newest first — each run&#39;s input, its output or its error, and how long it took.
     * ListAgentRuns returns one agent&#39;s execution history, newest first — each run&#39;s input, its output or its error, and how long it took. Every row is a run that actually happened.
     * @param ref Ref is the agent&#39;s public id or its org-unique name, from the path.
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @return ApiResponse<CloudRunList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsRefRunsWithHttpInfo(ref: kotlin.String, limit: kotlin.Int?) : ApiResponse<CloudRunList?> {
        val localVariableConfig = cloudGetV1AgentsRefRunsRequestConfig(ref = ref, limit = limit)

        return request<Unit, CloudRunList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsRefRuns
     *
     * @param ref Ref is the agent&#39;s public id or its org-unique name, from the path.
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1AgentsRefRunsRequestConfig(ref: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/{ref}/runs".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions
     * ListSessions returns the caller org&#39;s live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event.
     * ListSessions returns the caller org&#39;s live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event. With no filter it returns ROOT sessions only, so a dashboard shows one row per flow rather than one per subagent; ?root&#x3D; or ?parent&#x3D; descends.
     * @param root Root scopes the page to one subagent tree (its root session id). (optional)
     * @param parent Parent scopes the page to the direct children of one session. Ignored when root is set; with neither, only ROOT sessions come back. (optional)
     * @param status Status filters to running, paused, done or error. (optional)
     * @param project Project filters to the sessions tagged with one product slug. (optional)
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return CloudSessionList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsSessions(root: kotlin.String? = null, parent: kotlin.String? = null, status: kotlin.String? = null, project: kotlin.String? = null, limit: kotlin.Int? = null) : CloudSessionList {
        val localVarResponse = cloudGetV1AgentsSessionsWithHttpInfo(root = root, parent = parent, status = status, project = project, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSessionList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions
     * ListSessions returns the caller org&#39;s live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event.
     * ListSessions returns the caller org&#39;s live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event. With no filter it returns ROOT sessions only, so a dashboard shows one row per flow rather than one per subagent; ?root&#x3D; or ?parent&#x3D; descends.
     * @param root Root scopes the page to one subagent tree (its root session id). (optional)
     * @param parent Parent scopes the page to the direct children of one session. Ignored when root is set; with neither, only ROOT sessions come back. (optional)
     * @param status Status filters to running, paused, done or error. (optional)
     * @param project Project filters to the sessions tagged with one product slug. (optional)
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return ApiResponse<CloudSessionList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsSessionsWithHttpInfo(root: kotlin.String?, parent: kotlin.String?, status: kotlin.String?, project: kotlin.String?, limit: kotlin.Int?) : ApiResponse<CloudSessionList?> {
        val localVariableConfig = cloudGetV1AgentsSessionsRequestConfig(root = root, parent = parent, status = status, project = project, limit = limit)

        return request<Unit, CloudSessionList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsSessions
     *
     * @param root Root scopes the page to one subagent tree (its root session id). (optional)
     * @param parent Parent scopes the page to the direct children of one session. Ignored when root is set; with neither, only ROOT sessions come back. (optional)
     * @param status Status filters to running, paused, done or error. (optional)
     * @param project Project filters to the sessions tagged with one product slug. (optional)
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1AgentsSessionsRequestConfig(root: kotlin.String?, parent: kotlin.String?, status: kotlin.String?, project: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (root != null) {
                    put("root", listOf(root.toString()))
                }
                if (parent != null) {
                    put("parent", listOf(parent.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/{id}
     * GetSession returns one session with its direct child sessions and its 50 most recent events, oldest of those first.
     * GetSession returns one session with its direct child sessions and its 50 most recent events, oldest of those first.
     * @param id ID is the session to act on, from the path.
     * @return CloudSessionDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsSessionsId(id: kotlin.String) : CloudSessionDetail {
        val localVarResponse = cloudGetV1AgentsSessionsIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSessionDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/{id}
     * GetSession returns one session with its direct child sessions and its 50 most recent events, oldest of those first.
     * GetSession returns one session with its direct child sessions and its 50 most recent events, oldest of those first.
     * @param id ID is the session to act on, from the path.
     * @return ApiResponse<CloudSessionDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsSessionsIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudSessionDetail?> {
        val localVariableConfig = cloudGetV1AgentsSessionsIdRequestConfig(id = id)

        return request<Unit, CloudSessionDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsSessionsId
     *
     * @param id ID is the session to act on, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1AgentsSessionsIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/{id}/control
     * DrainSessionControl returns the steering commands (pause/resume/stop/message) recorded against the caller&#39;s own session that are newer than the cursor, oldest first, with the cursor to poll from next.
     * DrainSessionControl returns the steering commands (pause/resume/stop/message) recorded against the caller&#39;s own session that are newer than the cursor, oldest first, with the cursor to poll from next. It is how a locally started &#x60;hanzo code&#x60; session — which is not task-backed, so nothing forwards its commands to an execution engine — consumes what the dashboard posted. Read-only and bounded at 200 per poll, so a steady poll is cheap and an applied command is never redelivered.
     * @param id ID is the session whose commands are being drained, from the path.
     * @param after After is the last seq this poller applied; only commands newer than it come back. Absent or negative reads as 0, which drains from the beginning. (optional)
     * @return CloudControlDrain
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsSessionsIdControl(id: kotlin.String, after: kotlin.Int? = null) : CloudControlDrain {
        val localVarResponse = cloudGetV1AgentsSessionsIdControlWithHttpInfo(id = id, after = after)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudControlDrain
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/{id}/control
     * DrainSessionControl returns the steering commands (pause/resume/stop/message) recorded against the caller&#39;s own session that are newer than the cursor, oldest first, with the cursor to poll from next.
     * DrainSessionControl returns the steering commands (pause/resume/stop/message) recorded against the caller&#39;s own session that are newer than the cursor, oldest first, with the cursor to poll from next. It is how a locally started &#x60;hanzo code&#x60; session — which is not task-backed, so nothing forwards its commands to an execution engine — consumes what the dashboard posted. Read-only and bounded at 200 per poll, so a steady poll is cheap and an applied command is never redelivered.
     * @param id ID is the session whose commands are being drained, from the path.
     * @param after After is the last seq this poller applied; only commands newer than it come back. Absent or negative reads as 0, which drains from the beginning. (optional)
     * @return ApiResponse<CloudControlDrain?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsSessionsIdControlWithHttpInfo(id: kotlin.String, after: kotlin.Int?) : ApiResponse<CloudControlDrain?> {
        val localVariableConfig = cloudGetV1AgentsSessionsIdControlRequestConfig(id = id, after = after)

        return request<Unit, CloudControlDrain>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsSessionsIdControl
     *
     * @param id ID is the session whose commands are being drained, from the path.
     * @param after After is the last seq this poller applied; only commands newer than it come back. Absent or negative reads as 0, which drains from the beginning. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1AgentsSessionsIdControlRequestConfig(id: kotlin.String, after: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (after != null) {
                    put("after", listOf(after.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/{id}/control".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/{id}/tree
     * SessionTree returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count.
     * SessionTree returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count. One indexed read pulls the whole flow (every node of a flow shares a root id), so the shape is assembled in memory rather than by walking the store per node.
     * @param id ID is the session to act on, from the path.
     * @return CloudTreeNode
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsSessionsIdTree(id: kotlin.String) : CloudTreeNode {
        val localVarResponse = cloudGetV1AgentsSessionsIdTreeWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTreeNode
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/{id}/tree
     * SessionTree returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count.
     * SessionTree returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count. One indexed read pulls the whole flow (every node of a flow shares a root id), so the shape is assembled in memory rather than by walking the store per node.
     * @param id ID is the session to act on, from the path.
     * @return ApiResponse<CloudTreeNode?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsSessionsIdTreeWithHttpInfo(id: kotlin.String) : ApiResponse<CloudTreeNode?> {
        val localVariableConfig = cloudGetV1AgentsSessionsIdTreeRequestConfig(id = id)

        return request<Unit, CloudTreeNode>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsSessionsIdTree
     *
     * @param id ID is the session to act on, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1AgentsSessionsIdTreeRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/{id}/tree".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/stream
     * 
     * 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsSessionsStream() : Unit {
        val localVarResponse = cloudGetV1AgentsSessionsStreamWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/stream
     * 
     * 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsSessionsStreamWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = cloudGetV1AgentsSessionsStreamRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsSessionsStream
     *
     * @return RequestConfig
     */
    fun cloudGetV1AgentsSessionsStreamRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/stream",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/targets
     * ListTargets returns every machine registered to the caller&#39;s org, newest first, each with its live session load.
     * ListTargets returns every machine registered to the caller&#39;s org, newest first, each with its live session load.
     * @return CloudTargetList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsTargets() : CloudTargetList {
        val localVarResponse = cloudGetV1AgentsTargetsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTargetList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/targets
     * ListTargets returns every machine registered to the caller&#39;s org, newest first, each with its live session load.
     * ListTargets returns every machine registered to the caller&#39;s org, newest first, each with its live session load.
     * @return ApiResponse<CloudTargetList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsTargetsWithHttpInfo() : ApiResponse<CloudTargetList?> {
        val localVariableConfig = cloudGetV1AgentsTargetsRequestConfig()

        return request<Unit, CloudTargetList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsTargets
     *
     * @return RequestConfig
     */
    fun cloudGetV1AgentsTargetsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/targets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/targets/{id}
     * GetTarget returns one registered machine, with its live session load.
     * GetTarget returns one registered machine, with its live session load.
     * @param id ID is the target to act on, from the path.
     * @return CloudTargetView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1AgentsTargetsId(id: kotlin.String) : CloudTargetView {
        val localVarResponse = cloudGetV1AgentsTargetsIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTargetView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/targets/{id}
     * GetTarget returns one registered machine, with its live session load.
     * GetTarget returns one registered machine, with its live session load.
     * @param id ID is the target to act on, from the path.
     * @return ApiResponse<CloudTargetView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1AgentsTargetsIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudTargetView?> {
        val localVariableConfig = cloudGetV1AgentsTargetsIdRequestConfig(id = id)

        return request<Unit, CloudTargetView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1AgentsTargetsId
     *
     * @param id ID is the target to act on, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1AgentsTargetsIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/targets/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/agents/{ref}
     * UpdateAgent changes an agent in place.
     * UpdateAgent changes an agent in place. Every field is optional; a field the request omits keeps its stored value. The resulting mode+schedule are re-validated together, so a partial update can never leave a long-running agent without the cron the scheduler needs to fire it, and a transition INTO long-running counts against the per-org cap on scheduled agents.
     * @param ref Ref is the agent to update — its public id or org-unique name, from the path.
     * @param cloudUpdateAgentIn 
     * @return CloudAgentView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPatchV1AgentsRef(ref: kotlin.String, cloudUpdateAgentIn: CloudUpdateAgentIn) : CloudAgentView {
        val localVarResponse = cloudPatchV1AgentsRefWithHttpInfo(ref = ref, cloudUpdateAgentIn = cloudUpdateAgentIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/agents/{ref}
     * UpdateAgent changes an agent in place.
     * UpdateAgent changes an agent in place. Every field is optional; a field the request omits keeps its stored value. The resulting mode+schedule are re-validated together, so a partial update can never leave a long-running agent without the cron the scheduler needs to fire it, and a transition INTO long-running counts against the per-org cap on scheduled agents.
     * @param ref Ref is the agent to update — its public id or org-unique name, from the path.
     * @param cloudUpdateAgentIn 
     * @return ApiResponse<CloudAgentView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPatchV1AgentsRefWithHttpInfo(ref: kotlin.String, cloudUpdateAgentIn: CloudUpdateAgentIn) : ApiResponse<CloudAgentView?> {
        val localVariableConfig = cloudPatchV1AgentsRefRequestConfig(ref = ref, cloudUpdateAgentIn = cloudUpdateAgentIn)

        return request<CloudUpdateAgentIn, CloudAgentView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPatchV1AgentsRef
     *
     * @param ref Ref is the agent to update — its public id or org-unique name, from the path.
     * @param cloudUpdateAgentIn 
     * @return RequestConfig
     */
    fun cloudPatchV1AgentsRefRequestConfig(ref: kotlin.String, cloudUpdateAgentIn: CloudUpdateAgentIn) : RequestConfig<CloudUpdateAgentIn> {
        val localVariableBody = cloudUpdateAgentIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/agents/{ref}".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/agents/sessions/{id}
     * PatchSession updates a session&#39;s surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build&#39;s story is public.
     * PatchSession updates a session&#39;s surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build&#39;s story is public. A FINISHED session stays finished — reopening a done/error run would fabricate liveness — and publishing is refused unless the session names the project it built, because the public build route is keyed on (org, project).
     * @param id ID is the session to update, from the path.
     * @param cloudPatchSessionIn 
     * @return CloudSessionView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPatchV1AgentsSessionsId(id: kotlin.String, cloudPatchSessionIn: CloudPatchSessionIn) : CloudSessionView {
        val localVarResponse = cloudPatchV1AgentsSessionsIdWithHttpInfo(id = id, cloudPatchSessionIn = cloudPatchSessionIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSessionView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/agents/sessions/{id}
     * PatchSession updates a session&#39;s surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build&#39;s story is public.
     * PatchSession updates a session&#39;s surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build&#39;s story is public. A FINISHED session stays finished — reopening a done/error run would fabricate liveness — and publishing is refused unless the session names the project it built, because the public build route is keyed on (org, project).
     * @param id ID is the session to update, from the path.
     * @param cloudPatchSessionIn 
     * @return ApiResponse<CloudSessionView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPatchV1AgentsSessionsIdWithHttpInfo(id: kotlin.String, cloudPatchSessionIn: CloudPatchSessionIn) : ApiResponse<CloudSessionView?> {
        val localVariableConfig = cloudPatchV1AgentsSessionsIdRequestConfig(id = id, cloudPatchSessionIn = cloudPatchSessionIn)

        return request<CloudPatchSessionIn, CloudSessionView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPatchV1AgentsSessionsId
     *
     * @param id ID is the session to update, from the path.
     * @param cloudPatchSessionIn 
     * @return RequestConfig
     */
    fun cloudPatchV1AgentsSessionsIdRequestConfig(id: kotlin.String, cloudPatchSessionIn: CloudPatchSessionIn) : RequestConfig<CloudPatchSessionIn> {
        val localVariableBody = cloudPatchSessionIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/agents/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/agents/targets/{id}
     * PatchTarget updates one machine in place.
     * PatchTarget updates one machine in place. Every field is optional; a field the request omits is left alone. A metrics patch IS a heartbeat — the server stamps its own clock, so a client can neither forge nor backdate staleness.
     * @param id ID is the target to update, from the path.
     * @param cloudPatchTargetIn 
     * @return CloudTargetView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPatchV1AgentsTargetsId(id: kotlin.String, cloudPatchTargetIn: CloudPatchTargetIn) : CloudTargetView {
        val localVarResponse = cloudPatchV1AgentsTargetsIdWithHttpInfo(id = id, cloudPatchTargetIn = cloudPatchTargetIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTargetView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/agents/targets/{id}
     * PatchTarget updates one machine in place.
     * PatchTarget updates one machine in place. Every field is optional; a field the request omits is left alone. A metrics patch IS a heartbeat — the server stamps its own clock, so a client can neither forge nor backdate staleness.
     * @param id ID is the target to update, from the path.
     * @param cloudPatchTargetIn 
     * @return ApiResponse<CloudTargetView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPatchV1AgentsTargetsIdWithHttpInfo(id: kotlin.String, cloudPatchTargetIn: CloudPatchTargetIn) : ApiResponse<CloudTargetView?> {
        val localVariableConfig = cloudPatchV1AgentsTargetsIdRequestConfig(id = id, cloudPatchTargetIn = cloudPatchTargetIn)

        return request<CloudPatchTargetIn, CloudTargetView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPatchV1AgentsTargetsId
     *
     * @param id ID is the target to update, from the path.
     * @param cloudPatchTargetIn 
     * @return RequestConfig
     */
    fun cloudPatchV1AgentsTargetsIdRequestConfig(id: kotlin.String, cloudPatchTargetIn: CloudPatchTargetIn) : RequestConfig<CloudPatchTargetIn> {
        val localVariableBody = cloudPatchTargetIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/agents/targets/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents
     * CreateAgent defines an agent in the caller&#39;s org: a model, a system prompt (instructions) and a set of tool names.
     * CreateAgent defines an agent in the caller&#39;s org: a model, a system prompt (instructions) and a set of tool names. The name must be unique in the org and match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. An omitted model takes the deployment&#39;s configured default; a named one is checked against the gateway&#39;s served catalog, so a model this deployment never serves is refused here rather than failing at run time. A long-running agent must carry a 5-field cron schedule (the scheduler would otherwise never fire it) and counts against a per-org cap on scheduled agents.
     * @param cloudCreateAgentIn 
     * @return CloudAgentView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1Agents(cloudCreateAgentIn: CloudCreateAgentIn) : CloudAgentView {
        val localVarResponse = cloudPostV1AgentsWithHttpInfo(cloudCreateAgentIn = cloudCreateAgentIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAgentView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents
     * CreateAgent defines an agent in the caller&#39;s org: a model, a system prompt (instructions) and a set of tool names.
     * CreateAgent defines an agent in the caller&#39;s org: a model, a system prompt (instructions) and a set of tool names. The name must be unique in the org and match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. An omitted model takes the deployment&#39;s configured default; a named one is checked against the gateway&#39;s served catalog, so a model this deployment never serves is refused here rather than failing at run time. A long-running agent must carry a 5-field cron schedule (the scheduler would otherwise never fire it) and counts against a per-org cap on scheduled agents.
     * @param cloudCreateAgentIn 
     * @return ApiResponse<CloudAgentView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1AgentsWithHttpInfo(cloudCreateAgentIn: CloudCreateAgentIn) : ApiResponse<CloudAgentView?> {
        val localVariableConfig = cloudPostV1AgentsRequestConfig(cloudCreateAgentIn = cloudCreateAgentIn)

        return request<CloudCreateAgentIn, CloudAgentView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1Agents
     *
     * @param cloudCreateAgentIn 
     * @return RequestConfig
     */
    fun cloudPostV1AgentsRequestConfig(cloudCreateAgentIn: CloudCreateAgentIn) : RequestConfig<CloudCreateAgentIn> {
        val localVariableBody = cloudCreateAgentIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/agents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents/{ref}/run
     * 
     * 
     * @param ref 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1AgentsByRefRun(ref: kotlin.String) : Unit {
        val localVarResponse = cloudPostV1AgentsByRefRunWithHttpInfo(ref = ref)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents/{ref}/run
     * 
     * 
     * @param ref 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1AgentsByRefRunWithHttpInfo(ref: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudPostV1AgentsByRefRunRequestConfig(ref = ref)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1AgentsByRefRun
     *
     * @param ref 
     * @return RequestConfig
     */
    fun cloudPostV1AgentsByRefRunRequestConfig(ref: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/agents/{ref}/run".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents/sessions
     * RegisterSession opens a live agent session in the caller&#39;s org — the row every surface (the CLI&#39;s outer agent, hanzo.bot, the console, chat) hangs its activity off.
     * RegisterSession opens a live agent session in the caller&#39;s org — the row every surface (the CLI&#39;s outer agent, hanzo.bot, the console, chat) hangs its activity off. A session with a parentSessionId becomes a subagent of that session and inherits its root, so one flow is one tree; without one it is itself a root. Registering with a terminal status records a session that has already finished.
     * @param cloudRegisterReq 
     * @return CloudSessionView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1AgentsSessions(cloudRegisterReq: CloudRegisterReq) : CloudSessionView {
        val localVarResponse = cloudPostV1AgentsSessionsWithHttpInfo(cloudRegisterReq = cloudRegisterReq)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSessionView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents/sessions
     * RegisterSession opens a live agent session in the caller&#39;s org — the row every surface (the CLI&#39;s outer agent, hanzo.bot, the console, chat) hangs its activity off.
     * RegisterSession opens a live agent session in the caller&#39;s org — the row every surface (the CLI&#39;s outer agent, hanzo.bot, the console, chat) hangs its activity off. A session with a parentSessionId becomes a subagent of that session and inherits its root, so one flow is one tree; without one it is itself a root. Registering with a terminal status records a session that has already finished.
     * @param cloudRegisterReq 
     * @return ApiResponse<CloudSessionView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1AgentsSessionsWithHttpInfo(cloudRegisterReq: CloudRegisterReq) : ApiResponse<CloudSessionView?> {
[...]
