/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.ActivityFeed
import ai.hanzo.cloud.model.AgentDetail
import ai.hanzo.cloud.model.AgentList
import ai.hanzo.cloud.model.AgentView
import ai.hanzo.cloud.model.BuildList
import ai.hanzo.cloud.model.BuildView
import ai.hanzo.cloud.model.ClaimKeyOut
import ai.hanzo.cloud.model.ControlDrain
import ai.hanzo.cloud.model.CreateAgentIn
import ai.hanzo.cloud.model.MetricsView
import ai.hanzo.cloud.model.PatchSessionIn
import ai.hanzo.cloud.model.PatchTargetIn
import ai.hanzo.cloud.model.RegisterReq
import ai.hanzo.cloud.model.ReportOut
import ai.hanzo.cloud.model.ReportRunIn
import ai.hanzo.cloud.model.RoutedRunOut
import ai.hanzo.cloud.model.RunList
import ai.hanzo.cloud.model.SessionDetail
import ai.hanzo.cloud.model.SessionList
import ai.hanzo.cloud.model.SessionView
import ai.hanzo.cloud.model.TargetDeleted
import ai.hanzo.cloud.model.TargetList
import ai.hanzo.cloud.model.TargetReq
import ai.hanzo.cloud.model.TargetView
import ai.hanzo.cloud.model.TreeNode
import ai.hanzo.cloud.model.UpdateAgentIn

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class AgentsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/agents/{ref}
     * Removes an agent and every run recorded against it.
     * Removes an agent and every run recorded against it. Answers 204.
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1AgentsByRef(ref: kotlin.String) : Unit {
        val localVarResponse = deleteV1AgentsByRefWithHttpInfo(ref = ref)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/agents/{ref}
     * Removes an agent and every run recorded against it.
     * Removes an agent and every run recorded against it. Answers 204.
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1AgentsByRefWithHttpInfo(ref: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1AgentsByRefRequestConfig(ref = ref)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1AgentsByRef
     *
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return RequestConfig
     */
    fun deleteV1AgentsByRefRequestConfig(ref: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/agents/{ref}".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/agents/targets/{id}
     * Deregisters one machine.
     * Deregisters one machine. Only its owner, or an org admin, may remove it; an unknown id, a cross-org id and a machine owned by someone else all answer the same not-found, so a probe learns nothing about what exists.
     * @param id ID is the target to act on, from the path.
     * @return TargetDeleted
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1AgentsTargetsById(id: kotlin.String) : TargetDeleted {
        val localVarResponse = deleteV1AgentsTargetsByIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TargetDeleted
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/agents/targets/{id}
     * Deregisters one machine.
     * Deregisters one machine. Only its owner, or an org admin, may remove it; an unknown id, a cross-org id and a machine owned by someone else all answer the same not-found, so a probe learns nothing about what exists.
     * @param id ID is the target to act on, from the path.
     * @return ApiResponse<TargetDeleted?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1AgentsTargetsByIdWithHttpInfo(id: kotlin.String) : ApiResponse<TargetDeleted?> {
        val localVariableConfig = deleteV1AgentsTargetsByIdRequestConfig(id = id)

        return request<Unit, TargetDeleted>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1AgentsTargetsById
     *
     * @param id ID is the target to act on, from the path.
     * @return RequestConfig
     */
    fun deleteV1AgentsTargetsByIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/agents/targets/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents
     * Returns every agent defined in the caller&#39;s org, each with the number of runs recorded against it.
     * Returns every agent defined in the caller&#39;s org, each with the number of runs recorded against it.
     * @return AgentList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1Agents() : AgentList {
        val localVarResponse = getV1AgentsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AgentList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents
     * Returns every agent defined in the caller&#39;s org, each with the number of runs recorded against it.
     * Returns every agent defined in the caller&#39;s org, each with the number of runs recorded against it.
     * @return ApiResponse<AgentList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsWithHttpInfo() : ApiResponse<AgentList?> {
        val localVariableConfig = getV1AgentsRequestConfig()

        return request<Unit, AgentList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1Agents
     *
     * @return RequestConfig
     */
    fun getV1AgentsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/activity
     * Serves the org-wide recent-activity feed.
     * Serves the org-wide recent-activity feed. Events are REAL: each recorded run is an invoked (ok) or failed (error) event; each agent&#39;s own create/update timestamps are created/updated events. Merged, newest first, capped. Nothing is invented — an org with no agents and no runs gets [].
     * @return ActivityFeed
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsActivity() : ActivityFeed {
        val localVarResponse = getV1AgentsActivityWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ActivityFeed
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/activity
     * Serves the org-wide recent-activity feed.
     * Serves the org-wide recent-activity feed. Events are REAL: each recorded run is an invoked (ok) or failed (error) event; each agent&#39;s own create/update timestamps are created/updated events. Merged, newest first, capped. Nothing is invented — an org with no agents and no runs gets [].
     * @return ApiResponse<ActivityFeed?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsActivityWithHttpInfo() : ApiResponse<ActivityFeed?> {
        val localVariableConfig = getV1AgentsActivityRequestConfig()

        return request<Unit, ActivityFeed>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsActivity
     *
     * @return RequestConfig
     */
    fun getV1AgentsActivityRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/activity",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/builds
     * Returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product.
     * Returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product. PUBLIC, no tenancy: publishing is the author&#39;s act, and only published root sessions appear here.
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return BuildList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsBuilds(limit: kotlin.Int? = null) : BuildList {
        val localVarResponse = getV1AgentsBuildsWithHttpInfo(limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BuildList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/builds
     * Returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product.
     * Returns the public index of every published build, most recently updated first, so a gallery can link straight to the story behind each product. PUBLIC, no tenancy: publishing is the author&#39;s act, and only published root sessions appear here.
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return ApiResponse<BuildList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsBuildsWithHttpInfo(limit: kotlin.Int?) : ApiResponse<BuildList?> {
        val localVariableConfig = getV1AgentsBuildsRequestConfig(limit = limit)

        return request<Unit, BuildList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsBuilds
     *
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return RequestConfig
     */
    fun getV1AgentsBuildsRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/builds",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/builds/{org}/{project}
     * Returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact &#x60;git log&#x60; that re-derives every commit binding from git itself, so nothing here has to be taken on trust.
     * Returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact &#x60;git log&#x60; that re-derives every commit binding from git itself, so nothing here has to be taken on trust.  PUBLIC, no tenancy: it answers only for a session its author explicitly published, which is what makes it safe to be anonymous. An unpublished session is invisible here no matter who asks; its owner reads it through the org-scoped /v1/agents/sessions routes, which need a validated principal.
     * @param org Org is the org that published the build, from the path.
     * @param project Project is the product&#39;s slug, from the path.
     * @return BuildView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsBuildsByOrgByProject(org: kotlin.String, project: kotlin.String) : BuildView {
        val localVarResponse = getV1AgentsBuildsByOrgByProjectWithHttpInfo(org = org, project = project)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BuildView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/builds/{org}/{project}
     * Returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact &#x60;git log&#x60; that re-derives every commit binding from git itself, so nothing here has to be taken on trust.
     * Returns the readable build of one product: the agent session that produced it, turn by turn — the prompts, the reasoning, the commits each turn produced — plus the exact &#x60;git log&#x60; that re-derives every commit binding from git itself, so nothing here has to be taken on trust.  PUBLIC, no tenancy: it answers only for a session its author explicitly published, which is what makes it safe to be anonymous. An unpublished session is invisible here no matter who asks; its owner reads it through the org-scoped /v1/agents/sessions routes, which need a validated principal.
     * @param org Org is the org that published the build, from the path.
     * @param project Project is the product&#39;s slug, from the path.
     * @return ApiResponse<BuildView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsBuildsByOrgByProjectWithHttpInfo(org: kotlin.String, project: kotlin.String) : ApiResponse<BuildView?> {
        val localVariableConfig = getV1AgentsBuildsByOrgByProjectRequestConfig(org = org, project = project)

        return request<Unit, BuildView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsBuildsByOrgByProject
     *
     * @param org Org is the org that published the build, from the path.
     * @param project Project is the product&#39;s slug, from the path.
     * @return RequestConfig
     */
    fun getV1AgentsBuildsByOrgByProjectRequestConfig(org: kotlin.String, project: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/builds/{org}/{project}".replace("{"+"org"+"}", encodeURIComponent(org.toString())).replace("{"+"project"+"}", encodeURIComponent(project.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/{ref}
     * Returns one agent with its system prompt and its 20 most recent runs.
     * Returns one agent with its system prompt and its 20 most recent runs. The ref is the agent&#39;s public id or its org-unique name — a created agent is immediately gettable by whatever create handed back.
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return AgentDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsByRef(ref: kotlin.String) : AgentDetail {
        val localVarResponse = getV1AgentsByRefWithHttpInfo(ref = ref)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AgentDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/{ref}
     * Returns one agent with its system prompt and its 20 most recent runs.
     * Returns one agent with its system prompt and its 20 most recent runs. The ref is the agent&#39;s public id or its org-unique name — a created agent is immediately gettable by whatever create handed back.
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return ApiResponse<AgentDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsByRefWithHttpInfo(ref: kotlin.String) : ApiResponse<AgentDetail?> {
        val localVariableConfig = getV1AgentsByRefRequestConfig(ref = ref)

        return request<Unit, AgentDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsByRef
     *
     * @param ref Ref is the agent&#39;s public id (the agent_… handle create and list return) or its org-unique name, from the path. Either resolves the same agent.
     * @return RequestConfig
     */
    fun getV1AgentsByRefRequestConfig(ref: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/{ref}".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/{ref}/runs
     * Returns one agent&#39;s execution history, newest first — each run&#39;s input, its output or its error, and how long it took.
     * Returns one agent&#39;s execution history, newest first — each run&#39;s input, its output or its error, and how long it took. Every row is a run that actually happened.
     * @param ref Ref is the agent&#39;s public id or its org-unique name, from the path.
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @return RunList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsByRefRuns(ref: kotlin.String, limit: kotlin.Int? = null) : RunList {
        val localVarResponse = getV1AgentsByRefRunsWithHttpInfo(ref = ref, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RunList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/{ref}/runs
     * Returns one agent&#39;s execution history, newest first — each run&#39;s input, its output or its error, and how long it took.
     * Returns one agent&#39;s execution history, newest first — each run&#39;s input, its output or its error, and how long it took. Every row is a run that actually happened.
     * @param ref Ref is the agent&#39;s public id or its org-unique name, from the path.
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @return ApiResponse<RunList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsByRefRunsWithHttpInfo(ref: kotlin.String, limit: kotlin.Int?) : ApiResponse<RunList?> {
        val localVariableConfig = getV1AgentsByRefRunsRequestConfig(ref = ref, limit = limit)

        return request<Unit, RunList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsByRefRuns
     *
     * @param ref Ref is the agent&#39;s public id or its org-unique name, from the path.
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @return RequestConfig
     */
    fun getV1AgentsByRefRunsRequestConfig(ref: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/{ref}/runs".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/metrics
     * Serves the invocations-over-time histogram for the org&#39;s Agents dashboard.
     * Serves the invocations-over-time histogram for the org&#39;s Agents dashboard. Every point is a REAL count of recorded runs in that time bucket — one series line per agent that ran in the window. The Resource Usage rollup is all-null because this store meters no CPU/memory/storage/cost; the console renders those as \&quot;—\&quot; rather than a fabricated figure. No runs &#x3D;&gt; empty series (an honest \&quot;not connected / no activity yet\&quot;), never a synthesized trend.
     * @param range Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D. (optional)
     * @return MetricsView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsMetrics(range: kotlin.String? = null) : MetricsView {
        val localVarResponse = getV1AgentsMetricsWithHttpInfo(range = range)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MetricsView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/metrics
     * Serves the invocations-over-time histogram for the org&#39;s Agents dashboard.
     * Serves the invocations-over-time histogram for the org&#39;s Agents dashboard. Every point is a REAL count of recorded runs in that time bucket — one series line per agent that ran in the window. The Resource Usage rollup is all-null because this store meters no CPU/memory/storage/cost; the console renders those as \&quot;—\&quot; rather than a fabricated figure. No runs &#x3D;&gt; empty series (an honest \&quot;not connected / no activity yet\&quot;), never a synthesized trend.
     * @param range Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D. (optional)
     * @return ApiResponse<MetricsView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsMetricsWithHttpInfo(range: kotlin.String?) : ApiResponse<MetricsView?> {
        val localVariableConfig = getV1AgentsMetricsRequestConfig(range = range)

        return request<Unit, MetricsView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsMetrics
     *
     * @param range Range is the window to bucket: 24H, 7D or 30D. Anything else reads as 30D. (optional)
     * @return RequestConfig
     */
    fun getV1AgentsMetricsRequestConfig(range: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/metrics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/runs
     * Returns the org&#39;s agent runs across EVERY agent, newest first — what ran here, for whom, on which model, how long it took, and why it failed.
     * Returns the org&#39;s agent runs across EVERY agent, newest first — what ran here, for whom, on which model, how long it took, and why it failed.  It is the feed the per-agent history could not be: an operator asking \&quot;what is this tenant&#39;s agent plane doing\&quot; does not start out knowing an agent ref, and answering by listing the agents and then paging each one&#39;s history is N+1 round trips to reconstruct one ordering the database already has (RunsSince, ordered by created_at over the org index).  The org is the CALLER&#39;s, resolved from identity by tenantStore — never a parameter. There is deliberately no org field on orgRunsQuery to forge: run history is the tenant&#39;s own record, and the only tenant this can answer for is the one asking.
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @param status Status keeps only runs with this outcome (\&quot;ok\&quot; or \&quot;error\&quot;). Empty keeps both. It is the filter an operator reaches for first — \&quot;show me what broke\&quot; — and answering it here rather than by paging the whole history client-side is the difference between a usable feed and a download. (optional)
     * @return RunList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsRuns(limit: kotlin.Int? = null, status: kotlin.String? = null) : RunList {
        val localVarResponse = getV1AgentsRunsWithHttpInfo(limit = limit, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RunList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/runs
     * Returns the org&#39;s agent runs across EVERY agent, newest first — what ran here, for whom, on which model, how long it took, and why it failed.
     * Returns the org&#39;s agent runs across EVERY agent, newest first — what ran here, for whom, on which model, how long it took, and why it failed.  It is the feed the per-agent history could not be: an operator asking \&quot;what is this tenant&#39;s agent plane doing\&quot; does not start out knowing an agent ref, and answering by listing the agents and then paging each one&#39;s history is N+1 round trips to reconstruct one ordering the database already has (RunsSince, ordered by created_at over the org index).  The org is the CALLER&#39;s, resolved from identity by tenantStore — never a parameter. There is deliberately no org field on orgRunsQuery to forge: run history is the tenant&#39;s own record, and the only tenant this can answer for is the one asking.
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @param status Status keeps only runs with this outcome (\&quot;ok\&quot; or \&quot;error\&quot;). Empty keeps both. It is the filter an operator reaches for first — \&quot;show me what broke\&quot; — and answering it here rather than by paging the whole history client-side is the difference between a usable feed and a download. (optional)
     * @return ApiResponse<RunList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsRunsWithHttpInfo(limit: kotlin.Int?, status: kotlin.String?) : ApiResponse<RunList?> {
        val localVariableConfig = getV1AgentsRunsRequestConfig(limit = limit, status = status)

        return request<Unit, RunList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsRuns
     *
     * @param limit Limit caps how many runs come back, newest first. Absent, zero or out of range (1..200) reads as 50. (optional)
     * @param status Status keeps only runs with this outcome (\&quot;ok\&quot; or \&quot;error\&quot;). Empty keeps both. It is the filter an operator reaches for first — \&quot;show me what broke\&quot; — and answering it here rather than by paging the whole history client-side is the difference between a usable feed and a download. (optional)
     * @return RequestConfig
     */
    fun getV1AgentsRunsRequestConfig(limit: kotlin.Int?, status: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/runs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions
     * Returns the caller org&#39;s live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event.
     * Returns the caller org&#39;s live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event. With no filter it returns ROOT sessions only, so a dashboard shows one row per flow rather than one per subagent; ?root&#x3D; or ?parent&#x3D; descends.
     * @param root Root scopes the page to one subagent tree (its root session id). (optional)
     * @param parent Parent scopes the page to the direct children of one session. Ignored when root is set; with neither, only ROOT sessions come back. (optional)
     * @param status Status filters to running, paused, done or error. (optional)
     * @param project Project filters to the sessions tagged with one product slug. (optional)
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return SessionList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsSessions(root: kotlin.String? = null, parent: kotlin.String? = null, status: kotlin.String? = null, project: kotlin.String? = null, limit: kotlin.Int? = null) : SessionList {
        val localVarResponse = getV1AgentsSessionsWithHttpInfo(root = root, parent = parent, status = status, project = project, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SessionList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions
     * Returns the caller org&#39;s live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event.
     * Returns the caller org&#39;s live sessions, newest first — each with its event count, its direct-child count and a one-line preview of its latest event. With no filter it returns ROOT sessions only, so a dashboard shows one row per flow rather than one per subagent; ?root&#x3D; or ?parent&#x3D; descends.
     * @param root Root scopes the page to one subagent tree (its root session id). (optional)
     * @param parent Parent scopes the page to the direct children of one session. Ignored when root is set; with neither, only ROOT sessions come back. (optional)
     * @param status Status filters to running, paused, done or error. (optional)
     * @param project Project filters to the sessions tagged with one product slug. (optional)
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return ApiResponse<SessionList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsSessionsWithHttpInfo(root: kotlin.String?, parent: kotlin.String?, status: kotlin.String?, project: kotlin.String?, limit: kotlin.Int?) : ApiResponse<SessionList?> {
        val localVariableConfig = getV1AgentsSessionsRequestConfig(root = root, parent = parent, status = status, project = project, limit = limit)

        return request<Unit, SessionList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsSessions
     *
     * @param root Root scopes the page to one subagent tree (its root session id). (optional)
     * @param parent Parent scopes the page to the direct children of one session. Ignored when root is set; with neither, only ROOT sessions come back. (optional)
     * @param status Status filters to running, paused, done or error. (optional)
     * @param project Project filters to the sessions tagged with one product slug. (optional)
     * @param limit Limit caps the page. Absent, zero or over 500 reads as 100. (optional)
     * @return RequestConfig
     */
    fun getV1AgentsSessionsRequestConfig(root: kotlin.String?, parent: kotlin.String?, status: kotlin.String?, project: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (root != null) {
                    put("root", listOf(root.toString()))
                }
                if (parent != null) {
                    put("parent", listOf(parent.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/{id}
     * Returns one session with its direct child sessions and its 50 most recent events, oldest of those first.
     * Returns one session with its direct child sessions and its 50 most recent events, oldest of those first.
     * @param id ID is the session to act on, from the path.
     * @return SessionDetail
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsSessionsById(id: kotlin.String) : SessionDetail {
        val localVarResponse = getV1AgentsSessionsByIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SessionDetail
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/{id}
     * Returns one session with its direct child sessions and its 50 most recent events, oldest of those first.
     * Returns one session with its direct child sessions and its 50 most recent events, oldest of those first.
     * @param id ID is the session to act on, from the path.
     * @return ApiResponse<SessionDetail?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsSessionsByIdWithHttpInfo(id: kotlin.String) : ApiResponse<SessionDetail?> {
        val localVariableConfig = getV1AgentsSessionsByIdRequestConfig(id = id)

        return request<Unit, SessionDetail>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsSessionsById
     *
     * @param id ID is the session to act on, from the path.
     * @return RequestConfig
     */
    fun getV1AgentsSessionsByIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/{id}/control
     * Returns the steering commands (pause/resume/stop/message) recorded against the caller&#39;s own session that are newer than the cursor, oldest first, with the cursor to poll from next.
     * Returns the steering commands (pause/resume/stop/message) recorded against the caller&#39;s own session that are newer than the cursor, oldest first, with the cursor to poll from next. It is how a locally started &#x60;hanzo code&#x60; session — which is not task-backed, so nothing forwards its commands to an execution engine — consumes what the dashboard posted. Read-only and bounded at 200 per poll, so a steady poll is cheap and an applied command is never redelivered.
     * @param id ID is the session whose commands are being drained, from the path.
     * @param after After is the last seq this poller applied; only commands newer than it come back. Absent or negative reads as 0, which drains from the beginning. (optional)
     * @return ControlDrain
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsSessionsByIdControl(id: kotlin.String, after: kotlin.Int? = null) : ControlDrain {
        val localVarResponse = getV1AgentsSessionsByIdControlWithHttpInfo(id = id, after = after)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ControlDrain
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/{id}/control
     * Returns the steering commands (pause/resume/stop/message) recorded against the caller&#39;s own session that are newer than the cursor, oldest first, with the cursor to poll from next.
     * Returns the steering commands (pause/resume/stop/message) recorded against the caller&#39;s own session that are newer than the cursor, oldest first, with the cursor to poll from next. It is how a locally started &#x60;hanzo code&#x60; session — which is not task-backed, so nothing forwards its commands to an execution engine — consumes what the dashboard posted. Read-only and bounded at 200 per poll, so a steady poll is cheap and an applied command is never redelivered.
     * @param id ID is the session whose commands are being drained, from the path.
     * @param after After is the last seq this poller applied; only commands newer than it come back. Absent or negative reads as 0, which drains from the beginning. (optional)
     * @return ApiResponse<ControlDrain?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsSessionsByIdControlWithHttpInfo(id: kotlin.String, after: kotlin.Int?) : ApiResponse<ControlDrain?> {
        val localVariableConfig = getV1AgentsSessionsByIdControlRequestConfig(id = id, after = after)

        return request<Unit, ControlDrain>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsSessionsByIdControl
     *
     * @param id ID is the session whose commands are being drained, from the path.
     * @param after After is the last seq this poller applied; only commands newer than it come back. Absent or negative reads as 0, which drains from the beginning. (optional)
     * @return RequestConfig
     */
    fun getV1AgentsSessionsByIdControlRequestConfig(id: kotlin.String, after: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (after != null) {
                    put("after", listOf(after.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/{id}/control".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/{id}/tree
     * Returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count.
     * Returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count. One indexed read pulls the whole flow (every node of a flow shares a root id), so the shape is assembled in memory rather than by walking the store per node.
     * @param id ID is the session to act on, from the path.
     * @return TreeNode
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsSessionsByIdTree(id: kotlin.String) : TreeNode {
        val localVarResponse = getV1AgentsSessionsByIdTreeWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TreeNode
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/{id}/tree
     * Returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count.
     * Returns the subagent-flow graph rooted at this session: the session, its children, their children, each node carrying its own event count. One indexed read pulls the whole flow (every node of a flow shares a root id), so the shape is assembled in memory rather than by walking the store per node.
     * @param id ID is the session to act on, from the path.
     * @return ApiResponse<TreeNode?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsSessionsByIdTreeWithHttpInfo(id: kotlin.String) : ApiResponse<TreeNode?> {
        val localVariableConfig = getV1AgentsSessionsByIdTreeRequestConfig(id = id)

        return request<Unit, TreeNode>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsSessionsByIdTree
     *
     * @param id ID is the session to act on, from the path.
     * @return RequestConfig
     */
    fun getV1AgentsSessionsByIdTreeRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/{id}/tree".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/sessions/stream
     * Live session and event updates for the caller&#39;s org, as Server-Sent Events.
     * Holds the connection open as text/event-stream and pushes a frame each time the org&#39;s registry moves: an &#x60;event: session&#x60; frame carrying the same session shape the list and detail reads answer with (a registration, an update, or a login-manager revoke tearing a session down), and an &#x60;event: event&#x60; frame carrying one appended turn. Optional ?root&#x3D;&lt;session id&gt; narrows the feed to a single subagent tree.  Requires a validated principal carrying an org; 403 without one. Org-scoped fail-closed: the bus filters on tenant before it fans out, so a subscriber only ever receives its own org&#39;s updates, and ?root&#x3D; narrows that further but can never widen it.  Delivery is best-effort and the GET reads remain the source of truth. A subscriber that falls more than 256 frames behind is DROPPED — its channel is closed and the stream ends — so one stuck dashboard can never back-pressure a session write; the client reconnects and re-reads the session endpoints to resynchronise. A &#x60;: ping&#x60; comment every 25 seconds holds the connection open through proxies and is how a departed client is noticed.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsSessionsStream() : Unit {
        val localVarResponse = getV1AgentsSessionsStreamWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/sessions/stream
     * Live session and event updates for the caller&#39;s org, as Server-Sent Events.
     * Holds the connection open as text/event-stream and pushes a frame each time the org&#39;s registry moves: an &#x60;event: session&#x60; frame carrying the same session shape the list and detail reads answer with (a registration, an update, or a login-manager revoke tearing a session down), and an &#x60;event: event&#x60; frame carrying one appended turn. Optional ?root&#x3D;&lt;session id&gt; narrows the feed to a single subagent tree.  Requires a validated principal carrying an org; 403 without one. Org-scoped fail-closed: the bus filters on tenant before it fans out, so a subscriber only ever receives its own org&#39;s updates, and ?root&#x3D; narrows that further but can never widen it.  Delivery is best-effort and the GET reads remain the source of truth. A subscriber that falls more than 256 frames behind is DROPPED — its channel is closed and the stream ends — so one stuck dashboard can never back-pressure a session write; the client reconnects and re-reads the session endpoints to resynchronise. A &#x60;: ping&#x60; comment every 25 seconds holds the connection open through proxies and is how a departed client is noticed.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsSessionsStreamWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = getV1AgentsSessionsStreamRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsSessionsStream
     *
     * @return RequestConfig
     */
    fun getV1AgentsSessionsStreamRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/sessions/stream",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/targets
     * Returns every machine registered to the caller&#39;s org, newest first, each with its live session load.
     * Returns every machine registered to the caller&#39;s org, newest first, each with its live session load.
     * @return TargetList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsTargets() : TargetList {
        val localVarResponse = getV1AgentsTargetsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TargetList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/targets
     * Returns every machine registered to the caller&#39;s org, newest first, each with its live session load.
     * Returns every machine registered to the caller&#39;s org, newest first, each with its live session load.
     * @return ApiResponse<TargetList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsTargetsWithHttpInfo() : ApiResponse<TargetList?> {
        val localVariableConfig = getV1AgentsTargetsRequestConfig()

        return request<Unit, TargetList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsTargets
     *
     * @return RequestConfig
     */
    fun getV1AgentsTargetsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/targets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/agents/targets/{id}
     * Returns one registered machine, with its live session load.
     * Returns one registered machine, with its live session load.
     * @param id ID is the target to act on, from the path.
     * @return TargetView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1AgentsTargetsById(id: kotlin.String) : TargetView {
        val localVarResponse = getV1AgentsTargetsByIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TargetView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/agents/targets/{id}
     * Returns one registered machine, with its live session load.
     * Returns one registered machine, with its live session load.
     * @param id ID is the target to act on, from the path.
     * @return ApiResponse<TargetView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1AgentsTargetsByIdWithHttpInfo(id: kotlin.String) : ApiResponse<TargetView?> {
        val localVariableConfig = getV1AgentsTargetsByIdRequestConfig(id = id)

        return request<Unit, TargetView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1AgentsTargetsById
     *
     * @param id ID is the target to act on, from the path.
     * @return RequestConfig
     */
    fun getV1AgentsTargetsByIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/agents/targets/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/agents/{ref}
     * Changes an agent in place.
     * Changes an agent in place. Every field is optional; a field the request omits keeps its stored value. The resulting mode+schedule are re-validated together, so a partial update can never leave a long-running agent without the cron the scheduler needs to fire it, and a transition INTO long-running counts against the per-org cap on scheduled agents.
     * @param ref Ref is the agent to update — its public id or org-unique name, from the path.
     * @param updateAgentIn 
     * @return AgentView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun patchV1AgentsByRef(ref: kotlin.String, updateAgentIn: UpdateAgentIn) : AgentView {
        val localVarResponse = patchV1AgentsByRefWithHttpInfo(ref = ref, updateAgentIn = updateAgentIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AgentView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/agents/{ref}
     * Changes an agent in place.
     * Changes an agent in place. Every field is optional; a field the request omits keeps its stored value. The resulting mode+schedule are re-validated together, so a partial update can never leave a long-running agent without the cron the scheduler needs to fire it, and a transition INTO long-running counts against the per-org cap on scheduled agents.
     * @param ref Ref is the agent to update — its public id or org-unique name, from the path.
     * @param updateAgentIn 
     * @return ApiResponse<AgentView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun patchV1AgentsByRefWithHttpInfo(ref: kotlin.String, updateAgentIn: UpdateAgentIn) : ApiResponse<AgentView?> {
        val localVariableConfig = patchV1AgentsByRefRequestConfig(ref = ref, updateAgentIn = updateAgentIn)

        return request<UpdateAgentIn, AgentView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation patchV1AgentsByRef
     *
     * @param ref Ref is the agent to update — its public id or org-unique name, from the path.
     * @param updateAgentIn 
     * @return RequestConfig
     */
    fun patchV1AgentsByRefRequestConfig(ref: kotlin.String, updateAgentIn: UpdateAgentIn) : RequestConfig<UpdateAgentIn> {
        val localVariableBody = updateAgentIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/agents/{ref}".replace("{"+"ref"+"}", encodeURIComponent(ref.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/agents/sessions/{id}
     * Updates a session&#39;s surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build&#39;s story is public.
     * Updates a session&#39;s surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build&#39;s story is public. A FINISHED session stays finished — reopening a done/error run would fabricate liveness — and publishing is refused unless the session names the project it built, because the public build route is keyed on (org, project).
     * @param id ID is the session to update, from the path.
     * @param patchSessionIn 
     * @return SessionView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun patchV1AgentsSessionsById(id: kotlin.String, patchSessionIn: PatchSessionIn) : SessionView {
        val localVarResponse = patchV1AgentsSessionsByIdWithHttpInfo(id = id, patchSessionIn = patchSessionIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SessionView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/agents/sessions/{id}
     * Updates a session&#39;s surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build&#39;s story is public.
     * Updates a session&#39;s surface-owned truth: its status, its title, the run-target it is dispatched to, and the product it built plus whether that build&#39;s story is public. A FINISHED session stays finished — reopening a done/error run would fabricate liveness — and publishing is refused unless the session names the project it built, because the public build route is keyed on (org, project).
     * @param id ID is the session to update, from the path.
     * @param patchSessionIn 
     * @return ApiResponse<SessionView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun patchV1AgentsSessionsByIdWithHttpInfo(id: kotlin.String, patchSessionIn: PatchSessionIn) : ApiResponse<SessionView?> {
        val localVariableConfig = patchV1AgentsSessionsByIdRequestConfig(id = id, patchSessionIn = patchSessionIn)

        return request<PatchSessionIn, SessionView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation patchV1AgentsSessionsById
     *
     * @param id ID is the session to update, from the path.
     * @param patchSessionIn 
     * @return RequestConfig
     */
    fun patchV1AgentsSessionsByIdRequestConfig(id: kotlin.String, patchSessionIn: PatchSessionIn) : RequestConfig<PatchSessionIn> {
        val localVariableBody = patchSessionIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/agents/sessions/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/agents/targets/{id}
     * Updates one machine in place.
     * Updates one machine in place. Every field is optional; a field the request omits is left alone. A metrics patch IS a heartbeat — the server stamps its own clock, so a client can neither forge nor backdate staleness.
     * @param id ID is the target to update, from the path.
     * @param patchTargetIn 
     * @return TargetView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun patchV1AgentsTargetsById(id: kotlin.String, patchTargetIn: PatchTargetIn) : TargetView {
        val localVarResponse = patchV1AgentsTargetsByIdWithHttpInfo(id = id, patchTargetIn = patchTargetIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TargetView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/agents/targets/{id}
     * Updates one machine in place.
     * Updates one machine in place. Every field is optional; a field the request omits is left alone. A metrics patch IS a heartbeat — the server stamps its own clock, so a client can neither forge nor backdate staleness.
     * @param id ID is the target to update, from the path.
     * @param patchTargetIn 
     * @return ApiResponse<TargetView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun patchV1AgentsTargetsByIdWithHttpInfo(id: kotlin.String, patchTargetIn: PatchTargetIn) : ApiResponse<TargetView?> {
        val localVariableConfig = patchV1AgentsTargetsByIdRequestConfig(id = id, patchTargetIn = patchTargetIn)

        return request<PatchTargetIn, TargetView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation patchV1AgentsTargetsById
     *
     * @param id ID is the target to update, from the path.
     * @param patchTargetIn 
     * @return RequestConfig
     */
    fun patchV1AgentsTargetsByIdRequestConfig(id: kotlin.String, patchTargetIn: PatchTargetIn) : RequestConfig<PatchTargetIn> {
        val localVariableBody = patchTargetIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/agents/targets/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/agents
     * Defines an agent in the caller&#39;s org: a model, a system prompt (instructions) and a set of tool names.
     * Defines an agent in the caller&#39;s org: a model, a system prompt (instructions) and a set of tool names. The name must be unique in the org and match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. An omitted model takes the deployment&#39;s configured default; a named one is checked against the gateway&#39;s served catalog, so a model this deployment never serves is refused here rather than failing at run time. A long-running agent must carry a 5-field cron schedule (the scheduler would otherwise never fire it) and counts against a per-org cap on scheduled agents.
     * @param createAgentIn 
     * @return AgentView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1Agents(createAgentIn: CreateAgentIn) : AgentView {
        val localVarResponse = postV1AgentsWithHttpInfo(createAgentIn = createAgentIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AgentView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/agents
     * Defines an agent in the caller&#39;s org: a model, a system prompt (instructions) and a set of tool names.
     * Defines an agent in the caller&#39;s org: a model, a system prompt (instructions) and a set of tool names. The name must be unique in the org and match ^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$. An omitted model takes the deployment&#39;s configured default; a named one is checked against the gateway&#39;s served catalog, so a model this deployment never serves is refused here rather than failing at run time. A long-running agent must carry a 5-field cron schedule (the scheduler would otherwise never fire it) and counts against a per-org cap on scheduled agents.
     * @param createAgentIn 
     * @return ApiResponse<AgentView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1AgentsWithHttpInfo(createAgentIn: CreateAgentIn) : ApiResponse<AgentView?> {
        val localVariableConfig = postV1AgentsRequestConfig(createAgentIn = createAgentIn)

        return request<CreateAgentIn, AgentView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1Agents
     *
     * @param createAgentIn 
     * @return RequestConfig
     */
    fun postV1AgentsRequestConfig(createAgentIn: CreateAgentIn) : RequestConfig<CreateAgentIn> {
        val localVariableBody = createAgentIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
[...]
