/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudCampaignPage
import ai.hanzo.cloud.model.CloudCampaignRecord
import ai.hanzo.cloud.model.CloudCampaignResults
import ai.hanzo.cloud.model.CloudCampaignSummary
import ai.hanzo.cloud.model.CloudCampaignUpdate
import ai.hanzo.cloud.model.CloudCampaignWrite
import ai.hanzo.cloud.model.CloudChannelAdd

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class CampaignApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/campaign/{id}
     * DeleteCampaign removes one campaign of the caller&#39;s org and answers 204 with no body.
     * DeleteCampaign removes one campaign of the caller&#39;s org and answers 204 with no body. 404 when the org has no campaign with that id.  It deletes the RECORD, not the executions: a campaign whose channels are live on a provider should be paused first, or those executions keep running with nothing here to report them.
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1CampaignId(id: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1CampaignIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/campaign/{id}
     * DeleteCampaign removes one campaign of the caller&#39;s org and answers 204 with no body.
     * DeleteCampaign removes one campaign of the caller&#39;s org and answers 204 with no body. 404 when the org has no campaign with that id.  It deletes the RECORD, not the executions: a campaign whose channels are live on a provider should be paused first, or those executions keep running with nothing here to report them.
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1CampaignIdWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1CampaignIdRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1CampaignId
     *
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return RequestConfig
     */
    fun cloudDeleteV1CampaignIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/campaign/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/campaign/{id}/channels/{kind}
     * RemoveCampaignChannel drops one channel from a campaign and returns the updated campaign.
     * RemoveCampaignChannel drops one channel from a campaign and returns the updated campaign. 404 when the campaign carries no channel of that kind.  It removes the channel from the PLAN. A channel that is live at its provider should be paused first — dropping the row here leaves nothing to pause it with afterwards.
     * @param id ID is the campaign, from the path.
     * @param kind Kind is the channel to remove: paid, organic or email.
     * @return CloudCampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1CampaignIdChannelsKind(id: kotlin.String, kind: kotlin.String) : CloudCampaignRecord {
        val localVarResponse = cloudDeleteV1CampaignIdChannelsKindWithHttpInfo(id = id, kind = kind)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudCampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/campaign/{id}/channels/{kind}
     * RemoveCampaignChannel drops one channel from a campaign and returns the updated campaign.
     * RemoveCampaignChannel drops one channel from a campaign and returns the updated campaign. 404 when the campaign carries no channel of that kind.  It removes the channel from the PLAN. A channel that is live at its provider should be paused first — dropping the row here leaves nothing to pause it with afterwards.
     * @param id ID is the campaign, from the path.
     * @param kind Kind is the channel to remove: paid, organic or email.
     * @return ApiResponse<CloudCampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1CampaignIdChannelsKindWithHttpInfo(id: kotlin.String, kind: kotlin.String) : ApiResponse<CloudCampaignRecord?> {
        val localVariableConfig = cloudDeleteV1CampaignIdChannelsKindRequestConfig(id = id, kind = kind)

        return request<Unit, CloudCampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1CampaignIdChannelsKind
     *
     * @param id ID is the campaign, from the path.
     * @param kind Kind is the channel to remove: paid, organic or email.
     * @return RequestConfig
     */
    fun cloudDeleteV1CampaignIdChannelsKindRequestConfig(id: kotlin.String, kind: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/campaign/{id}/channels/{kind}".replace("{"+"id"+"}", encodeURIComponent(id.toString())).replace("{"+"kind"+"}", encodeURIComponent(kind.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/campaign
     * ListCampaigns returns the org&#39;s campaigns, newest first, optionally narrowed to one status.
     * ListCampaigns returns the org&#39;s campaigns, newest first, optionally narrowed to one status.  A campaign is the top-level go-to-market object: a value that SPANS channels (paid, organic, email) and fans out to the executor for each. The listing is org-scoped server-side, so one org can never see another&#39;s campaigns.
     * @param status Status keeps only campaigns in that state: draft, live, paused or failed. Empty means any. (optional)
     * @param limit Limit bounds the page. 0 or less means the default of 200; anything above 1000 is clamped to 1000. (optional)
     * @return CloudCampaignPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1Campaign(status: kotlin.String? = null, limit: kotlin.Int? = null) : CloudCampaignPage {
        val localVarResponse = cloudGetV1CampaignWithHttpInfo(status = status, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudCampaignPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/campaign
     * ListCampaigns returns the org&#39;s campaigns, newest first, optionally narrowed to one status.
     * ListCampaigns returns the org&#39;s campaigns, newest first, optionally narrowed to one status.  A campaign is the top-level go-to-market object: a value that SPANS channels (paid, organic, email) and fans out to the executor for each. The listing is org-scoped server-side, so one org can never see another&#39;s campaigns.
     * @param status Status keeps only campaigns in that state: draft, live, paused or failed. Empty means any. (optional)
     * @param limit Limit bounds the page. 0 or less means the default of 200; anything above 1000 is clamped to 1000. (optional)
     * @return ApiResponse<CloudCampaignPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CampaignWithHttpInfo(status: kotlin.String?, limit: kotlin.Int?) : ApiResponse<CloudCampaignPage?> {
        val localVariableConfig = cloudGetV1CampaignRequestConfig(status = status, limit = limit)

        return request<Unit, CloudCampaignPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1Campaign
     *
     * @param status Status keeps only campaigns in that state: draft, live, paused or failed. Empty means any. (optional)
     * @param limit Limit bounds the page. 0 or less means the default of 200; anything above 1000 is clamped to 1000. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1CampaignRequestConfig(status: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/campaign",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/campaign/{id}
     * GetCampaign returns one campaign of the caller&#39;s org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status.
     * GetCampaign returns one campaign of the caller&#39;s org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status. 404 when the org has no campaign with that id.
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return CloudCampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CampaignId(id: kotlin.String) : CloudCampaignRecord {
        val localVarResponse = cloudGetV1CampaignIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudCampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/campaign/{id}
     * GetCampaign returns one campaign of the caller&#39;s org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status.
     * GetCampaign returns one campaign of the caller&#39;s org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status. 404 when the org has no campaign with that id.
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return ApiResponse<CloudCampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CampaignIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudCampaignRecord?> {
        val localVariableConfig = cloudGetV1CampaignIdRequestConfig(id = id)

        return request<Unit, CloudCampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CampaignId
     *
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return RequestConfig
     */
    fun cloudGetV1CampaignIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/campaign/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/campaign/{id}/metrics
     * CampaignMetrics returns a campaign&#39;s results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel&#39;s connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.
     * CampaignMetrics returns a campaign&#39;s results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel&#39;s connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.  There is exactly ONE metrics plane and nothing is stored here: the funnel is an analytics query over the campaign&#39;s utm_campaign-tagged events, and the spend is each provider&#39;s own number read through the org&#39;s connector. A warehouse that is not emitting yet degrades to available:false with zeroes — honest-empty, never a 500 and never a fabricated number. When the campaign runs more than one creative and an experiment is wired, abTest carries the A/B analysis.
     * @param id ID is the campaign to report on, from the path.
     * @param range Range is the lookback window: 24h, 7d, 30d or 90d. Anything else, including empty, reads as 30d. (optional)
     * @param start Start is an explicit RFC3339 window start. Honored only together with End, and only when End is after it. (optional)
     * @param end End is an explicit RFC3339 window end. (optional)
     * @return CloudCampaignResults
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CampaignIdMetrics(id: kotlin.String, range: kotlin.String? = null, start: kotlin.String? = null, end: kotlin.String? = null) : CloudCampaignResults {
        val localVarResponse = cloudGetV1CampaignIdMetricsWithHttpInfo(id = id, range = range, start = start, end = end)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudCampaignResults
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/campaign/{id}/metrics
     * CampaignMetrics returns a campaign&#39;s results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel&#39;s connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.
     * CampaignMetrics returns a campaign&#39;s results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel&#39;s connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.  There is exactly ONE metrics plane and nothing is stored here: the funnel is an analytics query over the campaign&#39;s utm_campaign-tagged events, and the spend is each provider&#39;s own number read through the org&#39;s connector. A warehouse that is not emitting yet degrades to available:false with zeroes — honest-empty, never a 500 and never a fabricated number. When the campaign runs more than one creative and an experiment is wired, abTest carries the A/B analysis.
     * @param id ID is the campaign to report on, from the path.
     * @param range Range is the lookback window: 24h, 7d, 30d or 90d. Anything else, including empty, reads as 30d. (optional)
     * @param start Start is an explicit RFC3339 window start. Honored only together with End, and only when End is after it. (optional)
     * @param end End is an explicit RFC3339 window end. (optional)
     * @return ApiResponse<CloudCampaignResults?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CampaignIdMetricsWithHttpInfo(id: kotlin.String, range: kotlin.String?, start: kotlin.String?, end: kotlin.String?) : ApiResponse<CloudCampaignResults?> {
        val localVariableConfig = cloudGetV1CampaignIdMetricsRequestConfig(id = id, range = range, start = start, end = end)

        return request<Unit, CloudCampaignResults>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CampaignIdMetrics
     *
     * @param id ID is the campaign to report on, from the path.
     * @param range Range is the lookback window: 24h, 7d, 30d or 90d. Anything else, including empty, reads as 30d. (optional)
     * @param start Start is an explicit RFC3339 window start. Honored only together with End, and only when End is after it. (optional)
     * @param end End is an explicit RFC3339 window end. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1CampaignIdMetricsRequestConfig(id: kotlin.String, range: kotlin.String?, start: kotlin.String?, end: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (end != null) {
                    put("end", listOf(end.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/campaign/{id}/metrics".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/campaign/summary
     * SummarizeCampaigns returns the org&#39;s go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.
     * SummarizeCampaigns returns the org&#39;s go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.  The channel list is the deployment&#39;s honest capability, not a wish: a kind missing from it is one a launch will record as \&quot;unavailable\&quot; rather than fail on.
     * @return CloudCampaignSummary
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CampaignSummary() : CloudCampaignSummary {
        val localVarResponse = cloudGetV1CampaignSummaryWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudCampaignSummary
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/campaign/summary
     * SummarizeCampaigns returns the org&#39;s go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.
     * SummarizeCampaigns returns the org&#39;s go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.  The channel list is the deployment&#39;s honest capability, not a wish: a kind missing from it is one a launch will record as \&quot;unavailable\&quot; rather than fail on.
     * @return ApiResponse<CloudCampaignSummary?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CampaignSummaryWithHttpInfo() : ApiResponse<CloudCampaignSummary?> {
        val localVariableConfig = cloudGetV1CampaignSummaryRequestConfig()

        return request<Unit, CloudCampaignSummary>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CampaignSummary
     *
     * @return RequestConfig
     */
    fun cloudGetV1CampaignSummaryRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/campaign/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/campaign
     * CreateCampaign creates a campaign as a DRAFT and returns it.
     * CreateCampaign creates a campaign as a DRAFT and returns it.  A draft is inert: nothing is sent, no connector is touched and no budget is committed until the campaign is launched. The channels named here are validated and de-duplicated by kind (one executor per kind), and every channel starts \&quot;pending\&quot; whatever the caller claims — a client can never assert a launched state.
     * @param cloudCampaignWrite 
     * @return CloudCampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1Campaign(cloudCampaignWrite: CloudCampaignWrite) : CloudCampaignRecord {
        val localVarResponse = cloudPostV1CampaignWithHttpInfo(cloudCampaignWrite = cloudCampaignWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudCampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/campaign
     * CreateCampaign creates a campaign as a DRAFT and returns it.
     * CreateCampaign creates a campaign as a DRAFT and returns it.  A draft is inert: nothing is sent, no connector is touched and no budget is committed until the campaign is launched. The channels named here are validated and de-duplicated by kind (one executor per kind), and every channel starts \&quot;pending\&quot; whatever the caller claims — a client can never assert a launched state.
     * @param cloudCampaignWrite 
     * @return ApiResponse<CloudCampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CampaignWithHttpInfo(cloudCampaignWrite: CloudCampaignWrite) : ApiResponse<CloudCampaignRecord?> {
        val localVariableConfig = cloudPostV1CampaignRequestConfig(cloudCampaignWrite = cloudCampaignWrite)

        return request<CloudCampaignWrite, CloudCampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1Campaign
     *
     * @param cloudCampaignWrite 
     * @return RequestConfig
     */
    fun cloudPostV1CampaignRequestConfig(cloudCampaignWrite: CloudCampaignWrite) : RequestConfig<CloudCampaignWrite> {
        val localVariableBody = cloudCampaignWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/campaign",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/campaign/{id}/launch
     * 
     * 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CampaignByIdLaunch(id: kotlin.String) : Unit {
        val localVarResponse = cloudPostV1CampaignByIdLaunchWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/campaign/{id}/launch
     * 
     * 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CampaignByIdLaunchWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudPostV1CampaignByIdLaunchRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CampaignByIdLaunch
     *
     * @param id 
     * @return RequestConfig
     */
    fun cloudPostV1CampaignByIdLaunchRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/campaign/{id}/launch".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/campaign/{id}/pause
     * 
     * 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CampaignByIdPause(id: kotlin.String) : Unit {
        val localVarResponse = cloudPostV1CampaignByIdPauseWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/campaign/{id}/pause
     * 
     * 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CampaignByIdPauseWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudPostV1CampaignByIdPauseRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CampaignByIdPause
     *
     * @param id 
     * @return RequestConfig
     */
    fun cloudPostV1CampaignByIdPauseRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/campaign/{id}/pause".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/campaign/{id}/channels
     * AddCampaignChannel adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.
     * AddCampaignChannel adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.  A campaign carries at most one channel per kind, because the kind IS the executor: adding a second \&quot;paid\&quot; channel would mean two ad accounts running one campaign with no way to tell their results apart. The new channel starts \&quot;pending\&quot; — adding it does not launch it.
     * @param id ID is the campaign to add the channel to, from the path.
     * @param cloudChannelAdd 
     * @return CloudCampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CampaignIdChannels(id: kotlin.String, cloudChannelAdd: CloudChannelAdd) : CloudCampaignRecord {
        val localVarResponse = cloudPostV1CampaignIdChannelsWithHttpInfo(id = id, cloudChannelAdd = cloudChannelAdd)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudCampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/campaign/{id}/channels
     * AddCampaignChannel adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.
     * AddCampaignChannel adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.  A campaign carries at most one channel per kind, because the kind IS the executor: adding a second \&quot;paid\&quot; channel would mean two ad accounts running one campaign with no way to tell their results apart. The new channel starts \&quot;pending\&quot; — adding it does not launch it.
     * @param id ID is the campaign to add the channel to, from the path.
     * @param cloudChannelAdd 
     * @return ApiResponse<CloudCampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CampaignIdChannelsWithHttpInfo(id: kotlin.String, cloudChannelAdd: CloudChannelAdd) : ApiResponse<CloudCampaignRecord?> {
        val localVariableConfig = cloudPostV1CampaignIdChannelsRequestConfig(id = id, cloudChannelAdd = cloudChannelAdd)

        return request<CloudChannelAdd, CloudCampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CampaignIdChannels
     *
     * @param id ID is the campaign to add the channel to, from the path.
     * @param cloudChannelAdd 
     * @return RequestConfig
     */
    fun cloudPostV1CampaignIdChannelsRequestConfig(id: kotlin.String, cloudChannelAdd: CloudChannelAdd) : RequestConfig<CloudChannelAdd> {
        val localVariableBody = cloudChannelAdd
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/campaign/{id}/channels".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/campaign/{id}
     * UpdateCampaign rewrites a campaign&#39;s core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.
     * UpdateCampaign rewrites a campaign&#39;s core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.  Channels are replaced ONLY while the campaign is still a draft. Once it is launched its channels carry provider state (an external id, a live status), so they are added and removed explicitly through the channels sub-resource instead; a whole-object write would silently orphan a running execution.
     * @param id ID is the campaign to update, from the path.
     * @param cloudCampaignUpdate 
     * @return CloudCampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPutV1CampaignId(id: kotlin.String, cloudCampaignUpdate: CloudCampaignUpdate) : CloudCampaignRecord {
        val localVarResponse = cloudPutV1CampaignIdWithHttpInfo(id = id, cloudCampaignUpdate = cloudCampaignUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudCampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/campaign/{id}
     * UpdateCampaign rewrites a campaign&#39;s core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.
     * UpdateCampaign rewrites a campaign&#39;s core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.  Channels are replaced ONLY while the campaign is still a draft. Once it is launched its channels carry provider state (an external id, a live status), so they are added and removed explicitly through the channels sub-resource instead; a whole-object write would silently orphan a running execution.
     * @param id ID is the campaign to update, from the path.
     * @param cloudCampaignUpdate 
     * @return ApiResponse<CloudCampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPutV1CampaignIdWithHttpInfo(id: kotlin.String, cloudCampaignUpdate: CloudCampaignUpdate) : ApiResponse<CloudCampaignRecord?> {
        val localVariableConfig = cloudPutV1CampaignIdRequestConfig(id = id, cloudCampaignUpdate = cloudCampaignUpdate)

        return request<CloudCampaignUpdate, CloudCampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPutV1CampaignId
     *
     * @param id ID is the campaign to update, from the path.
     * @param cloudCampaignUpdate 
     * @return RequestConfig
     */
    fun cloudPutV1CampaignIdRequestConfig(id: kotlin.String, cloudCampaignUpdate: CloudCampaignUpdate) : RequestConfig<CloudCampaignUpdate> {
        val localVariableBody = cloudCampaignUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/campaign/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
