/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CampaignPage
import ai.hanzo.cloud.model.CampaignRecord
import ai.hanzo.cloud.model.CampaignResults
import ai.hanzo.cloud.model.CampaignSummary
import ai.hanzo.cloud.model.CampaignUpdate
import ai.hanzo.cloud.model.CampaignWrite
import ai.hanzo.cloud.model.ChannelAdd

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class CampaignApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/campaign/{id}
     * Removes one campaign of the caller&#39;s org and answers 204 with no body.
     * Removes one campaign of the caller&#39;s org and answers 204 with no body. 404 when the org has no campaign with that id.  It deletes the RECORD, not the executions: a campaign whose channels are live on a provider should be paused first, or those executions keep running with nothing here to report them.
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteCampaignById(id: kotlin.String) : Unit {
        val localVarResponse = deleteCampaignByIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/campaign/{id}
     * Removes one campaign of the caller&#39;s org and answers 204 with no body.
     * Removes one campaign of the caller&#39;s org and answers 204 with no body. 404 when the org has no campaign with that id.  It deletes the RECORD, not the executions: a campaign whose channels are live on a provider should be paused first, or those executions keep running with nothing here to report them.
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteCampaignByIdWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteCampaignByIdRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteCampaignById
     *
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return RequestConfig
     */
    fun deleteCampaignByIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/campaign/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/campaign/{id}/channels/{kind}
     * Drops one channel from a campaign and returns the updated campaign.
     * Drops one channel from a campaign and returns the updated campaign. 404 when the campaign carries no channel of that kind.  It removes the channel from the PLAN. A channel that is live at its provider should be paused first — dropping the row here leaves nothing to pause it with afterwards.
     * @param id ID is the campaign, from the path.
     * @param kind Kind is the channel to remove: paid, organic or email.
     * @return CampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteCampaignByIdChannelsByKind(id: kotlin.String, kind: kotlin.String) : CampaignRecord {
        val localVarResponse = deleteCampaignByIdChannelsByKindWithHttpInfo(id = id, kind = kind)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/campaign/{id}/channels/{kind}
     * Drops one channel from a campaign and returns the updated campaign.
     * Drops one channel from a campaign and returns the updated campaign. 404 when the campaign carries no channel of that kind.  It removes the channel from the PLAN. A channel that is live at its provider should be paused first — dropping the row here leaves nothing to pause it with afterwards.
     * @param id ID is the campaign, from the path.
     * @param kind Kind is the channel to remove: paid, organic or email.
     * @return ApiResponse<CampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteCampaignByIdChannelsByKindWithHttpInfo(id: kotlin.String, kind: kotlin.String) : ApiResponse<CampaignRecord?> {
        val localVariableConfig = deleteCampaignByIdChannelsByKindRequestConfig(id = id, kind = kind)

        return request<Unit, CampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteCampaignByIdChannelsByKind
     *
     * @param id ID is the campaign, from the path.
     * @param kind Kind is the channel to remove: paid, organic or email.
     * @return RequestConfig
     */
    fun deleteCampaignByIdChannelsByKindRequestConfig(id: kotlin.String, kind: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/campaign/{id}/channels/{kind}".replace("{"+"id"+"}", encodeURIComponent(id.toString())).replace("{"+"kind"+"}", encodeURIComponent(kind.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/campaign
     * Returns the org&#39;s campaigns, newest first, optionally narrowed to one status.
     * Returns the org&#39;s campaigns, newest first, optionally narrowed to one status.  A campaign is the top-level go-to-market object: a value that SPANS channels (paid, organic, email) and fans out to the executor for each. The listing is org-scoped server-side, so one org can never see another&#39;s campaigns.
     * @param status Status keeps only campaigns in that state: draft, live, paused or failed. Empty means any. (optional)
     * @param limit Limit bounds the page. 0 or less means the default of 200; anything above 1000 is clamped to 1000. (optional)
     * @return CampaignPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaign(status: kotlin.String? = null, limit: kotlin.Int? = null) : CampaignPage {
        val localVarResponse = getCampaignWithHttpInfo(status = status, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CampaignPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/campaign
     * Returns the org&#39;s campaigns, newest first, optionally narrowed to one status.
     * Returns the org&#39;s campaigns, newest first, optionally narrowed to one status.  A campaign is the top-level go-to-market object: a value that SPANS channels (paid, organic, email) and fans out to the executor for each. The listing is org-scoped server-side, so one org can never see another&#39;s campaigns.
     * @param status Status keeps only campaigns in that state: draft, live, paused or failed. Empty means any. (optional)
     * @param limit Limit bounds the page. 0 or less means the default of 200; anything above 1000 is clamped to 1000. (optional)
     * @return ApiResponse<CampaignPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignWithHttpInfo(status: kotlin.String?, limit: kotlin.Int?) : ApiResponse<CampaignPage?> {
        val localVariableConfig = getCampaignRequestConfig(status = status, limit = limit)

        return request<Unit, CampaignPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaign
     *
     * @param status Status keeps only campaigns in that state: draft, live, paused or failed. Empty means any. (optional)
     * @param limit Limit bounds the page. 0 or less means the default of 200; anything above 1000 is clamped to 1000. (optional)
     * @return RequestConfig
     */
    fun getCampaignRequestConfig(status: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/campaign",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/campaign/{id}
     * Returns one campaign of the caller&#39;s org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status.
     * Returns one campaign of the caller&#39;s org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status. 404 when the org has no campaign with that id.
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return CampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignById(id: kotlin.String) : CampaignRecord {
        val localVarResponse = getCampaignByIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/campaign/{id}
     * Returns one campaign of the caller&#39;s org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status.
     * Returns one campaign of the caller&#39;s org — its name, audience, creatives, channels with their per-channel launch state, schedule, budget and status. 404 when the org has no campaign with that id.
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return ApiResponse<CampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignByIdWithHttpInfo(id: kotlin.String) : ApiResponse<CampaignRecord?> {
        val localVariableConfig = getCampaignByIdRequestConfig(id = id)

        return request<Unit, CampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignById
     *
     * @param id ID is the campaign&#39;s server-minted handle, \&quot;cmp_\&quot;-prefixed.
     * @return RequestConfig
     */
    fun getCampaignByIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/campaign/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/campaign/{id}/metrics
     * Returns a campaign&#39;s results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel&#39;s connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.
     * Returns a campaign&#39;s results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel&#39;s connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.  There is exactly ONE metrics plane and nothing is stored here: the funnel is an analytics query over the campaign&#39;s utm_campaign-tagged events, and the spend is each provider&#39;s own number read through the org&#39;s connector. A warehouse that is not emitting yet degrades to available:false with zeroes — honest-empty, never a 500 and never a fabricated number. When the campaign runs more than one creative and an experiment is wired, abTest carries the A/B analysis.
     * @param id ID is the campaign to report on, from the path.
     * @param range Range is the lookback window: 24h, 7d, 30d or 90d. Anything else, including empty, reads as 30d. (optional)
     * @param start Start is an explicit RFC3339 window start. Honored only together with End, and only when End is after it. (optional)
     * @param end End is an explicit RFC3339 window end. (optional)
     * @return CampaignResults
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignByIdMetrics(id: kotlin.String, range: kotlin.String? = null, start: kotlin.String? = null, end: kotlin.String? = null) : CampaignResults {
        val localVarResponse = getCampaignByIdMetricsWithHttpInfo(id = id, range = range, start = start, end = end)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CampaignResults
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/campaign/{id}/metrics
     * Returns a campaign&#39;s results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel&#39;s connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.
     * Returns a campaign&#39;s results over a window: the analytics funnel (impressions, clicks, conversions, revenue, visitors), the spend each channel&#39;s connector reports, and the derived growth KPIs — CTR, CVR, CAC and ROAS.  There is exactly ONE metrics plane and nothing is stored here: the funnel is an analytics query over the campaign&#39;s utm_campaign-tagged events, and the spend is each provider&#39;s own number read through the org&#39;s connector. A warehouse that is not emitting yet degrades to available:false with zeroes — honest-empty, never a 500 and never a fabricated number. When the campaign runs more than one creative and an experiment is wired, abTest carries the A/B analysis.
     * @param id ID is the campaign to report on, from the path.
     * @param range Range is the lookback window: 24h, 7d, 30d or 90d. Anything else, including empty, reads as 30d. (optional)
     * @param start Start is an explicit RFC3339 window start. Honored only together with End, and only when End is after it. (optional)
     * @param end End is an explicit RFC3339 window end. (optional)
     * @return ApiResponse<CampaignResults?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignByIdMetricsWithHttpInfo(id: kotlin.String, range: kotlin.String?, start: kotlin.String?, end: kotlin.String?) : ApiResponse<CampaignResults?> {
        val localVariableConfig = getCampaignByIdMetricsRequestConfig(id = id, range = range, start = start, end = end)

        return request<Unit, CampaignResults>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignByIdMetrics
     *
     * @param id ID is the campaign to report on, from the path.
     * @param range Range is the lookback window: 24h, 7d, 30d or 90d. Anything else, including empty, reads as 30d. (optional)
     * @param start Start is an explicit RFC3339 window start. Honored only together with End, and only when End is after it. (optional)
     * @param end End is an explicit RFC3339 window end. (optional)
     * @return RequestConfig
     */
    fun getCampaignByIdMetricsRequestConfig(id: kotlin.String, range: kotlin.String?, start: kotlin.String?, end: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (end != null) {
                    put("end", listOf(end.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/campaign/{id}/metrics".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/campaign/summary
     * Returns the org&#39;s go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.
     * Returns the org&#39;s go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.  The channel list is the deployment&#39;s honest capability, not a wish: a kind missing from it is one a launch will record as \&quot;unavailable\&quot; rather than fail on.
     * @return CampaignSummary
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCampaignSummary() : CampaignSummary {
        val localVarResponse = getCampaignSummaryWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CampaignSummary
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/campaign/summary
     * Returns the org&#39;s go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.
     * Returns the org&#39;s go-to-market roll-up: how many campaigns exist, how many are live, their total budget in cents, and which channel executors this deployment can actually reach.  The channel list is the deployment&#39;s honest capability, not a wish: a kind missing from it is one a launch will record as \&quot;unavailable\&quot; rather than fail on.
     * @return ApiResponse<CampaignSummary?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCampaignSummaryWithHttpInfo() : ApiResponse<CampaignSummary?> {
        val localVariableConfig = getCampaignSummaryRequestConfig()

        return request<Unit, CampaignSummary>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCampaignSummary
     *
     * @return RequestConfig
     */
    fun getCampaignSummaryRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/campaign/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/campaign
     * Creates a campaign as a DRAFT and returns it.
     * Creates a campaign as a DRAFT and returns it.  A draft is inert: nothing is sent, no connector is touched and no budget is committed until the campaign is launched. The channels named here are validated and de-duplicated by kind (one executor per kind), and every channel starts \&quot;pending\&quot; whatever the caller claims — a client can never assert a launched state.
     * @param campaignWrite 
     * @return CampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postCampaign(campaignWrite: CampaignWrite) : CampaignRecord {
        val localVarResponse = postCampaignWithHttpInfo(campaignWrite = campaignWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/campaign
     * Creates a campaign as a DRAFT and returns it.
     * Creates a campaign as a DRAFT and returns it.  A draft is inert: nothing is sent, no connector is touched and no budget is committed until the campaign is launched. The channels named here are validated and de-duplicated by kind (one executor per kind), and every channel starts \&quot;pending\&quot; whatever the caller claims — a client can never assert a launched state.
     * @param campaignWrite 
     * @return ApiResponse<CampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postCampaignWithHttpInfo(campaignWrite: CampaignWrite) : ApiResponse<CampaignRecord?> {
        val localVariableConfig = postCampaignRequestConfig(campaignWrite = campaignWrite)

        return request<CampaignWrite, CampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postCampaign
     *
     * @param campaignWrite 
     * @return RequestConfig
     */
    fun postCampaignRequestConfig(campaignWrite: CampaignWrite) : RequestConfig<CampaignWrite> {
        val localVariableBody = campaignWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/campaign",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/campaign/{id}/channels
     * Adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.
     * Adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.  A campaign carries at most one channel per kind, because the kind IS the executor: adding a second \&quot;paid\&quot; channel would mean two ad accounts running one campaign with no way to tell their results apart. The new channel starts \&quot;pending\&quot; — adding it does not launch it.
     * @param id ID is the campaign to add the channel to, from the path.
     * @param channelAdd 
     * @return CampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postCampaignByIdChannels(id: kotlin.String, channelAdd: ChannelAdd) : CampaignRecord {
        val localVarResponse = postCampaignByIdChannelsWithHttpInfo(id = id, channelAdd = channelAdd)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/campaign/{id}/channels
     * Adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.
     * Adds a channel to a campaign, or REPLACES the one it already has of that kind, and returns the updated campaign.  A campaign carries at most one channel per kind, because the kind IS the executor: adding a second \&quot;paid\&quot; channel would mean two ad accounts running one campaign with no way to tell their results apart. The new channel starts \&quot;pending\&quot; — adding it does not launch it.
     * @param id ID is the campaign to add the channel to, from the path.
     * @param channelAdd 
     * @return ApiResponse<CampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postCampaignByIdChannelsWithHttpInfo(id: kotlin.String, channelAdd: ChannelAdd) : ApiResponse<CampaignRecord?> {
        val localVariableConfig = postCampaignByIdChannelsRequestConfig(id = id, channelAdd = channelAdd)

        return request<ChannelAdd, CampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postCampaignByIdChannels
     *
     * @param id ID is the campaign to add the channel to, from the path.
     * @param channelAdd 
     * @return RequestConfig
     */
    fun postCampaignByIdChannelsRequestConfig(id: kotlin.String, channelAdd: ChannelAdd) : RequestConfig<ChannelAdd> {
        val localVariableBody = channelAdd
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/campaign/{id}/channels".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/campaign/{id}/launch
     * Launch a campaign across every channel it declares
     * Pushes the campaign live on each of its channels through that channel&#39;s executor and answers the whole campaign with the per-channel outcome written back onto it.  The fan-out is BEST-EFFORT PER CHANNEL, and the honest reading of the result is the rule most callers get wrong: one channel failing never aborts the others, so each channel row carries its own &#x60;live&#x60;, &#x60;failed&#x60; or &#x60;unavailable&#x60; status and detail, and a paid launch can be live while an email launch failed. The campaign itself is &#x60;live&#x60; when AT LEAST ONE channel launched and &#x60;failed&#x60; only when none did — &#x60;live&#x60; is not a claim that every channel launched. Repeating the call is safe: a channel already live is skipped, never re-launched. A campaign carrying more than one creative has its variant assigned here by the experiment seam and tagged as &#x60;utm_content&#x60;.  Org-scoped and fails closed: a valid bearer is required (403 without one), the campaign is read under the caller&#39;s OWN org so another tenant&#39;s id is a 404, and a campaign with no channels is a 400 — there is nothing to launch. Each executor resolves its own org&#39;s connector token from the org passed to it, so a launch can never spend through another tenant&#39;s connector.
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postCampaignByIdLaunch(id: kotlin.String) : Unit {
        val localVarResponse = postCampaignByIdLaunchWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/campaign/{id}/launch
     * Launch a campaign across every channel it declares
     * Pushes the campaign live on each of its channels through that channel&#39;s executor and answers the whole campaign with the per-channel outcome written back onto it.  The fan-out is BEST-EFFORT PER CHANNEL, and the honest reading of the result is the rule most callers get wrong: one channel failing never aborts the others, so each channel row carries its own &#x60;live&#x60;, &#x60;failed&#x60; or &#x60;unavailable&#x60; status and detail, and a paid launch can be live while an email launch failed. The campaign itself is &#x60;live&#x60; when AT LEAST ONE channel launched and &#x60;failed&#x60; only when none did — &#x60;live&#x60; is not a claim that every channel launched. Repeating the call is safe: a channel already live is skipped, never re-launched. A campaign carrying more than one creative has its variant assigned here by the experiment seam and tagged as &#x60;utm_content&#x60;.  Org-scoped and fails closed: a valid bearer is required (403 without one), the campaign is read under the caller&#39;s OWN org so another tenant&#39;s id is a 404, and a campaign with no channels is a 400 — there is nothing to launch. Each executor resolves its own org&#39;s connector token from the org passed to it, so a launch can never spend through another tenant&#39;s connector.
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun postCampaignByIdLaunchWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = postCampaignByIdLaunchRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postCampaignByIdLaunch
     *
     * @param id 
     * @return RequestConfig
     */
    fun postCampaignByIdLaunchRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/campaign/{id}/launch".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/campaign/{id}/pause
     * Pause every live channel on a campaign at its provider
     * Pauses each live channel on its provider and answers the whole campaign, moved to &#x60;paused&#x60;, with the per-channel outcome written back onto it.  Only channels that are live and carry a provider reference are touched; a channel whose executor is no longer wired is marked &#x60;unavailable&#x60; and one whose pause errored is marked &#x60;failed&#x60;, with the reason on the row. The campaign still reports &#x60;paused&#x60; in both cases, and that is deliberate rather than sloppy: no live channel remains that this process will meter, and the rows say exactly which provider was not reached so it can be settled by hand.  Org-scoped and fails closed: a valid bearer is required (403 without one) and the campaign is read under the caller&#39;s OWN org, so another tenant&#39;s id is a 404.
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postCampaignByIdPause(id: kotlin.String) : Unit {
        val localVarResponse = postCampaignByIdPauseWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/campaign/{id}/pause
     * Pause every live channel on a campaign at its provider
     * Pauses each live channel on its provider and answers the whole campaign, moved to &#x60;paused&#x60;, with the per-channel outcome written back onto it.  Only channels that are live and carry a provider reference are touched; a channel whose executor is no longer wired is marked &#x60;unavailable&#x60; and one whose pause errored is marked &#x60;failed&#x60;, with the reason on the row. The campaign still reports &#x60;paused&#x60; in both cases, and that is deliberate rather than sloppy: no live channel remains that this process will meter, and the rows say exactly which provider was not reached so it can be settled by hand.  Org-scoped and fails closed: a valid bearer is required (403 without one) and the campaign is read under the caller&#39;s OWN org, so another tenant&#39;s id is a 404.
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun postCampaignByIdPauseWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = postCampaignByIdPauseRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postCampaignByIdPause
     *
     * @param id 
     * @return RequestConfig
     */
    fun postCampaignByIdPauseRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/campaign/{id}/pause".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/campaign/{id}
     * Rewrites a campaign&#39;s core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.
     * Rewrites a campaign&#39;s core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.  Channels are replaced ONLY while the campaign is still a draft. Once it is launched its channels carry provider state (an external id, a live status), so they are added and removed explicitly through the channels sub-resource instead; a whole-object write would silently orphan a running execution.
     * @param id ID is the campaign to update, from the path.
     * @param campaignUpdate 
     * @return CampaignRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun putCampaignById(id: kotlin.String, campaignUpdate: CampaignUpdate) : CampaignRecord {
        val localVarResponse = putCampaignByIdWithHttpInfo(id = id, campaignUpdate = campaignUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CampaignRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/campaign/{id}
     * Rewrites a campaign&#39;s core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.
     * Rewrites a campaign&#39;s core fields — name, audience, creatives, schedule and budget — and returns the updated campaign.  Channels are replaced ONLY while the campaign is still a draft. Once it is launched its channels carry provider state (an external id, a live status), so they are added and removed explicitly through the channels sub-resource instead; a whole-object write would silently orphan a running execution.
     * @param id ID is the campaign to update, from the path.
     * @param campaignUpdate 
     * @return ApiResponse<CampaignRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun putCampaignByIdWithHttpInfo(id: kotlin.String, campaignUpdate: CampaignUpdate) : ApiResponse<CampaignRecord?> {
        val localVariableConfig = putCampaignByIdRequestConfig(id = id, campaignUpdate = campaignUpdate)

        return request<CampaignUpdate, CampaignRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation putCampaignById
     *
     * @param id ID is the campaign to update, from the path.
     * @param campaignUpdate 
     * @return RequestConfig
     */
    fun putCampaignByIdRequestConfig(id: kotlin.String, campaignUpdate: CampaignUpdate) : RequestConfig<CampaignUpdate> {
        val localVariableBody = campaignUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/campaign/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
