/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.GatewayCDNPurgeRequest
import ai.hanzo.cloud.model.GatewayGetCDNAnalytics200Response
import ai.hanzo.cloud.model.GatewayPurgeCDNCache200Response

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class CDNApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * enum for parameter granularity
     */
     enum class GranularityGatewayGetCDNAnalytics(val value: kotlin.String) {
         @SerializedName(value = "minute") minute("minute"),
         @SerializedName(value = "hour") hour("hour"),
         @SerializedName(value = "day") day("day");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/gateway/cdn/analytics
     * CDN cache analytics
     * 
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param granularity  (optional, default to hour)
     * @return GatewayGetCDNAnalytics200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun gatewayGetCDNAnalytics(startDate: java.time.LocalDate? = null, endDate: java.time.LocalDate? = null, granularity: GranularityGatewayGetCDNAnalytics? = GranularityGatewayGetCDNAnalytics.hour) : GatewayGetCDNAnalytics200Response {
        val localVarResponse = gatewayGetCDNAnalyticsWithHttpInfo(startDate = startDate, endDate = endDate, granularity = granularity)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GatewayGetCDNAnalytics200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/gateway/cdn/analytics
     * CDN cache analytics
     * 
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param granularity  (optional, default to hour)
     * @return ApiResponse<GatewayGetCDNAnalytics200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun gatewayGetCDNAnalyticsWithHttpInfo(startDate: java.time.LocalDate?, endDate: java.time.LocalDate?, granularity: GranularityGatewayGetCDNAnalytics?) : ApiResponse<GatewayGetCDNAnalytics200Response?> {
        val localVariableConfig = gatewayGetCDNAnalyticsRequestConfig(startDate = startDate, endDate = endDate, granularity = granularity)

        return request<Unit, GatewayGetCDNAnalytics200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation gatewayGetCDNAnalytics
     *
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param granularity  (optional, default to hour)
     * @return RequestConfig
     */
    fun gatewayGetCDNAnalyticsRequestConfig(startDate: java.time.LocalDate?, endDate: java.time.LocalDate?, granularity: GranularityGatewayGetCDNAnalytics?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (startDate != null) {
                    put("start_date", listOf(parseDateToQueryString(startDate)))
                }
                if (endDate != null) {
                    put("end_date", listOf(parseDateToQueryString(endDate)))
                }
                if (granularity != null) {
                    put("granularity", listOf(granularity.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/gateway/cdn/analytics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/gateway/cdn/purge
     * Purge CDN cache
     * 
     * @param gatewayCDNPurgeRequest 
     * @return GatewayPurgeCDNCache200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun gatewayPurgeCDNCache(gatewayCDNPurgeRequest: GatewayCDNPurgeRequest) : GatewayPurgeCDNCache200Response {
        val localVarResponse = gatewayPurgeCDNCacheWithHttpInfo(gatewayCDNPurgeRequest = gatewayCDNPurgeRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GatewayPurgeCDNCache200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/gateway/cdn/purge
     * Purge CDN cache
     * 
     * @param gatewayCDNPurgeRequest 
     * @return ApiResponse<GatewayPurgeCDNCache200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun gatewayPurgeCDNCacheWithHttpInfo(gatewayCDNPurgeRequest: GatewayCDNPurgeRequest) : ApiResponse<GatewayPurgeCDNCache200Response?> {
        val localVariableConfig = gatewayPurgeCDNCacheRequestConfig(gatewayCDNPurgeRequest = gatewayCDNPurgeRequest)

        return request<GatewayCDNPurgeRequest, GatewayPurgeCDNCache200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation gatewayPurgeCDNCache
     *
     * @param gatewayCDNPurgeRequest 
     * @return RequestConfig
     */
    fun gatewayPurgeCDNCacheRequestConfig(gatewayCDNPurgeRequest: GatewayCDNPurgeRequest) : RequestConfig<GatewayCDNPurgeRequest> {
        val localVariableBody = gatewayCDNPurgeRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/gateway/cdn/purge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
