/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.ClusterAttach
import ai.hanzo.cloud.model.ClusterDetached
import ai.hanzo.cloud.model.ClusterList
import ai.hanzo.cloud.model.ClusterView
import ai.hanzo.cloud.model.NodePoolView
import ai.hanzo.cloud.model.PoolCreate
import ai.hanzo.cloud.model.PoolScale

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class ClustersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/clusters
     * Attaches a BYO cluster to the caller&#39;s org — the kubeconfig is validated, KMS-sealed and added to the fleet — and answers 201 with the cluster as it now appears on GET /v1/clusters.
     * Attaches a BYO cluster to the caller&#39;s org — the kubeconfig is validated, KMS-sealed and added to the fleet — and answers 201 with the cluster as it now appears on GET /v1/clusters. Billed the nominal management fee: the customer brings the compute, Hanzo meters the management plane.
     * @param clusterAttach 
     * @return ClusterView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun attachCluster(clusterAttach: ClusterAttach) : ClusterView {
        val localVarResponse = attachClusterWithHttpInfo(clusterAttach = clusterAttach)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ClusterView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/clusters
     * Attaches a BYO cluster to the caller&#39;s org — the kubeconfig is validated, KMS-sealed and added to the fleet — and answers 201 with the cluster as it now appears on GET /v1/clusters.
     * Attaches a BYO cluster to the caller&#39;s org — the kubeconfig is validated, KMS-sealed and added to the fleet — and answers 201 with the cluster as it now appears on GET /v1/clusters. Billed the nominal management fee: the customer brings the compute, Hanzo meters the management plane.
     * @param clusterAttach 
     * @return ApiResponse<ClusterView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun attachClusterWithHttpInfo(clusterAttach: ClusterAttach) : ApiResponse<ClusterView?> {
        val localVariableConfig = attachClusterRequestConfig(clusterAttach = clusterAttach)

        return request<ClusterAttach, ClusterView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation attachCluster
     *
     * @param clusterAttach 
     * @return RequestConfig
     */
    fun attachClusterRequestConfig(clusterAttach: ClusterAttach) : RequestConfig<ClusterAttach> {
        val localVariableBody = clusterAttach
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/clusters",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/clusters/{clusterId}/pools
     * Adds a node pool to one of the caller org&#39;s clusters and answers 201 with the created pool.
     * Adds a node pool to one of the caller org&#39;s clusters and answers 201 with the created pool. Only the CreateNodePoolSpec fields are forwarded; owner/provider/clusterId ride in the query exactly as Visor expects them.
     * @param clusterId ClusterID is the cluster to add the pool to, from the URL path.
     * @param poolCreate 
     * @return NodePoolView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createNodePool(clusterId: kotlin.String, poolCreate: PoolCreate) : NodePoolView {
        val localVarResponse = createNodePoolWithHttpInfo(clusterId = clusterId, poolCreate = poolCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NodePoolView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/clusters/{clusterId}/pools
     * Adds a node pool to one of the caller org&#39;s clusters and answers 201 with the created pool.
     * Adds a node pool to one of the caller org&#39;s clusters and answers 201 with the created pool. Only the CreateNodePoolSpec fields are forwarded; owner/provider/clusterId ride in the query exactly as Visor expects them.
     * @param clusterId ClusterID is the cluster to add the pool to, from the URL path.
     * @param poolCreate 
     * @return ApiResponse<NodePoolView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createNodePoolWithHttpInfo(clusterId: kotlin.String, poolCreate: PoolCreate) : ApiResponse<NodePoolView?> {
        val localVariableConfig = createNodePoolRequestConfig(clusterId = clusterId, poolCreate = poolCreate)

        return request<PoolCreate, NodePoolView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createNodePool
     *
     * @param clusterId ClusterID is the cluster to add the pool to, from the URL path.
     * @param poolCreate 
     * @return RequestConfig
     */
    fun createNodePoolRequestConfig(clusterId: kotlin.String, poolCreate: PoolCreate) : RequestConfig<PoolCreate> {
        val localVariableBody = poolCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/clusters/{clusterId}/pools".replace("{"+"clusterId"+"}", encodeURIComponent(clusterId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/clusters/{clusterId}/pools/{poolId}
     * Removes a node pool from one of the caller org&#39;s clusters.
     * Removes a node pool from one of the caller org&#39;s clusters. The owner scopes the delete to the caller&#39;s tenant; provider+clusterId drive the provider-side removal. Answers 204.
     * @param clusterId ClusterID and PoolID address the pool, from the URL path.
     * @param poolId 
     * @param provider Provider is the cloud the cluster lives on, from ?provider&#x3D;. Required. (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteNodePool(clusterId: kotlin.String, poolId: kotlin.String, provider: kotlin.String? = null) : Unit {
        val localVarResponse = deleteNodePoolWithHttpInfo(clusterId = clusterId, poolId = poolId, provider = provider)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/clusters/{clusterId}/pools/{poolId}
     * Removes a node pool from one of the caller org&#39;s clusters.
     * Removes a node pool from one of the caller org&#39;s clusters. The owner scopes the delete to the caller&#39;s tenant; provider+clusterId drive the provider-side removal. Answers 204.
     * @param clusterId ClusterID and PoolID address the pool, from the URL path.
     * @param poolId 
     * @param provider Provider is the cloud the cluster lives on, from ?provider&#x3D;. Required. (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteNodePoolWithHttpInfo(clusterId: kotlin.String, poolId: kotlin.String, provider: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = deleteNodePoolRequestConfig(clusterId = clusterId, poolId = poolId, provider = provider)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteNodePool
     *
     * @param clusterId ClusterID and PoolID address the pool, from the URL path.
     * @param poolId 
     * @param provider Provider is the cloud the cluster lives on, from ?provider&#x3D;. Required. (optional)
     * @return RequestConfig
     */
    fun deleteNodePoolRequestConfig(clusterId: kotlin.String, poolId: kotlin.String, provider: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (provider != null) {
                    put("provider", listOf(provider.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/clusters/{clusterId}/pools/{poolId}".replace("{"+"clusterId"+"}", encodeURIComponent(clusterId.toString())).replace("{"+"poolId"+"}", encodeURIComponent(poolId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/clusters/{id}
     * Removes a BYO cluster from the caller org&#39;s fleet.
     * Removes a BYO cluster from the caller org&#39;s fleet. It only ever touches BYO clusters — a managed cluster&#39;s nodes are removed through the node-pool routes — and answers 404 when the name is not in this org&#39;s fleet.
     * @param id ID is the cluster&#39;s fleet name (the &#x60;name&#x60; it was attached under), matched lower-cased.
     * @return ClusterDetached
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun detachCluster(id: kotlin.String) : ClusterDetached {
        val localVarResponse = detachClusterWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ClusterDetached
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/clusters/{id}
     * Removes a BYO cluster from the caller org&#39;s fleet.
     * Removes a BYO cluster from the caller org&#39;s fleet. It only ever touches BYO clusters — a managed cluster&#39;s nodes are removed through the node-pool routes — and answers 404 when the name is not in this org&#39;s fleet.
     * @param id ID is the cluster&#39;s fleet name (the &#x60;name&#x60; it was attached under), matched lower-cased.
     * @return ApiResponse<ClusterDetached?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun detachClusterWithHttpInfo(id: kotlin.String) : ApiResponse<ClusterDetached?> {
        val localVariableConfig = detachClusterRequestConfig(id = id)

        return request<Unit, ClusterDetached>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation detachCluster
     *
     * @param id ID is the cluster&#39;s fleet name (the &#x60;name&#x60; it was attached under), matched lower-cased.
     * @return RequestConfig
     */
    fun detachClusterRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/clusters/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/clusters
     * Returns the caller org&#39;s clusters from both sources: the managed clusters projected from Visor&#39;s node pools, and the BYO clusters attached to the caller&#39;s project.
     * Returns the caller org&#39;s clusters from both sources: the managed clusters projected from Visor&#39;s node pools, and the BYO clusters attached to the caller&#39;s project. A Visor outage costs the managed half only — the BYO half still lists, because a page that 502s on an optional provider is worse than a page that shows what it can.
     * @return ClusterList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listClusters() : ClusterList {
        val localVarResponse = listClustersWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ClusterList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/clusters
     * Returns the caller org&#39;s clusters from both sources: the managed clusters projected from Visor&#39;s node pools, and the BYO clusters attached to the caller&#39;s project.
     * Returns the caller org&#39;s clusters from both sources: the managed clusters projected from Visor&#39;s node pools, and the BYO clusters attached to the caller&#39;s project. A Visor outage costs the managed half only — the BYO half still lists, because a page that 502s on an optional provider is worse than a page that shows what it can.
     * @return ApiResponse<ClusterList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listClustersWithHttpInfo() : ApiResponse<ClusterList?> {
        val localVariableConfig = listClustersRequestConfig()

        return request<Unit, ClusterList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listClusters
     *
     * @return RequestConfig
     */
    fun listClustersRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/clusters",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/clusters/{clusterId}/pools/{poolId}/scale
     * Resizes a node pool to an absolute node count and returns the pool as Visor reports it after the change.
     * Resizes a node pool to an absolute node count and returns the pool as Visor reports it after the change.
     * @param clusterId ClusterID and PoolID address the pool, from the URL path.
     * @param poolId 
     * @param poolScale 
     * @return NodePoolView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun scaleNodePool(clusterId: kotlin.String, poolId: kotlin.String, poolScale: PoolScale) : NodePoolView {
        val localVarResponse = scaleNodePoolWithHttpInfo(clusterId = clusterId, poolId = poolId, poolScale = poolScale)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as NodePoolView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/clusters/{clusterId}/pools/{poolId}/scale
     * Resizes a node pool to an absolute node count and returns the pool as Visor reports it after the change.
     * Resizes a node pool to an absolute node count and returns the pool as Visor reports it after the change.
     * @param clusterId ClusterID and PoolID address the pool, from the URL path.
     * @param poolId 
     * @param poolScale 
     * @return ApiResponse<NodePoolView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun scaleNodePoolWithHttpInfo(clusterId: kotlin.String, poolId: kotlin.String, poolScale: PoolScale) : ApiResponse<NodePoolView?> {
        val localVariableConfig = scaleNodePoolRequestConfig(clusterId = clusterId, poolId = poolId, poolScale = poolScale)

        return request<PoolScale, NodePoolView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation scaleNodePool
     *
     * @param clusterId ClusterID and PoolID address the pool, from the URL path.
     * @param poolId 
     * @param poolScale 
     * @return RequestConfig
     */
    fun scaleNodePoolRequestConfig(clusterId: kotlin.String, poolId: kotlin.String, poolScale: PoolScale) : RequestConfig<PoolScale> {
        val localVariableBody = poolScale
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/clusters/{clusterId}/pools/{poolId}/scale".replace("{"+"clusterId"+"}", encodeURIComponent(clusterId.toString())).replace("{"+"poolId"+"}", encodeURIComponent(poolId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
