/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudAskAnswer
import ai.hanzo.cloud.model.CloudAskPostIn
import ai.hanzo.cloud.model.CloudContextBundle
import ai.hanzo.cloud.model.CloudContextIn
import ai.hanzo.cloud.model.CloudFileContent
import ai.hanzo.cloud.model.CloudIndexIn
import ai.hanzo.cloud.model.CloudIndexResult
import ai.hanzo.cloud.model.CloudRepoTree
import ai.hanzo.cloud.model.CloudSearchResults

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class CodeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/code/ask
     * Answers a question about the caller org&#39;s code with a CITED answer: retrieval packs grounding context, then the synthesizer writes the answer over exactly those spans, which come back alongside it.
     * Answers a question about the caller org&#39;s code with a CITED answer: retrieval packs grounding context, then the synthesizer writes the answer over exactly those spans, which come back alongside it. It never answers without grounding — with no matched code the answer is empty and says so, and with no synthesizer available the citations still come back with \&quot;degraded\&quot;: true so the caller can reason over the spans itself.
     * @param q Q is the question to answer. Required, max 4000 bytes. (optional)
     * @param repo Repo narrows retrieval to one repository. Empty searches every repo the org has indexed. (optional)
     * @return CloudAskAnswer
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CodeAsk(q: kotlin.String? = null, repo: kotlin.String? = null) : CloudAskAnswer {
        val localVarResponse = cloudGetV1CodeAskWithHttpInfo(q = q, repo = repo)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAskAnswer
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/code/ask
     * Answers a question about the caller org&#39;s code with a CITED answer: retrieval packs grounding context, then the synthesizer writes the answer over exactly those spans, which come back alongside it.
     * Answers a question about the caller org&#39;s code with a CITED answer: retrieval packs grounding context, then the synthesizer writes the answer over exactly those spans, which come back alongside it. It never answers without grounding — with no matched code the answer is empty and says so, and with no synthesizer available the citations still come back with \&quot;degraded\&quot;: true so the caller can reason over the spans itself.
     * @param q Q is the question to answer. Required, max 4000 bytes. (optional)
     * @param repo Repo narrows retrieval to one repository. Empty searches every repo the org has indexed. (optional)
     * @return ApiResponse<CloudAskAnswer?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CodeAskWithHttpInfo(q: kotlin.String?, repo: kotlin.String?) : ApiResponse<CloudAskAnswer?> {
        val localVariableConfig = cloudGetV1CodeAskRequestConfig(q = q, repo = repo)

        return request<Unit, CloudAskAnswer>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CodeAsk
     *
     * @param q Q is the question to answer. Required, max 4000 bytes. (optional)
     * @param repo Repo narrows retrieval to one repository. Empty searches every repo the org has indexed. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1CodeAskRequestConfig(q: kotlin.String?, repo: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
                if (repo != null) {
                    put("repo", listOf(repo.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/code/ask",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/code/file
     * Returns the INDEXED content of one file — read_file over the chunks the search tiers hold, for pulling up code an agent just found.
     * Returns the INDEXED content of one file — read_file over the chunks the search tiers hold, for pulling up code an agent just found. It is NOT byte-verbatim: the git object plane is the source of record for exact bytes, history and blame. A file absent from the index is a 404, so an agent can tell \&quot;not indexed\&quot; from \&quot;empty file\&quot;.
     * @param path Path is the file&#39;s repo-relative path. Required. (optional)
     * @param repo Repo is the repository the file belongs to. REQUIRED. (optional)
     * @return CloudFileContent
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CodeFile(path: kotlin.String? = null, repo: kotlin.String? = null) : CloudFileContent {
        val localVarResponse = cloudGetV1CodeFileWithHttpInfo(path = path, repo = repo)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFileContent
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/code/file
     * Returns the INDEXED content of one file — read_file over the chunks the search tiers hold, for pulling up code an agent just found.
     * Returns the INDEXED content of one file — read_file over the chunks the search tiers hold, for pulling up code an agent just found. It is NOT byte-verbatim: the git object plane is the source of record for exact bytes, history and blame. A file absent from the index is a 404, so an agent can tell \&quot;not indexed\&quot; from \&quot;empty file\&quot;.
     * @param path Path is the file&#39;s repo-relative path. Required. (optional)
     * @param repo Repo is the repository the file belongs to. REQUIRED. (optional)
     * @return ApiResponse<CloudFileContent?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CodeFileWithHttpInfo(path: kotlin.String?, repo: kotlin.String?) : ApiResponse<CloudFileContent?> {
        val localVariableConfig = cloudGetV1CodeFileRequestConfig(path = path, repo = repo)

        return request<Unit, CloudFileContent>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CodeFile
     *
     * @param path Path is the file&#39;s repo-relative path. Required. (optional)
     * @param repo Repo is the repository the file belongs to. REQUIRED. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1CodeFileRequestConfig(path: kotlin.String?, repo: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (path != null) {
                    put("path", listOf(path.toString()))
                }
                if (repo != null) {
                    put("repo", listOf(repo.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/code/file",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/code/search
     * Finds code in the caller org&#39;s index across three orthogonal retrieval tiers fused by reciprocal-rank fusion: lexical (FTS5 trigram over code-tokenized text), symbolic (real definition and reference edges), and semantic (embedding cosine over AST-boundary chunks).
     * Finds code in the caller org&#39;s index across three orthogonal retrieval tiers fused by reciprocal-rank fusion: lexical (FTS5 trigram over code-tokenized text), symbolic (real definition and reference edges), and semantic (embedding cosine over AST-boundary chunks). Pick one tier with &#x60;type&#x60;, or leave it to run all three as hybrid, which is what a coding agent usually wants. It is FAIL-HONEST: a retrieval outage answers 200 with an empty result set and \&quot;degraded\&quot;: true rather than a 5xx, so an agent degrades instead of stalling. A malformed regex is a 400.
     * @param q Q is the search query. Required, max 4000 bytes. For type&#x3D;regex it is a regular expression; for type&#x3D;symbol it is a symbol name. (optional)
     * @param type Type selects the retrieval tier: \&quot;text\&quot; (FTS5 trigram), \&quot;regex\&quot;, \&quot;symbol\&quot; (definitions), \&quot;semantic\&quot; (embeddings) or \&quot;hybrid\&quot;. Anything else — including empty — reads as hybrid. (optional)
     * @param repo Repo narrows to one repository. Empty searches every repo the org has indexed. (optional)
     * @param limit Limit caps how many spans come back: default 20, maximum 100. A value that is not a positive integer reads as the default. (optional)
     * @return CloudSearchResults
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CodeSearch(q: kotlin.String? = null, type: kotlin.String? = null, repo: kotlin.String? = null, limit: kotlin.Int? = null) : CloudSearchResults {
        val localVarResponse = cloudGetV1CodeSearchWithHttpInfo(q = q, type = type, repo = repo, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSearchResults
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/code/search
     * Finds code in the caller org&#39;s index across three orthogonal retrieval tiers fused by reciprocal-rank fusion: lexical (FTS5 trigram over code-tokenized text), symbolic (real definition and reference edges), and semantic (embedding cosine over AST-boundary chunks).
     * Finds code in the caller org&#39;s index across three orthogonal retrieval tiers fused by reciprocal-rank fusion: lexical (FTS5 trigram over code-tokenized text), symbolic (real definition and reference edges), and semantic (embedding cosine over AST-boundary chunks). Pick one tier with &#x60;type&#x60;, or leave it to run all three as hybrid, which is what a coding agent usually wants. It is FAIL-HONEST: a retrieval outage answers 200 with an empty result set and \&quot;degraded\&quot;: true rather than a 5xx, so an agent degrades instead of stalling. A malformed regex is a 400.
     * @param q Q is the search query. Required, max 4000 bytes. For type&#x3D;regex it is a regular expression; for type&#x3D;symbol it is a symbol name. (optional)
     * @param type Type selects the retrieval tier: \&quot;text\&quot; (FTS5 trigram), \&quot;regex\&quot;, \&quot;symbol\&quot; (definitions), \&quot;semantic\&quot; (embeddings) or \&quot;hybrid\&quot;. Anything else — including empty — reads as hybrid. (optional)
     * @param repo Repo narrows to one repository. Empty searches every repo the org has indexed. (optional)
     * @param limit Limit caps how many spans come back: default 20, maximum 100. A value that is not a positive integer reads as the default. (optional)
     * @return ApiResponse<CloudSearchResults?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CodeSearchWithHttpInfo(q: kotlin.String?, type: kotlin.String?, repo: kotlin.String?, limit: kotlin.Int?) : ApiResponse<CloudSearchResults?> {
        val localVariableConfig = cloudGetV1CodeSearchRequestConfig(q = q, type = type, repo = repo, limit = limit)

        return request<Unit, CloudSearchResults>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CodeSearch
     *
     * @param q Q is the search query. Required, max 4000 bytes. For type&#x3D;regex it is a regular expression; for type&#x3D;symbol it is a symbol name. (optional)
     * @param type Type selects the retrieval tier: \&quot;text\&quot; (FTS5 trigram), \&quot;regex\&quot;, \&quot;symbol\&quot; (definitions), \&quot;semantic\&quot; (embeddings) or \&quot;hybrid\&quot;. Anything else — including empty — reads as hybrid. (optional)
     * @param repo Repo narrows to one repository. Empty searches every repo the org has indexed. (optional)
     * @param limit Limit caps how many spans come back: default 20, maximum 100. A value that is not a positive integer reads as the default. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1CodeSearchRequestConfig(q: kotlin.String?, type: kotlin.String?, repo: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (repo != null) {
                    put("repo", listOf(repo.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/code/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/code/tree
     * Returns one repository&#39;s file structure with a per-file symbol count — get_repo_structure over the org&#39;s own index, with no git checkout involved.
     * Returns one repository&#39;s file structure with a per-file symbol count — get_repo_structure over the org&#39;s own index, with no git checkout involved. A repository that has not been indexed answers an empty tree rather than an error, so an agent can tell \&quot;nothing here\&quot; without handling a failure.
     * @param repo Repo is the repository to walk. REQUIRED — a tree is repo-scoped. (optional)
     * @return CloudRepoTree
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CodeTree(repo: kotlin.String? = null) : CloudRepoTree {
        val localVarResponse = cloudGetV1CodeTreeWithHttpInfo(repo = repo)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudRepoTree
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/code/tree
     * Returns one repository&#39;s file structure with a per-file symbol count — get_repo_structure over the org&#39;s own index, with no git checkout involved.
     * Returns one repository&#39;s file structure with a per-file symbol count — get_repo_structure over the org&#39;s own index, with no git checkout involved. A repository that has not been indexed answers an empty tree rather than an error, so an agent can tell \&quot;nothing here\&quot; without handling a failure.
     * @param repo Repo is the repository to walk. REQUIRED — a tree is repo-scoped. (optional)
     * @return ApiResponse<CloudRepoTree?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CodeTreeWithHttpInfo(repo: kotlin.String?) : ApiResponse<CloudRepoTree?> {
        val localVariableConfig = cloudGetV1CodeTreeRequestConfig(repo = repo)

        return request<Unit, CloudRepoTree>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CodeTree
     *
     * @param repo Repo is the repository to walk. REQUIRED — a tree is repo-scoped. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1CodeTreeRequestConfig(repo: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (repo != null) {
                    put("repo", listOf(repo.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/code/tree",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/code/ask
     * Is askGet with the question in the request BODY, for a question too long or too awkward to put in a URL.
     * Is askGet with the question in the request BODY, for a question too long or too awkward to put in a URL. &#x60;query&#x60; and &#x60;repo&#x60; in the body take precedence over &#x60;?q&#x3D;&#x60; and &#x60;?repo&#x3D;&#x60;; either source works alone.
     * @param cloudAskPostIn 
     * @return CloudAskAnswer
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CodeAsk(cloudAskPostIn: CloudAskPostIn) : CloudAskAnswer {
        val localVarResponse = cloudPostV1CodeAskWithHttpInfo(cloudAskPostIn = cloudAskPostIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAskAnswer
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/code/ask
     * Is askGet with the question in the request BODY, for a question too long or too awkward to put in a URL.
     * Is askGet with the question in the request BODY, for a question too long or too awkward to put in a URL. &#x60;query&#x60; and &#x60;repo&#x60; in the body take precedence over &#x60;?q&#x3D;&#x60; and &#x60;?repo&#x3D;&#x60;; either source works alone.
     * @param cloudAskPostIn 
     * @return ApiResponse<CloudAskAnswer?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CodeAskWithHttpInfo(cloudAskPostIn: CloudAskPostIn) : ApiResponse<CloudAskAnswer?> {
        val localVariableConfig = cloudPostV1CodeAskRequestConfig(cloudAskPostIn = cloudAskPostIn)

        return request<CloudAskPostIn, CloudAskAnswer>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CodeAsk
     *
     * @param cloudAskPostIn 
     * @return RequestConfig
     */
    fun cloudPostV1CodeAskRequestConfig(cloudAskPostIn: CloudAskPostIn) : RequestConfig<CloudAskPostIn> {
        val localVariableBody = cloudAskPostIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/code/ask",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/code/context
     * Packs the most relevant code for a query into a token budget — THE primitive for a coding agent that has to decide what to put in a prompt.
     * Packs the most relevant code for a query into a token budget — THE primitive for a coding agent that has to decide what to put in a prompt. It retrieves seed spans, expands each with the definitions it calls and its key callers, then greedily fills the budget, so the answer is a coherent slice of the codebase rather than a list of disconnected matches. The top match is always included, truncated if it alone overflows, so a matched query never comes back empty. A retrieval outage answers 200 with an empty bundle rather than a 5xx.
     * @param cloudContextIn 
     * @return CloudContextBundle
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CodeContext(cloudContextIn: CloudContextIn) : CloudContextBundle {
        val localVarResponse = cloudPostV1CodeContextWithHttpInfo(cloudContextIn = cloudContextIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudContextBundle
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/code/context
     * Packs the most relevant code for a query into a token budget — THE primitive for a coding agent that has to decide what to put in a prompt.
     * Packs the most relevant code for a query into a token budget — THE primitive for a coding agent that has to decide what to put in a prompt. It retrieves seed spans, expands each with the definitions it calls and its key callers, then greedily fills the budget, so the answer is a coherent slice of the codebase rather than a list of disconnected matches. The top match is always included, truncated if it alone overflows, so a matched query never comes back empty. A retrieval outage answers 200 with an empty bundle rather than a 5xx.
     * @param cloudContextIn 
     * @return ApiResponse<CloudContextBundle?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CodeContextWithHttpInfo(cloudContextIn: CloudContextIn) : ApiResponse<CloudContextBundle?> {
        val localVariableConfig = cloudPostV1CodeContextRequestConfig(cloudContextIn = cloudContextIn)

        return request<CloudContextIn, CloudContextBundle>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CodeContext
     *
     * @param cloudContextIn 
     * @return RequestConfig
     */
    fun cloudPostV1CodeContextRequestConfig(cloudContextIn: CloudContextIn) : RequestConfig<CloudContextIn> {
        val localVariableBody = cloudContextIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/code/context",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/code/index
     * (re)indexes a repository for the caller&#39;s org, incrementally: files whose content hash is unchanged are skipped, so re-sending a whole tree is cheap.
     * (re)indexes a repository for the caller&#39;s org, incrementally: files whose content hash is unchanged are skipped, so re-sending a whole tree is cheap. Each file is parsed for symbols, split at AST boundaries and — when the semantic tier is available — embedded, which is what makes it searchable across all three retrieval tiers. Pass &#x60;prune&#x60; to also DELETE indexed files absent from the request, which turns the call into a full sync; without it the call is an upsert. The index is written to the caller org&#39;s own physically separate database.
     * @param cloudIndexIn 
     * @return CloudIndexResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CodeIndex(cloudIndexIn: CloudIndexIn) : CloudIndexResult {
        val localVarResponse = cloudPostV1CodeIndexWithHttpInfo(cloudIndexIn = cloudIndexIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudIndexResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/code/index
     * (re)indexes a repository for the caller&#39;s org, incrementally: files whose content hash is unchanged are skipped, so re-sending a whole tree is cheap.
     * (re)indexes a repository for the caller&#39;s org, incrementally: files whose content hash is unchanged are skipped, so re-sending a whole tree is cheap. Each file is parsed for symbols, split at AST boundaries and — when the semantic tier is available — embedded, which is what makes it searchable across all three retrieval tiers. Pass &#x60;prune&#x60; to also DELETE indexed files absent from the request, which turns the call into a full sync; without it the call is an upsert. The index is written to the caller org&#39;s own physically separate database.
     * @param cloudIndexIn 
     * @return ApiResponse<CloudIndexResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CodeIndexWithHttpInfo(cloudIndexIn: CloudIndexIn) : ApiResponse<CloudIndexResult?> {
        val localVariableConfig = cloudPostV1CodeIndexRequestConfig(cloudIndexIn = cloudIndexIn)

        return request<CloudIndexIn, CloudIndexResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CodeIndex
     *
     * @param cloudIndexIn 
     * @return RequestConfig
     */
    fun cloudPostV1CodeIndexRequestConfig(cloudIndexIn: CloudIndexIn) : RequestConfig<CloudIndexIn> {
        val localVariableBody = cloudIndexIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/code/index",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
