/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudAdvanceIn
import ai.hanzo.cloud.model.CloudBeginIn
import ai.hanzo.cloud.model.CloudDecisionIn
import ai.hanzo.cloud.model.CloudDeckOut
import ai.hanzo.cloud.model.CloudEsignCompleteIn
import ai.hanzo.cloud.model.CloudEsignOut
import ai.hanzo.cloud.model.CloudFormationView
import ai.hanzo.cloud.model.CloudFoundersIn
import ai.hanzo.cloud.model.CloudImportCapTableIn
import ai.hanzo.cloud.model.CloudImportCapTableOut
import ai.hanzo.cloud.model.CloudImportDocumentsIn
import ai.hanzo.cloud.model.CloudImportDocumentsOut
import ai.hanzo.cloud.model.CloudKycRefreshOut
import ai.hanzo.cloud.model.CloudKycStartOut
import ai.hanzo.cloud.model.CloudRegisterCounts
import ai.hanzo.cloud.model.CloudRegisterPage
import ai.hanzo.cloud.model.CloudReviewQueue
import ai.hanzo.cloud.model.CloudRoundInput
import ai.hanzo.cloud.model.CloudRoundOut
import ai.hanzo.cloud.model.CloudSafeIn
import ai.hanzo.cloud.model.CloudSafeOut
import ai.hanzo.cloud.model.CloudStructureIn

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class CompanyApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/company
     * Get returns the caller org&#39;s formation and the stages reachable from it, or 404 when the org has not begun one.
     * Get returns the caller org&#39;s formation and the stages reachable from it, or 404 when the org has not begun one.
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1Company() : CloudFormationView {
        val localVarResponse = cloudGetV1CompanyWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/company
     * Get returns the caller org&#39;s formation and the stages reachable from it, or 404 when the org has not begun one.
     * Get returns the caller org&#39;s formation and the stages reachable from it, or 404 when the org has not begun one.
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CompanyWithHttpInfo() : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudGetV1CompanyRequestConfig()

        return request<Unit, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1Company
     *
     * @return RequestConfig
     */
    fun cloudGetV1CompanyRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/company",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/company/register
     * ListRegister returns the platform&#39;s whole formation register, newest activity first — every org&#39;s formation, not the caller&#39;s.
     * ListRegister returns the platform&#39;s whole formation register, newest activity first — every org&#39;s formation, not the caller&#39;s. It is a Hanzo platform operation: a caller who is not a platform reviewer gets 403.  Filter by stage and structure, page with limit and offset. An unknown stage is refused with 400 rather than returning a silently empty page.
     * @param stage Stage keeps only formations at that stage. Empty means any. (optional)
     * @param structure Structure keeps only formations of that entity kind. Empty means any. (optional)
     * @param limit Limit bounds the page; 0 or less means the default of 200. (optional)
     * @param offset Offset skips that many rows. (optional)
     * @return CloudRegisterPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CompanyRegister(stage: kotlin.String? = null, structure: kotlin.String? = null, limit: kotlin.Int? = null, offset: kotlin.Int? = null) : CloudRegisterPage {
        val localVarResponse = cloudGetV1CompanyRegisterWithHttpInfo(stage = stage, structure = structure, limit = limit, offset = offset)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudRegisterPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/company/register
     * ListRegister returns the platform&#39;s whole formation register, newest activity first — every org&#39;s formation, not the caller&#39;s.
     * ListRegister returns the platform&#39;s whole formation register, newest activity first — every org&#39;s formation, not the caller&#39;s. It is a Hanzo platform operation: a caller who is not a platform reviewer gets 403.  Filter by stage and structure, page with limit and offset. An unknown stage is refused with 400 rather than returning a silently empty page.
     * @param stage Stage keeps only formations at that stage. Empty means any. (optional)
     * @param structure Structure keeps only formations of that entity kind. Empty means any. (optional)
     * @param limit Limit bounds the page; 0 or less means the default of 200. (optional)
     * @param offset Offset skips that many rows. (optional)
     * @return ApiResponse<CloudRegisterPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CompanyRegisterWithHttpInfo(stage: kotlin.String?, structure: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : ApiResponse<CloudRegisterPage?> {
        val localVariableConfig = cloudGetV1CompanyRegisterRequestConfig(stage = stage, structure = structure, limit = limit, offset = offset)

        return request<Unit, CloudRegisterPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CompanyRegister
     *
     * @param stage Stage keeps only formations at that stage. Empty means any. (optional)
     * @param structure Structure keeps only formations of that entity kind. Empty means any. (optional)
     * @param limit Limit bounds the page; 0 or less means the default of 200. (optional)
     * @param offset Offset skips that many rows. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1CompanyRegisterRequestConfig(stage: kotlin.String?, structure: kotlin.String?, limit: kotlin.Int?, offset: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (stage != null) {
                    put("stage", listOf(stage.toString()))
                }
                if (structure != null) {
                    put("structure", listOf(structure.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/company/register",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/company/register/summary
     * SummarizeRegister counts the platform&#39;s formations by stage — the register&#39;s shape in one read, so a queue that is growing is visible as a number rather than inferred by paging the list.
     * SummarizeRegister counts the platform&#39;s formations by stage — the register&#39;s shape in one read, so a queue that is growing is visible as a number rather than inferred by paging the list. A Hanzo platform operation: a caller who is not a platform reviewer gets 403.
     * @return CloudRegisterCounts
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CompanyRegisterSummary() : CloudRegisterCounts {
        val localVarResponse = cloudGetV1CompanyRegisterSummaryWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudRegisterCounts
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/company/register/summary
     * SummarizeRegister counts the platform&#39;s formations by stage — the register&#39;s shape in one read, so a queue that is growing is visible as a number rather than inferred by paging the list.
     * SummarizeRegister counts the platform&#39;s formations by stage — the register&#39;s shape in one read, so a queue that is growing is visible as a number rather than inferred by paging the list. A Hanzo platform operation: a caller who is not a platform reviewer gets 403.
     * @return ApiResponse<CloudRegisterCounts?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CompanyRegisterSummaryWithHttpInfo() : ApiResponse<CloudRegisterCounts?> {
        val localVariableConfig = cloudGetV1CompanyRegisterSummaryRequestConfig()

        return request<Unit, CloudRegisterCounts>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CompanyRegisterSummary
     *
     * @return RequestConfig
     */
    fun cloudGetV1CompanyRegisterSummaryRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/company/register/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/company/review
     * ReviewQueue reports the founders whose KYC is not yet settled, oldest formation first, so the queue drains in the order founders have been waiting.
     * ReviewQueue reports the founders whose KYC is not yet settled, oldest formation first, so the queue drains in the order founders have been waiting. A Hanzo platform operation: a caller who is not a platform reviewer gets 403.  It only says who is waiting; the decision itself is POST /v1/company/kyc/decision.
     * @param limit Limit bounds how many formations are scanned; 0 or less means the default of 200. (optional)
     * @return CloudReviewQueue
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1CompanyReview(limit: kotlin.Int? = null) : CloudReviewQueue {
        val localVarResponse = cloudGetV1CompanyReviewWithHttpInfo(limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudReviewQueue
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/company/review
     * ReviewQueue reports the founders whose KYC is not yet settled, oldest formation first, so the queue drains in the order founders have been waiting.
     * ReviewQueue reports the founders whose KYC is not yet settled, oldest formation first, so the queue drains in the order founders have been waiting. A Hanzo platform operation: a caller who is not a platform reviewer gets 403.  It only says who is waiting; the decision itself is POST /v1/company/kyc/decision.
     * @param limit Limit bounds how many formations are scanned; 0 or less means the default of 200. (optional)
     * @return ApiResponse<CloudReviewQueue?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1CompanyReviewWithHttpInfo(limit: kotlin.Int?) : ApiResponse<CloudReviewQueue?> {
        val localVariableConfig = cloudGetV1CompanyReviewRequestConfig(limit = limit)

        return request<Unit, CloudReviewQueue>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1CompanyReview
     *
     * @param limit Limit bounds how many formations are scanned; 0 or less means the default of 200. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1CompanyReviewRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/company/review",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company
     * Begin starts the org&#39;s one formation and returns it with the stages reachable from it.
     * Begin starts the org&#39;s one formation and returns it with the stages reachable from it. It is idempotent: an org that already has a formation gets that one back with 200, while a first call creates it and answers 201.
     * @param cloudBeginIn 
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1Company(cloudBeginIn: CloudBeginIn) : CloudFormationView {
        val localVarResponse = cloudPostV1CompanyWithHttpInfo(cloudBeginIn = cloudBeginIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company
     * Begin starts the org&#39;s one formation and returns it with the stages reachable from it.
     * Begin starts the org&#39;s one formation and returns it with the stages reachable from it. It is idempotent: an org that already has a formation gets that one back with 200, while a first call creates it and answers 201.
     * @param cloudBeginIn 
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyWithHttpInfo(cloudBeginIn: CloudBeginIn) : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanyRequestConfig(cloudBeginIn = cloudBeginIn)

        return request<CloudBeginIn, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1Company
     *
     * @param cloudBeginIn 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyRequestConfig(cloudBeginIn: CloudBeginIn) : RequestConfig<CloudBeginIn> {
        val localVariableBody = cloudBeginIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/advance
     * Advance runs the ONE guarded transition of the formation machine.
     * Advance runs the ONE guarded transition of the formation machine. It is the only door between stages: the actions populate data, this decides ordering.  An edge the machine does not define answers 409; an edge whose guard is not yet satisfied answers 422 naming what is missing. Reaching the terminal &#x60;company&#x60; stage also records the incorporation on the canonical cap table, and that must succeed before the transition is persisted.
     * @param cloudAdvanceIn 
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyAdvance(cloudAdvanceIn: CloudAdvanceIn) : CloudFormationView {
        val localVarResponse = cloudPostV1CompanyAdvanceWithHttpInfo(cloudAdvanceIn = cloudAdvanceIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/advance
     * Advance runs the ONE guarded transition of the formation machine.
     * Advance runs the ONE guarded transition of the formation machine. It is the only door between stages: the actions populate data, this decides ordering.  An edge the machine does not define answers 409; an edge whose guard is not yet satisfied answers 422 naming what is missing. Reaching the terminal &#x60;company&#x60; stage also records the incorporation on the canonical cap table, and that must succeed before the transition is persisted.
     * @param cloudAdvanceIn 
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyAdvanceWithHttpInfo(cloudAdvanceIn: CloudAdvanceIn) : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanyAdvanceRequestConfig(cloudAdvanceIn = cloudAdvanceIn)

        return request<CloudAdvanceIn, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyAdvance
     *
     * @param cloudAdvanceIn 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyAdvanceRequestConfig(cloudAdvanceIn: CloudAdvanceIn) : RequestConfig<CloudAdvanceIn> {
        val localVariableBody = cloudAdvanceIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/advance",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/documents
     * GenerateDocuments renders the formation documents for the chosen structure and jurisdiction, ingests each into the org&#39;s data room, and submits the state filing through the filing seam.
     * GenerateDocuments renders the formation documents for the chosen structure and jurisdiction, ingests each into the org&#39;s data room, and submits the state filing through the filing seam.  With no filing partner wired the filing is recorded honestly as \&quot;manual\&quot; — no filing id is fabricated. Available only at the documents stage.
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyDocuments() : CloudFormationView {
        val localVarResponse = cloudPostV1CompanyDocumentsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/documents
     * GenerateDocuments renders the formation documents for the chosen structure and jurisdiction, ingests each into the org&#39;s data room, and submits the state filing through the filing seam.
     * GenerateDocuments renders the formation documents for the chosen structure and jurisdiction, ingests each into the org&#39;s data room, and submits the state filing through the filing seam.  With no filing partner wired the filing is recorded honestly as \&quot;manual\&quot; — no filing id is fabricated. Available only at the documents stage.
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyDocumentsWithHttpInfo() : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanyDocumentsRequestConfig()

        return request<Unit, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyDocuments
     *
     * @return RequestConfig
     */
    fun cloudPostV1CompanyDocumentsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/documents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/esign
     * RequestEsign sends the generated formation documents for signature by every founder and records the provider&#39;s reference on the formation.
     * RequestEsign sends the generated formation documents for signature by every founder and records the provider&#39;s reference on the formation. Available only at the esign stage.
     * @return CloudEsignOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyEsign() : CloudEsignOut {
        val localVarResponse = cloudPostV1CompanyEsignWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudEsignOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/esign
     * RequestEsign sends the generated formation documents for signature by every founder and records the provider&#39;s reference on the formation.
     * RequestEsign sends the generated formation documents for signature by every founder and records the provider&#39;s reference on the formation. Available only at the esign stage.
     * @return ApiResponse<CloudEsignOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyEsignWithHttpInfo() : ApiResponse<CloudEsignOut?> {
        val localVariableConfig = cloudPostV1CompanyEsignRequestConfig()

        return request<Unit, CloudEsignOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyEsign
     *
     * @return RequestConfig
     */
    fun cloudPostV1CompanyEsignRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/esign",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/esign/complete
     * CompleteEsign records whether the formation documents have been signed.
     * CompleteEsign records whether the formation documents have been signed. It consults the e-signature provider, which a real provider&#39;s webhook drives; the signal is idempotent.  An explicit &#x60;signed&#x60; in the request overrides the provider&#39;s answer, which is the manual path for the stub provider that never self-completes.
     * @param cloudEsignCompleteIn 
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyEsignComplete(cloudEsignCompleteIn: CloudEsignCompleteIn) : CloudFormationView {
        val localVarResponse = cloudPostV1CompanyEsignCompleteWithHttpInfo(cloudEsignCompleteIn = cloudEsignCompleteIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/esign/complete
     * CompleteEsign records whether the formation documents have been signed.
     * CompleteEsign records whether the formation documents have been signed. It consults the e-signature provider, which a real provider&#39;s webhook drives; the signal is idempotent.  An explicit &#x60;signed&#x60; in the request overrides the provider&#39;s answer, which is the manual path for the stub provider that never self-completes.
     * @param cloudEsignCompleteIn 
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyEsignCompleteWithHttpInfo(cloudEsignCompleteIn: CloudEsignCompleteIn) : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanyEsignCompleteRequestConfig(cloudEsignCompleteIn = cloudEsignCompleteIn)

        return request<CloudEsignCompleteIn, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyEsignComplete
     *
     * @param cloudEsignCompleteIn 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyEsignCompleteRequestConfig(cloudEsignCompleteIn: CloudEsignCompleteIn) : RequestConfig<CloudEsignCompleteIn> {
        val localVariableBody = cloudEsignCompleteIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/esign/complete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/founders
     * SetFounders replaces the formation&#39;s founders.
     * SetFounders replaces the formation&#39;s founders. Each founder needs a name, an email and an equity share in basis points; every founder is (re)set to pending KYC, so a previously settled decision does not survive a change of the list.
     * @param cloudFoundersIn 
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyFounders(cloudFoundersIn: CloudFoundersIn) : CloudFormationView {
        val localVarResponse = cloudPostV1CompanyFoundersWithHttpInfo(cloudFoundersIn = cloudFoundersIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/founders
     * SetFounders replaces the formation&#39;s founders.
     * SetFounders replaces the formation&#39;s founders. Each founder needs a name, an email and an equity share in basis points; every founder is (re)set to pending KYC, so a previously settled decision does not survive a change of the list.
     * @param cloudFoundersIn 
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyFoundersWithHttpInfo(cloudFoundersIn: CloudFoundersIn) : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanyFoundersRequestConfig(cloudFoundersIn = cloudFoundersIn)

        return request<CloudFoundersIn, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyFounders
     *
     * @param cloudFoundersIn 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyFoundersRequestConfig(cloudFoundersIn: CloudFoundersIn) : RequestConfig<CloudFoundersIn> {
        val localVariableBody = cloudFoundersIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/founders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/fundraise/deck
     * 
     * 
     * @param body  (optional)
     * @return CloudDeckOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyFundraiseDeck(body: java.io.File? = null) : CloudDeckOut {
        val localVarResponse = cloudPostV1CompanyFundraiseDeckWithHttpInfo(body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudDeckOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/fundraise/deck
     * 
     * 
     * @param body  (optional)
     * @return ApiResponse<CloudDeckOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyFundraiseDeckWithHttpInfo(body: java.io.File?) : ApiResponse<CloudDeckOut?> {
        val localVariableConfig = cloudPostV1CompanyFundraiseDeckRequestConfig(body = body)

        return request<java.io.File, CloudDeckOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyFundraiseDeck
     *
     * @param body  (optional)
     * @return RequestConfig
     */
    fun cloudPostV1CompanyFundraiseDeckRequestConfig(body: java.io.File?) : RequestConfig<java.io.File> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/octet-stream"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/fundraise/deck",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/fundraise/round
     * RecordRound records a fundraising round on the org&#39;s canonical cap table.
     * RecordRound records a fundraising round on the org&#39;s canonical cap table. Available only after incorporation (stage company); roundType defaults to PRICED.
     * @param cloudRoundInput 
     * @return CloudRoundOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyFundraiseRound(cloudRoundInput: CloudRoundInput) : CloudRoundOut {
        val localVarResponse = cloudPostV1CompanyFundraiseRoundWithHttpInfo(cloudRoundInput = cloudRoundInput)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudRoundOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/fundraise/round
     * RecordRound records a fundraising round on the org&#39;s canonical cap table.
     * RecordRound records a fundraising round on the org&#39;s canonical cap table. Available only after incorporation (stage company); roundType defaults to PRICED.
     * @param cloudRoundInput 
     * @return ApiResponse<CloudRoundOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyFundraiseRoundWithHttpInfo(cloudRoundInput: CloudRoundInput) : ApiResponse<CloudRoundOut?> {
        val localVariableConfig = cloudPostV1CompanyFundraiseRoundRequestConfig(cloudRoundInput = cloudRoundInput)

        return request<CloudRoundInput, CloudRoundOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyFundraiseRound
     *
     * @param cloudRoundInput 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyFundraiseRoundRequestConfig(cloudRoundInput: CloudRoundInput) : RequestConfig<CloudRoundInput> {
        val localVariableBody = cloudRoundInput
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/fundraise/round",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/fundraise/safe
     * RequestSafe raises an e-signature request over documents already in the org&#39;s data room — a SAFE, a convertible note, or any other fundraising paper.
     * RequestSafe raises an e-signature request over documents already in the org&#39;s data room — a SAFE, a convertible note, or any other fundraising paper. Available only after incorporation (stage company).
     * @param cloudSafeIn 
     * @return CloudSafeOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyFundraiseSafe(cloudSafeIn: CloudSafeIn) : CloudSafeOut {
        val localVarResponse = cloudPostV1CompanyFundraiseSafeWithHttpInfo(cloudSafeIn = cloudSafeIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSafeOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/fundraise/safe
     * RequestSafe raises an e-signature request over documents already in the org&#39;s data room — a SAFE, a convertible note, or any other fundraising paper.
     * RequestSafe raises an e-signature request over documents already in the org&#39;s data room — a SAFE, a convertible note, or any other fundraising paper. Available only after incorporation (stage company).
     * @param cloudSafeIn 
     * @return ApiResponse<CloudSafeOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyFundraiseSafeWithHttpInfo(cloudSafeIn: CloudSafeIn) : ApiResponse<CloudSafeOut?> {
        val localVariableConfig = cloudPostV1CompanyFundraiseSafeRequestConfig(cloudSafeIn = cloudSafeIn)

        return request<CloudSafeIn, CloudSafeOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyFundraiseSafe
     *
     * @param cloudSafeIn 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyFundraiseSafeRequestConfig(cloudSafeIn: CloudSafeIn) : RequestConfig<CloudSafeIn> {
        val localVariableBody = cloudSafeIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/fundraise/safe",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/genesis
     * RecordGenesis seeds the canonical cap table with the founding allocation (stakeholders, a common share class, issued shares) and anchors the deterministic equity-genesis root on-chain.
     * RecordGenesis seeds the canonical cap table with the founding allocation (stakeholders, a common share class, issued shares) and anchors the deterministic equity-genesis root on-chain.  It is idempotent: once a root is recorded the cap table is NOT re-seeded, which would double-issue founder share certificates. The root is persisted even when the on-chain submit fails, because the root is the tamper-evident witness and must not be recomputed on retry. Available only at the genesis stage.
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyGenesis() : CloudFormationView {
        val localVarResponse = cloudPostV1CompanyGenesisWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/genesis
     * RecordGenesis seeds the canonical cap table with the founding allocation (stakeholders, a common share class, issued shares) and anchors the deterministic equity-genesis root on-chain.
     * RecordGenesis seeds the canonical cap table with the founding allocation (stakeholders, a common share class, issued shares) and anchors the deterministic equity-genesis root on-chain.  It is idempotent: once a root is recorded the cap table is NOT re-seeded, which would double-issue founder share certificates. The root is persisted even when the on-chain submit fails, because the root is the tamper-evident witness and must not be recomputed on retry. Available only at the genesis stage.
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyGenesisWithHttpInfo() : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanyGenesisRequestConfig()

        return request<Unit, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyGenesis
     *
     * @return RequestConfig
     */
    fun cloudPostV1CompanyGenesisRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/genesis",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/import/captable
     * ImportCapTable reads an existing company&#39;s cap table from a Google Sheet and adds its stakeholders to the canonical cap table.
     * ImportCapTable reads an existing company&#39;s cap table from a Google Sheet and adds its stakeholders to the canonical cap table.  The first row is a header and columns are matched by name (case-insensitive): name and email are required, type/relationship/institution optional. A sheet without name and email columns, or with no usable data rows, is refused with 400. Available only at the import stage.
     * @param cloudImportCapTableIn 
     * @return CloudImportCapTableOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyImportCaptable(cloudImportCapTableIn: CloudImportCapTableIn) : CloudImportCapTableOut {
        val localVarResponse = cloudPostV1CompanyImportCaptableWithHttpInfo(cloudImportCapTableIn = cloudImportCapTableIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudImportCapTableOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/import/captable
     * ImportCapTable reads an existing company&#39;s cap table from a Google Sheet and adds its stakeholders to the canonical cap table.
     * ImportCapTable reads an existing company&#39;s cap table from a Google Sheet and adds its stakeholders to the canonical cap table.  The first row is a header and columns are matched by name (case-insensitive): name and email are required, type/relationship/institution optional. A sheet without name and email columns, or with no usable data rows, is refused with 400. Available only at the import stage.
     * @param cloudImportCapTableIn 
     * @return ApiResponse<CloudImportCapTableOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyImportCaptableWithHttpInfo(cloudImportCapTableIn: CloudImportCapTableIn) : ApiResponse<CloudImportCapTableOut?> {
        val localVariableConfig = cloudPostV1CompanyImportCaptableRequestConfig(cloudImportCapTableIn = cloudImportCapTableIn)

        return request<CloudImportCapTableIn, CloudImportCapTableOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyImportCaptable
     *
     * @param cloudImportCapTableIn 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyImportCaptableRequestConfig(cloudImportCapTableIn: CloudImportCapTableIn) : RequestConfig<CloudImportCapTableIn> {
        val localVariableBody = cloudImportCapTableIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/import/captable",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/import/documents
     * ImportDocuments ingests an existing company&#39;s corporate documents from a Google Drive folder into the org&#39;s data room.
     * ImportDocuments ingests an existing company&#39;s corporate documents from a Google Drive folder into the org&#39;s data room. The import is shallow — sub-folders are skipped, not walked — and available only at the import stage.
     * @param cloudImportDocumentsIn 
     * @return CloudImportDocumentsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyImportDocuments(cloudImportDocumentsIn: CloudImportDocumentsIn) : CloudImportDocumentsOut {
        val localVarResponse = cloudPostV1CompanyImportDocumentsWithHttpInfo(cloudImportDocumentsIn = cloudImportDocumentsIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudImportDocumentsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/import/documents
     * ImportDocuments ingests an existing company&#39;s corporate documents from a Google Drive folder into the org&#39;s data room.
     * ImportDocuments ingests an existing company&#39;s corporate documents from a Google Drive folder into the org&#39;s data room. The import is shallow — sub-folders are skipped, not walked — and available only at the import stage.
     * @param cloudImportDocumentsIn 
     * @return ApiResponse<CloudImportDocumentsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyImportDocumentsWithHttpInfo(cloudImportDocumentsIn: CloudImportDocumentsIn) : ApiResponse<CloudImportDocumentsOut?> {
        val localVariableConfig = cloudPostV1CompanyImportDocumentsRequestConfig(cloudImportDocumentsIn = cloudImportDocumentsIn)

        return request<CloudImportDocumentsIn, CloudImportDocumentsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyImportDocuments
     *
     * @param cloudImportDocumentsIn 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyImportDocumentsRequestConfig(cloudImportDocumentsIn: CloudImportDocumentsIn) : RequestConfig<CloudImportDocumentsIn> {
        val localVariableBody = cloudImportDocumentsIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/import/documents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/kyc
     * StartKYC opens an identity-verification session for every founder with the wired provider and records each session&#39;s reference on the formation.
     * StartKYC opens an identity-verification session for every founder with the wired provider and records each session&#39;s reference on the formation.  A start is never a decision: any terminal status the provider reports at inquiry time is clamped back to pending, so the payment gate can never open here. A terminal status arrives only from POST /v1/company/kyc/refresh (the provider) or POST /v1/company/kyc/decision (a Hanzo platform reviewer).
     * @return CloudKycStartOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyKyc() : CloudKycStartOut {
        val localVarResponse = cloudPostV1CompanyKycWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudKycStartOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/kyc
     * StartKYC opens an identity-verification session for every founder with the wired provider and records each session&#39;s reference on the formation.
     * StartKYC opens an identity-verification session for every founder with the wired provider and records each session&#39;s reference on the formation.  A start is never a decision: any terminal status the provider reports at inquiry time is clamped back to pending, so the payment gate can never open here. A terminal status arrives only from POST /v1/company/kyc/refresh (the provider) or POST /v1/company/kyc/decision (a Hanzo platform reviewer).
     * @return ApiResponse<CloudKycStartOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyKycWithHttpInfo() : ApiResponse<CloudKycStartOut?> {
        val localVariableConfig = cloudPostV1CompanyKycRequestConfig()

        return request<Unit, CloudKycStartOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyKyc
     *
     * @return RequestConfig
     */
    fun cloudPostV1CompanyKycRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/kyc",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/kyc/decision
     * DecideKYC records a privileged reviewer&#39;s MANUAL decision on a founder&#39;s KYC — the human-in-the-loop path, and the ONLY route to a pass when no real provider is wired.
     * DecideKYC records a privileged reviewer&#39;s MANUAL decision on a founder&#39;s KYC — the human-in-the-loop path, and the ONLY route to a pass when no real provider is wired. It produces a DISTINCT reviewer_confirmed, never a provider \&quot;verified\&quot;.  Because Hanzo forms the entity and carries the formation KYC/AML obligation, the reviewer is a HANZO platform reviewer (SuperAdmin), and the decision is ATTRIBUTED to them.
     * @param cloudDecisionIn 
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyKycDecision(cloudDecisionIn: CloudDecisionIn) : CloudFormationView {
        val localVarResponse = cloudPostV1CompanyKycDecisionWithHttpInfo(cloudDecisionIn = cloudDecisionIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/kyc/decision
     * DecideKYC records a privileged reviewer&#39;s MANUAL decision on a founder&#39;s KYC — the human-in-the-loop path, and the ONLY route to a pass when no real provider is wired.
     * DecideKYC records a privileged reviewer&#39;s MANUAL decision on a founder&#39;s KYC — the human-in-the-loop path, and the ONLY route to a pass when no real provider is wired. It produces a DISTINCT reviewer_confirmed, never a provider \&quot;verified\&quot;.  Because Hanzo forms the entity and carries the formation KYC/AML obligation, the reviewer is a HANZO platform reviewer (SuperAdmin), and the decision is ATTRIBUTED to them.
     * @param cloudDecisionIn 
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyKycDecisionWithHttpInfo(cloudDecisionIn: CloudDecisionIn) : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanyKycDecisionRequestConfig(cloudDecisionIn = cloudDecisionIn)

        return request<CloudDecisionIn, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyKycDecision
     *
     * @param cloudDecisionIn 
     * @return RequestConfig
     */
    fun cloudPostV1CompanyKycDecisionRequestConfig(cloudDecisionIn: CloudDecisionIn) : RequestConfig<CloudDecisionIn> {
        val localVariableBody = cloudDecisionIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/kyc/decision",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/kyc/refresh
     * RefreshKYC reconciles each pending founder&#39;s KYC with the WIRED provider — the PULL path to a provider-reported terminal status.
     * RefreshKYC reconciles each pending founder&#39;s KYC with the WIRED provider — the PULL path to a provider-reported terminal status. For the manual provider the check stays pending; for a real provider it reflects the settled decision, ATTRIBUTED to the provider.  It NEVER trusts a client-asserted status — the status comes from the provider seam — so a client cannot force a pass here, and an already-passing founder (e.g. a reviewer confirmation) is left untouched.
     * @return CloudKycRefreshOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyKycRefresh() : CloudKycRefreshOut {
        val localVarResponse = cloudPostV1CompanyKycRefreshWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudKycRefreshOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/kyc/refresh
     * RefreshKYC reconciles each pending founder&#39;s KYC with the WIRED provider — the PULL path to a provider-reported terminal status.
     * RefreshKYC reconciles each pending founder&#39;s KYC with the WIRED provider — the PULL path to a provider-reported terminal status. For the manual provider the check stays pending; for a real provider it reflects the settled decision, ATTRIBUTED to the provider.  It NEVER trusts a client-asserted status — the status comes from the provider seam — so a client cannot force a pass here, and an already-passing founder (e.g. a reviewer confirmation) is left untouched.
     * @return ApiResponse<CloudKycRefreshOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyKycRefreshWithHttpInfo() : ApiResponse<CloudKycRefreshOut?> {
        val localVariableConfig = cloudPostV1CompanyKycRefreshRequestConfig()

        return request<Unit, CloudKycRefreshOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyKycRefresh
     *
     * @return RequestConfig
     */
    fun cloudPostV1CompanyKycRefreshRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/kyc/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/payment
     * 
     * 
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanyPayment() : CloudFormationView {
        val localVarResponse = cloudPostV1CompanyPaymentWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/payment
     * 
     * 
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanyPaymentWithHttpInfo() : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanyPaymentRequestConfig()

        return request<Unit, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanyPayment
     *
     * @return RequestConfig
     */
    fun cloudPostV1CompanyPaymentRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/payment",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/company/skip
     * Skip marks the org as already incorporated and moves it onto the import path, so an existing company brings its documents and cap table in instead of forming a new entity.
     * Skip marks the org as already incorporated and moves it onto the import path, so an existing company brings its documents and cap table in instead of forming a new entity. Available only at the structure stage.
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1CompanySkip() : CloudFormationView {
        val localVarResponse = cloudPostV1CompanySkipWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/company/skip
     * Skip marks the org as already incorporated and moves it onto the import path, so an existing company brings its documents and cap table in instead of forming a new entity.
     * Skip marks the org as already incorporated and moves it onto the import path, so an existing company brings its documents and cap table in instead of forming a new entity. Available only at the structure stage.
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1CompanySkipWithHttpInfo() : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPostV1CompanySkipRequestConfig()

        return request<Unit, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1CompanySkip
     *
     * @return RequestConfig
     */
    fun cloudPostV1CompanySkipRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/company/skip",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/company/structure
     * SetStructure records the entity kind, the state of formation and the proposed name.
     * SetStructure records the entity kind, the state of formation and the proposed name. Available only at the structure stage; an unknown structure or jurisdiction, or an empty name, is refused with 400.
     * @param cloudStructureIn 
     * @return CloudFormationView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPutV1CompanyStructure(cloudStructureIn: CloudStructureIn) : CloudFormationView {
        val localVarResponse = cloudPutV1CompanyStructureWithHttpInfo(cloudStructureIn = cloudStructureIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFormationView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/company/structure
     * SetStructure records the entity kind, the state of formation and the proposed name.
     * SetStructure records the entity kind, the state of formation and the proposed name. Available only at the structure stage; an unknown structure or jurisdiction, or an empty name, is refused with 400.
     * @param cloudStructureIn 
     * @return ApiResponse<CloudFormationView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPutV1CompanyStructureWithHttpInfo(cloudStructureIn: CloudStructureIn) : ApiResponse<CloudFormationView?> {
        val localVariableConfig = cloudPutV1CompanyStructureRequestConfig(cloudStructureIn = cloudStructureIn)

        return request<CloudStructureIn, CloudFormationView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPutV1CompanyStructure
     *
     * @param cloudStructureIn 
     * @return RequestConfig
     */
    fun cloudPutV1CompanyStructureRequestConfig(cloudStructureIn: CloudStructureIn) : RequestConfig<CloudStructureIn> {
        val localVariableBody = cloudStructureIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/company/structure",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
