/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.RiskDataset
import ai.hanzo.cloud.model.RiskDatasetDisposal
import ai.hanzo.cloud.model.RiskDatasetList
import ai.hanzo.cloud.model.RiskDatasetRows
import ai.hanzo.cloud.model.RiskDatasetSpec
import ai.hanzo.cloud.model.RiskDatasetVersions
import ai.hanzo.cloud.model.RiskLineage

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class DatasetApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/dataset
     * Declare the next version of a dataset
     * Declares the next version of a dataset from a bound query over this org&#39;s own feature surface.  It mints a VERSION and writes no rows: a version is declared, then materialised once, then never rewritten. Version numbers are monotone and never reused, so \&quot;version 3 of signups\&quot; means one thing forever — which is the whole reason a model can cite one.  The window is bounded by the source&#39;s retention, the horizon by a year, the rows by the plane&#39;s cap, and the number of datasets and versions per org by their own limits. Every refusal names which bound it hit.
     * @param riskDatasetSpec 
     * @return RiskDataset
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskCreateDataset(riskDatasetSpec: RiskDatasetSpec) : RiskDataset {
        val localVarResponse = riskCreateDatasetWithHttpInfo(riskDatasetSpec = riskDatasetSpec)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskDataset
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/dataset
     * Declare the next version of a dataset
     * Declares the next version of a dataset from a bound query over this org&#39;s own feature surface.  It mints a VERSION and writes no rows: a version is declared, then materialised once, then never rewritten. Version numbers are monotone and never reused, so \&quot;version 3 of signups\&quot; means one thing forever — which is the whole reason a model can cite one.  The window is bounded by the source&#39;s retention, the horizon by a year, the rows by the plane&#39;s cap, and the number of datasets and versions per org by their own limits. Every refusal names which bound it hit.
     * @param riskDatasetSpec 
     * @return ApiResponse<RiskDataset?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskCreateDatasetWithHttpInfo(riskDatasetSpec: RiskDatasetSpec) : ApiResponse<RiskDataset?> {
        val localVariableConfig = riskCreateDatasetRequestConfig(riskDatasetSpec = riskDatasetSpec)

        return request<RiskDatasetSpec, RiskDataset>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskCreateDataset
     *
     * @param riskDatasetSpec 
     * @return RequestConfig
     */
    fun riskCreateDatasetRequestConfig(riskDatasetSpec: RiskDatasetSpec) : RequestConfig<RiskDatasetSpec> {
        val localVariableBody = riskDatasetSpec
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/dataset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/dataset/{name}
     * Describe every version of one dataset
     * Dataset describes every version of one dataset, newest first — the whole history, because the point of a version is that the older ones are still there and a model fitted last quarter cites one of them.  A name this org does not own answers 404, exactly as an unknown name does, so a probe learns nothing about another tenant&#39;s datasets.
     * @param name Name is the dataset, from the path.
     * @return RiskDatasetVersions
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskDataset(name: kotlin.String) : RiskDatasetVersions {
        val localVarResponse = riskDatasetWithHttpInfo(name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskDatasetVersions
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/dataset/{name}
     * Describe every version of one dataset
     * Dataset describes every version of one dataset, newest first — the whole history, because the point of a version is that the older ones are still there and a model fitted last quarter cites one of them.  A name this org does not own answers 404, exactly as an unknown name does, so a probe learns nothing about another tenant&#39;s datasets.
     * @param name Name is the dataset, from the path.
     * @return ApiResponse<RiskDatasetVersions?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskDatasetWithHttpInfo(name: kotlin.String) : ApiResponse<RiskDatasetVersions?> {
        val localVariableConfig = riskDatasetRequestConfig(name = name)

        return request<Unit, RiskDatasetVersions>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskDataset
     *
     * @param name Name is the dataset, from the path.
     * @return RequestConfig
     */
    fun riskDatasetRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/dataset/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/dataset/{name}/lineage
     * Show where a version&#39;s rows came from, and whether that can still be demonstrated
     * Shows where a version&#39;s rows came from and whether that can still be demonstrated.  The answer is MEASURED, not recalled: the plane asks the source the same bounded question again and compares it to the fingerprint taken when the version was built. Anything but exact agreement is reported as drift — the source is fed by a rollup that runs behind the events, so \&quot;it holds more now\&quot; is the ordinary case and it means re-running the spec would not reproduce this version. An admitted gap is actionable; an unfalsifiable claim is not.  IT IS A PRICED, BOUNDED READ, because it is the same statement a materialisation is charged for: an exact distinct-count over up to 400 days of this org&#39;s feature surface. It takes the org&#39;s ONE source-scan slot, so a tenant looping it spends one scan and not a thousand; it counts against the plane&#39;s ceiling, so the fleet&#39;s warehouse is bounded too; and it runs under this plane&#39;s own deadline rather than the caller&#39;s patience.
     * @param name Name is the dataset, from the path.
     * @param version Version is the version to trace. Zero takes the newest published one. (optional)
     * @return RiskLineage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskDatasetLineage(name: kotlin.String, version: kotlin.Int? = null) : RiskLineage {
        val localVarResponse = riskDatasetLineageWithHttpInfo(name = name, version = version)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskLineage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/dataset/{name}/lineage
     * Show where a version&#39;s rows came from, and whether that can still be demonstrated
     * Shows where a version&#39;s rows came from and whether that can still be demonstrated.  The answer is MEASURED, not recalled: the plane asks the source the same bounded question again and compares it to the fingerprint taken when the version was built. Anything but exact agreement is reported as drift — the source is fed by a rollup that runs behind the events, so \&quot;it holds more now\&quot; is the ordinary case and it means re-running the spec would not reproduce this version. An admitted gap is actionable; an unfalsifiable claim is not.  IT IS A PRICED, BOUNDED READ, because it is the same statement a materialisation is charged for: an exact distinct-count over up to 400 days of this org&#39;s feature surface. It takes the org&#39;s ONE source-scan slot, so a tenant looping it spends one scan and not a thousand; it counts against the plane&#39;s ceiling, so the fleet&#39;s warehouse is bounded too; and it runs under this plane&#39;s own deadline rather than the caller&#39;s patience.
     * @param name Name is the dataset, from the path.
     * @param version Version is the version to trace. Zero takes the newest published one. (optional)
     * @return ApiResponse<RiskLineage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskDatasetLineageWithHttpInfo(name: kotlin.String, version: kotlin.Int?) : ApiResponse<RiskLineage?> {
        val localVariableConfig = riskDatasetLineageRequestConfig(name = name, version = version)

        return request<Unit, RiskLineage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskDatasetLineage
     *
     * @param name Name is the dataset, from the path.
     * @param version Version is the version to trace. Zero takes the newest published one. (optional)
     * @return RequestConfig
     */
    fun riskDatasetLineageRequestConfig(name: kotlin.String, version: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (version != null) {
                    put("version", listOf(version.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/dataset/{name}/lineage".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/dataset
     * List this org&#39;s datasets
     * Datasets lists this org&#39;s datasets, each with its newest version. An org that has declared none gets an empty list; a store that cannot be reached gets a refusal, never an empty list, because the two read identically and only one of them is true.
     * @return RiskDatasetList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskDatasets() : RiskDatasetList {
        val localVarResponse = riskDatasetsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskDatasetList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/dataset
     * List this org&#39;s datasets
     * Datasets lists this org&#39;s datasets, each with its newest version. An org that has declared none gets an empty list; a store that cannot be reached gets a refusal, never an empty list, because the two read identically and only one of them is true.
     * @return ApiResponse<RiskDatasetList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskDatasetsWithHttpInfo() : ApiResponse<RiskDatasetList?> {
        val localVariableConfig = riskDatasetsRequestConfig()

        return request<Unit, RiskDatasetList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskDatasets
     *
     * @return RequestConfig
     */
    fun riskDatasetsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/dataset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/dataset/{name}
     * Dispose of one dataset and every version of it
     * Disposes of one dataset and every version of it: the rows are dropped and the register is marked with what went.  This is the ONLY expiry in this plane. Neither table carries a TTL, deliberately: a table TTL is a fleet-wide clock no tenant can hold longer or shorten, which is the opposite of a retention decision belonging to the tenant whose records they are. The drop is a partition drop on (org, dataset), so the tenant is the first component of the thing being dropped and a disposal cannot be spelled across one.  The BYTES are what goes. The register keeps one &#x60;disposed&#x60; row per version — the name, the number, the spec, the digest and who disposed of it when — for two reasons: a retention obligation is answered by a record of the deletion, not by silence; and version numbers must stay monotone, so that after &#x60;orders&#x60; is disposed of and declared again the next version is 4 and not 1. A number that could be reused would make every citation of &#x60;orders v3&#x60; ambiguous forever.  It is not reversible and there is no soft state in between. A version a model cited has no rows once this returns, and every read of it says so.
     * @param name Name is the dataset, from the path.
     * @return RiskDatasetDisposal
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskDeleteDataset(name: kotlin.String) : RiskDatasetDisposal {
        val localVarResponse = riskDeleteDatasetWithHttpInfo(name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskDatasetDisposal
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/dataset/{name}
     * Dispose of one dataset and every version of it
     * Disposes of one dataset and every version of it: the rows are dropped and the register is marked with what went.  This is the ONLY expiry in this plane. Neither table carries a TTL, deliberately: a table TTL is a fleet-wide clock no tenant can hold longer or shorten, which is the opposite of a retention decision belonging to the tenant whose records they are. The drop is a partition drop on (org, dataset), so the tenant is the first component of the thing being dropped and a disposal cannot be spelled across one.  The BYTES are what goes. The register keeps one &#x60;disposed&#x60; row per version — the name, the number, the spec, the digest and who disposed of it when — for two reasons: a retention obligation is answered by a record of the deletion, not by silence; and version numbers must stay monotone, so that after &#x60;orders&#x60; is disposed of and declared again the next version is 4 and not 1. A number that could be reused would make every citation of &#x60;orders v3&#x60; ambiguous forever.  It is not reversible and there is no soft state in between. A version a model cited has no rows once this returns, and every read of it says so.
     * @param name Name is the dataset, from the path.
     * @return ApiResponse<RiskDatasetDisposal?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskDeleteDatasetWithHttpInfo(name: kotlin.String) : ApiResponse<RiskDatasetDisposal?> {
        val localVariableConfig = riskDeleteDatasetRequestConfig(name = name)

        return request<Unit, RiskDatasetDisposal>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskDeleteDataset
     *
     * @param name Name is the dataset, from the path.
     * @return RequestConfig
     */
    fun riskDeleteDatasetRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/dataset/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/dataset/{name}/export
     * Read a version&#39;s rows back, one page at a time
     * Reads a published version&#39;s rows back, one bounded page at a time, in the version&#39;s own stable row order.  Only a published version can be exported. Rows written by an attempt that never completed are inert — no register row names them — and they are disposed of with the dataset.
     * @param name Name is the dataset, from the path.
     * @param version Version is the version to read. Zero takes the newest published one. (optional)
     * @param split Split narrows to train, val or test. Empty reads every split. (optional)
     * @param offset Offset is where the page starts, in the version&#39;s own row order (by id, which is derived from the row and therefore stable forever). (optional)
     * @param limit Limit is how many rows to return. Zero and anything above the plane&#39;s bound take the bound. (optional)
     * @return RiskDatasetRows
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskExportDataset(name: kotlin.String, version: kotlin.Int? = null, split: kotlin.String? = null, offset: kotlin.Int? = null, limit: kotlin.Int? = null) : RiskDatasetRows {
        val localVarResponse = riskExportDatasetWithHttpInfo(name = name, version = version, split = split, offset = offset, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskDatasetRows
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/dataset/{name}/export
     * Read a version&#39;s rows back, one page at a time
     * Reads a published version&#39;s rows back, one bounded page at a time, in the version&#39;s own stable row order.  Only a published version can be exported. Rows written by an attempt that never completed are inert — no register row names them — and they are disposed of with the dataset.
     * @param name Name is the dataset, from the path.
     * @param version Version is the version to read. Zero takes the newest published one. (optional)
     * @param split Split narrows to train, val or test. Empty reads every split. (optional)
     * @param offset Offset is where the page starts, in the version&#39;s own row order (by id, which is derived from the row and therefore stable forever). (optional)
     * @param limit Limit is how many rows to return. Zero and anything above the plane&#39;s bound take the bound. (optional)
     * @return ApiResponse<RiskDatasetRows?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskExportDatasetWithHttpInfo(name: kotlin.String, version: kotlin.Int?, split: kotlin.String?, offset: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<RiskDatasetRows?> {
        val localVariableConfig = riskExportDatasetRequestConfig(name = name, version = version, split = split, offset = offset, limit = limit)

        return request<Unit, RiskDatasetRows>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskExportDataset
     *
     * @param name Name is the dataset, from the path.
     * @param version Version is the version to read. Zero takes the newest published one. (optional)
     * @param split Split narrows to train, val or test. Empty reads every split. (optional)
     * @param offset Offset is where the page starts, in the version&#39;s own row order (by id, which is derived from the row and therefore stable forever). (optional)
     * @param limit Limit is how many rows to return. Zero and anything above the plane&#39;s bound take the bound. (optional)
     * @return RequestConfig
     */
    fun riskExportDatasetRequestConfig(name: kotlin.String, version: kotlin.Int?, split: kotlin.String?, offset: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (version != null) {
                    put("version", listOf(version.toString()))
                }
                if (split != null) {
                    put("split", listOf(split.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/dataset/{name}/export".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/dataset/{name}/materialize
     * Materialise the declared version into immutable rows
     * Builds the declared version into immutable rows and answers 202 as soon as the attempt is on record.  It never holds the request open for the work: a materialisation is a bounded warehouse scan, and letting an HTTP client&#39;s timeout be a data plane&#39;s timeout is how one tenant&#39;s retry loop becomes everyone&#39;s outage. ONE materialisation runs per org at a time; a second is refused rather than queued, because a queue admits the same work later and the honest answer to \&quot;again\&quot; while one is running is that one is running.  Only a DECLARED version is admitted. A published version is immutable, and a version whose earlier attempt did not complete is never re-attempted — that would union two runs&#39; rows under one number and make the digest a lie. In both cases the answer is to declare a new version, which is what a second run over a moving source honestly is.
     * @param name Name is the dataset, from the path.
     * @return RiskDataset
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskMaterializeDataset(name: kotlin.String) : RiskDataset {
        val localVarResponse = riskMaterializeDatasetWithHttpInfo(name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskDataset
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/dataset/{name}/materialize
     * Materialise the declared version into immutable rows
     * Builds the declared version into immutable rows and answers 202 as soon as the attempt is on record.  It never holds the request open for the work: a materialisation is a bounded warehouse scan, and letting an HTTP client&#39;s timeout be a data plane&#39;s timeout is how one tenant&#39;s retry loop becomes everyone&#39;s outage. ONE materialisation runs per org at a time; a second is refused rather than queued, because a queue admits the same work later and the honest answer to \&quot;again\&quot; while one is running is that one is running.  Only a DECLARED version is admitted. A published version is immutable, and a version whose earlier attempt did not complete is never re-attempted — that would union two runs&#39; rows under one number and make the digest a lie. In both cases the answer is to declare a new version, which is what a second run over a moving source honestly is.
     * @param name Name is the dataset, from the path.
     * @return ApiResponse<RiskDataset?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskMaterializeDatasetWithHttpInfo(name: kotlin.String) : ApiResponse<RiskDataset?> {
        val localVariableConfig = riskMaterializeDatasetRequestConfig(name = name)

        return request<Unit, RiskDataset>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskMaterializeDataset
     *
     * @param name Name is the dataset, from the path.
     * @return RequestConfig
     */
    fun riskMaterializeDatasetRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/dataset/{name}/materialize".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
