/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.EntitlementsView
import ai.hanzo.cloud.model.MutateReq
import ai.hanzo.cloud.model.ProjectionView

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class EntitlementApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/entitlement
     * Projection reports which console apps the CALLER&#39;s org may open, and the plan slug that decides it.
     * Projection reports which console apps the CALLER&#39;s org may open, and the plan slug that decides it. It is the READ side of the unified paywall: the org&#39;s plan tier resolved from commerce, which is a different authority from the enablement store behind GET /v1/entitlement/orgs/{org} (that one is the org&#39;s own on/off intent).  It fails SAFE-TO-LOCKED, never 500: an unvalidated principal is a 403, but a commerce outage reports every app locked at 200 rather than breaking the shell. The ENFORCEMENT path still fails open, so functionality survives the same outage even while the UI conservatively shows locked.
     * @return ProjectionView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getEntitlement() : ProjectionView {
        val localVarResponse = getEntitlementWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectionView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/entitlement
     * Projection reports which console apps the CALLER&#39;s org may open, and the plan slug that decides it.
     * Projection reports which console apps the CALLER&#39;s org may open, and the plan slug that decides it. It is the READ side of the unified paywall: the org&#39;s plan tier resolved from commerce, which is a different authority from the enablement store behind GET /v1/entitlement/orgs/{org} (that one is the org&#39;s own on/off intent).  It fails SAFE-TO-LOCKED, never 500: an unvalidated principal is a 403, but a commerce outage reports every app locked at 200 rather than breaking the shell. The ENFORCEMENT path still fails open, so functionality survives the same outage even while the UI conservatively shows locked.
     * @return ApiResponse<ProjectionView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getEntitlementWithHttpInfo() : ApiResponse<ProjectionView?> {
        val localVariableConfig = getEntitlementRequestConfig()

        return request<Unit, ProjectionView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getEntitlement
     *
     * @return RequestConfig
     */
    fun getEntitlementRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/entitlement",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/entitlement/orgs/{org}
     * Get lists the products an org has ENABLED — its own intent, which the console&#39;s paid-product sidebar reads to decide what to show.
     * Get lists the products an org has ENABLED — its own intent, which the console&#39;s paid-product sidebar reads to decide what to show. It is distinct from what the org&#39;s plan ENTITLES it to (that is GET /v1/entitlement, resolved from commerce).  A caller may only read its OWN org&#39;s row; a platform super admin may read any.
     * @param org 
     * @return EntitlementsView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getEntitlementOrgsByOrg(org: kotlin.String) : EntitlementsView {
        val localVarResponse = getEntitlementOrgsByOrgWithHttpInfo(org = org)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EntitlementsView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/entitlement/orgs/{org}
     * Get lists the products an org has ENABLED — its own intent, which the console&#39;s paid-product sidebar reads to decide what to show.
     * Get lists the products an org has ENABLED — its own intent, which the console&#39;s paid-product sidebar reads to decide what to show. It is distinct from what the org&#39;s plan ENTITLES it to (that is GET /v1/entitlement, resolved from commerce).  A caller may only read its OWN org&#39;s row; a platform super admin may read any.
     * @param org 
     * @return ApiResponse<EntitlementsView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getEntitlementOrgsByOrgWithHttpInfo(org: kotlin.String) : ApiResponse<EntitlementsView?> {
        val localVariableConfig = getEntitlementOrgsByOrgRequestConfig(org = org)

        return request<Unit, EntitlementsView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getEntitlementOrgsByOrg
     *
     * @param org 
     * @return RequestConfig
     */
    fun getEntitlementOrgsByOrgRequestConfig(org: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/entitlement/orgs/{org}".replace("{"+"org"+"}", encodeURIComponent(org.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/entitlement/orgs/{org}
     * Post turns products on or off for an org and returns the enabled set afterwards.
     * Post turns products on or off for an org and returns the enabled set afterwards.  A product may only be ENABLED if the org&#39;s plan already ENTITLES it, so enabling never spends new money — a product the plan does not grant answers 402 and the console routes that to an upgrade prompt. DISABLING is never gated. A platform super admin bypasses the plan check (operator comp/grant) and may target any org; everyone else may only change their own. Commerce unreachable is a 503, never an implicit yes.
     * @param org 
     * @param mutateReq 
     * @return EntitlementsView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postEntitlementOrgsByOrg(org: kotlin.String, mutateReq: MutateReq) : EntitlementsView {
        val localVarResponse = postEntitlementOrgsByOrgWithHttpInfo(org = org, mutateReq = mutateReq)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EntitlementsView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/entitlement/orgs/{org}
     * Post turns products on or off for an org and returns the enabled set afterwards.
     * Post turns products on or off for an org and returns the enabled set afterwards.  A product may only be ENABLED if the org&#39;s plan already ENTITLES it, so enabling never spends new money — a product the plan does not grant answers 402 and the console routes that to an upgrade prompt. DISABLING is never gated. A platform super admin bypasses the plan check (operator comp/grant) and may target any org; everyone else may only change their own. Commerce unreachable is a 503, never an implicit yes.
     * @param org 
     * @param mutateReq 
     * @return ApiResponse<EntitlementsView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postEntitlementOrgsByOrgWithHttpInfo(org: kotlin.String, mutateReq: MutateReq) : ApiResponse<EntitlementsView?> {
        val localVariableConfig = postEntitlementOrgsByOrgRequestConfig(org = org, mutateReq = mutateReq)

        return request<MutateReq, EntitlementsView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postEntitlementOrgsByOrg
     *
     * @param org 
     * @param mutateReq 
     * @return RequestConfig
     */
    fun postEntitlementOrgsByOrgRequestConfig(org: kotlin.String, mutateReq: MutateReq) : RequestConfig<MutateReq> {
        val localVariableBody = mutateReq
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/entitlement/orgs/{org}".replace("{"+"org"+"}", encodeURIComponent(org.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
