/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudActivityOut
import ai.hanzo.cloud.model.CloudDefRow
import ai.hanzo.cloud.model.CloudDefsOut
import ai.hanzo.cloud.model.CloudDeletedOut
import ai.hanzo.cloud.model.CloudEvaluateIn
import ai.hanzo.cloud.model.CloudHealthOut
import ai.hanzo.cloud.model.CloudWaitlistModeView

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class FlagsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/flags/defs/{key}
     * DeleteFlagDefinition removes one flag definition by key and records the deletion in the change log.
     * DeleteFlagDefinition removes one flag definition by key and records the deletion in the change log. A key the caller&#39;s store does not hold is a 404.
     * @param key Key is the flag key to act on, from the path.
     * @return CloudDeletedOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1FlagsDefsKey(key: kotlin.String) : CloudDeletedOut {
        val localVarResponse = cloudDeleteV1FlagsDefsKeyWithHttpInfo(key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudDeletedOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/flags/defs/{key}
     * DeleteFlagDefinition removes one flag definition by key and records the deletion in the change log.
     * DeleteFlagDefinition removes one flag definition by key and records the deletion in the change log. A key the caller&#39;s store does not hold is a 404.
     * @param key Key is the flag key to act on, from the path.
     * @return ApiResponse<CloudDeletedOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1FlagsDefsKeyWithHttpInfo(key: kotlin.String) : ApiResponse<CloudDeletedOut?> {
        val localVariableConfig = cloudDeleteV1FlagsDefsKeyRequestConfig(key = key)

        return request<Unit, CloudDeletedOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1FlagsDefsKey
     *
     * @param key Key is the flag key to act on, from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1FlagsDefsKeyRequestConfig(key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/flags/defs/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flags/activity
     * ListFlagActivity returns the caller&#39;s flag change log newest-first: every create, update and delete, with the actor and the time.
     * ListFlagActivity returns the caller&#39;s flag change log newest-first: every create, update and delete, with the actor and the time.
     * @param limit Limit caps the rows returned. 1–500; anything else takes the default 100. (optional)
     * @return CloudActivityOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlagsActivity(limit: kotlin.Int? = null) : CloudActivityOut {
        val localVarResponse = cloudGetV1FlagsActivityWithHttpInfo(limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudActivityOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flags/activity
     * ListFlagActivity returns the caller&#39;s flag change log newest-first: every create, update and delete, with the actor and the time.
     * ListFlagActivity returns the caller&#39;s flag change log newest-first: every create, update and delete, with the actor and the time.
     * @param limit Limit caps the rows returned. 1–500; anything else takes the default 100. (optional)
     * @return ApiResponse<CloudActivityOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlagsActivityWithHttpInfo(limit: kotlin.Int?) : ApiResponse<CloudActivityOut?> {
        val localVariableConfig = cloudGetV1FlagsActivityRequestConfig(limit = limit)

        return request<Unit, CloudActivityOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlagsActivity
     *
     * @param limit Limit caps the rows returned. 1–500; anything else takes the default 100. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1FlagsActivityRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flags/activity",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flags/defs
     * ListFlagDefinitions returns every flag definition in the caller&#39;s (org, project) store, by key, with its version and who last changed it.
     * ListFlagDefinitions returns every flag definition in the caller&#39;s (org, project) store, by key, with its version and who last changed it.
     * @return CloudDefsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlagsDefs() : CloudDefsOut {
        val localVarResponse = cloudGetV1FlagsDefsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudDefsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flags/defs
     * ListFlagDefinitions returns every flag definition in the caller&#39;s (org, project) store, by key, with its version and who last changed it.
     * ListFlagDefinitions returns every flag definition in the caller&#39;s (org, project) store, by key, with its version and who last changed it.
     * @return ApiResponse<CloudDefsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlagsDefsWithHttpInfo() : ApiResponse<CloudDefsOut?> {
        val localVariableConfig = cloudGetV1FlagsDefsRequestConfig()

        return request<Unit, CloudDefsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlagsDefs
     *
     * @return RequestConfig
     */
    fun cloudGetV1FlagsDefsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flags/defs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flags/defs/{key}
     * GetFlagDefinition returns one flag definition by key, or 404 when the caller&#39;s store has none under that key.
     * GetFlagDefinition returns one flag definition by key, or 404 when the caller&#39;s store has none under that key.
     * @param key Key is the flag key to act on, from the path.
     * @return CloudDefRow
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlagsDefsKey(key: kotlin.String) : CloudDefRow {
        val localVarResponse = cloudGetV1FlagsDefsKeyWithHttpInfo(key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudDefRow
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flags/defs/{key}
     * GetFlagDefinition returns one flag definition by key, or 404 when the caller&#39;s store has none under that key.
     * GetFlagDefinition returns one flag definition by key, or 404 when the caller&#39;s store has none under that key.
     * @param key Key is the flag key to act on, from the path.
     * @return ApiResponse<CloudDefRow?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlagsDefsKeyWithHttpInfo(key: kotlin.String) : ApiResponse<CloudDefRow?> {
        val localVariableConfig = cloudGetV1FlagsDefsKeyRequestConfig(key = key)

        return request<Unit, CloudDefRow>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlagsDefsKey
     *
     * @param key Key is the flag key to act on, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1FlagsDefsKeyRequestConfig(key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flags/defs/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flags/health
     * Health reports that the flag engine is serving.
     * Health reports that the flag engine is serving. It is not gated: liveness must be probe-able without a token.
     * @return CloudHealthOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlagsHealth() : CloudHealthOut {
        val localVarResponse = cloudGetV1FlagsHealthWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudHealthOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flags/health
     * Health reports that the flag engine is serving.
     * Health reports that the flag engine is serving. It is not gated: liveness must be probe-able without a token.
     * @return ApiResponse<CloudHealthOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlagsHealthWithHttpInfo() : ApiResponse<CloudHealthOut?> {
        val localVariableConfig = cloudGetV1FlagsHealthRequestConfig()

        return request<Unit, CloudHealthOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlagsHealth
     *
     * @return RequestConfig
     */
    fun cloudGetV1FlagsHealthRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flags/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flags/waitlist
     * WaitlistMode reports whether ONE host is currently gated by the launch waitlist.
     * WaitlistMode reports whether ONE host is currently gated by the launch waitlist. It resolves the host to the service that governs it and reads that service&#39;s waitlist switch, so a guard sitting in front of a hosted surface can decide in one call whether to show the waitlist or the product. It answers for the ONE host asked about and never enumerates the registry, which is why it needs no credential. It FAILS OPEN: an unregistered host, an unmounted registry and a store fault all answer known&#x3D;false with mode&#x3D;false, so a request is never gated pre-boot or on a registry fault.
     * @param host Host is the host to resolve, e.g. \&quot;chat.hanzo.ai\&quot;. Defaults to the request&#39;s own Host header when omitted, which is what lets a guard running on the governed host ask about itself with no argument. (optional)
     * @return CloudWaitlistModeView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlagsWaitlist(host: kotlin.String? = null) : CloudWaitlistModeView {
        val localVarResponse = cloudGetV1FlagsWaitlistWithHttpInfo(host = host)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudWaitlistModeView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flags/waitlist
     * WaitlistMode reports whether ONE host is currently gated by the launch waitlist.
     * WaitlistMode reports whether ONE host is currently gated by the launch waitlist. It resolves the host to the service that governs it and reads that service&#39;s waitlist switch, so a guard sitting in front of a hosted surface can decide in one call whether to show the waitlist or the product. It answers for the ONE host asked about and never enumerates the registry, which is why it needs no credential. It FAILS OPEN: an unregistered host, an unmounted registry and a store fault all answer known&#x3D;false with mode&#x3D;false, so a request is never gated pre-boot or on a registry fault.
     * @param host Host is the host to resolve, e.g. \&quot;chat.hanzo.ai\&quot;. Defaults to the request&#39;s own Host header when omitted, which is what lets a guard running on the governed host ask about itself with no argument. (optional)
     * @return ApiResponse<CloudWaitlistModeView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlagsWaitlistWithHttpInfo(host: kotlin.String?) : ApiResponse<CloudWaitlistModeView?> {
        val localVariableConfig = cloudGetV1FlagsWaitlistRequestConfig(host = host)

        return request<Unit, CloudWaitlistModeView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlagsWaitlist
     *
     * @param host Host is the host to resolve, e.g. \&quot;chat.hanzo.ai\&quot;. Defaults to the request&#39;s own Host header when omitted, which is what lets a guard running on the governed host ask about itself with no argument. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1FlagsWaitlistRequestConfig(host: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (host != null) {
                    put("host", listOf(host.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flags/waitlist",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flags
     * Evaluate runs the caller&#39;s flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute.
     * Evaluate runs the caller&#39;s flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute. Evaluation is in-process over the caller&#39;s own (org, project) definitions — no network hop, no shared KV — so a tenant can only ever evaluate its own flags.
     * @param cloudEvaluateIn 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1Flags(cloudEvaluateIn: CloudEvaluateIn) : kotlin.Any {
        val localVarResponse = cloudPostV1FlagsWithHttpInfo(cloudEvaluateIn = cloudEvaluateIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flags
     * Evaluate runs the caller&#39;s flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute.
     * Evaluate runs the caller&#39;s flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute. Evaluation is in-process over the caller&#39;s own (org, project) definitions — no network hop, no shared KV — so a tenant can only ever evaluate its own flags.
     * @param cloudEvaluateIn 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1FlagsWithHttpInfo(cloudEvaluateIn: CloudEvaluateIn) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudPostV1FlagsRequestConfig(cloudEvaluateIn = cloudEvaluateIn)

        return request<CloudEvaluateIn, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1Flags
     *
     * @param cloudEvaluateIn 
     * @return RequestConfig
     */
    fun cloudPostV1FlagsRequestConfig(cloudEvaluateIn: CloudEvaluateIn) : RequestConfig<CloudEvaluateIn> {
        val localVariableBody = cloudEvaluateIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flags/decide
     * Evaluate runs the caller&#39;s flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute.
     * Evaluate runs the caller&#39;s flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute. Evaluation is in-process over the caller&#39;s own (org, project) definitions — no network hop, no shared KV — so a tenant can only ever evaluate its own flags.
     * @param cloudEvaluateIn 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1FlagsDecide(cloudEvaluateIn: CloudEvaluateIn) : kotlin.Any {
        val localVarResponse = cloudPostV1FlagsDecideWithHttpInfo(cloudEvaluateIn = cloudEvaluateIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flags/decide
     * Evaluate runs the caller&#39;s flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute.
     * Evaluate runs the caller&#39;s flag definitions for one identity and returns the PostHog-shaped verdict: which flags are on (or which variant), their payloads, and whether any definition failed to compute. Evaluation is in-process over the caller&#39;s own (org, project) definitions — no network hop, no shared KV — so a tenant can only ever evaluate its own flags.
     * @param cloudEvaluateIn 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1FlagsDecideWithHttpInfo(cloudEvaluateIn: CloudEvaluateIn) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudPostV1FlagsDecideRequestConfig(cloudEvaluateIn = cloudEvaluateIn)

        return request<CloudEvaluateIn, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1FlagsDecide
     *
     * @param cloudEvaluateIn 
     * @return RequestConfig
     */
    fun cloudPostV1FlagsDecideRequestConfig(cloudEvaluateIn: CloudEvaluateIn) : RequestConfig<CloudEvaluateIn> {
        val localVariableBody = cloudEvaluateIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flags/decide",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/flags/defs/{key}
     * PutFlagDefinition creates or replaces the flag definition at the path&#39;s key and returns the stored row.
     * PutFlagDefinition creates or replaces the flag definition at the path&#39;s key and returns the stored row. The BODY IS THE DEFINITION DOCUMENT — the PostHog-shaped JSON object the evaluator consumes — and it is stored verbatim except that its \&quot;key\&quot; is forced to the key in the URL, so a document can never be filed under a name other than the one it was addressed by. Every write bumps the version and appends to the change log under the caller&#39;s identity.
     * @param key Key is the flag key to write, from the path.
     * @param body 
     * @return CloudDefRow
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPutV1FlagsDefsKey(key: kotlin.String, body: kotlin.Any) : CloudDefRow {
        val localVarResponse = cloudPutV1FlagsDefsKeyWithHttpInfo(key = key, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudDefRow
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/flags/defs/{key}
     * PutFlagDefinition creates or replaces the flag definition at the path&#39;s key and returns the stored row.
     * PutFlagDefinition creates or replaces the flag definition at the path&#39;s key and returns the stored row. The BODY IS THE DEFINITION DOCUMENT — the PostHog-shaped JSON object the evaluator consumes — and it is stored verbatim except that its \&quot;key\&quot; is forced to the key in the URL, so a document can never be filed under a name other than the one it was addressed by. Every write bumps the version and appends to the change log under the caller&#39;s identity.
     * @param key Key is the flag key to write, from the path.
     * @param body 
     * @return ApiResponse<CloudDefRow?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPutV1FlagsDefsKeyWithHttpInfo(key: kotlin.String, body: kotlin.Any) : ApiResponse<CloudDefRow?> {
        val localVariableConfig = cloudPutV1FlagsDefsKeyRequestConfig(key = key, body = body)

        return request<kotlin.Any, CloudDefRow>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPutV1FlagsDefsKey
     *
     * @param key Key is the flag key to write, from the path.
     * @param body 
     * @return RequestConfig
     */
    fun cloudPutV1FlagsDefsKeyRequestConfig(key: kotlin.String, body: kotlin.Any) : RequestConfig<kotlin.Any> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/flags/defs/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
