/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudFleetBoard
import ai.hanzo.cloud.model.CloudJobCancel
import ai.hanzo.cloud.model.CloudJobCanceled
import ai.hanzo.cloud.model.CloudJobList
import ai.hanzo.cloud.model.CloudSampleAccepted
import ai.hanzo.cloud.model.CloudSampleIngest
import ai.hanzo.cloud.model.CloudSampleList
import ai.hanzo.cloud.model.CloudWorkerList

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class FleetApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/fleet/jobs/{id}/cancel
     * Cancels a queued or running render in the caller&#39;s org.
     * Cancels a queued or running render in the caller&#39;s org. The engine cancel is org-scoped, so a tenant can only ever cancel its OWN job: a job in another tenant&#39;s shard is 404, exactly like one that never existed. An already-finished job is 409.
     * @param id ID is the job (activity) id, from the URL path.
     * @param cloudJobCancel 
     * @return CloudJobCanceled
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudCancelFleetJob(id: kotlin.String, cloudJobCancel: CloudJobCancel) : CloudJobCanceled {
        val localVarResponse = cloudCancelFleetJobWithHttpInfo(id = id, cloudJobCancel = cloudJobCancel)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudJobCanceled
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/fleet/jobs/{id}/cancel
     * Cancels a queued or running render in the caller&#39;s org.
     * Cancels a queued or running render in the caller&#39;s org. The engine cancel is org-scoped, so a tenant can only ever cancel its OWN job: a job in another tenant&#39;s shard is 404, exactly like one that never existed. An already-finished job is 409.
     * @param id ID is the job (activity) id, from the URL path.
     * @param cloudJobCancel 
     * @return ApiResponse<CloudJobCanceled?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudCancelFleetJobWithHttpInfo(id: kotlin.String, cloudJobCancel: CloudJobCancel) : ApiResponse<CloudJobCanceled?> {
        val localVariableConfig = cloudCancelFleetJobRequestConfig(id = id, cloudJobCancel = cloudJobCancel)

        return request<CloudJobCancel, CloudJobCanceled>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudCancelFleetJob
     *
     * @param id ID is the job (activity) id, from the URL path.
     * @param cloudJobCancel 
     * @return RequestConfig
     */
    fun cloudCancelFleetJobRequestConfig(id: kotlin.String, cloudJobCancel: CloudJobCancel) : RequestConfig<CloudJobCancel> {
        val localVariableBody = cloudJobCancel
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/fleet/jobs/{id}/cancel".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/fleet
     * Returns every compute unit the caller&#39;s org has, from every source, each carrying its latest utilization: agent run-targets, the BYO machines that dialed in, attached BYO clusters and Visor-provisioned machines.
     * Returns every compute unit the caller&#39;s org has, from every source, each carrying its latest utilization: agent run-targets, the BYO machines that dialed in, attached BYO clusters and Visor-provisioned machines.  A unit with a live snapshot of its own keeps it; the rest are overlaid from the utilization series, and only when the sample agrees about the SOURCE — two planes could mint the same unit id, and a board must never show one machine&#39;s load on another&#39;s row. BYO GPU units also carry their gpu-jobs queue depth. Every source is folded in independently: a broken one costs its own rows and nothing else.
     * @return CloudFleetBoard
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudListFleet() : CloudFleetBoard {
        val localVarResponse = cloudListFleetWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFleetBoard
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/fleet
     * Returns every compute unit the caller&#39;s org has, from every source, each carrying its latest utilization: agent run-targets, the BYO machines that dialed in, attached BYO clusters and Visor-provisioned machines.
     * Returns every compute unit the caller&#39;s org has, from every source, each carrying its latest utilization: agent run-targets, the BYO machines that dialed in, attached BYO clusters and Visor-provisioned machines.  A unit with a live snapshot of its own keeps it; the rest are overlaid from the utilization series, and only when the sample agrees about the SOURCE — two planes could mint the same unit id, and a board must never show one machine&#39;s load on another&#39;s row. BYO GPU units also carry their gpu-jobs queue depth. Every source is folded in independently: a broken one costs its own rows and nothing else.
     * @return ApiResponse<CloudFleetBoard?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudListFleetWithHttpInfo() : ApiResponse<CloudFleetBoard?> {
        val localVariableConfig = cloudListFleetRequestConfig()

        return request<Unit, CloudFleetBoard>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudListFleet
     *
     * @return RequestConfig
     */
    fun cloudListFleetRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/fleet",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/fleet/jobs
     * Returns the caller org&#39;s gpu-jobs render queue, each row tagged with the GPU it targets (empty &#x3D; the shared any-GPU lane) and the node claiming it, optionally narrowed to one GPU&#39;s queue and/or one status.
     * Returns the caller org&#39;s gpu-jobs render queue, each row tagged with the GPU it targets (empty &#x3D; the shared any-GPU lane) and the node claiming it, optionally narrowed to one GPU&#39;s queue and/or one status.  A job whose worker died — STARTED with an elapsed lease and not yet reclaimed — reads \&quot;stalled\&quot;, not \&quot;running\&quot;. Fail-soft: an unavailable tasks engine yields an empty queue rather than an error.
     * @param gpu GPU selects one node&#39;s lane: jobs TARGETED at it (gpu:&lt;node&gt;) or CLAIMED by it. The literal \&quot;shared\&quot; selects the any-GPU lane — no target, no claimant. Matched case-insensitively. (optional)
     * @param status Status selects one lifecycle state: queued, running, stalled, completed, failed or canceled. (optional)
     * @return CloudJobList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudListFleetJobs(gpu: kotlin.String? = null, status: kotlin.String? = null) : CloudJobList {
        val localVarResponse = cloudListFleetJobsWithHttpInfo(gpu = gpu, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudJobList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/fleet/jobs
     * Returns the caller org&#39;s gpu-jobs render queue, each row tagged with the GPU it targets (empty &#x3D; the shared any-GPU lane) and the node claiming it, optionally narrowed to one GPU&#39;s queue and/or one status.
     * Returns the caller org&#39;s gpu-jobs render queue, each row tagged with the GPU it targets (empty &#x3D; the shared any-GPU lane) and the node claiming it, optionally narrowed to one GPU&#39;s queue and/or one status.  A job whose worker died — STARTED with an elapsed lease and not yet reclaimed — reads \&quot;stalled\&quot;, not \&quot;running\&quot;. Fail-soft: an unavailable tasks engine yields an empty queue rather than an error.
     * @param gpu GPU selects one node&#39;s lane: jobs TARGETED at it (gpu:&lt;node&gt;) or CLAIMED by it. The literal \&quot;shared\&quot; selects the any-GPU lane — no target, no claimant. Matched case-insensitively. (optional)
     * @param status Status selects one lifecycle state: queued, running, stalled, completed, failed or canceled. (optional)
     * @return ApiResponse<CloudJobList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudListFleetJobsWithHttpInfo(gpu: kotlin.String?, status: kotlin.String?) : ApiResponse<CloudJobList?> {
        val localVariableConfig = cloudListFleetJobsRequestConfig(gpu = gpu, status = status)

        return request<Unit, CloudJobList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudListFleetJobs
     *
     * @param gpu GPU selects one node&#39;s lane: jobs TARGETED at it (gpu:&lt;node&gt;) or CLAIMED by it. The literal \&quot;shared\&quot; selects the any-GPU lane — no target, no claimant. Matched case-insensitively. (optional)
     * @param status Status selects one lifecycle state: queued, running, stalled, completed, failed or canceled. (optional)
     * @return RequestConfig
     */
    fun cloudListFleetJobsRequestConfig(gpu: kotlin.String?, status: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (gpu != null) {
                    put("gpu", listOf(gpu.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/fleet/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/fleet/samples
     * Returns the caller org&#39;s utilization series, oldest first.
     * Returns the caller org&#39;s utilization series, oldest first.  A rejected narrower is a 400 carrying its own reason (the vocabulary is ours and safe to echo); a warehouse failure is logged and answered 503 \&quot;unavailable\&quot;, because a chart that silently reads \&quot;no load\&quot; when the truth is \&quot;we cannot tell\&quot; is worse than one that says so. An ABSENT warehouse is different again: it returns an empty series, which renders honestly as \&quot;no samples yet\&quot;.
     * @param unit Unit selects one compute unit&#39;s series by its source-local id. (optional)
     * @param source Source selects one plane: \&quot;agent\&quot;, \&quot;byo\&quot; or \&quot;visor\&quot;. (optional)
     * @param range Range is the lookback window (e.g. \&quot;1h\&quot;, \&quot;24h\&quot;, \&quot;7d\&quot;); empty takes the warehouse default. (optional)
     * @return CloudSampleList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudListFleetSamples(unit: kotlin.String? = null, source: kotlin.String? = null, range: kotlin.String? = null) : CloudSampleList {
        val localVarResponse = cloudListFleetSamplesWithHttpInfo(unit = unit, source = source, range = range)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSampleList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/fleet/samples
     * Returns the caller org&#39;s utilization series, oldest first.
     * Returns the caller org&#39;s utilization series, oldest first.  A rejected narrower is a 400 carrying its own reason (the vocabulary is ours and safe to echo); a warehouse failure is logged and answered 503 \&quot;unavailable\&quot;, because a chart that silently reads \&quot;no load\&quot; when the truth is \&quot;we cannot tell\&quot; is worse than one that says so. An ABSENT warehouse is different again: it returns an empty series, which renders honestly as \&quot;no samples yet\&quot;.
     * @param unit Unit selects one compute unit&#39;s series by its source-local id. (optional)
     * @param source Source selects one plane: \&quot;agent\&quot;, \&quot;byo\&quot; or \&quot;visor\&quot;. (optional)
     * @param range Range is the lookback window (e.g. \&quot;1h\&quot;, \&quot;24h\&quot;, \&quot;7d\&quot;); empty takes the warehouse default. (optional)
     * @return ApiResponse<CloudSampleList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudListFleetSamplesWithHttpInfo(unit: kotlin.String?, source: kotlin.String?, range: kotlin.String?) : ApiResponse<CloudSampleList?> {
        val localVariableConfig = cloudListFleetSamplesRequestConfig(unit = unit, source = source, range = range)

        return request<Unit, CloudSampleList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudListFleetSamples
     *
     * @param unit Unit selects one compute unit&#39;s series by its source-local id. (optional)
     * @param source Source selects one plane: \&quot;agent\&quot;, \&quot;byo\&quot; or \&quot;visor\&quot;. (optional)
     * @param range Range is the lookback window (e.g. \&quot;1h\&quot;, \&quot;24h\&quot;, \&quot;7d\&quot;); empty takes the warehouse default. (optional)
     * @return RequestConfig
     */
    fun cloudListFleetSamplesRequestConfig(unit: kotlin.String?, source: kotlin.String?, range: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (unit != null) {
                    put("unit", listOf(unit.toString()))
                }
                if (source != null) {
                    put("source", listOf(source.toString()))
                }
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/fleet/samples",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/fleet/workers
     * Returns the caller org&#39;s BYO machines — the ones that dialed in via &#x60;hanzo link&#x60; — with everything each host reported about itself.
     * Returns the caller org&#39;s BYO machines — the ones that dialed in via &#x60;hanzo link&#x60; — with everything each host reported about itself. The Machines and GPUs pages fold the same data into their normalized shapes; this is the canonical raw list a fleet view (or the CLI&#39;s &#x60;status&#x60;) reads.
     * @return CloudWorkerList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudListFleetWorkers() : CloudWorkerList {
        val localVarResponse = cloudListFleetWorkersWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudWorkerList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/fleet/workers
     * Returns the caller org&#39;s BYO machines — the ones that dialed in via &#x60;hanzo link&#x60; — with everything each host reported about itself.
     * Returns the caller org&#39;s BYO machines — the ones that dialed in via &#x60;hanzo link&#x60; — with everything each host reported about itself. The Machines and GPUs pages fold the same data into their normalized shapes; this is the canonical raw list a fleet view (or the CLI&#39;s &#x60;status&#x60;) reads.
     * @return ApiResponse<CloudWorkerList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudListFleetWorkersWithHttpInfo() : ApiResponse<CloudWorkerList?> {
        val localVariableConfig = cloudListFleetWorkersRequestConfig()

        return request<Unit, CloudWorkerList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudListFleetWorkers
     *
     * @return RequestConfig
     */
    fun cloudListFleetWorkersRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/fleet/workers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/fleet/samples
     * Records a BYO worker&#39;s live GPU utilization into the SAME series the fleet board overlays.
     * Records a BYO worker&#39;s live GPU utilization into the SAME series the fleet board overlays. The org is the validated principal and source/kind are fixed server-side, so a worker names only its own metrics — never another tenant or another source. Answers 202: the warehouse write is DETACHED (its own bounded context, never in the response path), so a slow or absent warehouse cannot stall a heartbeat.
     * @param cloudSampleIngest 
     * @return CloudSampleAccepted
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudRecordFleetSample(cloudSampleIngest: CloudSampleIngest) : CloudSampleAccepted {
        val localVarResponse = cloudRecordFleetSampleWithHttpInfo(cloudSampleIngest = cloudSampleIngest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSampleAccepted
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/fleet/samples
     * Records a BYO worker&#39;s live GPU utilization into the SAME series the fleet board overlays.
     * Records a BYO worker&#39;s live GPU utilization into the SAME series the fleet board overlays. The org is the validated principal and source/kind are fixed server-side, so a worker names only its own metrics — never another tenant or another source. Answers 202: the warehouse write is DETACHED (its own bounded context, never in the response path), so a slow or absent warehouse cannot stall a heartbeat.
     * @param cloudSampleIngest 
     * @return ApiResponse<CloudSampleAccepted?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudRecordFleetSampleWithHttpInfo(cloudSampleIngest: CloudSampleIngest) : ApiResponse<CloudSampleAccepted?> {
        val localVariableConfig = cloudRecordFleetSampleRequestConfig(cloudSampleIngest = cloudSampleIngest)

        return request<CloudSampleIngest, CloudSampleAccepted>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudRecordFleetSample
     *
     * @param cloudSampleIngest 
     * @return RequestConfig
     */
    fun cloudRecordFleetSampleRequestConfig(cloudSampleIngest: CloudSampleIngest) : RequestConfig<CloudSampleIngest> {
        val localVariableBody = cloudSampleIngest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/fleet/samples",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
