/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.FlowCreate
import ai.hanzo.cloud.model.FlowRun
import ai.hanzo.cloud.model.FlowStatus
import ai.hanzo.cloud.model.FlowUpdate

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class FlowApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/flow/workflows/{workflow}
     * Deletes one of the caller&#39;s workflows and its runs.
     * Deletes one of the caller&#39;s workflows and its runs. Ownership is verified first; a foreign id answers 404 and deletes nothing.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteFlowWorkflowsByWorkflow(workflow: kotlin.String) : kotlin.Any {
        val localVarResponse = deleteFlowWorkflowsByWorkflowWithHttpInfo(workflow = workflow)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/flow/workflows/{workflow}
     * Deletes one of the caller&#39;s workflows and its runs.
     * Deletes one of the caller&#39;s workflows and its runs. Ownership is verified first; a foreign id answers 404 and deletes nothing.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteFlowWorkflowsByWorkflowWithHttpInfo(workflow: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = deleteFlowWorkflowsByWorkflowRequestConfig(workflow = workflow)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteFlowWorkflowsByWorkflow
     *
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return RequestConfig
     */
    fun deleteFlowWorkflowsByWorkflowRequestConfig(workflow: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/flow/workflows/{workflow}".replace("{"+"workflow"+"}", encodeURIComponent(workflow.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/runs
     * Runs reads one workflow&#39;s recorded runs: every component build with its result, keyed by component.
     * Runs reads one workflow&#39;s recorded runs: every component build with its result, keyed by component. Ownership is verified first — run records never cross the org boundary.
     * @param workflow Workflow is the UUID of the workflow whose run records to read. It rides the query string. (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getFlowRuns(workflow: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = getFlowRunsWithHttpInfo(workflow = workflow)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/runs
     * Runs reads one workflow&#39;s recorded runs: every component build with its result, keyed by component.
     * Runs reads one workflow&#39;s recorded runs: every component build with its result, keyed by component. Ownership is verified first — run records never cross the org boundary.
     * @param workflow Workflow is the UUID of the workflow whose run records to read. It rides the query string. (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getFlowRunsWithHttpInfo(workflow: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = getFlowRunsRequestConfig(workflow = workflow)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getFlowRuns
     *
     * @param workflow Workflow is the UUID of the workflow whose run records to read. It rides the query string. (optional)
     * @return RequestConfig
     */
    fun getFlowRunsRequestConfig(workflow: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (workflow != null) {
                    put("workflow", listOf(workflow.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/runs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/status
     * Status reports whether the flow service is reachable and which version it runs.
     * Status reports whether the flow service is reachable and which version it runs. It is the product&#39;s own /health and /v1/version composed — an honest lens for \&quot;is the workflow plane up\&quot;, never a fabricated ok.
     * @return FlowStatus
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getFlowStatus() : FlowStatus {
        val localVarResponse = getFlowStatusWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FlowStatus
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/status
     * Status reports whether the flow service is reachable and which version it runs.
     * Status reports whether the flow service is reachable and which version it runs. It is the product&#39;s own /health and /v1/version composed — an honest lens for \&quot;is the workflow plane up\&quot;, never a fabricated ok.
     * @return ApiResponse<FlowStatus?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getFlowStatusWithHttpInfo() : ApiResponse<FlowStatus?> {
        val localVariableConfig = getFlowStatusRequestConfig()

        return request<Unit, FlowStatus>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getFlowStatus
     *
     * @return RequestConfig
     */
    fun getFlowStatusRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/workflows
     * Workflows lists the caller&#39;s workflows, paged.
     * Workflows lists the caller&#39;s workflows, paged. The list is scoped server-side to the org&#39;s project — the page can only ever hold the caller&#39;s own workflows.
     * @param page Page is the 1-based page of workflows to return. (optional)
     * @param size Size is how many workflows one page holds (the product caps it at 100). (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getFlowWorkflows(page: kotlin.String? = null, size: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = getFlowWorkflowsWithHttpInfo(page = page, size = size)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/workflows
     * Workflows lists the caller&#39;s workflows, paged.
     * Workflows lists the caller&#39;s workflows, paged. The list is scoped server-side to the org&#39;s project — the page can only ever hold the caller&#39;s own workflows.
     * @param page Page is the 1-based page of workflows to return. (optional)
     * @param size Size is how many workflows one page holds (the product caps it at 100). (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getFlowWorkflowsWithHttpInfo(page: kotlin.String?, size: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = getFlowWorkflowsRequestConfig(page = page, size = size)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getFlowWorkflows
     *
     * @param page Page is the 1-based page of workflows to return. (optional)
     * @param size Size is how many workflows one page holds (the product caps it at 100). (optional)
     * @return RequestConfig
     */
    fun getFlowWorkflowsRequestConfig(page: kotlin.String?, size: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (size != null) {
                    put("size", listOf(size.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/workflows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/workflows/{workflow}
     * Workflow reads one of the caller&#39;s workflows — the full record, graph included.
     * Workflow reads one of the caller&#39;s workflows — the full record, graph included. A workflow outside the caller&#39;s org answers 404, indistinguishable from one that does not exist.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getFlowWorkflowsByWorkflow(workflow: kotlin.String) : kotlin.Any {
        val localVarResponse = getFlowWorkflowsByWorkflowWithHttpInfo(workflow = workflow)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/workflows/{workflow}
     * Workflow reads one of the caller&#39;s workflows — the full record, graph included.
     * Workflow reads one of the caller&#39;s workflows — the full record, graph included. A workflow outside the caller&#39;s org answers 404, indistinguishable from one that does not exist.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getFlowWorkflowsByWorkflowWithHttpInfo(workflow: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = getFlowWorkflowsByWorkflowRequestConfig(workflow = workflow)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getFlowWorkflowsByWorkflow
     *
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return RequestConfig
     */
    fun getFlowWorkflowsByWorkflowRequestConfig(workflow: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/workflows/{workflow}".replace("{"+"workflow"+"}", encodeURIComponent(workflow.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/flow/workflows/{workflow}
     * Patches one of the caller&#39;s workflows: name, description, graph, or the locked flag — only the stated fields move.
     * Patches one of the caller&#39;s workflows: name, description, graph, or the locked flag — only the stated fields move. Ownership is verified before the patch reaches the product.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @param flowUpdate 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun patchFlowWorkflowsByWorkflow(workflow: kotlin.String, flowUpdate: FlowUpdate) : kotlin.Any {
        val localVarResponse = patchFlowWorkflowsByWorkflowWithHttpInfo(workflow = workflow, flowUpdate = flowUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/flow/workflows/{workflow}
     * Patches one of the caller&#39;s workflows: name, description, graph, or the locked flag — only the stated fields move.
     * Patches one of the caller&#39;s workflows: name, description, graph, or the locked flag — only the stated fields move. Ownership is verified before the patch reaches the product.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @param flowUpdate 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun patchFlowWorkflowsByWorkflowWithHttpInfo(workflow: kotlin.String, flowUpdate: FlowUpdate) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = patchFlowWorkflowsByWorkflowRequestConfig(workflow = workflow, flowUpdate = flowUpdate)

        return request<FlowUpdate, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation patchFlowWorkflowsByWorkflow
     *
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @param flowUpdate 
     * @return RequestConfig
     */
    fun patchFlowWorkflowsByWorkflowRequestConfig(workflow: kotlin.String, flowUpdate: FlowUpdate) : RequestConfig<FlowUpdate> {
        val localVariableBody = flowUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/flow/workflows/{workflow}".replace("{"+"workflow"+"}", encodeURIComponent(workflow.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/runs
     * Run executes one of the caller&#39;s workflows synchronously: the graph runs in the flow service and the response carries the run&#39;s session and outputs.
     * Run executes one of the caller&#39;s workflows synchronously: the graph runs in the flow service and the response carries the run&#39;s session and outputs. A graph whose components fail reports the product&#39;s own error. Runs are bounded by the product&#39;s five-minute sync ceiling.
     * @param flowRun 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postFlowRuns(flowRun: FlowRun) : kotlin.Any {
        val localVarResponse = postFlowRunsWithHttpInfo(flowRun = flowRun)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/runs
     * Run executes one of the caller&#39;s workflows synchronously: the graph runs in the flow service and the response carries the run&#39;s session and outputs.
     * Run executes one of the caller&#39;s workflows synchronously: the graph runs in the flow service and the response carries the run&#39;s session and outputs. A graph whose components fail reports the product&#39;s own error. Runs are bounded by the product&#39;s five-minute sync ceiling.
     * @param flowRun 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postFlowRunsWithHttpInfo(flowRun: FlowRun) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = postFlowRunsRequestConfig(flowRun = flowRun)

        return request<FlowRun, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postFlowRuns
     *
     * @param flowRun 
     * @return RequestConfig
     */
    fun postFlowRunsRequestConfig(flowRun: FlowRun) : RequestConfig<FlowRun> {
        val localVariableBody = flowRun
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/runs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/workflows
     * Creates a workflow in the caller&#39;s org.
     * Creates a workflow in the caller&#39;s org. The org&#39;s project id is pinned server-side from the validated principal — there is no field by which a caller could place a workflow in another org.
     * @param flowCreate 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postFlowWorkflows(flowCreate: FlowCreate) : kotlin.Any {
        val localVarResponse = postFlowWorkflowsWithHttpInfo(flowCreate = flowCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/workflows
     * Creates a workflow in the caller&#39;s org.
     * Creates a workflow in the caller&#39;s org. The org&#39;s project id is pinned server-side from the validated principal — there is no field by which a caller could place a workflow in another org.
     * @param flowCreate 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postFlowWorkflowsWithHttpInfo(flowCreate: FlowCreate) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = postFlowWorkflowsRequestConfig(flowCreate = flowCreate)

        return request<FlowCreate, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postFlowWorkflows
     *
     * @param flowCreate 
     * @return RequestConfig
     */
    fun postFlowWorkflowsRequestConfig(flowCreate: FlowCreate) : RequestConfig<FlowCreate> {
        val localVariableBody = flowCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/workflows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
