/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudFlowCreate
import ai.hanzo.cloud.model.CloudFlowRun
import ai.hanzo.cloud.model.CloudFlowStatus
import ai.hanzo.cloud.model.CloudFlowUpdate

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class FlowApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/flow/workflows/{workflow}
     * WorkflowDelete deletes one of the caller&#39;s workflows and its runs.
     * WorkflowDelete deletes one of the caller&#39;s workflows and its runs. Ownership is verified first; a foreign id answers 404 and deletes nothing.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1FlowWorkflowsWorkflow(workflow: kotlin.String) : kotlin.Any {
        val localVarResponse = cloudDeleteV1FlowWorkflowsWorkflowWithHttpInfo(workflow = workflow)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/flow/workflows/{workflow}
     * WorkflowDelete deletes one of the caller&#39;s workflows and its runs.
     * WorkflowDelete deletes one of the caller&#39;s workflows and its runs. Ownership is verified first; a foreign id answers 404 and deletes nothing.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1FlowWorkflowsWorkflowWithHttpInfo(workflow: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudDeleteV1FlowWorkflowsWorkflowRequestConfig(workflow = workflow)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1FlowWorkflowsWorkflow
     *
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1FlowWorkflowsWorkflowRequestConfig(workflow: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/flow/workflows/{workflow}".replace("{"+"workflow"+"}", encodeURIComponent(workflow.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/runs
     * Runs reads one workflow&#39;s recorded runs: every component build with its result, keyed by component.
     * Runs reads one workflow&#39;s recorded runs: every component build with its result, keyed by component. Ownership is verified first — run records never cross the org boundary.
     * @param workflow Workflow is the UUID of the workflow whose run records to read. It rides the query string. (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlowRuns(workflow: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = cloudGetV1FlowRunsWithHttpInfo(workflow = workflow)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/runs
     * Runs reads one workflow&#39;s recorded runs: every component build with its result, keyed by component.
     * Runs reads one workflow&#39;s recorded runs: every component build with its result, keyed by component. Ownership is verified first — run records never cross the org boundary.
     * @param workflow Workflow is the UUID of the workflow whose run records to read. It rides the query string. (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlowRunsWithHttpInfo(workflow: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudGetV1FlowRunsRequestConfig(workflow = workflow)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlowRuns
     *
     * @param workflow Workflow is the UUID of the workflow whose run records to read. It rides the query string. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1FlowRunsRequestConfig(workflow: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (workflow != null) {
                    put("workflow", listOf(workflow.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/runs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/status
     * Status reports whether the flow service is reachable and which version it runs.
     * Status reports whether the flow service is reachable and which version it runs. It is the product&#39;s own /health and /v1/version composed — an honest lens for \&quot;is the workflow plane up\&quot;, never a fabricated ok.
     * @return CloudFlowStatus
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlowStatus() : CloudFlowStatus {
        val localVarResponse = cloudGetV1FlowStatusWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFlowStatus
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/status
     * Status reports whether the flow service is reachable and which version it runs.
     * Status reports whether the flow service is reachable and which version it runs. It is the product&#39;s own /health and /v1/version composed — an honest lens for \&quot;is the workflow plane up\&quot;, never a fabricated ok.
     * @return ApiResponse<CloudFlowStatus?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlowStatusWithHttpInfo() : ApiResponse<CloudFlowStatus?> {
        val localVariableConfig = cloudGetV1FlowStatusRequestConfig()

        return request<Unit, CloudFlowStatus>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlowStatus
     *
     * @return RequestConfig
     */
    fun cloudGetV1FlowStatusRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/workflows
     * Workflows lists the caller&#39;s workflows, paged.
     * Workflows lists the caller&#39;s workflows, paged. The list is scoped server-side to the org&#39;s project — the page can only ever hold the caller&#39;s own workflows.
     * @param page Page is the 1-based page of workflows to return. (optional)
     * @param size Size is how many workflows one page holds (the product caps it at 100). (optional)
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlowWorkflows(page: kotlin.String? = null, size: kotlin.String? = null) : kotlin.Any {
        val localVarResponse = cloudGetV1FlowWorkflowsWithHttpInfo(page = page, size = size)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/workflows
     * Workflows lists the caller&#39;s workflows, paged.
     * Workflows lists the caller&#39;s workflows, paged. The list is scoped server-side to the org&#39;s project — the page can only ever hold the caller&#39;s own workflows.
     * @param page Page is the 1-based page of workflows to return. (optional)
     * @param size Size is how many workflows one page holds (the product caps it at 100). (optional)
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlowWorkflowsWithHttpInfo(page: kotlin.String?, size: kotlin.String?) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudGetV1FlowWorkflowsRequestConfig(page = page, size = size)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlowWorkflows
     *
     * @param page Page is the 1-based page of workflows to return. (optional)
     * @param size Size is how many workflows one page holds (the product caps it at 100). (optional)
     * @return RequestConfig
     */
    fun cloudGetV1FlowWorkflowsRequestConfig(page: kotlin.String?, size: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (size != null) {
                    put("size", listOf(size.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/workflows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/flow/workflows/{workflow}
     * Workflow reads one of the caller&#39;s workflows — the full record, graph included.
     * Workflow reads one of the caller&#39;s workflows — the full record, graph included. A workflow outside the caller&#39;s org answers 404, indistinguishable from one that does not exist.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1FlowWorkflowsWorkflow(workflow: kotlin.String) : kotlin.Any {
        val localVarResponse = cloudGetV1FlowWorkflowsWorkflowWithHttpInfo(workflow = workflow)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/flow/workflows/{workflow}
     * Workflow reads one of the caller&#39;s workflows — the full record, graph included.
     * Workflow reads one of the caller&#39;s workflows — the full record, graph included. A workflow outside the caller&#39;s org answers 404, indistinguishable from one that does not exist.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1FlowWorkflowsWorkflowWithHttpInfo(workflow: kotlin.String) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudGetV1FlowWorkflowsWorkflowRequestConfig(workflow = workflow)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1FlowWorkflowsWorkflow
     *
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @return RequestConfig
     */
    fun cloudGetV1FlowWorkflowsWorkflowRequestConfig(workflow: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/flow/workflows/{workflow}".replace("{"+"workflow"+"}", encodeURIComponent(workflow.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/flow/workflows/{workflow}
     * WorkflowUpdate patches one of the caller&#39;s workflows: name, description, graph, or the locked flag — only the stated fields move.
     * WorkflowUpdate patches one of the caller&#39;s workflows: name, description, graph, or the locked flag — only the stated fields move. Ownership is verified before the patch reaches the product.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @param cloudFlowUpdate 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPatchV1FlowWorkflowsWorkflow(workflow: kotlin.String, cloudFlowUpdate: CloudFlowUpdate) : kotlin.Any {
        val localVarResponse = cloudPatchV1FlowWorkflowsWorkflowWithHttpInfo(workflow = workflow, cloudFlowUpdate = cloudFlowUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/flow/workflows/{workflow}
     * WorkflowUpdate patches one of the caller&#39;s workflows: name, description, graph, or the locked flag — only the stated fields move.
     * WorkflowUpdate patches one of the caller&#39;s workflows: name, description, graph, or the locked flag — only the stated fields move. Ownership is verified before the patch reaches the product.
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @param cloudFlowUpdate 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPatchV1FlowWorkflowsWorkflowWithHttpInfo(workflow: kotlin.String, cloudFlowUpdate: CloudFlowUpdate) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudPatchV1FlowWorkflowsWorkflowRequestConfig(workflow = workflow, cloudFlowUpdate = cloudFlowUpdate)

        return request<CloudFlowUpdate, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPatchV1FlowWorkflowsWorkflow
     *
     * @param workflow Workflow is the workflow&#39;s UUID, taken from the path.
     * @param cloudFlowUpdate 
     * @return RequestConfig
     */
    fun cloudPatchV1FlowWorkflowsWorkflowRequestConfig(workflow: kotlin.String, cloudFlowUpdate: CloudFlowUpdate) : RequestConfig<CloudFlowUpdate> {
        val localVariableBody = cloudFlowUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/flow/workflows/{workflow}".replace("{"+"workflow"+"}", encodeURIComponent(workflow.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/runs
     * Run executes one of the caller&#39;s workflows synchronously: the graph runs in the flow service and the response carries the run&#39;s session and outputs.
     * Run executes one of the caller&#39;s workflows synchronously: the graph runs in the flow service and the response carries the run&#39;s session and outputs. A graph whose components fail reports the product&#39;s own error. Runs are bounded by the product&#39;s five-minute sync ceiling.
     * @param cloudFlowRun 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1FlowRuns(cloudFlowRun: CloudFlowRun) : kotlin.Any {
        val localVarResponse = cloudPostV1FlowRunsWithHttpInfo(cloudFlowRun = cloudFlowRun)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/runs
     * Run executes one of the caller&#39;s workflows synchronously: the graph runs in the flow service and the response carries the run&#39;s session and outputs.
     * Run executes one of the caller&#39;s workflows synchronously: the graph runs in the flow service and the response carries the run&#39;s session and outputs. A graph whose components fail reports the product&#39;s own error. Runs are bounded by the product&#39;s five-minute sync ceiling.
     * @param cloudFlowRun 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1FlowRunsWithHttpInfo(cloudFlowRun: CloudFlowRun) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudPostV1FlowRunsRequestConfig(cloudFlowRun = cloudFlowRun)

        return request<CloudFlowRun, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1FlowRuns
     *
     * @param cloudFlowRun 
     * @return RequestConfig
     */
    fun cloudPostV1FlowRunsRequestConfig(cloudFlowRun: CloudFlowRun) : RequestConfig<CloudFlowRun> {
        val localVariableBody = cloudFlowRun
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/runs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/flow/workflows
     * WorkflowCreate creates a workflow in the caller&#39;s org.
     * WorkflowCreate creates a workflow in the caller&#39;s org. The org&#39;s project id is pinned server-side from the validated principal — there is no field by which a caller could place a workflow in another org.
     * @param cloudFlowCreate 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1FlowWorkflows(cloudFlowCreate: CloudFlowCreate) : kotlin.Any {
        val localVarResponse = cloudPostV1FlowWorkflowsWithHttpInfo(cloudFlowCreate = cloudFlowCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/flow/workflows
     * WorkflowCreate creates a workflow in the caller&#39;s org.
     * WorkflowCreate creates a workflow in the caller&#39;s org. The org&#39;s project id is pinned server-side from the validated principal — there is no field by which a caller could place a workflow in another org.
     * @param cloudFlowCreate 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1FlowWorkflowsWithHttpInfo(cloudFlowCreate: CloudFlowCreate) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = cloudPostV1FlowWorkflowsRequestConfig(cloudFlowCreate = cloudFlowCreate)

        return request<CloudFlowCreate, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1FlowWorkflows
     *
     * @param cloudFlowCreate 
     * @return RequestConfig
     */
    fun cloudPostV1FlowWorkflowsRequestConfig(cloudFlowCreate: CloudFlowCreate) : RequestConfig<CloudFlowCreate> {
        val localVariableBody = cloudFlowCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/flow/workflows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
