/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.GraphAssertIn
import ai.hanzo.cloud.model.GraphAssertOut
import ai.hanzo.cloud.model.GraphNeighborsIn
import ai.hanzo.cloud.model.GraphNeighborsOut
import ai.hanzo.cloud.model.GraphQLIn
import ai.hanzo.cloud.model.GraphQLOut
import ai.hanzo.cloud.model.GraphReadOut
import ai.hanzo.cloud.model.GraphResolveIn
import ai.hanzo.cloud.model.GraphResolveOut
import ai.hanzo.cloud.model.GraphVocabularyOut

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class GraphApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/graph
     * Assert what is true of an entity
     * 
     * @param graphAssertIn 
     * @return GraphAssertOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun graphAssert(graphAssertIn: GraphAssertIn) : GraphAssertOut {
        val localVarResponse = graphAssertWithHttpInfo(graphAssertIn = graphAssertIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GraphAssertOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/graph
     * Assert what is true of an entity
     * 
     * @param graphAssertIn 
     * @return ApiResponse<GraphAssertOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun graphAssertWithHttpInfo(graphAssertIn: GraphAssertIn) : ApiResponse<GraphAssertOut?> {
        val localVariableConfig = graphAssertRequestConfig(graphAssertIn = graphAssertIn)

        return request<GraphAssertIn, GraphAssertOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation graphAssert
     *
     * @param graphAssertIn 
     * @return RequestConfig
     */
    fun graphAssertRequestConfig(graphAssertIn: GraphAssertIn) : RequestConfig<GraphAssertIn> {
        val localVariableBody = graphAssertIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/graph",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/graph/neighbors
     * Walk the edges from a seed set, bounded
     * 
     * @param graphNeighborsIn 
     * @return GraphNeighborsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun graphNeighbors(graphNeighborsIn: GraphNeighborsIn) : GraphNeighborsOut {
        val localVarResponse = graphNeighborsWithHttpInfo(graphNeighborsIn = graphNeighborsIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GraphNeighborsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/graph/neighbors
     * Walk the edges from a seed set, bounded
     * 
     * @param graphNeighborsIn 
     * @return ApiResponse<GraphNeighborsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun graphNeighborsWithHttpInfo(graphNeighborsIn: GraphNeighborsIn) : ApiResponse<GraphNeighborsOut?> {
        val localVariableConfig = graphNeighborsRequestConfig(graphNeighborsIn = graphNeighborsIn)

        return request<GraphNeighborsIn, GraphNeighborsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation graphNeighbors
     *
     * @param graphNeighborsIn 
     * @return RequestConfig
     */
    fun graphNeighborsRequestConfig(graphNeighborsIn: GraphNeighborsIn) : RequestConfig<GraphNeighborsIn> {
        val localVariableBody = graphNeighborsIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/graph/neighbors",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/graph
     * Read the assertions this organization has recorded
     * 
     * @param entity Entity narrows to what was asserted ABOUT one entity. Absent matches every entity. (optional)
     * @param relation Relation narrows to one relation. Absent matches every relation. (optional)
     * @param `value` Value narrows to assertions pointing AT one value, which is how the edges into an entity are read. (optional)
     * @param asOf AsOf bounds the read to what was knowable at an instant, RFC 3339. Absent reads everything this plane holds. (optional)
     * @param limit Limit caps how many assertions come back. Absent, zero, or anything above the walk ceiling is the ceiling. (optional)
     * @return GraphReadOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun graphRead(entity: kotlin.String? = null, relation: kotlin.String? = null, `value`: kotlin.String? = null, asOf: kotlin.String? = null, limit: kotlin.Int? = null) : GraphReadOut {
        val localVarResponse = graphReadWithHttpInfo(entity = entity, relation = relation, `value` = `value`, asOf = asOf, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GraphReadOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/graph
     * Read the assertions this organization has recorded
     * 
     * @param entity Entity narrows to what was asserted ABOUT one entity. Absent matches every entity. (optional)
     * @param relation Relation narrows to one relation. Absent matches every relation. (optional)
     * @param `value` Value narrows to assertions pointing AT one value, which is how the edges into an entity are read. (optional)
     * @param asOf AsOf bounds the read to what was knowable at an instant, RFC 3339. Absent reads everything this plane holds. (optional)
     * @param limit Limit caps how many assertions come back. Absent, zero, or anything above the walk ceiling is the ceiling. (optional)
     * @return ApiResponse<GraphReadOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun graphReadWithHttpInfo(entity: kotlin.String?, relation: kotlin.String?, `value`: kotlin.String?, asOf: kotlin.String?, limit: kotlin.Int?) : ApiResponse<GraphReadOut?> {
        val localVariableConfig = graphReadRequestConfig(entity = entity, relation = relation, `value` = `value`, asOf = asOf, limit = limit)

        return request<Unit, GraphReadOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation graphRead
     *
     * @param entity Entity narrows to what was asserted ABOUT one entity. Absent matches every entity. (optional)
     * @param relation Relation narrows to one relation. Absent matches every relation. (optional)
     * @param `value` Value narrows to assertions pointing AT one value, which is how the edges into an entity are read. (optional)
     * @param asOf AsOf bounds the read to what was knowable at an instant, RFC 3339. Absent reads everything this plane holds. (optional)
     * @param limit Limit caps how many assertions come back. Absent, zero, or anything above the walk ceiling is the ceiling. (optional)
     * @return RequestConfig
     */
    fun graphReadRequestConfig(entity: kotlin.String?, relation: kotlin.String?, `value`: kotlin.String?, asOf: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (entity != null) {
                    put("entity", listOf(entity.toString()))
                }
                if (relation != null) {
                    put("relation", listOf(relation.toString()))
                }
                if (`value` != null) {
                    put("value", listOf(`value`.toString()))
                }
                if (asOf != null) {
                    put("as_of", listOf(asOf.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/graph",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/graph/resolve
     * What is in force about an entity as of an instant, and what disagreed
     * 
     * @param graphResolveIn 
     * @return GraphResolveOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun graphResolve(graphResolveIn: GraphResolveIn) : GraphResolveOut {
        val localVarResponse = graphResolveWithHttpInfo(graphResolveIn = graphResolveIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GraphResolveOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/graph/resolve
     * What is in force about an entity as of an instant, and what disagreed
     * 
     * @param graphResolveIn 
     * @return ApiResponse<GraphResolveOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun graphResolveWithHttpInfo(graphResolveIn: GraphResolveIn) : ApiResponse<GraphResolveOut?> {
        val localVariableConfig = graphResolveRequestConfig(graphResolveIn = graphResolveIn)

        return request<GraphResolveIn, GraphResolveOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation graphResolve
     *
     * @param graphResolveIn 
     * @return RequestConfig
     */
    fun graphResolveRequestConfig(graphResolveIn: GraphResolveIn) : RequestConfig<GraphResolveIn> {
        val localVariableBody = graphResolveIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/graph/resolve",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/graph/vocabulary
     * The relations in use, and the rule that resolves a conflict
     * 
     * @return GraphVocabularyOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun graphVocabulary() : GraphVocabularyOut {
        val localVarResponse = graphVocabularyWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GraphVocabularyOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/graph/vocabulary
     * The relations in use, and the rule that resolves a conflict
     * 
     * @return ApiResponse<GraphVocabularyOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun graphVocabularyWithHttpInfo() : ApiResponse<GraphVocabularyOut?> {
        val localVariableConfig = graphVocabularyRequestConfig()

        return request<Unit, GraphVocabularyOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation graphVocabulary
     *
     * @return RequestConfig
     */
    fun graphVocabularyRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/graph/vocabulary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/graph/graphql
     * Ask the graph in one request, traversing.
     * Runs a GraphQL query against this organization&#39;s assertions.  It is the one door here a caller can TRAVERSE: the REST ops each answer a single question, so composing them — the entities this one points at, and what each of those resolves to — costs a request per hop with the intermediate keys held by the caller. Here that is one query and the nesting is the answer&#39;s shape.  It adds no way to ask anything new. Every field runs the SAME operation the matching REST route runs, so the tenancy, the as-of bound, the traversal bounds and the conflict rule are the ones already in force; the schema is served by introspection.  A query that cannot run answers 200 with an &#x60;errors&#x60; list, which is the wire every GraphQL client parses.
     * @param graphQLIn  (optional)
     * @return GraphQLOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postGraphGraphql(graphQLIn: GraphQLIn? = null) : GraphQLOut {
        val localVarResponse = postGraphGraphqlWithHttpInfo(graphQLIn = graphQLIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GraphQLOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/graph/graphql
     * Ask the graph in one request, traversing.
     * Runs a GraphQL query against this organization&#39;s assertions.  It is the one door here a caller can TRAVERSE: the REST ops each answer a single question, so composing them — the entities this one points at, and what each of those resolves to — costs a request per hop with the intermediate keys held by the caller. Here that is one query and the nesting is the answer&#39;s shape.  It adds no way to ask anything new. Every field runs the SAME operation the matching REST route runs, so the tenancy, the as-of bound, the traversal bounds and the conflict rule are the ones already in force; the schema is served by introspection.  A query that cannot run answers 200 with an &#x60;errors&#x60; list, which is the wire every GraphQL client parses.
     * @param graphQLIn  (optional)
     * @return ApiResponse<GraphQLOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postGraphGraphqlWithHttpInfo(graphQLIn: GraphQLIn?) : ApiResponse<GraphQLOut?> {
        val localVariableConfig = postGraphGraphqlRequestConfig(graphQLIn = graphQLIn)

        return request<GraphQLIn, GraphQLOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postGraphGraphql
     *
     * @param graphQLIn  (optional)
     * @return RequestConfig
     */
    fun postGraphGraphqlRequestConfig(graphQLIn: GraphQLIn?) : RequestConfig<GraphQLIn> {
        val localVariableBody = graphQLIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/graph/graphql",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
