/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.BucketRecord
import ai.hanzo.cloud.model.BucketWrite
import ai.hanzo.cloud.model.KvAck
import ai.hanzo.cloud.model.KvEntry
import ai.hanzo.cloud.model.KvPage
import ai.hanzo.cloud.model.KvWrite

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class KvApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/kv/{bucket}
     * Removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body.
     * Removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body. 404 when the org has no bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteKvByBucket(bucket: kotlin.String) : Unit {
        val localVarResponse = deleteKvByBucketWithHttpInfo(bucket = bucket)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/kv/{bucket}
     * Removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body.
     * Removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body. 404 when the org has no bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteKvByBucketWithHttpInfo(bucket: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteKvByBucketRequestConfig(bucket = bucket)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteKvByBucket
     *
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return RequestConfig
     */
    fun deleteKvByBucketRequestConfig(bucket: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/kv/{bucket}/{key}
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body.
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body. 404 when the bucket does not exist.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteKvByBucketByKey(bucket: kotlin.String, key: kotlin.String) : Unit {
        val localVarResponse = deleteKvByBucketByKeyWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/kv/{bucket}/{key}
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body.
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body. 404 when the bucket does not exist.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteKvByBucketByKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteKvByBucketByKeyRequestConfig(bucket = bucket, key = key)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteKvByBucketByKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun deleteKvByBucketByKeyRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kv/{bucket}/{key}
     * Get returns one key&#39;s current value and revision.
     * Get returns one key&#39;s current value and revision. 404 when the bucket does not exist, the key was never written, or its latest revision is a delete.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return KvEntry
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getKvByBucketByKey(bucket: kotlin.String, key: kotlin.String) : KvEntry {
        val localVarResponse = getKvByBucketByKeyWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvEntry
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kv/{bucket}/{key}
     * Get returns one key&#39;s current value and revision.
     * Get returns one key&#39;s current value and revision. 404 when the bucket does not exist, the key was never written, or its latest revision is a delete.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<KvEntry?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getKvByBucketByKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<KvEntry?> {
        val localVariableConfig = getKvByBucketByKeyRequestConfig(bucket = bucket, key = key)

        return request<Unit, KvEntry>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getKvByBucketByKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun getKvByBucketByKeyRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kv/{bucket}/{key}/history
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth.
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth. 404 when the bucket does not exist or the key was never written.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return KvPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getKvByBucketByKeyHistory(bucket: kotlin.String, key: kotlin.String) : KvPage {
        val localVarResponse = getKvByBucketByKeyHistoryWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kv/{bucket}/{key}/history
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth.
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth. 404 when the bucket does not exist or the key was never written.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<KvPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getKvByBucketByKeyHistoryWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<KvPage?> {
        val localVariableConfig = getKvByBucketByKeyHistoryRequestConfig(bucket = bucket, key = key)

        return request<Unit, KvPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getKvByBucketByKeyHistory
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun getKvByBucketByKeyHistoryRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kv/{bucket}/{key}/history".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/kv/{bucket}
     * Creates a KV bucket and returns it.
     * Creates a KV bucket and returns it. A bucket is keyed state on the same durable plane as the streams: each key holds up to History revisions, entries can expire by TTL, and watchers on the NATS port see every write. 409 when the org already has a bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param bucketWrite 
     * @return BucketRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postKvByBucket(bucket: kotlin.String, bucketWrite: BucketWrite) : BucketRecord {
        val localVarResponse = postKvByBucketWithHttpInfo(bucket = bucket, bucketWrite = bucketWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BucketRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kv/{bucket}
     * Creates a KV bucket and returns it.
     * Creates a KV bucket and returns it. A bucket is keyed state on the same durable plane as the streams: each key holds up to History revisions, entries can expire by TTL, and watchers on the NATS port see every write. 409 when the org already has a bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param bucketWrite 
     * @return ApiResponse<BucketRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postKvByBucketWithHttpInfo(bucket: kotlin.String, bucketWrite: BucketWrite) : ApiResponse<BucketRecord?> {
        val localVariableConfig = postKvByBucketRequestConfig(bucket = bucket, bucketWrite = bucketWrite)

        return request<BucketWrite, BucketRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postKvByBucket
     *
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param bucketWrite 
     * @return RequestConfig
     */
    fun postKvByBucketRequestConfig(bucket: kotlin.String, bucketWrite: BucketWrite) : RequestConfig<BucketWrite> {
        val localVariableBody = bucketWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/kv/{bucket}/{key}
     * Put sets one key to one value and returns the revision the write created.
     * Put sets one key to one value and returns the revision the write created. Writes are versioned: each put is a new revision and the bucket retains up to its History of them per key.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param kvWrite 
     * @return KvAck
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun putKvByBucketByKey(bucket: kotlin.String, key: kotlin.String, kvWrite: KvWrite) : KvAck {
        val localVarResponse = putKvByBucketByKeyWithHttpInfo(bucket = bucket, key = key, kvWrite = kvWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvAck
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/kv/{bucket}/{key}
     * Put sets one key to one value and returns the revision the write created.
     * Put sets one key to one value and returns the revision the write created. Writes are versioned: each put is a new revision and the bucket retains up to its History of them per key.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param kvWrite 
     * @return ApiResponse<KvAck?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun putKvByBucketByKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String, kvWrite: KvWrite) : ApiResponse<KvAck?> {
        val localVariableConfig = putKvByBucketByKeyRequestConfig(bucket = bucket, key = key, kvWrite = kvWrite)

        return request<KvWrite, KvAck>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation putKvByBucketByKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param kvWrite 
     * @return RequestConfig
     */
    fun putKvByBucketByKeyRequestConfig(bucket: kotlin.String, key: kotlin.String, kvWrite: KvWrite) : RequestConfig<KvWrite> {
        val localVariableBody = kvWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
