/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.RiskDisposeIn
import ai.hanzo.cloud.model.RiskDisposeOut
import ai.hanzo.cloud.model.RiskHoldIn
import ai.hanzo.cloud.model.RiskHoldOut
import ai.hanzo.cloud.model.RiskLabelCoverage
import ai.hanzo.cloud.model.RiskLabelIn
import ai.hanzo.cloud.model.RiskLabelOut
import ai.hanzo.cloud.model.RiskLabelVocabulary
import ai.hanzo.cloud.model.RiskLabelsOut
import ai.hanzo.cloud.model.RiskResolveIn
import ai.hanzo.cloud.model.RiskResolveOut

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class LabelApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/label/dispose
     * Dispose of this tenant&#39;s expired assertions, whole records only
     * Applies this tenant&#39;s retention, and only this tenant&#39;s.  It is bounded three ways, each a compliance property rather than a convenience. It refuses a boundary younger than the platform floor, because a label can be the input to an adverse action and five years is what the retention ledger holds such a record for. It never touches a record under litigation hold. And it disposes of whole records rather than redacting fields.  It removes the derived columnar copy BEFORE the record, and refuses the whole disposal if the warehouse cannot be reached. The other order would leave rows in the warehouse that nothing can identify any more, which is a disposal that did not happen and says it did.
     * @param riskDisposeIn 
     * @return RiskDisposeOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskDisposeLabels(riskDisposeIn: RiskDisposeIn) : RiskDisposeOut {
        val localVarResponse = riskDisposeLabelsWithHttpInfo(riskDisposeIn = riskDisposeIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskDisposeOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/label/dispose
     * Dispose of this tenant&#39;s expired assertions, whole records only
     * Applies this tenant&#39;s retention, and only this tenant&#39;s.  It is bounded three ways, each a compliance property rather than a convenience. It refuses a boundary younger than the platform floor, because a label can be the input to an adverse action and five years is what the retention ledger holds such a record for. It never touches a record under litigation hold. And it disposes of whole records rather than redacting fields.  It removes the derived columnar copy BEFORE the record, and refuses the whole disposal if the warehouse cannot be reached. The other order would leave rows in the warehouse that nothing can identify any more, which is a disposal that did not happen and says it did.
     * @param riskDisposeIn 
     * @return ApiResponse<RiskDisposeOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskDisposeLabelsWithHttpInfo(riskDisposeIn: RiskDisposeIn) : ApiResponse<RiskDisposeOut?> {
        val localVariableConfig = riskDisposeLabelsRequestConfig(riskDisposeIn = riskDisposeIn)

        return request<RiskDisposeIn, RiskDisposeOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskDisposeLabels
     *
     * @param riskDisposeIn 
     * @return RequestConfig
     */
    fun riskDisposeLabelsRequestConfig(riskDisposeIn: RiskDisposeIn) : RequestConfig<RiskDisposeIn> {
        val localVariableBody = riskDisposeIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/label/dispose",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/label/hold
     * Place or release a litigation hold on named records
     * Places or releases a litigation hold on named records.  A hold is a fact about the RECORD, not about the world: it says retention may not dispose of this row, and it asserts nothing about what happened. So it is not a field on an assertion and it is not folded into the content digest — carried there it was silently a no-op on any record that already existed, since re-filing the same assertion with a hold flag produced the same digest, the insert was ignored, and the caller was answered &#x60;duplicate&#x60; while the hold it asked for was never placed. This op is the one way a hold moves, in either direction, and the move is written to the audit log.  Every named id is this tenant&#39;s or is nothing. The statement runs against the tenant&#39;s own file, which holds no other tenant&#39;s rows and has no column that could name one.
     * @param riskHoldIn 
     * @return RiskHoldOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskHoldLabels(riskHoldIn: RiskHoldIn) : RiskHoldOut {
        val localVarResponse = riskHoldLabelsWithHttpInfo(riskHoldIn = riskHoldIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskHoldOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/label/hold
     * Place or release a litigation hold on named records
     * Places or releases a litigation hold on named records.  A hold is a fact about the RECORD, not about the world: it says retention may not dispose of this row, and it asserts nothing about what happened. So it is not a field on an assertion and it is not folded into the content digest — carried there it was silently a no-op on any record that already existed, since re-filing the same assertion with a hold flag produced the same digest, the insert was ignored, and the caller was answered &#x60;duplicate&#x60; while the hold it asked for was never placed. This op is the one way a hold moves, in either direction, and the move is written to the audit log.  Every named id is this tenant&#39;s or is nothing. The statement runs against the tenant&#39;s own file, which holds no other tenant&#39;s rows and has no column that could name one.
     * @param riskHoldIn 
     * @return ApiResponse<RiskHoldOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskHoldLabelsWithHttpInfo(riskHoldIn: RiskHoldIn) : ApiResponse<RiskHoldOut?> {
        val localVariableConfig = riskHoldLabelsRequestConfig(riskHoldIn = riskHoldIn)

        return request<RiskHoldIn, RiskHoldOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskHoldLabels
     *
     * @param riskHoldIn 
     * @return RequestConfig
     */
    fun riskHoldLabelsRequestConfig(riskHoldIn: RiskHoldIn) : RequestConfig<RiskHoldIn> {
        val localVariableBody = riskHoldIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/label/hold",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/label
     * Assert ground truth about events
     * Records a batch of ground truth against the entities it judges.  Each assertion carries TWO times — when the judged event happened, and when the assertion became knowable — and both are required. The second is what keeps a chargeback that landed in June out of a model that had to decide in February.  It is idempotent on the CONTENT of an assertion, so a webhook that redelivers is safe. It never overwrites: a source that corrects itself later files a NEW assertion, which wins from the moment it became knowable and leaves every earlier observation instant seeing exactly what it saw.  The asserter is stamped from the validated credential and is not a body field.
     * @param riskLabelIn 
     * @return RiskLabelOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskLabel(riskLabelIn: RiskLabelIn) : RiskLabelOut {
        val localVarResponse = riskLabelWithHttpInfo(riskLabelIn = riskLabelIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskLabelOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/label
     * Assert ground truth about events
     * Records a batch of ground truth against the entities it judges.  Each assertion carries TWO times — when the judged event happened, and when the assertion became knowable — and both are required. The second is what keeps a chargeback that landed in June out of a model that had to decide in February.  It is idempotent on the CONTENT of an assertion, so a webhook that redelivers is safe. It never overwrites: a source that corrects itself later files a NEW assertion, which wins from the moment it became knowable and leaves every earlier observation instant seeing exactly what it saw.  The asserter is stamped from the validated credential and is not a body field.
     * @param riskLabelIn 
     * @return ApiResponse<RiskLabelOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskLabelWithHttpInfo(riskLabelIn: RiskLabelIn) : ApiResponse<RiskLabelOut?> {
        val localVariableConfig = riskLabelRequestConfig(riskLabelIn = riskLabelIn)

        return request<RiskLabelIn, RiskLabelOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskLabel
     *
     * @param riskLabelIn 
     * @return RequestConfig
     */
    fun riskLabelRequestConfig(riskLabelIn: RiskLabelIn) : RequestConfig<RiskLabelIn> {
        val localVariableBody = riskLabelIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/label",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/label/coverage
     * How much of the window has matured, and how much of that is judged
     * Reports how much of a window has matured and how much of that is judged, per source.  It is the gate on training. A supervised fit over a window whose judged count is near zero produces a number, and the number is meaningless; this op is what lets that be stated before the fit rather than discovered after it.  It reads the RECORD plane and folds every assertion at that event&#39;s OWN as-of, so the counts obey exactly the leakage rule a materialisation would. It counts only what was ASSERTED: what share of the whole event STREAM carries a label is a question about the feature plane&#39;s denominator and is not answerable here.
     * @param from From and To bound the EVENT window, half-open, RFC 3339.  Unstated, the window is the 90 days ENDING where maturity begins — &#x60;to&#x60; is the horizon ago, not now. A default window running to now under a default horizon could not contain one matured event, so every count below it would be zero however much ground truth the tenant held. (optional)
     * @param to  (optional)
     * @param horizon Horizon is the maturity horizon in days the coverage is measured under. Unstated takes 120. It also moves the default window, which ends where maturity begins. (optional)
     * @return RiskLabelCoverage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskLabelCoverage(from: kotlin.String? = null, to: kotlin.String? = null, horizon: kotlin.Int? = null) : RiskLabelCoverage {
        val localVarResponse = riskLabelCoverageWithHttpInfo(from = from, to = to, horizon = horizon)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskLabelCoverage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/label/coverage
     * How much of the window has matured, and how much of that is judged
     * Reports how much of a window has matured and how much of that is judged, per source.  It is the gate on training. A supervised fit over a window whose judged count is near zero produces a number, and the number is meaningless; this op is what lets that be stated before the fit rather than discovered after it.  It reads the RECORD plane and folds every assertion at that event&#39;s OWN as-of, so the counts obey exactly the leakage rule a materialisation would. It counts only what was ASSERTED: what share of the whole event STREAM carries a label is a question about the feature plane&#39;s denominator and is not answerable here.
     * @param from From and To bound the EVENT window, half-open, RFC 3339.  Unstated, the window is the 90 days ENDING where maturity begins — &#x60;to&#x60; is the horizon ago, not now. A default window running to now under a default horizon could not contain one matured event, so every count below it would be zero however much ground truth the tenant held. (optional)
     * @param to  (optional)
     * @param horizon Horizon is the maturity horizon in days the coverage is measured under. Unstated takes 120. It also moves the default window, which ends where maturity begins. (optional)
     * @return ApiResponse<RiskLabelCoverage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskLabelCoverageWithHttpInfo(from: kotlin.String?, to: kotlin.String?, horizon: kotlin.Int?) : ApiResponse<RiskLabelCoverage?> {
        val localVariableConfig = riskLabelCoverageRequestConfig(from = from, to = to, horizon = horizon)

        return request<Unit, RiskLabelCoverage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskLabelCoverage
     *
     * @param from From and To bound the EVENT window, half-open, RFC 3339.  Unstated, the window is the 90 days ENDING where maturity begins — &#x60;to&#x60; is the horizon ago, not now. A default window running to now under a default horizon could not contain one matured event, so every count below it would be zero however much ground truth the tenant held. (optional)
     * @param to  (optional)
     * @param horizon Horizon is the maturity horizon in days the coverage is measured under. Unstated takes 120. It also moves the default window, which ends where maturity begins. (optional)
     * @return RequestConfig
     */
    fun riskLabelCoverageRequestConfig(from: kotlin.String?, to: kotlin.String?, horizon: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (from != null) {
                    put("from", listOf(from.toString()))
                }
                if (to != null) {
                    put("to", listOf(to.toString()))
                }
                if (horizon != null) {
                    put("horizon", listOf(horizon.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/label/coverage",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/label/vocabulary
     * The closed vocabularies and the precedence rule that resolves a conflict
     * Publishes the closed vocabularies and the precedence rule that resolves a conflict between two sources.  A precedence rule nobody can read is a rule nobody can audit or dispute, and the whole defensibility of a contested label rests on being able to say why one assertion beat another. The order returned here is derived from the same declaration the resolver reads — it is not a description of it.
     * @return RiskLabelVocabulary
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskLabelVocabulary() : RiskLabelVocabulary {
        val localVarResponse = riskLabelVocabularyWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskLabelVocabulary
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/label/vocabulary
     * The closed vocabularies and the precedence rule that resolves a conflict
     * Publishes the closed vocabularies and the precedence rule that resolves a conflict between two sources.  A precedence rule nobody can read is a rule nobody can audit or dispute, and the whole defensibility of a contested label rests on being able to say why one assertion beat another. The order returned here is derived from the same declaration the resolver reads — it is not a description of it.
     * @return ApiResponse<RiskLabelVocabulary?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskLabelVocabularyWithHttpInfo() : ApiResponse<RiskLabelVocabulary?> {
        val localVariableConfig = riskLabelVocabularyRequestConfig()

        return request<Unit, RiskLabelVocabulary>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskLabelVocabulary
     *
     * @return RequestConfig
     */
    fun riskLabelVocabularyRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/label/vocabulary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/label
     * Read the assertions this tenant has recorded
     * Reads the assertions this tenant has recorded, newest event first.  It reads the RECORD — the tenant&#39;s own store — and not the columnar copy, so what it returns is what would be produced in an audit. Narrow it by entity, by asserter, or by event window.
     * @param kind Kind and Subject narrow to one entity. (optional)
     * @param subject  (optional)
     * @param source Source narrows to one asserter — the read that answers \&quot;what has commerce told us\&quot;, separately from \&quot;what has an analyst told us\&quot;. (optional)
     * @param from From and To bound the EVENT time, half-open, RFC 3339. (optional)
     * @param to  (optional)
     * @param limit Limit caps the page. Out of range takes the plane&#39;s own bound. (optional)
     * @return RiskLabelsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskLabels(kind: kotlin.String? = null, subject: kotlin.String? = null, source: kotlin.String? = null, from: kotlin.String? = null, to: kotlin.String? = null, limit: kotlin.Int? = null) : RiskLabelsOut {
        val localVarResponse = riskLabelsWithHttpInfo(kind = kind, subject = subject, source = source, from = from, to = to, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskLabelsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/label
     * Read the assertions this tenant has recorded
     * Reads the assertions this tenant has recorded, newest event first.  It reads the RECORD — the tenant&#39;s own store — and not the columnar copy, so what it returns is what would be produced in an audit. Narrow it by entity, by asserter, or by event window.
     * @param kind Kind and Subject narrow to one entity. (optional)
     * @param subject  (optional)
     * @param source Source narrows to one asserter — the read that answers \&quot;what has commerce told us\&quot;, separately from \&quot;what has an analyst told us\&quot;. (optional)
     * @param from From and To bound the EVENT time, half-open, RFC 3339. (optional)
     * @param to  (optional)
     * @param limit Limit caps the page. Out of range takes the plane&#39;s own bound. (optional)
     * @return ApiResponse<RiskLabelsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskLabelsWithHttpInfo(kind: kotlin.String?, subject: kotlin.String?, source: kotlin.String?, from: kotlin.String?, to: kotlin.String?, limit: kotlin.Int?) : ApiResponse<RiskLabelsOut?> {
        val localVariableConfig = riskLabelsRequestConfig(kind = kind, subject = subject, source = source, from = from, to = to, limit = limit)

        return request<Unit, RiskLabelsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskLabels
     *
     * @param kind Kind and Subject narrow to one entity. (optional)
     * @param subject  (optional)
     * @param source Source narrows to one asserter — the read that answers \&quot;what has commerce told us\&quot;, separately from \&quot;what has an analyst told us\&quot;. (optional)
     * @param from From and To bound the EVENT time, half-open, RFC 3339. (optional)
     * @param to  (optional)
     * @param limit Limit caps the page. Out of range takes the plane&#39;s own bound. (optional)
     * @return RequestConfig
     */
    fun riskLabelsRequestConfig(kind: kotlin.String?, subject: kotlin.String?, source: kotlin.String?, from: kotlin.String?, to: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (kind != null) {
                    put("kind", listOf(kind.toString()))
                }
                if (subject != null) {
                    put("subject", listOf(subject.toString()))
                }
                if (source != null) {
                    put("source", listOf(source.toString()))
                }
                if (from != null) {
                    put("from", listOf(from.toString()))
                }
                if (to != null) {
                    put("to", listOf(to.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/label",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/label/resolve
     * Resolve the label in force for named events, as of each event&#39;s own horizon
     * Answers, for each named event, which assertion was in force AS OF that event&#39;s own horizon — and what disagreed with it.  This is the join surface: the dataset materialiser calls it to attach ground truth to training rows, and the evaluator calls it to score a past decision against what was knowable when the decision had to be made. One mechanism for both, so a model can never be trained under one leakage rule and scored under another.  Three answers are distinct and all three are honest: a resolved label, an event that has not matured, and a matured event nobody has judged. The last is never reported as unproductive.
     * @param riskResolveIn 
     * @return RiskResolveOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskResolveLabels(riskResolveIn: RiskResolveIn) : RiskResolveOut {
        val localVarResponse = riskResolveLabelsWithHttpInfo(riskResolveIn = riskResolveIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RiskResolveOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/label/resolve
     * Resolve the label in force for named events, as of each event&#39;s own horizon
     * Answers, for each named event, which assertion was in force AS OF that event&#39;s own horizon — and what disagreed with it.  This is the join surface: the dataset materialiser calls it to attach ground truth to training rows, and the evaluator calls it to score a past decision against what was knowable when the decision had to be made. One mechanism for both, so a model can never be trained under one leakage rule and scored under another.  Three answers are distinct and all three are honest: a resolved label, an event that has not matured, and a matured event nobody has judged. The last is never reported as unproductive.
     * @param riskResolveIn 
     * @return ApiResponse<RiskResolveOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskResolveLabelsWithHttpInfo(riskResolveIn: RiskResolveIn) : ApiResponse<RiskResolveOut?> {
        val localVariableConfig = riskResolveLabelsRequestConfig(riskResolveIn = riskResolveIn)

        return request<RiskResolveIn, RiskResolveOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskResolveLabels
     *
     * @param riskResolveIn 
     * @return RequestConfig
     */
    fun riskResolveLabelsRequestConfig(riskResolveIn: RiskResolveIn) : RequestConfig<RiskResolveIn> {
        val localVariableBody = riskResolveIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/label/resolve",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
