/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudDocumentPage
import ai.hanzo.cloud.model.CloudDocumentReply
import ai.hanzo.cloud.model.CloudFilingPage
import ai.hanzo.cloud.model.CloudFilingReply
import ai.hanzo.cloud.model.CloudFilingRequest
import ai.hanzo.cloud.model.CloudGenerateRequest
import ai.hanzo.cloud.model.CloudLegalHealth
import ai.hanzo.cloud.model.CloudSignReply
import ai.hanzo.cloud.model.CloudSignRequest
import ai.hanzo.cloud.model.CloudTemplateCatalog
import ai.hanzo.cloud.model.CloudTemplateOverride
import ai.hanzo.cloud.model.CloudTemplateReply

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class LegalApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/legal/documents
     * ListLegalDocuments returns the org&#39;s generated documents, newest first, WITHOUT their rendered content — fetch one document to read its body.
     * ListLegalDocuments returns the org&#39;s generated documents, newest first, WITHOUT their rendered content — fetch one document to read its body.  The response is marked no-store: these records name the counterparties an org is contracting with, and must not sit in a shared cache.
     * @param limit Limit bounds the page. Absent or unparseable means the store&#39;s own default. (optional)
     * @return CloudDocumentPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1LegalDocuments(limit: kotlin.Int? = null) : CloudDocumentPage {
        val localVarResponse = cloudGetV1LegalDocumentsWithHttpInfo(limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudDocumentPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/legal/documents
     * ListLegalDocuments returns the org&#39;s generated documents, newest first, WITHOUT their rendered content — fetch one document to read its body.
     * ListLegalDocuments returns the org&#39;s generated documents, newest first, WITHOUT their rendered content — fetch one document to read its body.  The response is marked no-store: these records name the counterparties an org is contracting with, and must not sit in a shared cache.
     * @param limit Limit bounds the page. Absent or unparseable means the store&#39;s own default. (optional)
     * @return ApiResponse<CloudDocumentPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1LegalDocumentsWithHttpInfo(limit: kotlin.Int?) : ApiResponse<CloudDocumentPage?> {
        val localVariableConfig = cloudGetV1LegalDocumentsRequestConfig(limit = limit)

        return request<Unit, CloudDocumentPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1LegalDocuments
     *
     * @param limit Limit bounds the page. Absent or unparseable means the store&#39;s own default. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1LegalDocumentsRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/legal/documents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/legal/documents/{id}
     * GetLegalDocument returns one of the org&#39;s documents WITH its rendered body.
     * GetLegalDocument returns one of the org&#39;s documents WITH its rendered body. 404 when the org has no document with that id — a document is never readable across orgs.  The response is marked no-store: the body is contract text, sealed at rest and returned only to the owning org, and must not sit in a shared cache.
     * @param id ID is the document&#39;s server-minted handle, \&quot;doc_\&quot;-prefixed.
     * @return CloudDocumentReply
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1LegalDocumentsId(id: kotlin.String) : CloudDocumentReply {
        val localVarResponse = cloudGetV1LegalDocumentsIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudDocumentReply
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/legal/documents/{id}
     * GetLegalDocument returns one of the org&#39;s documents WITH its rendered body.
     * GetLegalDocument returns one of the org&#39;s documents WITH its rendered body. 404 when the org has no document with that id — a document is never readable across orgs.  The response is marked no-store: the body is contract text, sealed at rest and returned only to the owning org, and must not sit in a shared cache.
     * @param id ID is the document&#39;s server-minted handle, \&quot;doc_\&quot;-prefixed.
     * @return ApiResponse<CloudDocumentReply?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1LegalDocumentsIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudDocumentReply?> {
        val localVariableConfig = cloudGetV1LegalDocumentsIdRequestConfig(id = id)

        return request<Unit, CloudDocumentReply>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1LegalDocumentsId
     *
     * @param id ID is the document&#39;s server-minted handle, \&quot;doc_\&quot;-prefixed.
     * @return RequestConfig
     */
    fun cloudGetV1LegalDocumentsIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/legal/documents/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/legal/filings
     * ListLegalFilings returns the org&#39;s filing records, newest first — which documents were filed where, through which provider, and what the filing&#39;s honest status is.
     * ListLegalFilings returns the org&#39;s filing records, newest first — which documents were filed where, through which provider, and what the filing&#39;s honest status is.
     * @param limit Limit bounds the page. Absent or unparseable means the store&#39;s own default. (optional)
     * @return CloudFilingPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1LegalFilings(limit: kotlin.Int? = null) : CloudFilingPage {
        val localVarResponse = cloudGetV1LegalFilingsWithHttpInfo(limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFilingPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/legal/filings
     * ListLegalFilings returns the org&#39;s filing records, newest first — which documents were filed where, through which provider, and what the filing&#39;s honest status is.
     * ListLegalFilings returns the org&#39;s filing records, newest first — which documents were filed where, through which provider, and what the filing&#39;s honest status is.
     * @param limit Limit bounds the page. Absent or unparseable means the store&#39;s own default. (optional)
     * @return ApiResponse<CloudFilingPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1LegalFilingsWithHttpInfo(limit: kotlin.Int?) : ApiResponse<CloudFilingPage?> {
        val localVariableConfig = cloudGetV1LegalFilingsRequestConfig(limit = limit)

        return request<Unit, CloudFilingPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1LegalFilings
     *
     * @param limit Limit bounds the page. Absent or unparseable means the store&#39;s own default. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1LegalFilingsRequestConfig(limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/legal/filings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/legal/health
     * LegalHealth reports that the legal subsystem is serving and how many built-in templates its catalog carries.
     * LegalHealth reports that the legal subsystem is serving and how many built-in templates its catalog carries. It reads no tenant, so a liveness prober that sends no principal is answered rather than refused.
     * @return CloudLegalHealth
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1LegalHealth() : CloudLegalHealth {
        val localVarResponse = cloudGetV1LegalHealthWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudLegalHealth
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/legal/health
     * LegalHealth reports that the legal subsystem is serving and how many built-in templates its catalog carries.
     * LegalHealth reports that the legal subsystem is serving and how many built-in templates its catalog carries. It reads no tenant, so a liveness prober that sends no principal is answered rather than refused.
     * @return ApiResponse<CloudLegalHealth?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1LegalHealthWithHttpInfo() : ApiResponse<CloudLegalHealth?> {
        val localVariableConfig = cloudGetV1LegalHealthRequestConfig()

        return request<Unit, CloudLegalHealth>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1LegalHealth
     *
     * @return RequestConfig
     */
    fun cloudGetV1LegalHealthRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/legal/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/legal/templates
     * ListLegalTemplates returns the org&#39;s effective template catalog: every built-in template, with any the org has overridden replaced by its own latest version.
     * ListLegalTemplates returns the org&#39;s effective template catalog: every built-in template, with any the org has overridden replaced by its own latest version.  The listing carries each template&#39;s metadata and its declared MERGE FIELDS — the keys a document generation must supply — but never the template bodies; fetch one template to get its body. Templates in the formation and equity categories are marked counselReview: every document rendered from them carries a counsel notice, and that posture cannot be dropped by an override.
     * @return CloudTemplateCatalog
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1LegalTemplates() : CloudTemplateCatalog {
        val localVarResponse = cloudGetV1LegalTemplatesWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTemplateCatalog
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/legal/templates
     * ListLegalTemplates returns the org&#39;s effective template catalog: every built-in template, with any the org has overridden replaced by its own latest version.
     * ListLegalTemplates returns the org&#39;s effective template catalog: every built-in template, with any the org has overridden replaced by its own latest version.  The listing carries each template&#39;s metadata and its declared MERGE FIELDS — the keys a document generation must supply — but never the template bodies; fetch one template to get its body. Templates in the formation and equity categories are marked counselReview: every document rendered from them carries a counsel notice, and that posture cannot be dropped by an override.
     * @return ApiResponse<CloudTemplateCatalog?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1LegalTemplatesWithHttpInfo() : ApiResponse<CloudTemplateCatalog?> {
        val localVariableConfig = cloudGetV1LegalTemplatesRequestConfig()

        return request<Unit, CloudTemplateCatalog>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1LegalTemplates
     *
     * @return RequestConfig
     */
    fun cloudGetV1LegalTemplatesRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/legal/templates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/legal/templates/{id}
     * GetLegalTemplate returns one template resolved for the caller&#39;s org — the org&#39;s own override if it has saved one, else the built-in — with its full text/template body and its declared merge fields.
     * GetLegalTemplate returns one template resolved for the caller&#39;s org — the org&#39;s own override if it has saved one, else the built-in — with its full text/template body and its declared merge fields. 404 when neither exists.
     * @param id ID is the template&#39;s stable id, e.g. \&quot;nda\&quot; or \&quot;safe\&quot;.
     * @return CloudTemplateReply
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1LegalTemplatesId(id: kotlin.String) : CloudTemplateReply {
        val localVarResponse = cloudGetV1LegalTemplatesIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTemplateReply
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/legal/templates/{id}
     * GetLegalTemplate returns one template resolved for the caller&#39;s org — the org&#39;s own override if it has saved one, else the built-in — with its full text/template body and its declared merge fields.
     * GetLegalTemplate returns one template resolved for the caller&#39;s org — the org&#39;s own override if it has saved one, else the built-in — with its full text/template body and its declared merge fields. 404 when neither exists.
     * @param id ID is the template&#39;s stable id, e.g. \&quot;nda\&quot; or \&quot;safe\&quot;.
     * @return ApiResponse<CloudTemplateReply?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1LegalTemplatesIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudTemplateReply?> {
        val localVariableConfig = cloudGetV1LegalTemplatesIdRequestConfig(id = id)

        return request<Unit, CloudTemplateReply>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1LegalTemplatesId
     *
     * @param id ID is the template&#39;s stable id, e.g. \&quot;nda\&quot; or \&quot;safe\&quot;.
     * @return RequestConfig
     */
    fun cloudGetV1LegalTemplatesIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/legal/templates/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/legal/documents
     * GenerateLegalDocument renders a document from a template and the caller&#39;s own merge data, seals it in the org&#39;s store, and returns it with its rendered body.
     * GenerateLegalDocument renders a document from a template and the caller&#39;s own merge data, seals it in the org&#39;s store, and returns it with its rendered body.  The render is PURE and deterministic — no clock, no I/O — so the same template version and the same data always produce identical bytes, which is what makes a generated contract reproducible. It fails CLOSED on a missing merge field: there is no blank-filled contract, only a 400 naming the fields that were absent. When the template is counsel-review the rendered body opens with the counsel notice, which no caller can suppress.  The document is a DRAFT. Hanzo Legal manages documents; it does not give legal advice and does not determine that a document is valid or sufficient.
     * @param cloudGenerateRequest 
     * @return CloudDocumentReply
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1LegalDocuments(cloudGenerateRequest: CloudGenerateRequest) : CloudDocumentReply {
        val localVarResponse = cloudPostV1LegalDocumentsWithHttpInfo(cloudGenerateRequest = cloudGenerateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudDocumentReply
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/legal/documents
     * GenerateLegalDocument renders a document from a template and the caller&#39;s own merge data, seals it in the org&#39;s store, and returns it with its rendered body.
     * GenerateLegalDocument renders a document from a template and the caller&#39;s own merge data, seals it in the org&#39;s store, and returns it with its rendered body.  The render is PURE and deterministic — no clock, no I/O — so the same template version and the same data always produce identical bytes, which is what makes a generated contract reproducible. It fails CLOSED on a missing merge field: there is no blank-filled contract, only a 400 naming the fields that were absent. When the template is counsel-review the rendered body opens with the counsel notice, which no caller can suppress.  The document is a DRAFT. Hanzo Legal manages documents; it does not give legal advice and does not determine that a document is valid or sufficient.
     * @param cloudGenerateRequest 
     * @return ApiResponse<CloudDocumentReply?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1LegalDocumentsWithHttpInfo(cloudGenerateRequest: CloudGenerateRequest) : ApiResponse<CloudDocumentReply?> {
        val localVariableConfig = cloudPostV1LegalDocumentsRequestConfig(cloudGenerateRequest = cloudGenerateRequest)

        return request<CloudGenerateRequest, CloudDocumentReply>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1LegalDocuments
     *
     * @param cloudGenerateRequest 
     * @return RequestConfig
     */
    fun cloudPostV1LegalDocumentsRequestConfig(cloudGenerateRequest: CloudGenerateRequest) : RequestConfig<CloudGenerateRequest> {
        val localVariableBody = cloudGenerateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/legal/documents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/legal/documents/{id}/sign/complete
     * 
     * 
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1LegalDocumentsByIdSignComplete(id: kotlin.String) : Unit {
        val localVarResponse = cloudPostV1LegalDocumentsByIdSignCompleteWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/legal/documents/{id}/sign/complete
     * 
     * 
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1LegalDocumentsByIdSignCompleteWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudPostV1LegalDocumentsByIdSignCompleteRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1LegalDocumentsByIdSignComplete
     *
     * @param id 
     * @return RequestConfig
     */
    fun cloudPostV1LegalDocumentsByIdSignCompleteRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/legal/documents/{id}/sign/complete".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/legal/documents/{id}/sign
     * RequestLegalSignature opens an e-signature request over one document and moves it to out_for_signature, returning the provider&#39;s reference for the request.
     * RequestLegalSignature opens an e-signature request over one document and moves it to out_for_signature, returning the provider&#39;s reference for the request.  The provider is whatever this deployment has wired. The honest default is \&quot;manual\&quot;: the request is recorded and the org fulfils it out of band — nothing here fabricates a signature, and the stub never reports itself complete.
     * @param id ID is the document to send for signature, from the path.
     * @param cloudSignRequest 
     * @return CloudSignReply
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1LegalDocumentsIdSign(id: kotlin.String, cloudSignRequest: CloudSignRequest) : CloudSignReply {
        val localVarResponse = cloudPostV1LegalDocumentsIdSignWithHttpInfo(id = id, cloudSignRequest = cloudSignRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSignReply
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/legal/documents/{id}/sign
     * RequestLegalSignature opens an e-signature request over one document and moves it to out_for_signature, returning the provider&#39;s reference for the request.
     * RequestLegalSignature opens an e-signature request over one document and moves it to out_for_signature, returning the provider&#39;s reference for the request.  The provider is whatever this deployment has wired. The honest default is \&quot;manual\&quot;: the request is recorded and the org fulfils it out of band — nothing here fabricates a signature, and the stub never reports itself complete.
     * @param id ID is the document to send for signature, from the path.
     * @param cloudSignRequest 
     * @return ApiResponse<CloudSignReply?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1LegalDocumentsIdSignWithHttpInfo(id: kotlin.String, cloudSignRequest: CloudSignRequest) : ApiResponse<CloudSignReply?> {
        val localVariableConfig = cloudPostV1LegalDocumentsIdSignRequestConfig(id = id, cloudSignRequest = cloudSignRequest)

        return request<CloudSignRequest, CloudSignReply>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1LegalDocumentsIdSign
     *
     * @param id ID is the document to send for signature, from the path.
     * @param cloudSignRequest 
     * @return RequestConfig
     */
    fun cloudPostV1LegalDocumentsIdSignRequestConfig(id: kotlin.String, cloudSignRequest: CloudSignRequest) : RequestConfig<CloudSignRequest> {
        val localVariableBody = cloudSignRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/legal/documents/{id}/sign".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/legal/filings
     * CreateLegalFiling records a filing of one or more of the org&#39;s documents with a state or agency, and returns the tracking record.
     * CreateLegalFiling records a filing of one or more of the org&#39;s documents with a state or agency, and returns the tracking record.  It is a TRACKING record, not an autonomous filing. With no filing partner wired the honest status is \&quot;manual\&quot; and the note says so: the documents were generated for signature, and the org files them through its registered agent. Nothing here invents a filing id it does not have.  Every document id must belong to the caller&#39;s org; one that does not is a 404 naming it, so a filing can never reach across tenants.
     * @param cloudFilingRequest 
     * @return CloudFilingReply
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1LegalFilings(cloudFilingRequest: CloudFilingRequest) : CloudFilingReply {
        val localVarResponse = cloudPostV1LegalFilingsWithHttpInfo(cloudFilingRequest = cloudFilingRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudFilingReply
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/legal/filings
     * CreateLegalFiling records a filing of one or more of the org&#39;s documents with a state or agency, and returns the tracking record.
     * CreateLegalFiling records a filing of one or more of the org&#39;s documents with a state or agency, and returns the tracking record.  It is a TRACKING record, not an autonomous filing. With no filing partner wired the honest status is \&quot;manual\&quot; and the note says so: the documents were generated for signature, and the org files them through its registered agent. Nothing here invents a filing id it does not have.  Every document id must belong to the caller&#39;s org; one that does not is a 404 naming it, so a filing can never reach across tenants.
     * @param cloudFilingRequest 
     * @return ApiResponse<CloudFilingReply?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1LegalFilingsWithHttpInfo(cloudFilingRequest: CloudFilingRequest) : ApiResponse<CloudFilingReply?> {
        val localVariableConfig = cloudPostV1LegalFilingsRequestConfig(cloudFilingRequest = cloudFilingRequest)

        return request<CloudFilingRequest, CloudFilingReply>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1LegalFilings
     *
     * @param cloudFilingRequest 
     * @return RequestConfig
     */
    fun cloudPostV1LegalFilingsRequestConfig(cloudFilingRequest: CloudFilingRequest) : RequestConfig<CloudFilingRequest> {
        val localVariableBody = cloudFilingRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/legal/filings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/legal/templates/{id}
     * SaveLegalTemplateOverride saves the org&#39;s own version of a template — a custom NDA, a house MSA — and returns it with its new version number.
     * SaveLegalTemplateOverride saves the org&#39;s own version of a template — a custom NDA, a house MSA — and returns it with its new version number. It takes effect for that org only; other orgs keep the built-in.  Two boundaries cannot be crossed here. Overriding a built-in INHERITS its category and its counsel-review posture, which can be raised but never dropped; and a formation or equity template is counsel-review whatever the caller sends, so no org can generate a securities-class document without the notice.  The body is validated on save, not at generation: a template that references an UNDECLARED merge field is refused with 400 rather than stored and rendered blank into a contract months later.
     * @param id ID is the template to override, from the path. Overriding a built-in id inherits that built-in&#39;s category, title and counsel-review posture.
     * @param cloudTemplateOverride 
     * @return CloudTemplateReply
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPutV1LegalTemplatesId(id: kotlin.String, cloudTemplateOverride: CloudTemplateOverride) : CloudTemplateReply {
        val localVarResponse = cloudPutV1LegalTemplatesIdWithHttpInfo(id = id, cloudTemplateOverride = cloudTemplateOverride)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTemplateReply
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/legal/templates/{id}
     * SaveLegalTemplateOverride saves the org&#39;s own version of a template — a custom NDA, a house MSA — and returns it with its new version number.
     * SaveLegalTemplateOverride saves the org&#39;s own version of a template — a custom NDA, a house MSA — and returns it with its new version number. It takes effect for that org only; other orgs keep the built-in.  Two boundaries cannot be crossed here. Overriding a built-in INHERITS its category and its counsel-review posture, which can be raised but never dropped; and a formation or equity template is counsel-review whatever the caller sends, so no org can generate a securities-class document without the notice.  The body is validated on save, not at generation: a template that references an UNDECLARED merge field is refused with 400 rather than stored and rendered blank into a contract months later.
     * @param id ID is the template to override, from the path. Overriding a built-in id inherits that built-in&#39;s category, title and counsel-review posture.
     * @param cloudTemplateOverride 
     * @return ApiResponse<CloudTemplateReply?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPutV1LegalTemplatesIdWithHttpInfo(id: kotlin.String, cloudTemplateOverride: CloudTemplateOverride) : ApiResponse<CloudTemplateReply?> {
        val localVariableConfig = cloudPutV1LegalTemplatesIdRequestConfig(id = id, cloudTemplateOverride = cloudTemplateOverride)

        return request<CloudTemplateOverride, CloudTemplateReply>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPutV1LegalTemplatesId
     *
     * @param id ID is the template to override, from the path. Overriding a built-in id inherits that built-in&#39;s category, title and counsel-review posture.
     * @param cloudTemplateOverride 
     * @return RequestConfig
     */
    fun cloudPutV1LegalTemplatesIdRequestConfig(id: kotlin.String, cloudTemplateOverride: CloudTemplateOverride) : RequestConfig<CloudTemplateOverride> {
        val localVariableBody = cloudTemplateOverride
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/legal/templates/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
