/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudCreateLBReq
import ai.hanzo.cloud.model.CloudLbList
import ai.hanzo.cloud.model.CloudLbView

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class LoadBalancersApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/load-balancers/{id}
     * DeleteLoadBalancer removes one of the caller org&#39;s load balancers and answers 204.
     * DeleteLoadBalancer removes one of the caller org&#39;s load balancers and answers 204. Ownership is confirmed by re-fetching the resource before anything is deleted, so a cross-tenant id is a 404 rather than a delete of another org&#39;s load balancer.
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1LoadBalancersId(id: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1LoadBalancersIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/load-balancers/{id}
     * DeleteLoadBalancer removes one of the caller org&#39;s load balancers and answers 204.
     * DeleteLoadBalancer removes one of the caller org&#39;s load balancers and answers 204. Ownership is confirmed by re-fetching the resource before anything is deleted, so a cross-tenant id is a 404 rather than a delete of another org&#39;s load balancer.
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1LoadBalancersIdWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1LoadBalancersIdRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1LoadBalancersId
     *
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1LoadBalancersIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/load-balancers/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/load-balancers
     * ListLoadBalancers returns every load balancer the caller&#39;s org owns, under the friendly names the org created them with.
     * ListLoadBalancers returns every load balancer the caller&#39;s org owns, under the friendly names the org created them with. Same account-wide filter as the VPC listing: a load balancer outside the caller&#39;s \&quot;o\&quot;&lt;orgHash&gt;- namespace is never in the answer.
     * @return CloudLbList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1LoadBalancers() : CloudLbList {
        val localVarResponse = cloudGetV1LoadBalancersWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudLbList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/load-balancers
     * ListLoadBalancers returns every load balancer the caller&#39;s org owns, under the friendly names the org created them with.
     * ListLoadBalancers returns every load balancer the caller&#39;s org owns, under the friendly names the org created them with. Same account-wide filter as the VPC listing: a load balancer outside the caller&#39;s \&quot;o\&quot;&lt;orgHash&gt;- namespace is never in the answer.
     * @return ApiResponse<CloudLbList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1LoadBalancersWithHttpInfo() : ApiResponse<CloudLbList?> {
        val localVariableConfig = cloudGetV1LoadBalancersRequestConfig()

        return request<Unit, CloudLbList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1LoadBalancers
     *
     * @return RequestConfig
     */
    fun cloudGetV1LoadBalancersRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/load-balancers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/load-balancers/{id}
     * GetLoadBalancer returns one of the caller org&#39;s load balancers by id.
     * GetLoadBalancer returns one of the caller org&#39;s load balancers by id. One that exists in another org&#39;s namespace is reported 404, never 403 — the same existence-oracle guard the VPC read applies.
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return CloudLbView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1LoadBalancersId(id: kotlin.String) : CloudLbView {
        val localVarResponse = cloudGetV1LoadBalancersIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudLbView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/load-balancers/{id}
     * GetLoadBalancer returns one of the caller org&#39;s load balancers by id.
     * GetLoadBalancer returns one of the caller org&#39;s load balancers by id. One that exists in another org&#39;s namespace is reported 404, never 403 — the same existence-oracle guard the VPC read applies.
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return ApiResponse<CloudLbView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1LoadBalancersIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudLbView?> {
        val localVariableConfig = cloudGetV1LoadBalancersIdRequestConfig(id = id)

        return request<Unit, CloudLbView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1LoadBalancersId
     *
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return RequestConfig
     */
    fun cloudGetV1LoadBalancersIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/load-balancers/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/load-balancers
     * CreateLoadBalancer creates a load balancer in the caller&#39;s org namespace and answers 201 with it.
     * CreateLoadBalancer creates a load balancer in the caller&#39;s org namespace and answers 201 with it. The physical DigitalOcean name is derived server-side from the validated org; a name that already exists there is a 409. Omitting forwarding rules yields a usable HTTP 80→80 load balancer rather than a 422.
     * @param cloudCreateLBReq 
     * @return CloudLbView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1LoadBalancers(cloudCreateLBReq: CloudCreateLBReq) : CloudLbView {
        val localVarResponse = cloudPostV1LoadBalancersWithHttpInfo(cloudCreateLBReq = cloudCreateLBReq)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudLbView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/load-balancers
     * CreateLoadBalancer creates a load balancer in the caller&#39;s org namespace and answers 201 with it.
     * CreateLoadBalancer creates a load balancer in the caller&#39;s org namespace and answers 201 with it. The physical DigitalOcean name is derived server-side from the validated org; a name that already exists there is a 409. Omitting forwarding rules yields a usable HTTP 80→80 load balancer rather than a 422.
     * @param cloudCreateLBReq 
     * @return ApiResponse<CloudLbView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1LoadBalancersWithHttpInfo(cloudCreateLBReq: CloudCreateLBReq) : ApiResponse<CloudLbView?> {
        val localVariableConfig = cloudPostV1LoadBalancersRequestConfig(cloudCreateLBReq = cloudCreateLBReq)

        return request<CloudCreateLBReq, CloudLbView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1LoadBalancers
     *
     * @param cloudCreateLBReq 
     * @return RequestConfig
     */
    fun cloudPostV1LoadBalancersRequestConfig(cloudCreateLBReq: CloudCreateLBReq) : RequestConfig<CloudCreateLBReq> {
        val localVariableBody = cloudCreateLBReq
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/load-balancers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
