/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.History
import ai.hanzo.cloud.model.Pools
import ai.hanzo.cloud.model.Roster
import ai.hanzo.cloud.model.Survey
import ai.hanzo.cloud.model.Tokens

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class MarketApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/market/chains
     * Answers every chain this deployment can read, what is deployed on each, and what its automated market maker amounts to.
     * Answers every chain this deployment can read, what is deployed on each, and what its automated market maker amounts to.  One call. It reads the chain registry, then every chain&#39;s indexer for its figures and its most recent active day, all at once — where a client doing it itself makes one registry request and two more per chain.  THE ROW IS THE UNIT OF TRUTH. Each carries its own reach, so one indexer being unreachable costs one row its figures and leaves the rest answered. A chain with no market maker deployed — the registry names no factory for it — answers &#x60;read&#x60; with totals of nothing, which is a fact about that chain and is not the same as a chain nobody could ask.
     * @return Roster
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMarketChains() : Roster {
        val localVarResponse = getMarketChainsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Roster
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/market/chains
     * Answers every chain this deployment can read, what is deployed on each, and what its automated market maker amounts to.
     * Answers every chain this deployment can read, what is deployed on each, and what its automated market maker amounts to.  One call. It reads the chain registry, then every chain&#39;s indexer for its figures and its most recent active day, all at once — where a client doing it itself makes one registry request and two more per chain.  THE ROW IS THE UNIT OF TRUTH. Each carries its own reach, so one indexer being unreachable costs one row its figures and leaves the rest answered. A chain with no market maker deployed — the registry names no factory for it — answers &#x60;read&#x60; with totals of nothing, which is a fact about that chain and is not the same as a chain nobody could ask.
     * @return ApiResponse<Roster?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMarketChainsWithHttpInfo() : ApiResponse<Roster?> {
        val localVariableConfig = getMarketChainsRequestConfig()

        return request<Unit, Roster>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMarketChains
     *
     * @return RequestConfig
     */
    fun getMarketChainsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/market/chains",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/market/pools
     * Answers the automated market makers on one chain: their two tokens, their fee tier, and what has moved through each.
     * Answers the automated market makers on one chain: their two tokens, their fee tier, and what has moved through each.  The two price fields on a pool are the ratio its own reserves stand at, as the indexer computed them. They are not a price ON either token and not a mark: nothing here derives one, ranks the pools, or names a route through them.  A chain with no market maker deployed answers &#x60;read&#x60; with no pools. That is the chain&#39;s real condition, and it is deliberately not the same answer as an indexer that could not be asked.
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return Pools
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMarketPools(chain: kotlin.String? = null) : Pools {
        val localVarResponse = getMarketPoolsWithHttpInfo(chain = chain)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Pools
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/market/pools
     * Answers the automated market makers on one chain: their two tokens, their fee tier, and what has moved through each.
     * Answers the automated market makers on one chain: their two tokens, their fee tier, and what has moved through each.  The two price fields on a pool are the ratio its own reserves stand at, as the indexer computed them. They are not a price ON either token and not a mark: nothing here derives one, ranks the pools, or names a route through them.  A chain with no market maker deployed answers &#x60;read&#x60; with no pools. That is the chain&#39;s real condition, and it is deliberately not the same answer as an indexer that could not be asked.
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return ApiResponse<Pools?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMarketPoolsWithHttpInfo(chain: kotlin.String?) : ApiResponse<Pools?> {
        val localVariableConfig = getMarketPoolsRequestConfig(chain = chain)

        return request<Unit, Pools>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMarketPools
     *
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return RequestConfig
     */
    fun getMarketPoolsRequestConfig(chain: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (chain != null) {
                    put("chain", listOf(chain.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/market/pools",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/market/survey
     * Answers which of the four settlement precompiles carry code on one chain.
     * Answers which of the four settlement precompiles carry code on one chain.  An address with no code answers a call with empty data rather than an error, so \&quot;this chain has no view precompile\&quot; and \&quot;this market was never opened\&quot; reach a caller as the same silence — and only the second is a fact about a market. This says which it is, by asking the node for the code at each address.  It reads presence and nothing else. No market, no quote, no depth and no order is requested here, and &#x60;eth_getCode&#x60; is the only method this operation ever sends.
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return Survey
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMarketSurvey(chain: kotlin.String? = null) : Survey {
        val localVarResponse = getMarketSurveyWithHttpInfo(chain = chain)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Survey
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/market/survey
     * Answers which of the four settlement precompiles carry code on one chain.
     * Answers which of the four settlement precompiles carry code on one chain.  An address with no code answers a call with empty data rather than an error, so \&quot;this chain has no view precompile\&quot; and \&quot;this market was never opened\&quot; reach a caller as the same silence — and only the second is a fact about a market. This says which it is, by asking the node for the code at each address.  It reads presence and nothing else. No market, no quote, no depth and no order is requested here, and &#x60;eth_getCode&#x60; is the only method this operation ever sends.
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return ApiResponse<Survey?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMarketSurveyWithHttpInfo(chain: kotlin.String?) : ApiResponse<Survey?> {
        val localVariableConfig = getMarketSurveyRequestConfig(chain = chain)

        return request<Unit, Survey>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMarketSurvey
     *
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return RequestConfig
     */
    fun getMarketSurveyRequestConfig(chain: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (chain != null) {
                    put("chain", listOf(chain.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/market/survey",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/market/token
     * Answers one token&#39;s daily history — open, high, low, close, price and volume per UTC day, oldest first.
     * Answers one token&#39;s daily history — open, high, low, close, price and volume per UTC day, oldest first.  Every figure is the indexer&#39;s own arithmetic, passed through as the decimal string it computed. Nothing here rounds one, converts one, or fills a gap: a day the indexer holds no figure for arrives with that field absent, which says \&quot;not indexed\&quot; where a zero would say \&quot;worth nothing\&quot;.
     * @param chain  (optional)
     * @param at At is the token&#39;s contract address. (optional)
     * @return History
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMarketToken(chain: kotlin.String? = null, at: kotlin.String? = null) : History {
        val localVarResponse = getMarketTokenWithHttpInfo(chain = chain, at = at)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as History
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/market/token
     * Answers one token&#39;s daily history — open, high, low, close, price and volume per UTC day, oldest first.
     * Answers one token&#39;s daily history — open, high, low, close, price and volume per UTC day, oldest first.  Every figure is the indexer&#39;s own arithmetic, passed through as the decimal string it computed. Nothing here rounds one, converts one, or fills a gap: a day the indexer holds no figure for arrives with that field absent, which says \&quot;not indexed\&quot; where a zero would say \&quot;worth nothing\&quot;.
     * @param chain  (optional)
     * @param at At is the token&#39;s contract address. (optional)
     * @return ApiResponse<History?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMarketTokenWithHttpInfo(chain: kotlin.String?, at: kotlin.String?) : ApiResponse<History?> {
        val localVariableConfig = getMarketTokenRequestConfig(chain = chain, at = at)

        return request<Unit, History>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMarketToken
     *
     * @param chain  (optional)
     * @param at At is the token&#39;s contract address. (optional)
     * @return RequestConfig
     */
    fun getMarketTokenRequestConfig(chain: kotlin.String?, at: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (chain != null) {
                    put("chain", listOf(chain.toString()))
                }
                if (at != null) {
                    put("at", listOf(at.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/market/token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/market/tokens
     * Answers the tokens one chain&#39;s indexer has seen, with the decimals a caller needs to read any amount of one correctly.
     * Answers the tokens one chain&#39;s indexer has seen, with the decimals a caller needs to read any amount of one correctly.  This is what the indexer INGESTED, which is not the same as what exists on the chain: a token nothing has traded has no row here, and this is not a registry of what is permitted or listed.
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return Tokens
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMarketTokens(chain: kotlin.String? = null) : Tokens {
        val localVarResponse = getMarketTokensWithHttpInfo(chain = chain)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Tokens
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/market/tokens
     * Answers the tokens one chain&#39;s indexer has seen, with the decimals a caller needs to read any amount of one correctly.
     * Answers the tokens one chain&#39;s indexer has seen, with the decimals a caller needs to read any amount of one correctly.  This is what the indexer INGESTED, which is not the same as what exists on the chain: a token nothing has traded has no row here, and this is not a registry of what is permitted or listed.
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return ApiResponse<Tokens?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMarketTokensWithHttpInfo(chain: kotlin.String?) : ApiResponse<Tokens?> {
        val localVariableConfig = getMarketTokensRequestConfig(chain = chain)

        return request<Unit, Tokens>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMarketTokens
     *
     * @param chain Chain is the chain&#39;s slug — &#x60;cchain&#x60;, &#x60;zoo&#x60; — as &#x60;chains&#x60; reports it. It is the indexer&#39;s word for the chain and NOT the chain id: &#x60;96369&#x60;, &#x60;C&#x60; and &#x60;c-chain&#x60; all name nothing. (optional)
     * @return RequestConfig
     */
    fun getMarketTokensRequestConfig(chain: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (chain != null) {
                    put("chain", listOf(chain.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/market/tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
