/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CommerceError
import ai.hanzo.cloud.model.CommerceSaaSMetrics

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class MetricsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/metrics/health
     * 
     * 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1MetricsHealth() : Unit {
        val localVarResponse = cloudGetV1MetricsHealthWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/metrics/health
     * 
     * 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1MetricsHealthWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = cloudGetV1MetricsHealthRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1MetricsHealth
     *
     * @return RequestConfig
     */
    fun cloudGetV1MetricsHealthRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/metrics/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/metrics/query
     * 
     * 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1MetricsQuery() : Unit {
        val localVarResponse = cloudGetV1MetricsQueryWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/metrics/query
     * 
     * 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1MetricsQueryWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = cloudGetV1MetricsQueryRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1MetricsQuery
     *
     * @return RequestConfig
     */
    fun cloudGetV1MetricsQueryRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/metrics/query",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/metrics/batch
     * 
     * 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1MetricsBatch() : Unit {
        val localVarResponse = cloudPostV1MetricsBatchWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/metrics/batch
     * 
     * 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1MetricsBatchWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = cloudPostV1MetricsBatchRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1MetricsBatch
     *
     * @return RequestConfig
     */
    fun cloudPostV1MetricsBatchRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/metrics/batch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/metrics/write
     * 
     * 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1MetricsWrite() : Unit {
        val localVarResponse = cloudPostV1MetricsWriteWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/metrics/write
     * 
     * 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1MetricsWriteWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = cloudPostV1MetricsWriteRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1MetricsWrite
     *
     * @return RequestConfig
     */
    fun cloudPostV1MetricsWriteRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/metrics/write",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter window
     */
     enum class WindowCommerceGetSaaSMetrics(val value: kotlin.String) {
         @SerializedName(value = "7d") _7d("7d"),
         @SerializedName(value = "30d") _30d("30d"),
         @SerializedName(value = "90d") _90d("90d"),
         @SerializedName(value = "mtd") mtd("mtd"),
         @SerializedName(value = "all") all("all");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/commerce/metrics/saas
     * SaaS operations snapshot (platform god-view)
     * The whole-business SaaS operations snapshot — recurring revenue (MRR/ARR, new/churned MRR, MRR by plan category), subscription mix (per plan, trials, seats, a recent create/cancel events feed), metered pay-as-you-go revenue totals, and the top customers by revenue — computed in commerce (the system of record for subscriptions + the usage ledger) from ONE cross-org walk. Money is USD cents end to end.  PLATFORM god-view: gated on a global admin OR the trusted internal service token (the console&#39;s global-admin-gated proxy forwards COMMERCE_SERVICE_TOKEN with no user identity). An org-level admin is refused (403) — this is cross-tenant data.  Per-model LLM tokens/latency/error and the per-org AI-spend ranking are deliberately NOT here: the canonical fleet LLM-observability aggregate is GET /v1/admin/o11y. The &#x60;gaps&#x60; array names what is not instrumented (e.g. plan-change upgrade/downgrade counts, per-model latency) rather than fabricating it. 
     * @param window Usage + new/churn window: 7d | 30d | 90d | mtd | all (default 30d) (optional, default to 30d)
     * @param limit Cap for the customers list (1-200, default 20) (optional, default to 20)
     * @return CommerceSaaSMetrics
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun commerceGetSaaSMetrics(window: WindowCommerceGetSaaSMetrics? = WindowCommerceGetSaaSMetrics._30d, limit: kotlin.Int? = 20) : CommerceSaaSMetrics {
        val localVarResponse = commerceGetSaaSMetricsWithHttpInfo(window = window, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CommerceSaaSMetrics
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/metrics/saas
     * SaaS operations snapshot (platform god-view)
     * The whole-business SaaS operations snapshot — recurring revenue (MRR/ARR, new/churned MRR, MRR by plan category), subscription mix (per plan, trials, seats, a recent create/cancel events feed), metered pay-as-you-go revenue totals, and the top customers by revenue — computed in commerce (the system of record for subscriptions + the usage ledger) from ONE cross-org walk. Money is USD cents end to end.  PLATFORM god-view: gated on a global admin OR the trusted internal service token (the console&#39;s global-admin-gated proxy forwards COMMERCE_SERVICE_TOKEN with no user identity). An org-level admin is refused (403) — this is cross-tenant data.  Per-model LLM tokens/latency/error and the per-org AI-spend ranking are deliberately NOT here: the canonical fleet LLM-observability aggregate is GET /v1/admin/o11y. The &#x60;gaps&#x60; array names what is not instrumented (e.g. plan-change upgrade/downgrade counts, per-model latency) rather than fabricating it. 
     * @param window Usage + new/churn window: 7d | 30d | 90d | mtd | all (default 30d) (optional, default to 30d)
     * @param limit Cap for the customers list (1-200, default 20) (optional, default to 20)
     * @return ApiResponse<CommerceSaaSMetrics?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun commerceGetSaaSMetricsWithHttpInfo(window: WindowCommerceGetSaaSMetrics?, limit: kotlin.Int?) : ApiResponse<CommerceSaaSMetrics?> {
        val localVariableConfig = commerceGetSaaSMetricsRequestConfig(window = window, limit = limit)

        return request<Unit, CommerceSaaSMetrics>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceGetSaaSMetrics
     *
     * @param window Usage + new/churn window: 7d | 30d | 90d | mtd | all (default 30d) (optional, default to 30d)
     * @param limit Cap for the customers list (1-200, default 20) (optional, default to 20)
     * @return RequestConfig
     */
    fun commerceGetSaaSMetricsRequestConfig(window: WindowCommerceGetSaaSMetrics?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (window != null) {
                    put("window", listOf(window.value))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/metrics/saas",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
