/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.S3ListObjectsV2200Response

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class ObjectsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/s3/{bucket}/{key}
     * Delete an object
     * 
     * @param bucket 
     * @param key 
     * @param versionId Specific version to delete (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun s3DeleteObject(bucket: kotlin.String, key: kotlin.String, versionId: kotlin.String? = null) : Unit {
        val localVarResponse = s3DeleteObjectWithHttpInfo(bucket = bucket, key = key, versionId = versionId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/s3/{bucket}/{key}
     * Delete an object
     * 
     * @param bucket 
     * @param key 
     * @param versionId Specific version to delete (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun s3DeleteObjectWithHttpInfo(bucket: kotlin.String, key: kotlin.String, versionId: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = s3DeleteObjectRequestConfig(bucket = bucket, key = key, versionId = versionId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3DeleteObject
     *
     * @param bucket 
     * @param key 
     * @param versionId Specific version to delete (optional)
     * @return RequestConfig
     */
    fun s3DeleteObjectRequestConfig(bucket: kotlin.String, key: kotlin.String, versionId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (versionId != null) {
                    put("versionId", listOf(versionId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/s3/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/{bucket}/{key}
     * Download an object
     * 
     * @param bucket 
     * @param key 
     * @param versionId Specific version to retrieve (optional)
     * @param range Byte range (e.g. bytes&#x3D;0-1023) (optional)
     * @return java.io.File
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun s3GetObject(bucket: kotlin.String, key: kotlin.String, versionId: kotlin.String? = null, range: kotlin.String? = null) : java.io.File {
        val localVarResponse = s3GetObjectWithHttpInfo(bucket = bucket, key = key, versionId = versionId, range = range)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as java.io.File
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/{bucket}/{key}
     * Download an object
     * 
     * @param bucket 
     * @param key 
     * @param versionId Specific version to retrieve (optional)
     * @param range Byte range (e.g. bytes&#x3D;0-1023) (optional)
     * @return ApiResponse<java.io.File?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun s3GetObjectWithHttpInfo(bucket: kotlin.String, key: kotlin.String, versionId: kotlin.String?, range: kotlin.String?) : ApiResponse<java.io.File?> {
        val localVariableConfig = s3GetObjectRequestConfig(bucket = bucket, key = key, versionId = versionId, range = range)

        return request<Unit, java.io.File>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3GetObject
     *
     * @param bucket 
     * @param key 
     * @param versionId Specific version to retrieve (optional)
     * @param range Byte range (e.g. bytes&#x3D;0-1023) (optional)
     * @return RequestConfig
     */
    fun s3GetObjectRequestConfig(bucket: kotlin.String, key: kotlin.String, versionId: kotlin.String?, range: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (versionId != null) {
                    put("versionId", listOf(versionId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        range?.apply { localVariableHeaders["Range"] = this.toString() }
        localVariableHeaders["Accept"] = "application/octet-stream"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * HEAD /v1/s3/{bucket}/{key}
     * Get object metadata
     * 
     * @param bucket 
     * @param key 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun s3HeadObject(bucket: kotlin.String, key: kotlin.String) : Unit {
        val localVarResponse = s3HeadObjectWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * HEAD /v1/s3/{bucket}/{key}
     * Get object metadata
     * 
     * @param bucket 
     * @param key 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun s3HeadObjectWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = s3HeadObjectRequestConfig(bucket = bucket, key = key)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3HeadObject
     *
     * @param bucket 
     * @param key 
     * @return RequestConfig
     */
    fun s3HeadObjectRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.HEAD,
            path = "/v1/s3/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/{bucket}
     * List objects in bucket
     * 
     * @param bucket 
     * @param prefix Filter by key prefix (optional)
     * @param delimiter Grouping delimiter (e.g. /) (optional)
     * @param maxKeys  (optional, default to 1000)
     * @param continuationToken Pagination token from previous response (optional)
     * @return S3ListObjectsV2200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun s3ListObjectsV2(bucket: kotlin.String, prefix: kotlin.String? = null, delimiter: kotlin.String? = null, maxKeys: kotlin.Int? = 1000, continuationToken: kotlin.String? = null) : S3ListObjectsV2200Response {
        val localVarResponse = s3ListObjectsV2WithHttpInfo(bucket = bucket, prefix = prefix, delimiter = delimiter, maxKeys = maxKeys, continuationToken = continuationToken)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as S3ListObjectsV2200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/{bucket}
     * List objects in bucket
     * 
     * @param bucket 
     * @param prefix Filter by key prefix (optional)
     * @param delimiter Grouping delimiter (e.g. /) (optional)
     * @param maxKeys  (optional, default to 1000)
     * @param continuationToken Pagination token from previous response (optional)
     * @return ApiResponse<S3ListObjectsV2200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun s3ListObjectsV2WithHttpInfo(bucket: kotlin.String, prefix: kotlin.String?, delimiter: kotlin.String?, maxKeys: kotlin.Int?, continuationToken: kotlin.String?) : ApiResponse<S3ListObjectsV2200Response?> {
        val localVariableConfig = s3ListObjectsV2RequestConfig(bucket = bucket, prefix = prefix, delimiter = delimiter, maxKeys = maxKeys, continuationToken = continuationToken)

        return request<Unit, S3ListObjectsV2200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3ListObjectsV2
     *
     * @param bucket 
     * @param prefix Filter by key prefix (optional)
     * @param delimiter Grouping delimiter (e.g. /) (optional)
     * @param maxKeys  (optional, default to 1000)
     * @param continuationToken Pagination token from previous response (optional)
     * @return RequestConfig
     */
    fun s3ListObjectsV2RequestConfig(bucket: kotlin.String, prefix: kotlin.String?, delimiter: kotlin.String?, maxKeys: kotlin.Int?, continuationToken: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (prefix != null) {
                    put("prefix", listOf(prefix.toString()))
                }
                if (delimiter != null) {
                    put("delimiter", listOf(delimiter.toString()))
                }
                if (maxKeys != null) {
                    put("max-keys", listOf(maxKeys.toString()))
                }
                if (continuationToken != null) {
                    put("continuation-token", listOf(continuationToken.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter xAmzServerSideEncryption
     */
     enum class XAmzServerSideEncryptionS3PutObject(val value: kotlin.String) {
         @SerializedName(value = "AES256") AES256("AES256"),
         @SerializedName(value = "aws:kms") awsColonKms("aws:kms");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * PUT /v1/s3/{bucket}/{key}
     * Upload an object
     * 
     * @param bucket 
     * @param key 
     * @param body 
     * @param contentType  (optional, default to "application/octet-stream")
     * @param xAmzServerSideEncryption Server-side encryption algorithm (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun s3PutObject(bucket: kotlin.String, key: kotlin.String, body: java.io.File, contentType: kotlin.String? = "application/octet-stream", xAmzServerSideEncryption: XAmzServerSideEncryptionS3PutObject? = null) : Unit {
        val localVarResponse = s3PutObjectWithHttpInfo(bucket = bucket, key = key, body = body, contentType = contentType, xAmzServerSideEncryption = xAmzServerSideEncryption)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/s3/{bucket}/{key}
     * Upload an object
     * 
     * @param bucket 
     * @param key 
     * @param body 
     * @param contentType  (optional, default to "application/octet-stream")
     * @param xAmzServerSideEncryption Server-side encryption algorithm (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun s3PutObjectWithHttpInfo(bucket: kotlin.String, key: kotlin.String, body: java.io.File, contentType: kotlin.String?, xAmzServerSideEncryption: XAmzServerSideEncryptionS3PutObject?) : ApiResponse<Unit?> {
        val localVariableConfig = s3PutObjectRequestConfig(bucket = bucket, key = key, body = body, contentType = contentType, xAmzServerSideEncryption = xAmzServerSideEncryption)

        return request<java.io.File, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation s3PutObject
     *
     * @param bucket 
     * @param key 
     * @param body 
     * @param contentType  (optional, default to "application/octet-stream")
     * @param xAmzServerSideEncryption Server-side encryption algorithm (optional)
     * @return RequestConfig
     */
    fun s3PutObjectRequestConfig(bucket: kotlin.String, key: kotlin.String, body: java.io.File, contentType: kotlin.String?, xAmzServerSideEncryption: XAmzServerSideEncryptionS3PutObject?) : RequestConfig<java.io.File> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType?.apply { localVariableHeaders["Content-Type"] = this.toString() }
        xAmzServerSideEncryption?.apply { localVariableHeaders["x-amz-server-side-encryption"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/octet-stream"
        
        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/s3/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
