/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudEntitlementsView
import ai.hanzo.cloud.model.CloudMutateReq

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class OrgsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/orgs/{org}/entitlements
     * Get lists the products an org has ENABLED — its own intent, which the console&#39;s paid-product sidebar reads to decide what to show.
     * Get lists the products an org has ENABLED — its own intent, which the console&#39;s paid-product sidebar reads to decide what to show. It is distinct from what the org&#39;s plan ENTITLES it to (that is GET /v1/entitlements, resolved from commerce).  A caller may only read its OWN org&#39;s row; a platform super admin may read any.
     * @param org 
     * @return CloudEntitlementsView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1OrgsOrgEntitlements(org: kotlin.String) : CloudEntitlementsView {
        val localVarResponse = cloudGetV1OrgsOrgEntitlementsWithHttpInfo(org = org)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudEntitlementsView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/orgs/{org}/entitlements
     * Get lists the products an org has ENABLED — its own intent, which the console&#39;s paid-product sidebar reads to decide what to show.
     * Get lists the products an org has ENABLED — its own intent, which the console&#39;s paid-product sidebar reads to decide what to show. It is distinct from what the org&#39;s plan ENTITLES it to (that is GET /v1/entitlements, resolved from commerce).  A caller may only read its OWN org&#39;s row; a platform super admin may read any.
     * @param org 
     * @return ApiResponse<CloudEntitlementsView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1OrgsOrgEntitlementsWithHttpInfo(org: kotlin.String) : ApiResponse<CloudEntitlementsView?> {
        val localVariableConfig = cloudGetV1OrgsOrgEntitlementsRequestConfig(org = org)

        return request<Unit, CloudEntitlementsView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1OrgsOrgEntitlements
     *
     * @param org 
     * @return RequestConfig
     */
    fun cloudGetV1OrgsOrgEntitlementsRequestConfig(org: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/orgs/{org}/entitlements".replace("{"+"org"+"}", encodeURIComponent(org.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/orgs/{org}/entitlements
     * Post turns products on or off for an org and returns the enabled set afterwards.
     * Post turns products on or off for an org and returns the enabled set afterwards.  A product may only be ENABLED if the org&#39;s plan already ENTITLES it, so enabling never spends new money — a product the plan does not grant answers 402 and the console routes that to an upgrade prompt. DISABLING is never gated. A platform super admin bypasses the plan check (operator comp/grant) and may target any org; everyone else may only change their own. Commerce unreachable is a 503, never an implicit yes.
     * @param org 
     * @param cloudMutateReq 
     * @return CloudEntitlementsView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1OrgsOrgEntitlements(org: kotlin.String, cloudMutateReq: CloudMutateReq) : CloudEntitlementsView {
        val localVarResponse = cloudPostV1OrgsOrgEntitlementsWithHttpInfo(org = org, cloudMutateReq = cloudMutateReq)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudEntitlementsView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/orgs/{org}/entitlements
     * Post turns products on or off for an org and returns the enabled set afterwards.
     * Post turns products on or off for an org and returns the enabled set afterwards.  A product may only be ENABLED if the org&#39;s plan already ENTITLES it, so enabling never spends new money — a product the plan does not grant answers 402 and the console routes that to an upgrade prompt. DISABLING is never gated. A platform super admin bypasses the plan check (operator comp/grant) and may target any org; everyone else may only change their own. Commerce unreachable is a 503, never an implicit yes.
     * @param org 
     * @param cloudMutateReq 
     * @return ApiResponse<CloudEntitlementsView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1OrgsOrgEntitlementsWithHttpInfo(org: kotlin.String, cloudMutateReq: CloudMutateReq) : ApiResponse<CloudEntitlementsView?> {
        val localVariableConfig = cloudPostV1OrgsOrgEntitlementsRequestConfig(org = org, cloudMutateReq = cloudMutateReq)

        return request<CloudMutateReq, CloudEntitlementsView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1OrgsOrgEntitlements
     *
     * @param org 
     * @param cloudMutateReq 
     * @return RequestConfig
     */
    fun cloudPostV1OrgsOrgEntitlementsRequestConfig(org: kotlin.String, cloudMutateReq: CloudMutateReq) : RequestConfig<CloudMutateReq> {
        val localVariableBody = cloudMutateReq
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/orgs/{org}/entitlements".replace("{"+"org"+"}", encodeURIComponent(org.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
