/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.AddDomainReq
import ai.hanzo.cloud.model.AppView
import ai.hanzo.cloud.model.CreateAppReq
import ai.hanzo.cloud.model.DeployLogs
import ai.hanzo.cloud.model.DeployReq
import ai.hanzo.cloud.model.DeploymentView
import ai.hanzo.cloud.model.DomainView
import ai.hanzo.cloud.model.DriftBoard
import ai.hanzo.cloud.model.PreviewReq
import ai.hanzo.cloud.model.PreviewView
import ai.hanzo.cloud.model.ProjectView
import ai.hanzo.cloud.model.ProjectsBoundDomains
import ai.hanzo.cloud.model.ProjectsCreate
import ai.hanzo.cloud.model.ProjectsDeployment
import ai.hanzo.cloud.model.ProjectsDomain
import ai.hanzo.cloud.model.ProjectsDomains
import ai.hanzo.cloud.model.ProjectsDomainsBind
import ai.hanzo.cloud.model.ProjectsProject
import ai.hanzo.cloud.model.ProjectsPublish
import ai.hanzo.cloud.model.ProjectsRelease
import ai.hanzo.cloud.model.ProjectsUpdate
import ai.hanzo.cloud.model.PromoteReq
import ai.hanzo.cloud.model.Readiness
import ai.hanzo.cloud.model.RestartRef
import ai.hanzo.cloud.model.Restarted
import ai.hanzo.cloud.model.RollbackReq
import ai.hanzo.cloud.model.SetEnvReq

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class PlatformApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/platform/projects/{project}/apps/{app}
     * Deletes an application and tears down what it runs.
     * Deletes an application and tears down what it runs.  It removes the application record and tears down what it owns in the org&#39;s tenant namespace — its operator Service CR and its KMSSecret — then answers 204. An app this org and project do not have is 404, never a silent success.  Teardown is best-effort by design: a cluster that refuses or is unreachable does not block the delete, so the record cannot be left orphaned behind a broken cluster; the failure is logged for operators and the orphan reaper reconciles it. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1PlatformProjectsByProjectAppsByApp(project: kotlin.String, app: kotlin.String) : Unit {
        val localVarResponse = deleteV1PlatformProjectsByProjectAppsByAppWithHttpInfo(project = project, app = app)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/platform/projects/{project}/apps/{app}
     * Deletes an application and tears down what it runs.
     * Deletes an application and tears down what it runs.  It removes the application record and tears down what it owns in the org&#39;s tenant namespace — its operator Service CR and its KMSSecret — then answers 204. An app this org and project do not have is 404, never a silent success.  Teardown is best-effort by design: a cluster that refuses or is unreachable does not block the delete, so the record cannot be left orphaned behind a broken cluster; the failure is logged for operators and the orphan reaper reconciles it. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1PlatformProjectsByProjectAppsByAppWithHttpInfo(project: kotlin.String, app: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1PlatformProjectsByProjectAppsByAppRequestConfig(project = project, app = app)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1PlatformProjectsByProjectAppsByApp
     *
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return RequestConfig
     */
    fun deleteV1PlatformProjectsByProjectAppsByAppRequestConfig(project: kotlin.String, app: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/platform/projects/{project}/apps/{app}".replace("{"+"project"+"}", encodeURIComponent(project.toString())).replace("{"+"app"+"}", encodeURIComponent(app.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/platform/projects/{project}/apps/{app}/domains/{host}
     * Detaches a hostname and releases the claim.
     * Detaches a hostname and releases the claim.  It drops the host from the app&#39;s ingress and releases any custom claim on it, so the name becomes claimable again — by this org or any other. Answers 204.  The default host is permanent and cannot be removed: that is 400, not 404. A host that is neither attached nor claimed here is 404. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param host Host is the hostname, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1PlatformProjectsByProjectAppsByAppDomainsByHost(project: kotlin.String, app: kotlin.String, host: kotlin.String) : Unit {
        val localVarResponse = deleteV1PlatformProjectsByProjectAppsByAppDomainsByHostWithHttpInfo(project = project, app = app, host = host)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/platform/projects/{project}/apps/{app}/domains/{host}
     * Detaches a hostname and releases the claim.
     * Detaches a hostname and releases the claim.  It drops the host from the app&#39;s ingress and releases any custom claim on it, so the name becomes claimable again — by this org or any other. Answers 204.  The default host is permanent and cannot be removed: that is 400, not 404. A host that is neither attached nor claimed here is 404. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param host Host is the hostname, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1PlatformProjectsByProjectAppsByAppDomainsByHostWithHttpInfo(project: kotlin.String, app: kotlin.String, host: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1PlatformProjectsByProjectAppsByAppDomainsByHostRequestConfig(project = project, app = app, host = host)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1PlatformProjectsByProjectAppsByAppDomainsByHost
     *
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param host Host is the hostname, from the path.
     * @return RequestConfig
     */
    fun deleteV1PlatformProjectsByProjectAppsByAppDomainsByHostRequestConfig(project: kotlin.String, app: kotlin.String, host: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/platform/projects/{project}/apps/{app}/domains/{host}".replace("{"+"project"+"}", encodeURIComponent(project.toString())).replace("{"+"app"+"}", encodeURIComponent(app.toString())).replace("{"+"host"+"}", encodeURIComponent(host.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/platform/sites/{slug}
     * Deletes a project and takes its site off the internet.
     * Deletes a project and takes its site off the internet.  The metadata delete is authoritative and everything after it is best-effort, in this order: the public &#x60;&lt;slug&gt;&#x60; subdomain binding is released so the slug is free to reclaim, the release rows are dropped so a reclaimed slug never inherits the previous owner&#39;s rollback menu, the S3 origin is purged under BOTH &#x60;&lt;org&gt;/&lt;slug&gt;/&#x60; and the site&#39;s sibling release space, and the edge cache-tag is flushed. A failure in any of those is logged and the delete still answers 204 — resurrecting a project because a purge missed would be worse than a leaked prefix.  Scope: a validated principal is required (403 without one) and the project is resolved within that principal&#39;s org, so another tenant&#39;s slug is a 404 and nothing of theirs is touched.
     * @param slug Slug is the project to act on, from the path. It is unique within the caller&#39;s org and nowhere else, so another tenant&#39;s slug is a 404.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1PlatformSitesBySlug(slug: kotlin.String) : Unit {
        val localVarResponse = deleteV1PlatformSitesBySlugWithHttpInfo(slug = slug)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/platform/sites/{slug}
     * Deletes a project and takes its site off the internet.
     * Deletes a project and takes its site off the internet.  The metadata delete is authoritative and everything after it is best-effort, in this order: the public &#x60;&lt;slug&gt;&#x60; subdomain binding is released so the slug is free to reclaim, the release rows are dropped so a reclaimed slug never inherits the previous owner&#39;s rollback menu, the S3 origin is purged under BOTH &#x60;&lt;org&gt;/&lt;slug&gt;/&#x60; and the site&#39;s sibling release space, and the edge cache-tag is flushed. A failure in any of those is logged and the delete still answers 204 — resurrecting a project because a purge missed would be worse than a leaked prefix.  Scope: a validated principal is required (403 without one) and the project is resolved within that principal&#39;s org, so another tenant&#39;s slug is a 404 and nothing of theirs is touched.
     * @param slug Slug is the project to act on, from the path. It is unique within the caller&#39;s org and nowhere else, so another tenant&#39;s slug is a 404.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1PlatformSitesBySlugWithHttpInfo(slug: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1PlatformSitesBySlugRequestConfig(slug = slug)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1PlatformSitesBySlug
     *
     * @param slug Slug is the project to act on, from the path. It is unique within the caller&#39;s org and nowhere else, so another tenant&#39;s slug is a 404.
     * @return RequestConfig
     */
    fun deleteV1PlatformSitesBySlugRequestConfig(slug: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/platform/sites/{slug}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/platform/sites/{slug}/domains/{host}
     * Gives a custom hostname back, so the name is free to reuse.
     * Gives a custom hostname back, so the name is free to reuse.  A claim is FIRST-COME and global, so an add-only surface was not ownership but a leak: a customer who mistyped a domain, or claimed one they later moved elsewhere, could neither reuse it nor let anyone else. This is the third writer that closes it. The release is scoped to (host, org, slug), so it can only ever drop THIS tenant&#39;s own claim, and it is IDEMPOTENT: releasing a host we do not hold is a clean 204, never a 404 that would let a caller probe which hosts other tenants hold. The edge cache-tag is flushed, since the host stops routing here.  Scope: a validated principal is required (403 without one) and the site is resolved within that principal&#39;s org, so another tenant&#39;s slug is a 404.
     * @param slug Slug is the project the host is attached to, from the path.
     * @param host Host is the custom hostname, from the path. It is cleaned to its canonical form (lowercased, trailing dot dropped) before anything is looked up.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1PlatformSitesBySlugDomainsByHost(slug: kotlin.String, host: kotlin.String) : Unit {
        val localVarResponse = deleteV1PlatformSitesBySlugDomainsByHostWithHttpInfo(slug = slug, host = host)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/platform/sites/{slug}/domains/{host}
     * Gives a custom hostname back, so the name is free to reuse.
     * Gives a custom hostname back, so the name is free to reuse.  A claim is FIRST-COME and global, so an add-only surface was not ownership but a leak: a customer who mistyped a domain, or claimed one they later moved elsewhere, could neither reuse it nor let anyone else. This is the third writer that closes it. The release is scoped to (host, org, slug), so it can only ever drop THIS tenant&#39;s own claim, and it is IDEMPOTENT: releasing a host we do not hold is a clean 204, never a 404 that would let a caller probe which hosts other tenants hold. The edge cache-tag is flushed, since the host stops routing here.  Scope: a validated principal is required (403 without one) and the site is resolved within that principal&#39;s org, so another tenant&#39;s slug is a 404.
     * @param slug Slug is the project the host is attached to, from the path.
     * @param host Host is the custom hostname, from the path. It is cleaned to its canonical form (lowercased, trailing dot dropped) before anything is looked up.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1PlatformSitesBySlugDomainsByHostWithHttpInfo(slug: kotlin.String, host: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1PlatformSitesBySlugDomainsByHostRequestConfig(slug = slug, host = host)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1PlatformSitesBySlugDomainsByHost
     *
     * @param slug Slug is the project the host is attached to, from the path.
     * @param host Host is the custom hostname, from the path. It is cleaned to its canonical form (lowercased, trailing dot dropped) before anything is looked up.
     * @return RequestConfig
     */
    fun deleteV1PlatformSitesBySlugDomainsByHostRequestConfig(slug: kotlin.String, host: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/platform/sites/{slug}/domains/{host}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())).replace("{"+"host"+"}", encodeURIComponent(host.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/apps
     * What this organization has declared, and what CD did with it
     * Returns the declarations in the caller&#39;s own org directory, each joined with the Hanzo CD Application reconciling it — sync verdict, health, the universe commit last applied. &#x60;cd&#x60; is null for a declaration the delivery plane has no Application for, which is the normal state of one that exists only on a branch.  If the delivery plane cannot be read, the declarations are still returned and &#x60;cdUnavailable&#x60; says why. An unreadable plane never renders as \&quot;nothing has been reconciled\&quot;.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformApps() : Unit {
        val localVarResponse = getV1PlatformAppsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/apps
     * What this organization has declared, and what CD did with it
     * Returns the declarations in the caller&#39;s own org directory, each joined with the Hanzo CD Application reconciling it — sync verdict, health, the universe commit last applied. &#x60;cd&#x60; is null for a declaration the delivery plane has no Application for, which is the normal state of one that exists only on a branch.  If the delivery plane cannot be read, the declarations are still returned and &#x60;cdUnavailable&#x60; says why. An unreadable plane never renders as \&quot;nothing has been reconciled\&quot;.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformAppsWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = getV1PlatformAppsRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformApps
     *
     * @return RequestConfig
     */
    fun getV1PlatformAppsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/apps",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/apps/{app}
     * One declaration
     * The values file for one app as git declares it: image repository and tag, hosts, replicas, and whether CD is automated on it. 404 when this organization declares no such app.
     * @param app 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformAppsByApp(app: kotlin.String) : Unit {
        val localVarResponse = getV1PlatformAppsByAppWithHttpInfo(app = app)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/apps/{app}
     * One declaration
     * The values file for one app as git declares it: image repository and tag, hosts, replicas, and whether CD is automated on it. 404 when this organization declares no such app.
     * @param app 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformAppsByAppWithHttpInfo(app: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = getV1PlatformAppsByAppRequestConfig(app = app)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformAppsByApp
     *
     * @param app 
     * @return RequestConfig
     */
    fun getV1PlatformAppsByAppRequestConfig(app: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/apps/{app}".replace("{"+"app"+"}", encodeURIComponent(app.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/apps/{app}/cd
     * One app&#39;s reconciliation
     * The Hanzo CD Application for one declaration, on its own — the poll a deploy view makes while it waits, without re-reading the whole inventory. 404 while the declaration exists only on a branch, because the generator reads main.
     * @param app 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformAppsByAppCd(app: kotlin.String) : Unit {
        val localVarResponse = getV1PlatformAppsByAppCdWithHttpInfo(app = app)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/apps/{app}/cd
     * One app&#39;s reconciliation
     * The Hanzo CD Application for one declaration, on its own — the poll a deploy view makes while it waits, without re-reading the whole inventory. 404 while the declaration exists only on a branch, because the generator reads main.
     * @param app 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformAppsByAppCdWithHttpInfo(app: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = getV1PlatformAppsByAppCdRequestConfig(app = app)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformAppsByAppCd
     *
     * @param app 
     * @return RequestConfig
     */
    fun getV1PlatformAppsByAppCdRequestConfig(app: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/apps/{app}/cd".replace("{"+"app"+"}", encodeURIComponent(app.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/cd
     * The delivery plane
     * Every Hanzo CD Application this caller may observe, with its sync verdict, health, the universe revision last applied, and whether automation and self-heal are on. A SuperAdmin sees the fleet; an org admin sees only Applications whose destination namespace IS its own organization, and never a reserved one.  A cluster with no CD installed answers an empty plane. A plane that cannot be READ answers 503 and says why — the two are opposite facts and never share a shape.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformCd() : Unit {
        val localVarResponse = getV1PlatformCdWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/cd
     * The delivery plane
     * Every Hanzo CD Application this caller may observe, with its sync verdict, health, the universe revision last applied, and whether automation and self-heal are on. A SuperAdmin sees the fleet; an org admin sees only Applications whose destination namespace IS its own organization, and never a reserved one.  A cluster with no CD installed answers an empty plane. A plane that cannot be READ answers 503 and says why — the two are opposite facts and never share a shape.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformCdWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = getV1PlatformCdRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformCd
     *
     * @return RequestConfig
     */
    fun getV1PlatformCdRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/cd",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/ci
     * Continuous integration (not wired)
     * Answers 501. The forge&#39;s Actions runs need a Forgejo API client and this deployment has none; an empty run list would be indistinguishable from a forge with no runs.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformCi() : Unit {
        val localVarResponse = getV1PlatformCiWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/ci
     * Continuous integration (not wired)
     * Answers 501. The forge&#39;s Actions runs need a Forgejo API client and this deployment has none; an empty run list would be indistinguishable from a forge with no runs.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformCiWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = getV1PlatformCiRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformCi
     *
     * @return RequestConfig
     */
    fun getV1PlatformCiRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/ci",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/fleet
     * Returns the platform&#39;s own service tier, and where it has drifted.
     * Returns the platform&#39;s own service tier, and where it has drifted.  It returns the board for the services the PLATFORM itself runs — iam, kms, gateway and the rest — as &#x60;{apps, summary}&#x60;: per service its environment, health, phase, the image tag its CR DECLARES, the tag actually running, and the drift between them, plus a summary counting the board green, yellow and red.  This is not a customer surface. &#x60;/v1/platform/projects/:project/apps&#x60; is a tenant&#39;s apps; this is the tier those tenants run ON, which is why the two are named differently rather than sharing a prefix.  Admission is scoped at the SCAN, before any CR is read: a platform SuperAdmin observes the whole fleet, an org admin observes only their own org&#39;s namespaces, and an org that owns none gets an empty board — a non-super caller never even lists another org&#39;s services. Narrow further with &#x60;env&#x60;, &#x60;health&#x60;, &#x60;org&#x60;, or &#x60;drift&#x3D;1&#x60; for only what has drifted.  It degrades honestly rather than failing whole: a namespace that does not exist is skipped, and a running-state read the caller cannot make leaves the running tag empty — an unknown, never a guess — while the declared, health and phase columns still render.
     * @param env Env narrows to one lifecycle env: main, test or dev. (optional)
     * @param health Health narrows to one health colour: green, yellow or red. (optional)
     * @param org Org narrows to one image namespace. (optional)
     * @param drift Drift is &#x60;1&#x60; or &#x60;true&#x60; to show only rows that have actually drifted. It is a STRING and not a bool because those two spellings are exactly what the board has always accepted, and a bool would silently widen that to &#x60;?drift&#x60; alone and to &#x60;TRUE&#x60; — a behaviour change wearing a type change&#39;s clothes. (optional)
     * @return DriftBoard
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformFleet(env: kotlin.String? = null, health: kotlin.String? = null, org: kotlin.String? = null, drift: kotlin.String? = null) : DriftBoard {
        val localVarResponse = getV1PlatformFleetWithHttpInfo(env = env, health = health, org = org, drift = drift)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DriftBoard
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/fleet
     * Returns the platform&#39;s own service tier, and where it has drifted.
     * Returns the platform&#39;s own service tier, and where it has drifted.  It returns the board for the services the PLATFORM itself runs — iam, kms, gateway and the rest — as &#x60;{apps, summary}&#x60;: per service its environment, health, phase, the image tag its CR DECLARES, the tag actually running, and the drift between them, plus a summary counting the board green, yellow and red.  This is not a customer surface. &#x60;/v1/platform/projects/:project/apps&#x60; is a tenant&#39;s apps; this is the tier those tenants run ON, which is why the two are named differently rather than sharing a prefix.  Admission is scoped at the SCAN, before any CR is read: a platform SuperAdmin observes the whole fleet, an org admin observes only their own org&#39;s namespaces, and an org that owns none gets an empty board — a non-super caller never even lists another org&#39;s services. Narrow further with &#x60;env&#x60;, &#x60;health&#x60;, &#x60;org&#x60;, or &#x60;drift&#x3D;1&#x60; for only what has drifted.  It degrades honestly rather than failing whole: a namespace that does not exist is skipped, and a running-state read the caller cannot make leaves the running tag empty — an unknown, never a guess — while the declared, health and phase columns still render.
     * @param env Env narrows to one lifecycle env: main, test or dev. (optional)
     * @param health Health narrows to one health colour: green, yellow or red. (optional)
     * @param org Org narrows to one image namespace. (optional)
     * @param drift Drift is &#x60;1&#x60; or &#x60;true&#x60; to show only rows that have actually drifted. It is a STRING and not a bool because those two spellings are exactly what the board has always accepted, and a bool would silently widen that to &#x60;?drift&#x60; alone and to &#x60;TRUE&#x60; — a behaviour change wearing a type change&#39;s clothes. (optional)
     * @return ApiResponse<DriftBoard?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformFleetWithHttpInfo(env: kotlin.String?, health: kotlin.String?, org: kotlin.String?, drift: kotlin.String?) : ApiResponse<DriftBoard?> {
        val localVariableConfig = getV1PlatformFleetRequestConfig(env = env, health = health, org = org, drift = drift)

        return request<Unit, DriftBoard>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformFleet
     *
     * @param env Env narrows to one lifecycle env: main, test or dev. (optional)
     * @param health Health narrows to one health colour: green, yellow or red. (optional)
     * @param org Org narrows to one image namespace. (optional)
     * @param drift Drift is &#x60;1&#x60; or &#x60;true&#x60; to show only rows that have actually drifted. It is a STRING and not a bool because those two spellings are exactly what the board has always accepted, and a bool would silently widen that to &#x60;?drift&#x60; alone and to &#x60;TRUE&#x60; — a behaviour change wearing a type change&#39;s clothes. (optional)
     * @return RequestConfig
     */
    fun getV1PlatformFleetRequestConfig(env: kotlin.String?, health: kotlin.String?, org: kotlin.String?, drift: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (env != null) {
                    put("env", listOf(env.toString()))
                }
                if (health != null) {
                    put("health", listOf(health.toString()))
                }
                if (org != null) {
                    put("org", listOf(org.toString()))
                }
                if (drift != null) {
                    put("drift", listOf(drift.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/fleet",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/fleet/{app}
     * Returns one platform service, resolved to production by default.
     * Returns one platform service, resolved to production by default.  It returns a single platform service by its CR name, with the same declared-versus-running and drift facts the board carries. The name must be a DNS-1123 label; anything else is 400.  Namespaces are scanned in lifecycle order — main, then test, then dev — and the first match wins, so a bare name resolves to PRODUCTION. The scan covers only the namespaces the caller is authorized for, so an org admin can never read a service outside their own org, and a name found in none of them is 404 rather than a leak.
     * @param app App is the service&#39;s CR name, from the path. It must be a DNS-1123 label.
     * @param env Env narrows the scan to one lifecycle env: main, test or dev. Omitted, the namespaces are scanned in lifecycle order and the first match wins, so a bare name resolves to PRODUCTION. (optional)
     * @return AppView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformFleetByApp(app: kotlin.String, env: kotlin.String? = null) : AppView {
        val localVarResponse = getV1PlatformFleetByAppWithHttpInfo(app = app, env = env)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AppView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/fleet/{app}
     * Returns one platform service, resolved to production by default.
     * Returns one platform service, resolved to production by default.  It returns a single platform service by its CR name, with the same declared-versus-running and drift facts the board carries. The name must be a DNS-1123 label; anything else is 400.  Namespaces are scanned in lifecycle order — main, then test, then dev — and the first match wins, so a bare name resolves to PRODUCTION. The scan covers only the namespaces the caller is authorized for, so an org admin can never read a service outside their own org, and a name found in none of them is 404 rather than a leak.
     * @param app App is the service&#39;s CR name, from the path. It must be a DNS-1123 label.
     * @param env Env narrows the scan to one lifecycle env: main, test or dev. Omitted, the namespaces are scanned in lifecycle order and the first match wins, so a bare name resolves to PRODUCTION. (optional)
     * @return ApiResponse<AppView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformFleetByAppWithHttpInfo(app: kotlin.String, env: kotlin.String?) : ApiResponse<AppView?> {
        val localVariableConfig = getV1PlatformFleetByAppRequestConfig(app = app, env = env)

        return request<Unit, AppView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformFleetByApp
     *
     * @param app App is the service&#39;s CR name, from the path. It must be a DNS-1123 label.
     * @param env Env narrows the scan to one lifecycle env: main, test or dev. Omitted, the namespaces are scanned in lifecycle order and the first match wins, so a bare name resolves to PRODUCTION. (optional)
     * @return RequestConfig
     */
    fun getV1PlatformFleetByAppRequestConfig(app: kotlin.String, env: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (env != null) {
                    put("env", listOf(env.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/fleet/{app}".replace("{"+"app"+"}", encodeURIComponent(app.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/health
     * Reports whether this control plane can actually deploy anything.
     * Reports whether this control plane can actually deploy anything.  A real probe, not a status page. It answers 200 only when the metadata store is open AND the cluster is genuinely reachable — proved by LISTING the operator App CRD, which settles reachability and CRD presence in one bounded call, and which is the exact question every deploy depends on. Anything else is 503 carrying the real reason and whether the CRD was found.  A constructed cluster client proves nothing — it is built from a kubeconfig, not from a reachable apiserver — so this deliberately spends a round trip rather than reporting &#x60;ok&#x60; while every deploy fails. Not admin-gated: liveness has to be probe-able without a credential.
     * @return Readiness
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformHealth() : Readiness {
        val localVarResponse = getV1PlatformHealthWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Readiness
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/health
     * Reports whether this control plane can actually deploy anything.
     * Reports whether this control plane can actually deploy anything.  A real probe, not a status page. It answers 200 only when the metadata store is open AND the cluster is genuinely reachable — proved by LISTING the operator App CRD, which settles reachability and CRD presence in one bounded call, and which is the exact question every deploy depends on. Anything else is 503 carrying the real reason and whether the CRD was found.  A constructed cluster client proves nothing — it is built from a kubeconfig, not from a reachable apiserver — so this deliberately spends a round trip rather than reporting &#x60;ok&#x60; while every deploy fails. Not admin-gated: liveness has to be probe-able without a credential.
     * @return ApiResponse<Readiness?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformHealthWithHttpInfo() : ApiResponse<Readiness?> {
        val localVariableConfig = getV1PlatformHealthRequestConfig()

        return request<Unit, Readiness>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformHealth
     *
     * @return RequestConfig
     */
    fun getV1PlatformHealthRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/projects
     * Returns your org&#39;s projects, each with how many apps live under it.
     * Returns your org&#39;s projects, each with how many apps live under it.  It lists the caller org&#39;s projects with the number of platform applications in each. A project is IAM&#39;s resource — it is created and deleted at /v1/iam/projects, never here — so this is the ONE projection IAM cannot serve: the project plus what the platform has put under it.  Requires a validated principal; 403 without one, and the org comes from that validated identity rather than a request header. This is the console&#39;s first authenticated read, so a project store that is not yet initialised degrades to an EMPTY list rather than a 500 — a new org genuinely has zero projects — and the real cause is surfaced to operators instead of to the caller.
     * @return kotlin.collections.List<ProjectView>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformProjects() : kotlin.collections.List<ProjectView> {
        val localVarResponse = getV1PlatformProjectsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ProjectView>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/projects
     * Returns your org&#39;s projects, each with how many apps live under it.
     * Returns your org&#39;s projects, each with how many apps live under it.  It lists the caller org&#39;s projects with the number of platform applications in each. A project is IAM&#39;s resource — it is created and deleted at /v1/iam/projects, never here — so this is the ONE projection IAM cannot serve: the project plus what the platform has put under it.  Requires a validated principal; 403 without one, and the org comes from that validated identity rather than a request header. This is the console&#39;s first authenticated read, so a project store that is not yet initialised degrades to an EMPTY list rather than a 500 — a new org genuinely has zero projects — and the real cause is surfaced to operators instead of to the caller.
     * @return ApiResponse<kotlin.collections.List<ProjectView>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformProjectsWithHttpInfo() : ApiResponse<kotlin.collections.List<ProjectView>?> {
        val localVariableConfig = getV1PlatformProjectsRequestConfig()

        return request<Unit, kotlin.collections.List<ProjectView>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformProjects
     *
     * @return RequestConfig
     */
    fun getV1PlatformProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/projects/{project}
     * Returns one project and its app count.
     * Returns one project and its app count.  It returns a single project of the caller&#39;s org with the number of platform applications under it. A project this org does not have is 404, which is also what another tenant&#39;s project looks like from here. Requires a validated principal; 403 without one.
     * @param project Project is the project&#39;s name, from the path.
     * @return ProjectView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformProjectsByProject(project: kotlin.String) : ProjectView {
        val localVarResponse = getV1PlatformProjectsByProjectWithHttpInfo(project = project)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/projects/{project}
     * Returns one project and its app count.
     * Returns one project and its app count.  It returns a single project of the caller&#39;s org with the number of platform applications under it. A project this org does not have is 404, which is also what another tenant&#39;s project looks like from here. Requires a validated principal; 403 without one.
     * @param project Project is the project&#39;s name, from the path.
     * @return ApiResponse<ProjectView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformProjectsByProjectWithHttpInfo(project: kotlin.String) : ApiResponse<ProjectView?> {
        val localVariableConfig = getV1PlatformProjectsByProjectRequestConfig(project = project)

        return request<Unit, ProjectView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformProjectsByProject
     *
     * @param project Project is the project&#39;s name, from the path.
     * @return RequestConfig
     */
    fun getV1PlatformProjectsByProjectRequestConfig(project: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/projects/{project}".replace("{"+"project"+"}", encodeURIComponent(project.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/projects/{project}/apps
     * Returns the applications in one project, with what the cluster says about them.
     * Returns the applications in one project, with what the cluster says about them.  It lists the caller org&#39;s applications under one project. Each row carries the stored record and, for an app that is live or deploying, the LIVE phase and health read from its operator Service CR; an app with sealed env also carries its secret-sync state. Those cluster reads are best-effort — an unreachable cluster leaves those fields empty and never blocks the listing.  The project must exist in IAM for this org, or the answer is 404; the &#x60;default&#x60; project is implicit and always accepted, because it is part of what an org IS. Requires a validated principal; 403 without one.
     * @param project Project is the project&#39;s name, from the path.
     * @return kotlin.collections.List<AppView>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformProjectsByProjectApps(project: kotlin.String) : kotlin.collections.List<AppView> {
        val localVarResponse = getV1PlatformProjectsByProjectAppsWithHttpInfo(project = project)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AppView>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/projects/{project}/apps
     * Returns the applications in one project, with what the cluster says about them.
     * Returns the applications in one project, with what the cluster says about them.  It lists the caller org&#39;s applications under one project. Each row carries the stored record and, for an app that is live or deploying, the LIVE phase and health read from its operator Service CR; an app with sealed env also carries its secret-sync state. Those cluster reads are best-effort — an unreachable cluster leaves those fields empty and never blocks the listing.  The project must exist in IAM for this org, or the answer is 404; the &#x60;default&#x60; project is implicit and always accepted, because it is part of what an org IS. Requires a validated principal; 403 without one.
     * @param project Project is the project&#39;s name, from the path.
     * @return ApiResponse<kotlin.collections.List<AppView>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformProjectsByProjectAppsWithHttpInfo(project: kotlin.String) : ApiResponse<kotlin.collections.List<AppView>?> {
        val localVariableConfig = getV1PlatformProjectsByProjectAppsRequestConfig(project = project)

        return request<Unit, kotlin.collections.List<AppView>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformProjectsByProjectApps
     *
     * @param project Project is the project&#39;s name, from the path.
     * @return RequestConfig
     */
    fun getV1PlatformProjectsByProjectAppsRequestConfig(project: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/projects/{project}/apps".replace("{"+"project"+"}", encodeURIComponent(project.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}
     * Returns one application, with its live phase, health and secret sync.
     * Returns one application, with its live phase, health and secret sync.  It returns a single application of the caller&#39;s org together with what the cluster currently reports for it: the operator Service CR&#39;s phase and health, and whether its sealed env has synced. An app this org and project do not have is 404. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return AppView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformProjectsByProjectAppsByApp(project: kotlin.String, app: kotlin.String) : AppView {
        val localVarResponse = getV1PlatformProjectsByProjectAppsByAppWithHttpInfo(project = project, app = app)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AppView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}
     * Returns one application, with its live phase, health and secret sync.
     * Returns one application, with its live phase, health and secret sync.  It returns a single application of the caller&#39;s org together with what the cluster currently reports for it: the operator Service CR&#39;s phase and health, and whether its sealed env has synced. An app this org and project do not have is 404. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return ApiResponse<AppView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformProjectsByProjectAppsByAppWithHttpInfo(project: kotlin.String, app: kotlin.String) : ApiResponse<AppView?> {
        val localVariableConfig = getV1PlatformProjectsByProjectAppsByAppRequestConfig(project = project, app = app)

        return request<Unit, AppView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformProjectsByProjectAppsByApp
     *
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return RequestConfig
     */
    fun getV1PlatformProjectsByProjectAppsByAppRequestConfig(project: kotlin.String, app: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/projects/{project}/apps/{app}".replace("{"+"project"+"}", encodeURIComponent(project.toString())).replace("{"+"app"+"}", encodeURIComponent(app.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}/deployments
     * Returns an app&#39;s deployment history.
     * Returns an app&#39;s deployment history.  It lists every deployment recorded for one of the caller org&#39;s applications, newest version first, each with its version, status, source, commit and image. Failed and superseded attempts are included — that is the point of a history. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return kotlin.collections.List<DeploymentView>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformProjectsByProjectAppsByAppDeployments(project: kotlin.String, app: kotlin.String) : kotlin.collections.List<DeploymentView> {
        val localVarResponse = getV1PlatformProjectsByProjectAppsByAppDeploymentsWithHttpInfo(project = project, app = app)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<DeploymentView>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}/deployments
     * Returns an app&#39;s deployment history.
     * Returns an app&#39;s deployment history.  It lists every deployment recorded for one of the caller org&#39;s applications, newest version first, each with its version, status, source, commit and image. Failed and superseded attempts are included — that is the point of a history. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return ApiResponse<kotlin.collections.List<DeploymentView>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformProjectsByProjectAppsByAppDeploymentsWithHttpInfo(project: kotlin.String, app: kotlin.String) : ApiResponse<kotlin.collections.List<DeploymentView>?> {
        val localVariableConfig = getV1PlatformProjectsByProjectAppsByAppDeploymentsRequestConfig(project = project, app = app)

        return request<Unit, kotlin.collections.List<DeploymentView>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformProjectsByProjectAppsByAppDeployments
     *
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return RequestConfig
     */
    fun getV1PlatformProjectsByProjectAppsByAppDeploymentsRequestConfig(project: kotlin.String, app: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/projects/{project}/apps/{app}/deployments".replace("{"+"project"+"}", encodeURIComponent(project.toString())).replace("{"+"app"+"}", encodeURIComponent(app.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}/deployments/{id}
     * Returns one deployment of one app.
     * Returns one deployment of one app.  It returns a single deployment by id, scoped to the named application of the caller&#39;s org — so an id belonging to another app or another tenant is 404, not a read. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param id ID is the deployment&#39;s id, from the path.
     * @return DeploymentView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformProjectsByProjectAppsByAppDeploymentsById(project: kotlin.String, app: kotlin.String, id: kotlin.String) : DeploymentView {
        val localVarResponse = getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdWithHttpInfo(project = project, app = app, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeploymentView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}/deployments/{id}
     * Returns one deployment of one app.
     * Returns one deployment of one app.  It returns a single deployment by id, scoped to the named application of the caller&#39;s org — so an id belonging to another app or another tenant is 404, not a read. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param id ID is the deployment&#39;s id, from the path.
     * @return ApiResponse<DeploymentView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdWithHttpInfo(project: kotlin.String, app: kotlin.String, id: kotlin.String) : ApiResponse<DeploymentView?> {
        val localVariableConfig = getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdRequestConfig(project = project, app = app, id = id)

        return request<Unit, DeploymentView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformProjectsByProjectAppsByAppDeploymentsById
     *
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param id ID is the deployment&#39;s id, from the path.
     * @return RequestConfig
     */
    fun getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdRequestConfig(project: kotlin.String, app: kotlin.String, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/projects/{project}/apps/{app}/deployments/{id}".replace("{"+"project"+"}", encodeURIComponent(project.toString())).replace("{"+"app"+"}", encodeURIComponent(app.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs
     * Returns real logs for a deployment — the build&#39;s, then the app&#39;s.
     * Returns real logs for a deployment — the build&#39;s, then the app&#39;s.  It returns the deployment&#39;s recorded status timeline together with LIVE pod logs pulled from the cluster: the build pod&#39;s output while a git build is running, and the running app&#39;s output once it is deployed. The &#x60;source&#x60; field says which of the two the body is — &#x60;build&#x60;, &#x60;app&#x60; or &#x60;none&#x60; — so a console can label the pane honestly.  It never fabricates log content. When no pod exists yet, or the cluster is unreachable, it degrades to the recorded timeline and says so. Every cluster read is confined to the caller org&#39;s own namespaces and time-boxed. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param id ID is the deployment&#39;s id, from the path.
     * @return DeployLogs
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdLogs(project: kotlin.String, app: kotlin.String, id: kotlin.String) : DeployLogs {
        val localVarResponse = getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdLogsWithHttpInfo(project = project, app = app, id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeployLogs
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs
     * Returns real logs for a deployment — the build&#39;s, then the app&#39;s.
     * Returns real logs for a deployment — the build&#39;s, then the app&#39;s.  It returns the deployment&#39;s recorded status timeline together with LIVE pod logs pulled from the cluster: the build pod&#39;s output while a git build is running, and the running app&#39;s output once it is deployed. The &#x60;source&#x60; field says which of the two the body is — &#x60;build&#x60;, &#x60;app&#x60; or &#x60;none&#x60; — so a console can label the pane honestly.  It never fabricates log content. When no pod exists yet, or the cluster is unreachable, it degrades to the recorded timeline and says so. Every cluster read is confined to the caller org&#39;s own namespaces and time-boxed. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param id ID is the deployment&#39;s id, from the path.
     * @return ApiResponse<DeployLogs?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdLogsWithHttpInfo(project: kotlin.String, app: kotlin.String, id: kotlin.String) : ApiResponse<DeployLogs?> {
        val localVariableConfig = getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequestConfig(project = project, app = app, id = id)

        return request<Unit, DeployLogs>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdLogs
     *
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @param id ID is the deployment&#39;s id, from the path.
     * @return RequestConfig
     */
    fun getV1PlatformProjectsByProjectAppsByAppDeploymentsByIdLogsRequestConfig(project: kotlin.String, app: kotlin.String, id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/platform/projects/{project}/apps/{app}/deployments/{id}/logs".replace("{"+"project"+"}", encodeURIComponent(project.toString())).replace("{"+"app"+"}", encodeURIComponent(app.toString())).replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}/domains
     * Returns every hostname this app answers on.
     * Returns every hostname this app answers on.  It lists the app&#39;s hosts: the permanent default host it was born with, any org-subtree hosts attached to it, and every custom host claimed for it with its verification state and, while pending, the DNS challenge records to publish. Live endpoint status for each host is observed from the cluster. Requires a validated principal; 403 without one.
     * @param project Project is the project the application lives under, from the path.
     * @param app App is the application&#39;s slug, from the path.
     * @return kotlin.collections.List<DomainView>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PlatformProjectsByProjectAppsByAppDomains(project: kotlin.String, app: kotlin.String) : kotlin.collections.List<DomainView> {
        val localVarResponse = getV1PlatformProjectsByProjectAppsByAppDomainsWithHttpInfo(project = project, app = app)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<DomainView>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/platform/projects/{project}/apps/{app}/domains
     * Returns every hostname this app answers on.
[...]
