/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.BucketRecord
import ai.hanzo.cloud.model.BucketWrite
import ai.hanzo.cloud.model.BusAck
import ai.hanzo.cloud.model.BusMessage
import ai.hanzo.cloud.model.BusPublish
import ai.hanzo.cloud.model.BusRequest
import ai.hanzo.cloud.model.ConsumerPage
import ai.hanzo.cloud.model.ConsumerRecord
import ai.hanzo.cloud.model.ConsumerWrite
import ai.hanzo.cloud.model.FetchQuery
import ai.hanzo.cloud.model.KvAck
import ai.hanzo.cloud.model.KvEntry
import ai.hanzo.cloud.model.KvPage
import ai.hanzo.cloud.model.KvWrite
import ai.hanzo.cloud.model.MessagePage
import ai.hanzo.cloud.model.StreamPage
import ai.hanzo.cloud.model.StreamRecord
import ai.hanzo.cloud.model.StreamUpdate
import ai.hanzo.cloud.model.StreamWrite

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class PubsubApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}
     * Removes one stream of the caller&#39;s org — its retained messages and its consumers with it — and answers 204 with no body.
     * Removes one stream of the caller&#39;s org — its retained messages and its consumers with it — and answers 204 with no body. 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1PubsubJetstreamStreamsByStream(stream: kotlin.String) : Unit {
        val localVarResponse = deleteV1PubsubJetstreamStreamsByStreamWithHttpInfo(stream = stream)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}
     * Removes one stream of the caller&#39;s org — its retained messages and its consumers with it — and answers 204 with no body.
     * Removes one stream of the caller&#39;s org — its retained messages and its consumers with it — and answers 204 with no body. 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1PubsubJetstreamStreamsByStreamWithHttpInfo(stream: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1PubsubJetstreamStreamsByStreamRequestConfig(stream = stream)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1PubsubJetstreamStreamsByStream
     *
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return RequestConfig
     */
    fun deleteV1PubsubJetstreamStreamsByStreamRequestConfig(stream: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}/consumers/{name}
     * Removes one consumer — its cursor, not the stream&#39;s messages — and answers 204 with no body.
     * Removes one consumer — its cursor, not the stream&#39;s messages — and answers 204 with no body. 404 when the stream or the consumer does not exist.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1PubsubJetstreamStreamsByStreamConsumersByName(stream: kotlin.String, name: kotlin.String) : Unit {
        val localVarResponse = deleteV1PubsubJetstreamStreamsByStreamConsumersByNameWithHttpInfo(stream = stream, name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}/consumers/{name}
     * Removes one consumer — its cursor, not the stream&#39;s messages — and answers 204 with no body.
     * Removes one consumer — its cursor, not the stream&#39;s messages — and answers 204 with no body. 404 when the stream or the consumer does not exist.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1PubsubJetstreamStreamsByStreamConsumersByNameWithHttpInfo(stream: kotlin.String, name: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1PubsubJetstreamStreamsByStreamConsumersByNameRequestConfig(stream = stream, name = name)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1PubsubJetstreamStreamsByStreamConsumersByName
     *
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return RequestConfig
     */
    fun deleteV1PubsubJetstreamStreamsByStreamConsumersByNameRequestConfig(stream: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}
     * Removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body.
     * Removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body. 404 when the org has no bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1PubsubKvByBucket(bucket: kotlin.String) : Unit {
        val localVarResponse = deleteV1PubsubKvByBucketWithHttpInfo(bucket = bucket)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}
     * Removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body.
     * Removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body. 404 when the org has no bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1PubsubKvByBucketWithHttpInfo(bucket: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1PubsubKvByBucketRequestConfig(bucket = bucket)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1PubsubKvByBucket
     *
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return RequestConfig
     */
    fun deleteV1PubsubKvByBucketRequestConfig(bucket: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}/{key}
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body.
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body. 404 when the bucket does not exist.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1PubsubKvByBucketByKey(bucket: kotlin.String, key: kotlin.String) : Unit {
        val localVarResponse = deleteV1PubsubKvByBucketByKeyWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}/{key}
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body.
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body. 404 when the bucket does not exist.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1PubsubKvByBucketByKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1PubsubKvByBucketByKeyRequestConfig(bucket = bucket, key = key)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1PubsubKvByBucketByKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun deleteV1PubsubKvByBucketByKeyRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams
     * Returns the org&#39;s streams, sorted by name.
     * Returns the org&#39;s streams, sorted by name.  A stream is the durable log: it captures every message published to its subjects and retains them by its own limits, independent of any consumer. The listing is org-scoped server-side — one org can never see another&#39;s streams, and the platform&#39;s own planes never appear.
     * @return StreamPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PubsubJetstreamStreams() : StreamPage {
        val localVarResponse = getV1PubsubJetstreamStreamsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StreamPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams
     * Returns the org&#39;s streams, sorted by name.
     * Returns the org&#39;s streams, sorted by name.  A stream is the durable log: it captures every message published to its subjects and retains them by its own limits, independent of any consumer. The listing is org-scoped server-side — one org can never see another&#39;s streams, and the platform&#39;s own planes never appear.
     * @return ApiResponse<StreamPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PubsubJetstreamStreamsWithHttpInfo() : ApiResponse<StreamPage?> {
        val localVariableConfig = getV1PubsubJetstreamStreamsRequestConfig()

        return request<Unit, StreamPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PubsubJetstreamStreams
     *
     * @return RequestConfig
     */
    fun getV1PubsubJetstreamStreamsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}
     * Returns one stream of the caller&#39;s org — its configuration and its live state (messages, bytes, sequence range, consumer count).
     * Returns one stream of the caller&#39;s org — its configuration and its live state (messages, bytes, sequence range, consumer count). 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return StreamRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PubsubJetstreamStreamsByStream(stream: kotlin.String) : StreamRecord {
        val localVarResponse = getV1PubsubJetstreamStreamsByStreamWithHttpInfo(stream = stream)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StreamRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}
     * Returns one stream of the caller&#39;s org — its configuration and its live state (messages, bytes, sequence range, consumer count).
     * Returns one stream of the caller&#39;s org — its configuration and its live state (messages, bytes, sequence range, consumer count). 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return ApiResponse<StreamRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PubsubJetstreamStreamsByStreamWithHttpInfo(stream: kotlin.String) : ApiResponse<StreamRecord?> {
        val localVariableConfig = getV1PubsubJetstreamStreamsByStreamRequestConfig(stream = stream)

        return request<Unit, StreamRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PubsubJetstreamStreamsByStream
     *
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return RequestConfig
     */
    fun getV1PubsubJetstreamStreamsByStreamRequestConfig(stream: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}/consumers
     * Returns one stream&#39;s consumers, sorted by name.
     * Returns one stream&#39;s consumers, sorted by name. 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return ConsumerPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PubsubJetstreamStreamsByStreamConsumers(stream: kotlin.String) : ConsumerPage {
        val localVarResponse = getV1PubsubJetstreamStreamsByStreamConsumersWithHttpInfo(stream = stream)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsumerPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}/consumers
     * Returns one stream&#39;s consumers, sorted by name.
     * Returns one stream&#39;s consumers, sorted by name. 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return ApiResponse<ConsumerPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PubsubJetstreamStreamsByStreamConsumersWithHttpInfo(stream: kotlin.String) : ApiResponse<ConsumerPage?> {
        val localVariableConfig = getV1PubsubJetstreamStreamsByStreamConsumersRequestConfig(stream = stream)

        return request<Unit, ConsumerPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PubsubJetstreamStreamsByStreamConsumers
     *
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return RequestConfig
     */
    fun getV1PubsubJetstreamStreamsByStreamConsumersRequestConfig(stream: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}/consumers/{name}
     * Returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts.
     * Returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts. 404 when the stream or the consumer does not exist.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return ConsumerRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PubsubJetstreamStreamsByStreamConsumersByName(stream: kotlin.String, name: kotlin.String) : ConsumerRecord {
        val localVarResponse = getV1PubsubJetstreamStreamsByStreamConsumersByNameWithHttpInfo(stream = stream, name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsumerRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}/consumers/{name}
     * Returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts.
     * Returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts. 404 when the stream or the consumer does not exist.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return ApiResponse<ConsumerRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PubsubJetstreamStreamsByStreamConsumersByNameWithHttpInfo(stream: kotlin.String, name: kotlin.String) : ApiResponse<ConsumerRecord?> {
        val localVariableConfig = getV1PubsubJetstreamStreamsByStreamConsumersByNameRequestConfig(stream = stream, name = name)

        return request<Unit, ConsumerRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PubsubJetstreamStreamsByStreamConsumersByName
     *
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return RequestConfig
     */
    fun getV1PubsubJetstreamStreamsByStreamConsumersByNameRequestConfig(stream: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}
     * Get returns one key&#39;s current value and revision.
     * Get returns one key&#39;s current value and revision. 404 when the bucket does not exist, the key was never written, or its latest revision is a delete.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return KvEntry
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PubsubKvByBucketByKey(bucket: kotlin.String, key: kotlin.String) : KvEntry {
        val localVarResponse = getV1PubsubKvByBucketByKeyWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvEntry
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}
     * Get returns one key&#39;s current value and revision.
     * Get returns one key&#39;s current value and revision. 404 when the bucket does not exist, the key was never written, or its latest revision is a delete.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<KvEntry?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PubsubKvByBucketByKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<KvEntry?> {
        val localVariableConfig = getV1PubsubKvByBucketByKeyRequestConfig(bucket = bucket, key = key)

        return request<Unit, KvEntry>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PubsubKvByBucketByKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun getV1PubsubKvByBucketByKeyRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}/history
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth.
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth. 404 when the bucket does not exist or the key was never written.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return KvPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1PubsubKvByBucketByKeyHistory(bucket: kotlin.String, key: kotlin.String) : KvPage {
        val localVarResponse = getV1PubsubKvByBucketByKeyHistoryWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}/history
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth.
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth. 404 when the bucket does not exist or the key was never written.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<KvPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1PubsubKvByBucketByKeyHistoryWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<KvPage?> {
        val localVariableConfig = getV1PubsubKvByBucketByKeyHistoryRequestConfig(bucket = bucket, key = key)

        return request<Unit, KvPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1PubsubKvByBucketByKeyHistory
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun getV1PubsubKvByBucketByKeyHistoryRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/kv/{bucket}/{key}/history".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/jetstream/streams
     * Creates a durable stream capturing the given subjects and returns it.
     * Creates a durable stream capturing the given subjects and returns it. 409 when the org already has a stream of that name; the subjects are the org&#39;s own and cannot collide with another org&#39;s.
     * @param streamWrite 
     * @return StreamRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1PubsubJetstreamStreams(streamWrite: StreamWrite) : StreamRecord {
        val localVarResponse = postV1PubsubJetstreamStreamsWithHttpInfo(streamWrite = streamWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StreamRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/jetstream/streams
     * Creates a durable stream capturing the given subjects and returns it.
     * Creates a durable stream capturing the given subjects and returns it. 409 when the org already has a stream of that name; the subjects are the org&#39;s own and cannot collide with another org&#39;s.
     * @param streamWrite 
     * @return ApiResponse<StreamRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1PubsubJetstreamStreamsWithHttpInfo(streamWrite: StreamWrite) : ApiResponse<StreamRecord?> {
        val localVariableConfig = postV1PubsubJetstreamStreamsRequestConfig(streamWrite = streamWrite)

        return request<StreamWrite, StreamRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1PubsubJetstreamStreams
     *
     * @param streamWrite 
     * @return RequestConfig
     */
    fun postV1PubsubJetstreamStreamsRequestConfig(streamWrite: StreamWrite) : RequestConfig<StreamWrite> {
        val localVariableBody = streamWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/jetstream/streams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/jetstream/streams/{stream}/consumers
     * Creates a durable consumer on one stream and returns it.
     * Creates a durable consumer on one stream and returns it. A consumer is a named cursor: it tracks what has been delivered and what is acknowledged, so many workers can share it and none sees a message twice outside redelivery. 409 when the stream already has a consumer of that name with a different configuration.
     * @param stream Stream is the stream to consume, from the path.
     * @param consumerWrite 
     * @return ConsumerRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1PubsubJetstreamStreamsByStreamConsumers(stream: kotlin.String, consumerWrite: ConsumerWrite) : ConsumerRecord {
        val localVarResponse = postV1PubsubJetstreamStreamsByStreamConsumersWithHttpInfo(stream = stream, consumerWrite = consumerWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ConsumerRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/jetstream/streams/{stream}/consumers
     * Creates a durable consumer on one stream and returns it.
     * Creates a durable consumer on one stream and returns it. A consumer is a named cursor: it tracks what has been delivered and what is acknowledged, so many workers can share it and none sees a message twice outside redelivery. 409 when the stream already has a consumer of that name with a different configuration.
     * @param stream Stream is the stream to consume, from the path.
     * @param consumerWrite 
     * @return ApiResponse<ConsumerRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1PubsubJetstreamStreamsByStreamConsumersWithHttpInfo(stream: kotlin.String, consumerWrite: ConsumerWrite) : ApiResponse<ConsumerRecord?> {
        val localVariableConfig = postV1PubsubJetstreamStreamsByStreamConsumersRequestConfig(stream = stream, consumerWrite = consumerWrite)

        return request<ConsumerWrite, ConsumerRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1PubsubJetstreamStreamsByStreamConsumers
     *
     * @param stream Stream is the stream to consume, from the path.
     * @param consumerWrite 
     * @return RequestConfig
     */
    fun postV1PubsubJetstreamStreamsByStreamConsumersRequestConfig(stream: kotlin.String, consumerWrite: ConsumerWrite) : RequestConfig<ConsumerWrite> {
        val localVariableBody = consumerWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/jetstream/streams/{stream}/consumers/{name}/next
     * Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream.
     * Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream. The hand-off is at-most-once: a message returned here is acked here, so a caller that loses the response does not see it again. Workers needing at-least-once delivery consume the same consumer over the NATS port, where acks are theirs to send. An empty batch after the wait is an empty page, not an error.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @param fetchQuery 
     * @return MessagePage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1PubsubJetstreamStreamsByStreamConsumersByNameNext(stream: kotlin.String, name: kotlin.String, fetchQuery: FetchQuery) : MessagePage {
        val localVarResponse = postV1PubsubJetstreamStreamsByStreamConsumersByNameNextWithHttpInfo(stream = stream, name = name, fetchQuery = fetchQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MessagePage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/jetstream/streams/{stream}/consumers/{name}/next
     * Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream.
     * Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream. The hand-off is at-most-once: a message returned here is acked here, so a caller that loses the response does not see it again. Workers needing at-least-once delivery consume the same consumer over the NATS port, where acks are theirs to send. An empty batch after the wait is an empty page, not an error.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @param fetchQuery 
     * @return ApiResponse<MessagePage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1PubsubJetstreamStreamsByStreamConsumersByNameNextWithHttpInfo(stream: kotlin.String, name: kotlin.String, fetchQuery: FetchQuery) : ApiResponse<MessagePage?> {
        val localVariableConfig = postV1PubsubJetstreamStreamsByStreamConsumersByNameNextRequestConfig(stream = stream, name = name, fetchQuery = fetchQuery)

        return request<FetchQuery, MessagePage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1PubsubJetstreamStreamsByStreamConsumersByNameNext
     *
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @param fetchQuery 
     * @return RequestConfig
     */
    fun postV1PubsubJetstreamStreamsByStreamConsumersByNameNextRequestConfig(stream: kotlin.String, name: kotlin.String, fetchQuery: FetchQuery) : RequestConfig<FetchQuery> {
        val localVariableBody = fetchQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}/next".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/kv/{bucket}
     * Creates a KV bucket and returns it.
     * Creates a KV bucket and returns it. A bucket is keyed state on the same durable plane as the streams: each key holds up to History revisions, entries can expire by TTL, and watchers on the NATS port see every write. 409 when the org already has a bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param bucketWrite 
     * @return BucketRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1PubsubKvByBucket(bucket: kotlin.String, bucketWrite: BucketWrite) : BucketRecord {
        val localVarResponse = postV1PubsubKvByBucketWithHttpInfo(bucket = bucket, bucketWrite = bucketWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BucketRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/kv/{bucket}
     * Creates a KV bucket and returns it.
     * Creates a KV bucket and returns it. A bucket is keyed state on the same durable plane as the streams: each key holds up to History revisions, entries can expire by TTL, and watchers on the NATS port see every write. 409 when the org already has a bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param bucketWrite 
     * @return ApiResponse<BucketRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1PubsubKvByBucketWithHttpInfo(bucket: kotlin.String, bucketWrite: BucketWrite) : ApiResponse<BucketRecord?> {
        val localVariableConfig = postV1PubsubKvByBucketRequestConfig(bucket = bucket, bucketWrite = bucketWrite)

        return request<BucketWrite, BucketRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1PubsubKvByBucket
     *
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param bucketWrite 
     * @return RequestConfig
     */
    fun postV1PubsubKvByBucketRequestConfig(bucket: kotlin.String, bucketWrite: BucketWrite) : RequestConfig<BucketWrite> {
        val localVariableBody = bucketWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/publish
     * Publish puts one message on the org&#39;s bus.
     * Publish puts one message on the org&#39;s bus. When a stream captures the subject the write is DURABLE — the receipt names the stream and sequence only after JetStream has it on storage, and a repeated Nats-Msg-Id header within the dedup window answers duplicate instead of storing twice. When nothing captures it, the message goes out core NATS: delivered to current subscribers, receipt {ok}, nothing retained.
     * @param busPublish 
     * @return BusAck
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1PubsubPublish(busPublish: BusPublish) : BusAck {
        val localVarResponse = postV1PubsubPublishWithHttpInfo(busPublish = busPublish)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BusAck
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/publish
     * Publish puts one message on the org&#39;s bus.
     * Publish puts one message on the org&#39;s bus. When a stream captures the subject the write is DURABLE — the receipt names the stream and sequence only after JetStream has it on storage, and a repeated Nats-Msg-Id header within the dedup window answers duplicate instead of storing twice. When nothing captures it, the message goes out core NATS: delivered to current subscribers, receipt {ok}, nothing retained.
     * @param busPublish 
     * @return ApiResponse<BusAck?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1PubsubPublishWithHttpInfo(busPublish: BusPublish) : ApiResponse<BusAck?> {
        val localVariableConfig = postV1PubsubPublishRequestConfig(busPublish = busPublish)

        return request<BusPublish, BusAck>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1PubsubPublish
     *
     * @param busPublish 
     * @return RequestConfig
     */
    fun postV1PubsubPublishRequestConfig(busPublish: BusPublish) : RequestConfig<BusPublish> {
        val localVariableBody = busPublish
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/publish",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/request
     * Request sends one request on the org&#39;s bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port.
     * Request sends one request on the org&#39;s bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port. 404 when nobody is listening on the subject; 408 when a responder exists but no reply arrived within the timeout.
     * @param busRequest 
     * @return BusMessage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1PubsubRequest(busRequest: BusRequest) : BusMessage {
        val localVarResponse = postV1PubsubRequestWithHttpInfo(busRequest = busRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BusMessage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/request
     * Request sends one request on the org&#39;s bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port.
     * Request sends one request on the org&#39;s bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port. 404 when nobody is listening on the subject; 408 when a responder exists but no reply arrived within the timeout.
     * @param busRequest 
     * @return ApiResponse<BusMessage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1PubsubRequestWithHttpInfo(busRequest: BusRequest) : ApiResponse<BusMessage?> {
        val localVariableConfig = postV1PubsubRequestRequestConfig(busRequest = busRequest)

        return request<BusRequest, BusMessage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1PubsubRequest
     *
     * @param busRequest 
     * @return RequestConfig
     */
    fun postV1PubsubRequestRequestConfig(busRequest: BusRequest) : RequestConfig<BusRequest> {
        val localVariableBody = busRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/request",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/pubsub/jetstream/streams/{stream}
     * Rewrites a stream&#39;s configuration — subjects, limits, discard — and returns the updated stream.
     * Rewrites a stream&#39;s configuration — subjects, limits, discard — and returns the updated stream. It is a PUT: the spec sent replaces the spec held, with one reading for the enums a caller omits — an empty storage, retention or discard keeps the stream&#39;s current one, because JetStream holds storage and retention immutable and refuses a change with a 400 rather than this door pretending it took.
     * @param stream Stream is the stream to update, from the path.
     * @param streamUpdate 
     * @return StreamRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun putV1PubsubJetstreamStreamsByStream(stream: kotlin.String, streamUpdate: StreamUpdate) : StreamRecord {
        val localVarResponse = putV1PubsubJetstreamStreamsByStreamWithHttpInfo(stream = stream, streamUpdate = streamUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StreamRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/pubsub/jetstream/streams/{stream}
     * Rewrites a stream&#39;s configuration — subjects, limits, discard — and returns the updated stream.
     * Rewrites a stream&#39;s configuration — subjects, limits, discard — and returns the updated stream. It is a PUT: the spec sent replaces the spec held, with one reading for the enums a caller omits — an empty storage, retention or discard keeps the stream&#39;s current one, because JetStream holds storage and retention immutable and refuses a change with a 400 rather than this door pretending it took.
     * @param stream Stream is the stream to update, from the path.
     * @param streamUpdate 
     * @return ApiResponse<StreamRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun putV1PubsubJetstreamStreamsByStreamWithHttpInfo(stream: kotlin.String, streamUpdate: StreamUpdate) : ApiResponse<StreamRecord?> {
        val localVariableConfig = putV1PubsubJetstreamStreamsByStreamRequestConfig(stream = stream, streamUpdate = streamUpdate)

        return request<StreamUpdate, StreamRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation putV1PubsubJetstreamStreamsByStream
     *
     * @param stream Stream is the stream to update, from the path.
     * @param streamUpdate 
     * @return RequestConfig
     */
    fun putV1PubsubJetstreamStreamsByStreamRequestConfig(stream: kotlin.String, streamUpdate: StreamUpdate) : RequestConfig<StreamUpdate> {
        val localVariableBody = streamUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/pubsub/kv/{bucket}/{key}
     * Put sets one key to one value and returns the revision the write created.
     * Put sets one key to one value and returns the revision the write created. Writes are versioned: each put is a new revision and the bucket retains up to its History of them per key.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param kvWrite 
     * @return KvAck
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun putV1PubsubKvByBucketByKey(bucket: kotlin.String, key: kotlin.String, kvWrite: KvWrite) : KvAck {
        val localVarResponse = putV1PubsubKvByBucketByKeyWithHttpInfo(bucket = bucket, key = key, kvWrite = kvWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvAck
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/pubsub/kv/{bucket}/{key}
     * Put sets one key to one value and returns the revision the write created.
     * Put sets one key to one value and returns the revision the write created. Writes are versioned: each put is a new revision and the bucket retains up to its History of them per key.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param kvWrite 
     * @return ApiResponse<KvAck?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun putV1PubsubKvByBucketByKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String, kvWrite: KvWrite) : ApiResponse<KvAck?> {
        val localVariableConfig = putV1PubsubKvByBucketByKeyRequestConfig(bucket = bucket, key = key, kvWrite = kvWrite)

        return request<KvWrite, KvAck>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation putV1PubsubKvByBucketByKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param kvWrite 
     * @return RequestConfig
     */
    fun putV1PubsubKvByBucketByKeyRequestConfig(bucket: kotlin.String, key: kotlin.String, kvWrite: KvWrite) : RequestConfig<KvWrite> {
        val localVariableBody = kvWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
