/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudBucketRecord
import ai.hanzo.cloud.model.CloudBucketWrite
import ai.hanzo.cloud.model.CloudBusAck
import ai.hanzo.cloud.model.CloudBusMessage
import ai.hanzo.cloud.model.CloudBusPublish
import ai.hanzo.cloud.model.CloudBusRequest
import ai.hanzo.cloud.model.CloudConsumerPage
import ai.hanzo.cloud.model.CloudConsumerRecord
import ai.hanzo.cloud.model.CloudConsumerWrite
import ai.hanzo.cloud.model.CloudFetchQuery
import ai.hanzo.cloud.model.CloudKvAck
import ai.hanzo.cloud.model.CloudKvEntry
import ai.hanzo.cloud.model.CloudKvPage
import ai.hanzo.cloud.model.CloudKvWrite
import ai.hanzo.cloud.model.CloudMessagePage
import ai.hanzo.cloud.model.CloudStreamPage
import ai.hanzo.cloud.model.CloudStreamRecord
import ai.hanzo.cloud.model.CloudStreamUpdate
import ai.hanzo.cloud.model.CloudStreamWrite
import ai.hanzo.cloud.model.KvListChannels200Response
import ai.hanzo.cloud.model.KvPublish200Response
import ai.hanzo.cloud.model.KvPublishRequest

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class PubSubApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}
     * DeleteStream removes one stream of the caller&#39;s org — its retained messages and its consumers with it — and answers 204 with no body.
     * DeleteStream removes one stream of the caller&#39;s org — its retained messages and its consumers with it — and answers 204 with no body. 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1PubsubJetstreamStreamsStream(stream: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1PubsubJetstreamStreamsStreamWithHttpInfo(stream = stream)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}
     * DeleteStream removes one stream of the caller&#39;s org — its retained messages and its consumers with it — and answers 204 with no body.
     * DeleteStream removes one stream of the caller&#39;s org — its retained messages and its consumers with it — and answers 204 with no body. 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1PubsubJetstreamStreamsStreamWithHttpInfo(stream: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1PubsubJetstreamStreamsStreamRequestConfig(stream = stream)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1PubsubJetstreamStreamsStream
     *
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1PubsubJetstreamStreamsStreamRequestConfig(stream: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}/consumers/{name}
     * DeleteConsumer removes one consumer — its cursor, not the stream&#39;s messages — and answers 204 with no body.
     * DeleteConsumer removes one consumer — its cursor, not the stream&#39;s messages — and answers 204 with no body. 404 when the stream or the consumer does not exist.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1PubsubJetstreamStreamsStreamConsumersName(stream: kotlin.String, name: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameWithHttpInfo(stream = stream, name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/jetstream/streams/{stream}/consumers/{name}
     * DeleteConsumer removes one consumer — its cursor, not the stream&#39;s messages — and answers 204 with no body.
     * DeleteConsumer removes one consumer — its cursor, not the stream&#39;s messages — and answers 204 with no body. 404 when the stream or the consumer does not exist.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameWithHttpInfo(stream: kotlin.String, name: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameRequestConfig(stream = stream, name = name)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1PubsubJetstreamStreamsStreamConsumersName
     *
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1PubsubJetstreamStreamsStreamConsumersNameRequestConfig(stream: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}
     * DeleteBucket removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body.
     * DeleteBucket removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body. 404 when the org has no bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1PubsubKvBucket(bucket: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1PubsubKvBucketWithHttpInfo(bucket = bucket)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}
     * DeleteBucket removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body.
     * DeleteBucket removes one bucket of the caller&#39;s org — every key and every revision with it — and answers 204 with no body. 404 when the org has no bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1PubsubKvBucketWithHttpInfo(bucket: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1PubsubKvBucketRequestConfig(bucket = bucket)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1PubsubKvBucket
     *
     * @param bucket Bucket is the bucket&#39;s name, from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1PubsubKvBucketRequestConfig(bucket: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}/{key}
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body.
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body. 404 when the bucket does not exist.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1PubsubKvBucketKey(bucket: kotlin.String, key: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1PubsubKvBucketKeyWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/pubsub/kv/{bucket}/{key}
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body.
     * Delete removes one key — a delete marker in the key&#39;s history, so watchers see it and Get answers 404 — and answers 204 with no body. 404 when the bucket does not exist.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1PubsubKvBucketKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1PubsubKvBucketKeyRequestConfig(bucket = bucket, key = key)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1PubsubKvBucketKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1PubsubKvBucketKeyRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams
     * ListStreams returns the org&#39;s streams, sorted by name.
     * ListStreams returns the org&#39;s streams, sorted by name.  A stream is the durable log: it captures every message published to its subjects and retains them by its own limits, independent of any consumer. The listing is org-scoped server-side — one org can never see another&#39;s streams, and the platform&#39;s own planes never appear.
     * @return CloudStreamPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1PubsubJetstreamStreams() : CloudStreamPage {
        val localVarResponse = cloudGetV1PubsubJetstreamStreamsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudStreamPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams
     * ListStreams returns the org&#39;s streams, sorted by name.
     * ListStreams returns the org&#39;s streams, sorted by name.  A stream is the durable log: it captures every message published to its subjects and retains them by its own limits, independent of any consumer. The listing is org-scoped server-side — one org can never see another&#39;s streams, and the platform&#39;s own planes never appear.
     * @return ApiResponse<CloudStreamPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1PubsubJetstreamStreamsWithHttpInfo() : ApiResponse<CloudStreamPage?> {
        val localVariableConfig = cloudGetV1PubsubJetstreamStreamsRequestConfig()

        return request<Unit, CloudStreamPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1PubsubJetstreamStreams
     *
     * @return RequestConfig
     */
    fun cloudGetV1PubsubJetstreamStreamsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}
     * GetStream returns one stream of the caller&#39;s org — its configuration and its live state (messages, bytes, sequence range, consumer count).
     * GetStream returns one stream of the caller&#39;s org — its configuration and its live state (messages, bytes, sequence range, consumer count). 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return CloudStreamRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1PubsubJetstreamStreamsStream(stream: kotlin.String) : CloudStreamRecord {
        val localVarResponse = cloudGetV1PubsubJetstreamStreamsStreamWithHttpInfo(stream = stream)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudStreamRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}
     * GetStream returns one stream of the caller&#39;s org — its configuration and its live state (messages, bytes, sequence range, consumer count).
     * GetStream returns one stream of the caller&#39;s org — its configuration and its live state (messages, bytes, sequence range, consumer count). 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return ApiResponse<CloudStreamRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1PubsubJetstreamStreamsStreamWithHttpInfo(stream: kotlin.String) : ApiResponse<CloudStreamRecord?> {
        val localVariableConfig = cloudGetV1PubsubJetstreamStreamsStreamRequestConfig(stream = stream)

        return request<Unit, CloudStreamRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1PubsubJetstreamStreamsStream
     *
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1PubsubJetstreamStreamsStreamRequestConfig(stream: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}/consumers
     * ListConsumers returns one stream&#39;s consumers, sorted by name.
     * ListConsumers returns one stream&#39;s consumers, sorted by name. 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return CloudConsumerPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1PubsubJetstreamStreamsStreamConsumers(stream: kotlin.String) : CloudConsumerPage {
        val localVarResponse = cloudGetV1PubsubJetstreamStreamsStreamConsumersWithHttpInfo(stream = stream)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudConsumerPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}/consumers
     * ListConsumers returns one stream&#39;s consumers, sorted by name.
     * ListConsumers returns one stream&#39;s consumers, sorted by name. 404 when the org has no stream of that name.
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return ApiResponse<CloudConsumerPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1PubsubJetstreamStreamsStreamConsumersWithHttpInfo(stream: kotlin.String) : ApiResponse<CloudConsumerPage?> {
        val localVariableConfig = cloudGetV1PubsubJetstreamStreamsStreamConsumersRequestConfig(stream = stream)

        return request<Unit, CloudConsumerPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1PubsubJetstreamStreamsStreamConsumers
     *
     * @param stream Stream is the stream&#39;s name, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1PubsubJetstreamStreamsStreamConsumersRequestConfig(stream: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}/consumers/{name}
     * GetConsumer returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts.
     * GetConsumer returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts. 404 when the stream or the consumer does not exist.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return CloudConsumerRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1PubsubJetstreamStreamsStreamConsumersName(stream: kotlin.String, name: kotlin.String) : CloudConsumerRecord {
        val localVarResponse = cloudGetV1PubsubJetstreamStreamsStreamConsumersNameWithHttpInfo(stream = stream, name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudConsumerRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/jetstream/streams/{stream}/consumers/{name}
     * GetConsumer returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts.
     * GetConsumer returns one consumer of one org stream — its configuration and its cursor: delivered and acknowledged sequences, pending and redelivered counts. 404 when the stream or the consumer does not exist.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return ApiResponse<CloudConsumerRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1PubsubJetstreamStreamsStreamConsumersNameWithHttpInfo(stream: kotlin.String, name: kotlin.String) : ApiResponse<CloudConsumerRecord?> {
        val localVariableConfig = cloudGetV1PubsubJetstreamStreamsStreamConsumersNameRequestConfig(stream = stream, name = name)

        return request<Unit, CloudConsumerRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1PubsubJetstreamStreamsStreamConsumersName
     *
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1PubsubJetstreamStreamsStreamConsumersNameRequestConfig(stream: kotlin.String, name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}
     * Get returns one key&#39;s current value and revision.
     * Get returns one key&#39;s current value and revision. 404 when the bucket does not exist, the key was never written, or its latest revision is a delete.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return CloudKvEntry
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1PubsubKvBucketKey(bucket: kotlin.String, key: kotlin.String) : CloudKvEntry {
        val localVarResponse = cloudGetV1PubsubKvBucketKeyWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudKvEntry
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}
     * Get returns one key&#39;s current value and revision.
     * Get returns one key&#39;s current value and revision. 404 when the bucket does not exist, the key was never written, or its latest revision is a delete.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<CloudKvEntry?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1PubsubKvBucketKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<CloudKvEntry?> {
        val localVariableConfig = cloudGetV1PubsubKvBucketKeyRequestConfig(bucket = bucket, key = key)

        return request<Unit, CloudKvEntry>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1PubsubKvBucketKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1PubsubKvBucketKeyRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}/history
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth.
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth. 404 when the bucket does not exist or the key was never written.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return CloudKvPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1PubsubKvBucketKeyHistory(bucket: kotlin.String, key: kotlin.String) : CloudKvPage {
        val localVarResponse = cloudGetV1PubsubKvBucketKeyHistoryWithHttpInfo(bucket = bucket, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudKvPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/pubsub/kv/{bucket}/{key}/history
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth.
     * History returns one key&#39;s retained revisions, oldest first — every put and every delete marker up to the bucket&#39;s History depth. 404 when the bucket does not exist or the key was never written.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return ApiResponse<CloudKvPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1PubsubKvBucketKeyHistoryWithHttpInfo(bucket: kotlin.String, key: kotlin.String) : ApiResponse<CloudKvPage?> {
        val localVariableConfig = cloudGetV1PubsubKvBucketKeyHistoryRequestConfig(bucket = bucket, key = key)

        return request<Unit, CloudKvPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1PubsubKvBucketKeyHistory
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @return RequestConfig
     */
    fun cloudGetV1PubsubKvBucketKeyHistoryRequestConfig(bucket: kotlin.String, key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/pubsub/kv/{bucket}/{key}/history".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/jetstream/streams
     * CreateStream creates a durable stream capturing the given subjects and returns it.
     * CreateStream creates a durable stream capturing the given subjects and returns it. 409 when the org already has a stream of that name; the subjects are the org&#39;s own and cannot collide with another org&#39;s.
     * @param cloudStreamWrite 
     * @return CloudStreamRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1PubsubJetstreamStreams(cloudStreamWrite: CloudStreamWrite) : CloudStreamRecord {
        val localVarResponse = cloudPostV1PubsubJetstreamStreamsWithHttpInfo(cloudStreamWrite = cloudStreamWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudStreamRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/jetstream/streams
     * CreateStream creates a durable stream capturing the given subjects and returns it.
     * CreateStream creates a durable stream capturing the given subjects and returns it. 409 when the org already has a stream of that name; the subjects are the org&#39;s own and cannot collide with another org&#39;s.
     * @param cloudStreamWrite 
     * @return ApiResponse<CloudStreamRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1PubsubJetstreamStreamsWithHttpInfo(cloudStreamWrite: CloudStreamWrite) : ApiResponse<CloudStreamRecord?> {
        val localVariableConfig = cloudPostV1PubsubJetstreamStreamsRequestConfig(cloudStreamWrite = cloudStreamWrite)

        return request<CloudStreamWrite, CloudStreamRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1PubsubJetstreamStreams
     *
     * @param cloudStreamWrite 
     * @return RequestConfig
     */
    fun cloudPostV1PubsubJetstreamStreamsRequestConfig(cloudStreamWrite: CloudStreamWrite) : RequestConfig<CloudStreamWrite> {
        val localVariableBody = cloudStreamWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/jetstream/streams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/jetstream/streams/{stream}/consumers
     * CreateConsumer creates a durable consumer on one stream and returns it.
     * CreateConsumer creates a durable consumer on one stream and returns it. A consumer is a named cursor: it tracks what has been delivered and what is acknowledged, so many workers can share it and none sees a message twice outside redelivery. 409 when the stream already has a consumer of that name with a different configuration.
     * @param stream Stream is the stream to consume, from the path.
     * @param cloudConsumerWrite 
     * @return CloudConsumerRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1PubsubJetstreamStreamsStreamConsumers(stream: kotlin.String, cloudConsumerWrite: CloudConsumerWrite) : CloudConsumerRecord {
        val localVarResponse = cloudPostV1PubsubJetstreamStreamsStreamConsumersWithHttpInfo(stream = stream, cloudConsumerWrite = cloudConsumerWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudConsumerRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/jetstream/streams/{stream}/consumers
     * CreateConsumer creates a durable consumer on one stream and returns it.
     * CreateConsumer creates a durable consumer on one stream and returns it. A consumer is a named cursor: it tracks what has been delivered and what is acknowledged, so many workers can share it and none sees a message twice outside redelivery. 409 when the stream already has a consumer of that name with a different configuration.
     * @param stream Stream is the stream to consume, from the path.
     * @param cloudConsumerWrite 
     * @return ApiResponse<CloudConsumerRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1PubsubJetstreamStreamsStreamConsumersWithHttpInfo(stream: kotlin.String, cloudConsumerWrite: CloudConsumerWrite) : ApiResponse<CloudConsumerRecord?> {
        val localVariableConfig = cloudPostV1PubsubJetstreamStreamsStreamConsumersRequestConfig(stream = stream, cloudConsumerWrite = cloudConsumerWrite)

        return request<CloudConsumerWrite, CloudConsumerRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1PubsubJetstreamStreamsStreamConsumers
     *
     * @param stream Stream is the stream to consume, from the path.
     * @param cloudConsumerWrite 
     * @return RequestConfig
     */
    fun cloudPostV1PubsubJetstreamStreamsStreamConsumersRequestConfig(stream: kotlin.String, cloudConsumerWrite: CloudConsumerWrite) : RequestConfig<CloudConsumerWrite> {
        val localVariableBody = cloudConsumerWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/jetstream/streams/{stream}/consumers/{name}/next
     * Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream.
     * Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream. The hand-off is at-most-once: a message returned here is acked here, so a caller that loses the response does not see it again. Workers needing at-least-once delivery consume the same consumer over the NATS port, where acks are theirs to send. An empty batch after the wait is an empty page, not an error.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @param cloudFetchQuery 
     * @return CloudMessagePage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1PubsubJetstreamStreamsStreamConsumersNameNext(stream: kotlin.String, name: kotlin.String, cloudFetchQuery: CloudFetchQuery) : CloudMessagePage {
        val localVarResponse = cloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextWithHttpInfo(stream = stream, name = name, cloudFetchQuery = cloudFetchQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudMessagePage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/jetstream/streams/{stream}/consumers/{name}/next
     * Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream.
     * Fetch pulls the next batch from a consumer and acknowledges it — the request/response way to consume a stream. The hand-off is at-most-once: a message returned here is acked here, so a caller that loses the response does not see it again. Workers needing at-least-once delivery consume the same consumer over the NATS port, where acks are theirs to send. An empty batch after the wait is an empty page, not an error.
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @param cloudFetchQuery 
     * @return ApiResponse<CloudMessagePage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextWithHttpInfo(stream: kotlin.String, name: kotlin.String, cloudFetchQuery: CloudFetchQuery) : ApiResponse<CloudMessagePage?> {
        val localVariableConfig = cloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequestConfig(stream = stream, name = name, cloudFetchQuery = cloudFetchQuery)

        return request<CloudFetchQuery, CloudMessagePage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1PubsubJetstreamStreamsStreamConsumersNameNext
     *
     * @param stream Stream is the stream, from the path.
     * @param name Name is the consumer, from the path.
     * @param cloudFetchQuery 
     * @return RequestConfig
     */
    fun cloudPostV1PubsubJetstreamStreamsStreamConsumersNameNextRequestConfig(stream: kotlin.String, name: kotlin.String, cloudFetchQuery: CloudFetchQuery) : RequestConfig<CloudFetchQuery> {
        val localVariableBody = cloudFetchQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/jetstream/streams/{stream}/consumers/{name}/next".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())).replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/kv/{bucket}
     * CreateBucket creates a KV bucket and returns it.
     * CreateBucket creates a KV bucket and returns it. A bucket is keyed state on the same durable plane as the streams: each key holds up to History revisions, entries can expire by TTL, and watchers on the NATS port see every write. 409 when the org already has a bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param cloudBucketWrite 
     * @return CloudBucketRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1PubsubKvBucket(bucket: kotlin.String, cloudBucketWrite: CloudBucketWrite) : CloudBucketRecord {
        val localVarResponse = cloudPostV1PubsubKvBucketWithHttpInfo(bucket = bucket, cloudBucketWrite = cloudBucketWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudBucketRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/kv/{bucket}
     * CreateBucket creates a KV bucket and returns it.
     * CreateBucket creates a KV bucket and returns it. A bucket is keyed state on the same durable plane as the streams: each key holds up to History revisions, entries can expire by TTL, and watchers on the NATS port see every write. 409 when the org already has a bucket of that name.
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param cloudBucketWrite 
     * @return ApiResponse<CloudBucketRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1PubsubKvBucketWithHttpInfo(bucket: kotlin.String, cloudBucketWrite: CloudBucketWrite) : ApiResponse<CloudBucketRecord?> {
        val localVariableConfig = cloudPostV1PubsubKvBucketRequestConfig(bucket = bucket, cloudBucketWrite = cloudBucketWrite)

        return request<CloudBucketWrite, CloudBucketRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1PubsubKvBucket
     *
     * @param bucket Bucket is the bucket&#39;s name within the org, from the path: 1–64 of [A-Za-z0-9_], no dash.
     * @param cloudBucketWrite 
     * @return RequestConfig
     */
    fun cloudPostV1PubsubKvBucketRequestConfig(bucket: kotlin.String, cloudBucketWrite: CloudBucketWrite) : RequestConfig<CloudBucketWrite> {
        val localVariableBody = cloudBucketWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/kv/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/publish
     * Publish puts one message on the org&#39;s bus.
     * Publish puts one message on the org&#39;s bus. When a stream captures the subject the write is DURABLE — the receipt names the stream and sequence only after JetStream has it on storage, and a repeated Nats-Msg-Id header within the dedup window answers duplicate instead of storing twice. When nothing captures it, the message goes out core NATS: delivered to current subscribers, receipt {ok}, nothing retained.
     * @param cloudBusPublish 
     * @return CloudBusAck
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1PubsubPublish(cloudBusPublish: CloudBusPublish) : CloudBusAck {
        val localVarResponse = cloudPostV1PubsubPublishWithHttpInfo(cloudBusPublish = cloudBusPublish)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudBusAck
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/publish
     * Publish puts one message on the org&#39;s bus.
     * Publish puts one message on the org&#39;s bus. When a stream captures the subject the write is DURABLE — the receipt names the stream and sequence only after JetStream has it on storage, and a repeated Nats-Msg-Id header within the dedup window answers duplicate instead of storing twice. When nothing captures it, the message goes out core NATS: delivered to current subscribers, receipt {ok}, nothing retained.
     * @param cloudBusPublish 
     * @return ApiResponse<CloudBusAck?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1PubsubPublishWithHttpInfo(cloudBusPublish: CloudBusPublish) : ApiResponse<CloudBusAck?> {
        val localVariableConfig = cloudPostV1PubsubPublishRequestConfig(cloudBusPublish = cloudBusPublish)

        return request<CloudBusPublish, CloudBusAck>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1PubsubPublish
     *
     * @param cloudBusPublish 
     * @return RequestConfig
     */
    fun cloudPostV1PubsubPublishRequestConfig(cloudBusPublish: CloudBusPublish) : RequestConfig<CloudBusPublish> {
        val localVariableBody = cloudBusPublish
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/publish",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/pubsub/request
     * Request sends one request on the org&#39;s bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port.
     * Request sends one request on the org&#39;s bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port. 404 when nobody is listening on the subject; 408 when a responder exists but no reply arrived within the timeout.
     * @param cloudBusRequest 
     * @return CloudBusMessage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1PubsubRequest(cloudBusRequest: CloudBusRequest) : CloudBusMessage {
        val localVarResponse = cloudPostV1PubsubRequestWithHttpInfo(cloudBusRequest = cloudBusRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudBusMessage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/pubsub/request
     * Request sends one request on the org&#39;s bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port.
     * Request sends one request on the org&#39;s bus and waits for one reply — the synchronous half of pub/sub, for callers speaking to a responder subscribed on the NATS port. 404 when nobody is listening on the subject; 408 when a responder exists but no reply arrived within the timeout.
     * @param cloudBusRequest 
     * @return ApiResponse<CloudBusMessage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1PubsubRequestWithHttpInfo(cloudBusRequest: CloudBusRequest) : ApiResponse<CloudBusMessage?> {
        val localVariableConfig = cloudPostV1PubsubRequestRequestConfig(cloudBusRequest = cloudBusRequest)

        return request<CloudBusRequest, CloudBusMessage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1PubsubRequest
     *
     * @param cloudBusRequest 
     * @return RequestConfig
     */
    fun cloudPostV1PubsubRequestRequestConfig(cloudBusRequest: CloudBusRequest) : RequestConfig<CloudBusRequest> {
        val localVariableBody = cloudBusRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/pubsub/request",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/pubsub/jetstream/streams/{stream}
     * UpdateStream rewrites a stream&#39;s configuration — subjects, limits, discard — and returns the updated stream.
     * UpdateStream rewrites a stream&#39;s configuration — subjects, limits, discard — and returns the updated stream. It is a PUT: the spec sent replaces the spec held, with one reading for the enums a caller omits — an empty storage, retention or discard keeps the stream&#39;s current one, because JetStream holds storage and retention immutable and refuses a change with a 400 rather than this door pretending it took.
     * @param stream Stream is the stream to update, from the path.
     * @param cloudStreamUpdate 
     * @return CloudStreamRecord
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPutV1PubsubJetstreamStreamsStream(stream: kotlin.String, cloudStreamUpdate: CloudStreamUpdate) : CloudStreamRecord {
        val localVarResponse = cloudPutV1PubsubJetstreamStreamsStreamWithHttpInfo(stream = stream, cloudStreamUpdate = cloudStreamUpdate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudStreamRecord
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/pubsub/jetstream/streams/{stream}
     * UpdateStream rewrites a stream&#39;s configuration — subjects, limits, discard — and returns the updated stream.
     * UpdateStream rewrites a stream&#39;s configuration — subjects, limits, discard — and returns the updated stream. It is a PUT: the spec sent replaces the spec held, with one reading for the enums a caller omits — an empty storage, retention or discard keeps the stream&#39;s current one, because JetStream holds storage and retention immutable and refuses a change with a 400 rather than this door pretending it took.
     * @param stream Stream is the stream to update, from the path.
     * @param cloudStreamUpdate 
     * @return ApiResponse<CloudStreamRecord?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPutV1PubsubJetstreamStreamsStreamWithHttpInfo(stream: kotlin.String, cloudStreamUpdate: CloudStreamUpdate) : ApiResponse<CloudStreamRecord?> {
        val localVariableConfig = cloudPutV1PubsubJetstreamStreamsStreamRequestConfig(stream = stream, cloudStreamUpdate = cloudStreamUpdate)

        return request<CloudStreamUpdate, CloudStreamRecord>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPutV1PubsubJetstreamStreamsStream
     *
     * @param stream Stream is the stream to update, from the path.
     * @param cloudStreamUpdate 
     * @return RequestConfig
     */
    fun cloudPutV1PubsubJetstreamStreamsStreamRequestConfig(stream: kotlin.String, cloudStreamUpdate: CloudStreamUpdate) : RequestConfig<CloudStreamUpdate> {
        val localVariableBody = cloudStreamUpdate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/pubsub/jetstream/streams/{stream}".replace("{"+"stream"+"}", encodeURIComponent(stream.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/pubsub/kv/{bucket}/{key}
     * Put sets one key to one value and returns the revision the write created.
     * Put sets one key to one value and returns the revision the write created. Writes are versioned: each put is a new revision and the bucket retains up to its History of them per key.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param cloudKvWrite 
     * @return CloudKvAck
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPutV1PubsubKvBucketKey(bucket: kotlin.String, key: kotlin.String, cloudKvWrite: CloudKvWrite) : CloudKvAck {
        val localVarResponse = cloudPutV1PubsubKvBucketKeyWithHttpInfo(bucket = bucket, key = key, cloudKvWrite = cloudKvWrite)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudKvAck
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/pubsub/kv/{bucket}/{key}
     * Put sets one key to one value and returns the revision the write created.
     * Put sets one key to one value and returns the revision the write created. Writes are versioned: each put is a new revision and the bucket retains up to its History of them per key.
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param cloudKvWrite 
     * @return ApiResponse<CloudKvAck?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPutV1PubsubKvBucketKeyWithHttpInfo(bucket: kotlin.String, key: kotlin.String, cloudKvWrite: CloudKvWrite) : ApiResponse<CloudKvAck?> {
        val localVariableConfig = cloudPutV1PubsubKvBucketKeyRequestConfig(bucket = bucket, key = key, cloudKvWrite = cloudKvWrite)

        return request<CloudKvWrite, CloudKvAck>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPutV1PubsubKvBucketKey
     *
     * @param bucket Bucket is the bucket, from the path.
     * @param key Key is the key, from the path.
     * @param cloudKvWrite 
     * @return RequestConfig
     */
    fun cloudPutV1PubsubKvBucketKeyRequestConfig(bucket: kotlin.String, key: kotlin.String, cloudKvWrite: CloudKvWrite) : RequestConfig<CloudKvWrite> {
        val localVariableBody = cloudKvWrite
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/pubsub/kv/{bucket}/{key}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())).replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kv/pubsub/channels
     * List active channels
     * 
     * @param pattern  (optional, default to "*")
     * @return KvListChannels200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun kvListChannels(pattern: kotlin.String? = "*") : KvListChannels200Response {
        val localVarResponse = kvListChannelsWithHttpInfo(pattern = pattern)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvListChannels200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kv/pubsub/channels
     * List active channels
     * 
     * @param pattern  (optional, default to "*")
     * @return ApiResponse<KvListChannels200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun kvListChannelsWithHttpInfo(pattern: kotlin.String?) : ApiResponse<KvListChannels200Response?> {
        val localVariableConfig = kvListChannelsRequestConfig(pattern = pattern)

        return request<Unit, KvListChannels200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kvListChannels
     *
     * @param pattern  (optional, default to "*")
     * @return RequestConfig
     */
    fun kvListChannelsRequestConfig(pattern: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (pattern != null) {
                    put("pattern", listOf(pattern.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kv/pubsub/channels",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/kv/pubsub/publish
     * Publish message to channel
     * 
     * @param kvPublishRequest 
     * @return KvPublish200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun kvPublish(kvPublishRequest: KvPublishRequest) : KvPublish200Response {
        val localVarResponse = kvPublishWithHttpInfo(kvPublishRequest = kvPublishRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KvPublish200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/kv/pubsub/publish
     * Publish message to channel
     * 
     * @param kvPublishRequest 
     * @return ApiResponse<KvPublish200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun kvPublishWithHttpInfo(kvPublishRequest: KvPublishRequest) : ApiResponse<KvPublish200Response?> {
        val localVariableConfig = kvPublishRequestConfig(kvPublishRequest = kvPublishRequest)

        return request<KvPublishRequest, KvPublish200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kvPublish
     *
     * @param kvPublishRequest 
     * @return RequestConfig
     */
    fun kvPublishRequestConfig(kvPublishRequest: KvPublishRequest) : RequestConfig<KvPublishRequest> {
        val localVariableBody = kvPublishRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/kv/pubsub/publish",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/kv/pubsub/subscribe
     * Subscribe to channels (SSE)
     * 
     * @param channels Channels to subscribe to
     * @param pattern Pattern to subscribe to (e.g. user:*) (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun kvSubscribe(channels: kotlin.collections.List<kotlin.String>, pattern: kotlin.String? = null) : kotlin.String {
        val localVarResponse = kvSubscribeWithHttpInfo(channels = channels, pattern = pattern)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/kv/pubsub/subscribe
     * Subscribe to channels (SSE)
     * 
     * @param channels Channels to subscribe to
     * @param pattern Pattern to subscribe to (e.g. user:*) (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun kvSubscribeWithHttpInfo(channels: kotlin.collections.List<kotlin.String>, pattern: kotlin.String?) : ApiResponse<kotlin.String?> {
        val localVariableConfig = kvSubscribeRequestConfig(channels = channels, pattern = pattern)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation kvSubscribe
     *
     * @param channels Channels to subscribe to
     * @param pattern Pattern to subscribe to (e.g. user:*) (optional)
     * @return RequestConfig
     */
    fun kvSubscribeRequestConfig(channels: kotlin.collections.List<kotlin.String>, pattern: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("channels", toMultiValue(channels.toList(), "multi"))
                if (pattern != null) {
                    put("pattern", listOf(pattern.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/kv/pubsub/subscribe",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
