/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.ClearReferenceOut
import ai.hanzo.cloud.model.ReferenceOut
import ai.hanzo.cloud.model.ReferenceSetsOut
import ai.hanzo.cloud.model.RefreshReferenceIn
import ai.hanzo.cloud.model.RefreshReferenceOut
import ai.hanzo.cloud.model.ResolveReferenceIn
import ai.hanzo.cloud.model.ResolveReferenceOut
import ai.hanzo.cloud.model.SetReferenceIn
import ai.hanzo.cloud.model.SetReferenceOut

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class ReferenceApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/reference/{set}
     * Removes one of your organisation&#39;s overrides.
     * Removes one of your organisation&#39;s overrides.  It removes an entry your organisation wrote, never a baseline member: the published set is not writable from here, so a removal can only ever restore the baseline&#39;s own answer.
     * @param set 
     * @param key  (optional)
     * @return ClearReferenceOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskClearReference(set: kotlin.String, key: kotlin.String? = null) : ClearReferenceOut {
        val localVarResponse = riskClearReferenceWithHttpInfo(set = set, key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ClearReferenceOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/reference/{set}
     * Removes one of your organisation&#39;s overrides.
     * Removes one of your organisation&#39;s overrides.  It removes an entry your organisation wrote, never a baseline member: the published set is not writable from here, so a removal can only ever restore the baseline&#39;s own answer.
     * @param set 
     * @param key  (optional)
     * @return ApiResponse<ClearReferenceOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskClearReferenceWithHttpInfo(set: kotlin.String, key: kotlin.String?) : ApiResponse<ClearReferenceOut?> {
        val localVariableConfig = riskClearReferenceRequestConfig(set = set, key = key)

        return request<Unit, ClearReferenceOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskClearReference
     *
     * @param set 
     * @param key  (optional)
     * @return RequestConfig
     */
    fun riskClearReferenceRequestConfig(set: kotlin.String, key: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (key != null) {
                    put("key", listOf(key.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/reference/{set}".replace("{"+"set"+"}", encodeURIComponent(set.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/reference/{set}
     * Reference describes one set and lists your org&#39;s overrides in it.
     * Reference describes one set and lists your org&#39;s overrides in it.  The set half is public data about a published list — its version, its publishers, their licences and how current each one is. The overrides half is yours alone: it is read from your organisation&#39;s own store, and no other organisation&#39;s entries can appear in it.
     * @param set 
     * @param after After pages the override listing: the last key of the previous page. (optional)
     * @param limit Limit caps the override listing: default 200, maximum 1000. (optional)
     * @return ReferenceOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskReference(set: kotlin.String, after: kotlin.String? = null, limit: kotlin.Int? = null) : ReferenceOut {
        val localVarResponse = riskReferenceWithHttpInfo(set = set, after = after, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReferenceOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/reference/{set}
     * Reference describes one set and lists your org&#39;s overrides in it.
     * Reference describes one set and lists your org&#39;s overrides in it.  The set half is public data about a published list — its version, its publishers, their licences and how current each one is. The overrides half is yours alone: it is read from your organisation&#39;s own store, and no other organisation&#39;s entries can appear in it.
     * @param set 
     * @param after After pages the override listing: the last key of the previous page. (optional)
     * @param limit Limit caps the override listing: default 200, maximum 1000. (optional)
     * @return ApiResponse<ReferenceOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskReferenceWithHttpInfo(set: kotlin.String, after: kotlin.String?, limit: kotlin.Int?) : ApiResponse<ReferenceOut?> {
        val localVariableConfig = riskReferenceRequestConfig(set = set, after = after, limit = limit)

        return request<Unit, ReferenceOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskReference
     *
     * @param set 
     * @param after After pages the override listing: the last key of the previous page. (optional)
     * @param limit Limit caps the override listing: default 200, maximum 1000. (optional)
     * @return RequestConfig
     */
    fun riskReferenceRequestConfig(set: kotlin.String, after: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (after != null) {
                    put("after", listOf(after.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/reference/{set}".replace("{"+"set"+"}", encodeURIComponent(set.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/reference
     * Lists every set this plane publishes, with its version and how fresh it is.
     * Lists every set this plane publishes, with its version and how fresh it is.  Read the Stale and Refused lists first: they are the two ways this plane can be quietly wrong, and they are reported rather than inferred. A set in Refused answers nothing — it has never loaded, it is held by another component, or it names a source we hold no licence for.
     * @return ReferenceSetsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskReferenceSets() : ReferenceSetsOut {
        val localVarResponse = riskReferenceSetsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReferenceSetsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/reference
     * Lists every set this plane publishes, with its version and how fresh it is.
     * Lists every set this plane publishes, with its version and how fresh it is.  Read the Stale and Refused lists first: they are the two ways this plane can be quietly wrong, and they are reported rather than inferred. A set in Refused answers nothing — it has never loaded, it is held by another component, or it names a source we hold no licence for.
     * @return ApiResponse<ReferenceSetsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskReferenceSetsWithHttpInfo() : ApiResponse<ReferenceSetsOut?> {
        val localVariableConfig = riskReferenceSetsRequestConfig()

        return request<Unit, ReferenceSetsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskReferenceSets
     *
     * @return RequestConfig
     */
    fun riskReferenceSetsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/reference",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/reference/refresh
     * Takes a new version of one set.
     * Takes a new version of one set. SuperAdmin only.  It is platform work, not tenant work: it writes the shared baseline every organisation reads, so it is gated to the platform&#39;s own identity. Nothing here can write an organisation&#39;s overrides, and nothing an organisation sends can reach this route.  Idempotent. A version is the content digest of what was taken, so refreshing an unchanged publisher writes no rows and reports unchanged. Resumable: a run that died half-way is continued from where it stopped rather than restarted.  A set whose source needs a licence we do not hold is refused with the reason, rather than being quietly skipped.
     * @param refreshReferenceIn 
     * @return RefreshReferenceOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskRefreshReference(refreshReferenceIn: RefreshReferenceIn) : RefreshReferenceOut {
        val localVarResponse = riskRefreshReferenceWithHttpInfo(refreshReferenceIn = refreshReferenceIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RefreshReferenceOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/reference/refresh
     * Takes a new version of one set.
     * Takes a new version of one set. SuperAdmin only.  It is platform work, not tenant work: it writes the shared baseline every organisation reads, so it is gated to the platform&#39;s own identity. Nothing here can write an organisation&#39;s overrides, and nothing an organisation sends can reach this route.  Idempotent. A version is the content digest of what was taken, so refreshing an unchanged publisher writes no rows and reports unchanged. Resumable: a run that died half-way is continued from where it stopped rather than restarted.  A set whose source needs a licence we do not hold is refused with the reason, rather than being quietly skipped.
     * @param refreshReferenceIn 
     * @return ApiResponse<RefreshReferenceOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskRefreshReferenceWithHttpInfo(refreshReferenceIn: RefreshReferenceIn) : ApiResponse<RefreshReferenceOut?> {
        val localVariableConfig = riskRefreshReferenceRequestConfig(refreshReferenceIn = refreshReferenceIn)

        return request<RefreshReferenceIn, RefreshReferenceOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskRefreshReference
     *
     * @param refreshReferenceIn 
     * @return RequestConfig
     */
    fun riskRefreshReferenceRequestConfig(refreshReferenceIn: RefreshReferenceIn) : RequestConfig<RefreshReferenceIn> {
        val localVariableBody = refreshReferenceIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/reference/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/reference/resolve
     * Looks keys up against the reference plane.
     * Looks keys up against the reference plane.  Your organisation&#39;s own overrides are consulted FIRST and win outright; the shared baseline answers everything they do not cover. Every answer names the version that produced it, when that version was current and whether it is stale, so a decision can record exactly what it consulted.  Read Refusal before reading Hit. A set that has never loaded, one held by the component that screens against it, and one whose source needs a licence we do not hold all answer with a refusal — and a miss on a refusing set means nothing is known, not that the key is clean.
     * @param resolveReferenceIn 
     * @return ResolveReferenceOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskResolveReference(resolveReferenceIn: ResolveReferenceIn) : ResolveReferenceOut {
        val localVarResponse = riskResolveReferenceWithHttpInfo(resolveReferenceIn = resolveReferenceIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ResolveReferenceOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/reference/resolve
     * Looks keys up against the reference plane.
     * Looks keys up against the reference plane.  Your organisation&#39;s own overrides are consulted FIRST and win outright; the shared baseline answers everything they do not cover. Every answer names the version that produced it, when that version was current and whether it is stale, so a decision can record exactly what it consulted.  Read Refusal before reading Hit. A set that has never loaded, one held by the component that screens against it, and one whose source needs a licence we do not hold all answer with a refusal — and a miss on a refusing set means nothing is known, not that the key is clean.
     * @param resolveReferenceIn 
     * @return ApiResponse<ResolveReferenceOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskResolveReferenceWithHttpInfo(resolveReferenceIn: ResolveReferenceIn) : ApiResponse<ResolveReferenceOut?> {
        val localVariableConfig = riskResolveReferenceRequestConfig(resolveReferenceIn = resolveReferenceIn)

        return request<ResolveReferenceIn, ResolveReferenceOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskResolveReference
     *
     * @param resolveReferenceIn 
     * @return RequestConfig
     */
    fun riskResolveReferenceRequestConfig(resolveReferenceIn: ResolveReferenceIn) : RequestConfig<ResolveReferenceIn> {
        val localVariableBody = resolveReferenceIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/reference/resolve",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/reference/{set}
     * Writes your organisation&#39;s own allow and deny entries over a set.
     * Writes your organisation&#39;s own allow and deny entries over a set.  Idempotent on the key: writing the same entry twice is one entry, and writing it again replaces the verdict and the note. The whole batch is one transaction, so a batch that would cross the per-set bound writes nothing rather than half of itself — a half-applied deny list is worse than a refused one, because nobody can tell which half applied.  Your entries are held in your organisation&#39;s own store and are never visible to another organisation, and they never change what any other organisation sees. The shared baseline is not writable from here at all.
     * @param set 
     * @param setReferenceIn 
     * @return SetReferenceOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun riskSetReference(set: kotlin.String, setReferenceIn: SetReferenceIn) : SetReferenceOut {
        val localVarResponse = riskSetReferenceWithHttpInfo(set = set, setReferenceIn = setReferenceIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SetReferenceOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/reference/{set}
     * Writes your organisation&#39;s own allow and deny entries over a set.
     * Writes your organisation&#39;s own allow and deny entries over a set.  Idempotent on the key: writing the same entry twice is one entry, and writing it again replaces the verdict and the note. The whole batch is one transaction, so a batch that would cross the per-set bound writes nothing rather than half of itself — a half-applied deny list is worse than a refused one, because nobody can tell which half applied.  Your entries are held in your organisation&#39;s own store and are never visible to another organisation, and they never change what any other organisation sees. The shared baseline is not writable from here at all.
     * @param set 
     * @param setReferenceIn 
     * @return ApiResponse<SetReferenceOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun riskSetReferenceWithHttpInfo(set: kotlin.String, setReferenceIn: SetReferenceIn) : ApiResponse<SetReferenceOut?> {
        val localVariableConfig = riskSetReferenceRequestConfig(set = set, setReferenceIn = setReferenceIn)

        return request<SetReferenceIn, SetReferenceOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation riskSetReference
     *
     * @param set 
     * @param setReferenceIn 
     * @return RequestConfig
     */
    fun riskSetReferenceRequestConfig(set: kotlin.String, setReferenceIn: SetReferenceIn) : RequestConfig<SetReferenceIn> {
        val localVariableBody = setReferenceIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/reference/{set}".replace("{"+"set"+"}", encodeURIComponent(set.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
