/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.AnalyticsCreateReportRequest
import ai.hanzo.cloud.model.AnalyticsReport
import ai.hanzo.cloud.model.AnalyticsRunAttributionReportRequest
import ai.hanzo.cloud.model.AnalyticsRunFunnelReportRequest
import ai.hanzo.cloud.model.AnalyticsRunGoalsReportRequest
import ai.hanzo.cloud.model.AnalyticsRunInsightsReportRequest
import ai.hanzo.cloud.model.AnalyticsRunJourneyReportRequest
import ai.hanzo.cloud.model.AnalyticsRunRetentionReportRequest
import ai.hanzo.cloud.model.AnalyticsRunRevenueReportRequest
import ai.hanzo.cloud.model.AnalyticsRunUtmReportRequest

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class ReportsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/analytics/reports
     * Create a new report
     * 
     * @param analyticsCreateReportRequest 
     * @return AnalyticsReport
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsCreateReport(analyticsCreateReportRequest: AnalyticsCreateReportRequest) : AnalyticsReport {
        val localVarResponse = analyticsCreateReportWithHttpInfo(analyticsCreateReportRequest = analyticsCreateReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsReport
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports
     * Create a new report
     * 
     * @param analyticsCreateReportRequest 
     * @return ApiResponse<AnalyticsReport?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsCreateReportWithHttpInfo(analyticsCreateReportRequest: AnalyticsCreateReportRequest) : ApiResponse<AnalyticsReport?> {
        val localVariableConfig = analyticsCreateReportRequestConfig(analyticsCreateReportRequest = analyticsCreateReportRequest)

        return request<AnalyticsCreateReportRequest, AnalyticsReport>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsCreateReport
     *
     * @param analyticsCreateReportRequest 
     * @return RequestConfig
     */
    fun analyticsCreateReportRequestConfig(analyticsCreateReportRequest: AnalyticsCreateReportRequest) : RequestConfig<AnalyticsCreateReportRequest> {
        val localVariableBody = analyticsCreateReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/analytics/reports/{reportId}
     * Delete a report
     * 
     * @param reportId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsDeleteReport(reportId: java.util.UUID) : kotlin.Any {
        val localVarResponse = analyticsDeleteReportWithHttpInfo(reportId = reportId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/analytics/reports/{reportId}
     * Delete a report
     * 
     * @param reportId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsDeleteReportWithHttpInfo(reportId: java.util.UUID) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = analyticsDeleteReportRequestConfig(reportId = reportId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsDeleteReport
     *
     * @param reportId 
     * @return RequestConfig
     */
    fun analyticsDeleteReportRequestConfig(reportId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/analytics/reports/{reportId}".replace("{"+"reportId"+"}", encodeURIComponent(reportId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/reports/{reportId}
     * Get a report by ID
     * 
     * @param reportId 
     * @return AnalyticsReport
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsGetReport(reportId: java.util.UUID) : AnalyticsReport {
        val localVarResponse = analyticsGetReportWithHttpInfo(reportId = reportId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsReport
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/reports/{reportId}
     * Get a report by ID
     * 
     * @param reportId 
     * @return ApiResponse<AnalyticsReport?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsGetReportWithHttpInfo(reportId: java.util.UUID) : ApiResponse<AnalyticsReport?> {
        val localVariableConfig = analyticsGetReportRequestConfig(reportId = reportId)

        return request<Unit, AnalyticsReport>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetReport
     *
     * @param reportId 
     * @return RequestConfig
     */
    fun analyticsGetReportRequestConfig(reportId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/reports/{reportId}".replace("{"+"reportId"+"}", encodeURIComponent(reportId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/reports/revenue
     * Get available revenue values for a website
     * 
     * @param websiteId 
     * @param startDate 
     * @param endDate 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsGetRevenueValues(websiteId: java.util.UUID, startDate: java.time.OffsetDateTime, endDate: java.time.OffsetDateTime) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsGetRevenueValuesWithHttpInfo(websiteId = websiteId, startDate = startDate, endDate = endDate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/reports/revenue
     * Get available revenue values for a website
     * 
     * @param websiteId 
     * @param startDate 
     * @param endDate 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsGetRevenueValuesWithHttpInfo(websiteId: java.util.UUID, startDate: java.time.OffsetDateTime, endDate: java.time.OffsetDateTime) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsGetRevenueValuesRequestConfig(websiteId = websiteId, startDate = startDate, endDate = endDate)

        return request<Unit, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetRevenueValues
     *
     * @param websiteId 
     * @param startDate 
     * @param endDate 
     * @return RequestConfig
     */
    fun analyticsGetRevenueValuesRequestConfig(websiteId: java.util.UUID, startDate: java.time.OffsetDateTime, endDate: java.time.OffsetDateTime) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("websiteId", listOf(websiteId.toString()))
                put("startDate", listOf(parseDateToQueryString(startDate)))
                put("endDate", listOf(parseDateToQueryString(endDate)))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/reports/revenue",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/reports
     * List reports for a specific website
     * 
     * @param websiteId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsReport>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsGetWebsiteReports(websiteId: java.util.UUID, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsReport> {
        val localVarResponse = analyticsGetWebsiteReportsWithHttpInfo(websiteId = websiteId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsReport>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/reports
     * List reports for a specific website
     * 
     * @param websiteId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsReport>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsGetWebsiteReportsWithHttpInfo(websiteId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsReport>?> {
        val localVariableConfig = analyticsGetWebsiteReportsRequestConfig(websiteId = websiteId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return request<Unit, kotlin.collections.List<AnalyticsReport>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetWebsiteReports
     *
     * @param websiteId 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetWebsiteReportsRequestConfig(websiteId: java.util.UUID, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/reports".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/reports
     * List reports, optionally filtered by website or team
     * 
     * @param websiteId  (optional)
     * @param teamId  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsReport>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsListReports(websiteId: java.util.UUID? = null, teamId: java.util.UUID? = null, page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsReport> {
        val localVarResponse = analyticsListReportsWithHttpInfo(websiteId = websiteId, teamId = teamId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsReport>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/reports
     * List reports, optionally filtered by website or team
     * 
     * @param websiteId  (optional)
     * @param teamId  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsReport>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsListReportsWithHttpInfo(websiteId: java.util.UUID?, teamId: java.util.UUID?, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsReport>?> {
        val localVariableConfig = analyticsListReportsRequestConfig(websiteId = websiteId, teamId = teamId, page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return request<Unit, kotlin.collections.List<AnalyticsReport>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsListReports
     *
     * @param websiteId  (optional)
     * @param teamId  (optional)
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsListReportsRequestConfig(websiteId: java.util.UUID?, teamId: java.util.UUID?, page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (websiteId != null) {
                    put("websiteId", listOf(websiteId.toString()))
                }
                if (teamId != null) {
                    put("teamId", listOf(teamId.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/reports",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/attribution
     * Run an attribution report
     * 
     * @param analyticsRunAttributionReportRequest 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsRunAttributionReport(analyticsRunAttributionReportRequest: AnalyticsRunAttributionReportRequest) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsRunAttributionReportWithHttpInfo(analyticsRunAttributionReportRequest = analyticsRunAttributionReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/attribution
     * Run an attribution report
     * 
     * @param analyticsRunAttributionReportRequest 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsRunAttributionReportWithHttpInfo(analyticsRunAttributionReportRequest: AnalyticsRunAttributionReportRequest) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsRunAttributionReportRequestConfig(analyticsRunAttributionReportRequest = analyticsRunAttributionReportRequest)

        return request<AnalyticsRunAttributionReportRequest, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRunAttributionReport
     *
     * @param analyticsRunAttributionReportRequest 
     * @return RequestConfig
     */
    fun analyticsRunAttributionReportRequestConfig(analyticsRunAttributionReportRequest: AnalyticsRunAttributionReportRequest) : RequestConfig<AnalyticsRunAttributionReportRequest> {
        val localVariableBody = analyticsRunAttributionReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/attribution",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/funnel
     * Run a funnel report
     * 
     * @param analyticsRunFunnelReportRequest 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsRunFunnelReport(analyticsRunFunnelReportRequest: AnalyticsRunFunnelReportRequest) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsRunFunnelReportWithHttpInfo(analyticsRunFunnelReportRequest = analyticsRunFunnelReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/funnel
     * Run a funnel report
     * 
     * @param analyticsRunFunnelReportRequest 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsRunFunnelReportWithHttpInfo(analyticsRunFunnelReportRequest: AnalyticsRunFunnelReportRequest) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsRunFunnelReportRequestConfig(analyticsRunFunnelReportRequest = analyticsRunFunnelReportRequest)

        return request<AnalyticsRunFunnelReportRequest, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRunFunnelReport
     *
     * @param analyticsRunFunnelReportRequest 
     * @return RequestConfig
     */
    fun analyticsRunFunnelReportRequestConfig(analyticsRunFunnelReportRequest: AnalyticsRunFunnelReportRequest) : RequestConfig<AnalyticsRunFunnelReportRequest> {
        val localVariableBody = analyticsRunFunnelReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/funnel",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/goals
     * Run a goals report
     * 
     * @param analyticsRunGoalsReportRequest 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsRunGoalsReport(analyticsRunGoalsReportRequest: AnalyticsRunGoalsReportRequest) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsRunGoalsReportWithHttpInfo(analyticsRunGoalsReportRequest = analyticsRunGoalsReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/goals
     * Run a goals report
     * 
     * @param analyticsRunGoalsReportRequest 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsRunGoalsReportWithHttpInfo(analyticsRunGoalsReportRequest: AnalyticsRunGoalsReportRequest) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsRunGoalsReportRequestConfig(analyticsRunGoalsReportRequest = analyticsRunGoalsReportRequest)

        return request<AnalyticsRunGoalsReportRequest, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRunGoalsReport
     *
     * @param analyticsRunGoalsReportRequest 
     * @return RequestConfig
     */
    fun analyticsRunGoalsReportRequestConfig(analyticsRunGoalsReportRequest: AnalyticsRunGoalsReportRequest) : RequestConfig<AnalyticsRunGoalsReportRequest> {
        val localVariableBody = analyticsRunGoalsReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/goals",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/insights
     * Run an insights report
     * 
     * @param analyticsRunInsightsReportRequest 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsRunInsightsReport(analyticsRunInsightsReportRequest: AnalyticsRunInsightsReportRequest) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsRunInsightsReportWithHttpInfo(analyticsRunInsightsReportRequest = analyticsRunInsightsReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/insights
     * Run an insights report
     * 
     * @param analyticsRunInsightsReportRequest 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsRunInsightsReportWithHttpInfo(analyticsRunInsightsReportRequest: AnalyticsRunInsightsReportRequest) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsRunInsightsReportRequestConfig(analyticsRunInsightsReportRequest = analyticsRunInsightsReportRequest)

        return request<AnalyticsRunInsightsReportRequest, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRunInsightsReport
     *
     * @param analyticsRunInsightsReportRequest 
     * @return RequestConfig
     */
    fun analyticsRunInsightsReportRequestConfig(analyticsRunInsightsReportRequest: AnalyticsRunInsightsReportRequest) : RequestConfig<AnalyticsRunInsightsReportRequest> {
        val localVariableBody = analyticsRunInsightsReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/insights",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/journey
     * Run a user journey report
     * 
     * @param analyticsRunJourneyReportRequest 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsRunJourneyReport(analyticsRunJourneyReportRequest: AnalyticsRunJourneyReportRequest) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsRunJourneyReportWithHttpInfo(analyticsRunJourneyReportRequest = analyticsRunJourneyReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/journey
     * Run a user journey report
     * 
     * @param analyticsRunJourneyReportRequest 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsRunJourneyReportWithHttpInfo(analyticsRunJourneyReportRequest: AnalyticsRunJourneyReportRequest) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsRunJourneyReportRequestConfig(analyticsRunJourneyReportRequest = analyticsRunJourneyReportRequest)

        return request<AnalyticsRunJourneyReportRequest, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRunJourneyReport
     *
     * @param analyticsRunJourneyReportRequest 
     * @return RequestConfig
     */
    fun analyticsRunJourneyReportRequestConfig(analyticsRunJourneyReportRequest: AnalyticsRunJourneyReportRequest) : RequestConfig<AnalyticsRunJourneyReportRequest> {
        val localVariableBody = analyticsRunJourneyReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/journey",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/retention
     * Run a retention report
     * 
     * @param analyticsRunRetentionReportRequest 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsRunRetentionReport(analyticsRunRetentionReportRequest: AnalyticsRunRetentionReportRequest) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsRunRetentionReportWithHttpInfo(analyticsRunRetentionReportRequest = analyticsRunRetentionReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/retention
     * Run a retention report
     * 
     * @param analyticsRunRetentionReportRequest 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsRunRetentionReportWithHttpInfo(analyticsRunRetentionReportRequest: AnalyticsRunRetentionReportRequest) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsRunRetentionReportRequestConfig(analyticsRunRetentionReportRequest = analyticsRunRetentionReportRequest)

        return request<AnalyticsRunRetentionReportRequest, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRunRetentionReport
     *
     * @param analyticsRunRetentionReportRequest 
     * @return RequestConfig
     */
    fun analyticsRunRetentionReportRequestConfig(analyticsRunRetentionReportRequest: AnalyticsRunRetentionReportRequest) : RequestConfig<AnalyticsRunRetentionReportRequest> {
        val localVariableBody = analyticsRunRetentionReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/retention",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/revenue
     * Run a revenue report
     * 
     * @param analyticsRunRevenueReportRequest 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsRunRevenueReport(analyticsRunRevenueReportRequest: AnalyticsRunRevenueReportRequest) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsRunRevenueReportWithHttpInfo(analyticsRunRevenueReportRequest = analyticsRunRevenueReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/revenue
     * Run a revenue report
     * 
     * @param analyticsRunRevenueReportRequest 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsRunRevenueReportWithHttpInfo(analyticsRunRevenueReportRequest: AnalyticsRunRevenueReportRequest) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsRunRevenueReportRequestConfig(analyticsRunRevenueReportRequest = analyticsRunRevenueReportRequest)

        return request<AnalyticsRunRevenueReportRequest, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRunRevenueReport
     *
     * @param analyticsRunRevenueReportRequest 
     * @return RequestConfig
     */
    fun analyticsRunRevenueReportRequestConfig(analyticsRunRevenueReportRequest: AnalyticsRunRevenueReportRequest) : RequestConfig<AnalyticsRunRevenueReportRequest> {
        val localVariableBody = analyticsRunRevenueReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/revenue",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/utm
     * Run a UTM report
     * 
     * @param analyticsRunUtmReportRequest 
     * @return kotlin.collections.List<kotlin.Any>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsRunUtmReport(analyticsRunUtmReportRequest: AnalyticsRunUtmReportRequest) : kotlin.collections.List<kotlin.Any> {
        val localVarResponse = analyticsRunUtmReportWithHttpInfo(analyticsRunUtmReportRequest = analyticsRunUtmReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.Any>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/utm
     * Run a UTM report
     * 
     * @param analyticsRunUtmReportRequest 
     * @return ApiResponse<kotlin.collections.List<kotlin.Any>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsRunUtmReportWithHttpInfo(analyticsRunUtmReportRequest: AnalyticsRunUtmReportRequest) : ApiResponse<kotlin.collections.List<kotlin.Any>?> {
        val localVariableConfig = analyticsRunUtmReportRequestConfig(analyticsRunUtmReportRequest = analyticsRunUtmReportRequest)

        return request<AnalyticsRunUtmReportRequest, kotlin.collections.List<kotlin.Any>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsRunUtmReport
     *
     * @param analyticsRunUtmReportRequest 
     * @return RequestConfig
     */
    fun analyticsRunUtmReportRequestConfig(analyticsRunUtmReportRequest: AnalyticsRunUtmReportRequest) : RequestConfig<AnalyticsRunUtmReportRequest> {
        val localVariableBody = analyticsRunUtmReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/utm",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/reports/{reportId}
     * Update a report
     * 
     * @param reportId 
     * @param analyticsCreateReportRequest 
     * @return AnalyticsReport
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsUpdateReport(reportId: java.util.UUID, analyticsCreateReportRequest: AnalyticsCreateReportRequest) : AnalyticsReport {
        val localVarResponse = analyticsUpdateReportWithHttpInfo(reportId = reportId, analyticsCreateReportRequest = analyticsCreateReportRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsReport
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/reports/{reportId}
     * Update a report
     * 
     * @param reportId 
     * @param analyticsCreateReportRequest 
     * @return ApiResponse<AnalyticsReport?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsUpdateReportWithHttpInfo(reportId: java.util.UUID, analyticsCreateReportRequest: AnalyticsCreateReportRequest) : ApiResponse<AnalyticsReport?> {
        val localVariableConfig = analyticsUpdateReportRequestConfig(reportId = reportId, analyticsCreateReportRequest = analyticsCreateReportRequest)

        return request<AnalyticsCreateReportRequest, AnalyticsReport>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsUpdateReport
     *
     * @param reportId 
     * @param analyticsCreateReportRequest 
     * @return RequestConfig
     */
    fun analyticsUpdateReportRequestConfig(reportId: java.util.UUID, analyticsCreateReportRequest: AnalyticsCreateReportRequest) : RequestConfig<AnalyticsCreateReportRequest> {
        val localVariableBody = analyticsCreateReportRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/reports/{reportId}".replace("{"+"reportId"+"}", encodeURIComponent(reportId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
