/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.ArtifactOut
import ai.hanzo.cloud.model.ArtifactsOut
import ai.hanzo.cloud.model.ExperimentsOut
import ai.hanzo.cloud.model.GrantOut
import ai.hanzo.cloud.model.GrantRequest
import ai.hanzo.cloud.model.IngestOut
import ai.hanzo.cloud.model.IngestRequest
import ai.hanzo.cloud.model.ProjectsOut
import ai.hanzo.cloud.model.ResearchArtifact
import ai.hanzo.cloud.model.ResearchTotals

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class ResearchApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/research/artifacts
     * Returns the caller org&#39;s research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash.
     * Returns the caller org&#39;s research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash. ?run&#x3D; narrows to one run, ?project&#x3D; to one project (default the caller&#39;s project scope), and ?since&#x3D; to a unix second.
     * @param project Project narrows to one project. Empty takes the caller&#39;s project scope. (optional)
     * @param run Run narrows to one run&#39;s artifacts by its stable id. (optional)
     * @param since Since bounds the feed to artifacts recorded at or after this unix second. (optional)
     * @return ArtifactsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getResearchArtifacts(project: kotlin.String? = null, run: kotlin.String? = null, since: kotlin.Int? = null) : ArtifactsOut {
        val localVarResponse = getResearchArtifactsWithHttpInfo(project = project, run = run, since = since)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ArtifactsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/artifacts
     * Returns the caller org&#39;s research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash.
     * Returns the caller org&#39;s research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash. ?run&#x3D; narrows to one run, ?project&#x3D; to one project (default the caller&#39;s project scope), and ?since&#x3D; to a unix second.
     * @param project Project narrows to one project. Empty takes the caller&#39;s project scope. (optional)
     * @param run Run narrows to one run&#39;s artifacts by its stable id. (optional)
     * @param since Since bounds the feed to artifacts recorded at or after this unix second. (optional)
     * @return ApiResponse<ArtifactsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getResearchArtifactsWithHttpInfo(project: kotlin.String?, run: kotlin.String?, since: kotlin.Int?) : ApiResponse<ArtifactsOut?> {
        val localVariableConfig = getResearchArtifactsRequestConfig(project = project, run = run, since = since)

        return request<Unit, ArtifactsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getResearchArtifacts
     *
     * @param project Project narrows to one project. Empty takes the caller&#39;s project scope. (optional)
     * @param run Run narrows to one run&#39;s artifacts by its stable id. (optional)
     * @param since Since bounds the feed to artifacts recorded at or after this unix second. (optional)
     * @return RequestConfig
     */
    fun getResearchArtifactsRequestConfig(project: kotlin.String?, run: kotlin.String?, since: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
                if (run != null) {
                    put("run", listOf(run.toString()))
                }
                if (since != null) {
                    put("since", listOf(since.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/artifacts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/research/artifacts/{sha256}
     * Fetch one recorded artifact&#39;s bytes by its content hash.
     * Streams the artifact&#39;s stored bytes — the retrieval half of hash-addressing, where the diary feed hands out hashes and this hands back what they name. The Content-Type is image/png when the artifact was recorded as a snapshot and application/octet-stream otherwise; it comes from the recorded KIND, not from sniffing the bytes, so an artifact filed as a report always arrives as opaque bytes.  The hash is an address, and the read is NOT global. The store file IS the org, so the same bytes recorded by two tenants are two artifacts, and a hash that exists but belongs to somebody else is a 404 exactly like one that was never recorded — knowing a content hash is never enough to read it. A caller with no validated org is refused 403 outright.  Project narrows further INSIDE that org: the artifact&#39;s project must equal the caller&#39;s, which is &#x60;?project&#x3D;&#x60; when given and otherwise the caller&#39;s own project scope, defaulting to the default project. So an artifact filed under a named project is not found until the caller names that project — a mismatch is the same 404 an unknown hash gets, never a distinguishable refusal.  The address can be trusted because the WRITE derived it: the server hashes the bytes it stores, inside the trust boundary, and refuses a client-supplied sha256 that disagrees with them, so poisoning a first write would take a preimage. This read does not re-hash — it looks the hash up as a key.  One shape to expect: this route writes its errors IN-BAND as {\&quot;error\&quot;: …} at the real status code, not the {status, error} envelope the typed ops beside it return. It is mounted under an error-flattening filter that would otherwise rewrite its 4xx, so the body is written before that filter runs. A store that cannot be opened is a 500.
     * @param sha256 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getResearchArtifactsBySha256(sha256: kotlin.String) : Unit {
        val localVarResponse = getResearchArtifactsBySha256WithHttpInfo(sha256 = sha256)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/artifacts/{sha256}
     * Fetch one recorded artifact&#39;s bytes by its content hash.
     * Streams the artifact&#39;s stored bytes — the retrieval half of hash-addressing, where the diary feed hands out hashes and this hands back what they name. The Content-Type is image/png when the artifact was recorded as a snapshot and application/octet-stream otherwise; it comes from the recorded KIND, not from sniffing the bytes, so an artifact filed as a report always arrives as opaque bytes.  The hash is an address, and the read is NOT global. The store file IS the org, so the same bytes recorded by two tenants are two artifacts, and a hash that exists but belongs to somebody else is a 404 exactly like one that was never recorded — knowing a content hash is never enough to read it. A caller with no validated org is refused 403 outright.  Project narrows further INSIDE that org: the artifact&#39;s project must equal the caller&#39;s, which is &#x60;?project&#x3D;&#x60; when given and otherwise the caller&#39;s own project scope, defaulting to the default project. So an artifact filed under a named project is not found until the caller names that project — a mismatch is the same 404 an unknown hash gets, never a distinguishable refusal.  The address can be trusted because the WRITE derived it: the server hashes the bytes it stores, inside the trust boundary, and refuses a client-supplied sha256 that disagrees with them, so poisoning a first write would take a preimage. This read does not re-hash — it looks the hash up as a key.  One shape to expect: this route writes its errors IN-BAND as {\&quot;error\&quot;: …} at the real status code, not the {status, error} envelope the typed ops beside it return. It is mounted under an error-flattening filter that would otherwise rewrite its 4xx, so the body is written before that filter runs. A store that cannot be opened is a 500.
     * @param sha256 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getResearchArtifactsBySha256WithHttpInfo(sha256: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = getResearchArtifactsBySha256RequestConfig(sha256 = sha256)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getResearchArtifactsBySha256
     *
     * @param sha256 
     * @return RequestConfig
     */
    fun getResearchArtifactsBySha256RequestConfig(sha256: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/artifacts/{sha256}".replace("{"+"sha256"+"}", encodeURIComponent(sha256.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/research/experiments
     * Returns the caller org&#39;s CANONICAL experiments — the deterministic deduped view over the versioned history.
     * Returns the caller org&#39;s CANONICAL experiments — the deterministic deduped view over the versioned history. With no ?project&#x3D; it reads the org&#39;s whole set across projects (the ops board&#39;s cross-project view, since a project is a sub-scope of the one tenant); ?project&#x3D; narrows to one and ?kind&#x3D; to one discriminator.
     * @param project Project narrows to one project. Empty reads the org&#39;s whole set across projects. (optional)
     * @param kind Kind narrows to one discriminator: benchmark, kernel-perf, training, ablation or policy-eval. (optional)
     * @return ExperimentsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getResearchExperiments(project: kotlin.String? = null, kind: kotlin.String? = null) : ExperimentsOut {
        val localVarResponse = getResearchExperimentsWithHttpInfo(project = project, kind = kind)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ExperimentsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/experiments
     * Returns the caller org&#39;s CANONICAL experiments — the deterministic deduped view over the versioned history.
     * Returns the caller org&#39;s CANONICAL experiments — the deterministic deduped view over the versioned history. With no ?project&#x3D; it reads the org&#39;s whole set across projects (the ops board&#39;s cross-project view, since a project is a sub-scope of the one tenant); ?project&#x3D; narrows to one and ?kind&#x3D; to one discriminator.
     * @param project Project narrows to one project. Empty reads the org&#39;s whole set across projects. (optional)
     * @param kind Kind narrows to one discriminator: benchmark, kernel-perf, training, ablation or policy-eval. (optional)
     * @return ApiResponse<ExperimentsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getResearchExperimentsWithHttpInfo(project: kotlin.String?, kind: kotlin.String?) : ApiResponse<ExperimentsOut?> {
        val localVariableConfig = getResearchExperimentsRequestConfig(project = project, kind = kind)

        return request<Unit, ExperimentsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getResearchExperiments
     *
     * @param project Project narrows to one project. Empty reads the org&#39;s whole set across projects. (optional)
     * @param kind Kind narrows to one discriminator: benchmark, kernel-perf, training, ablation or policy-eval. (optional)
     * @return RequestConfig
     */
    fun getResearchExperimentsRequestConfig(project: kotlin.String?, kind: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
                if (kind != null) {
                    put("kind", listOf(kind.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/experiments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/research/projects
     * Returns every research project in the caller&#39;s org with its real totals — canonical and retained side by side — which is the ops board&#39;s \&quot;every project + real totals\&quot; view.
     * Returns every research project in the caller&#39;s org with its real totals — canonical and retained side by side — which is the ops board&#39;s \&quot;every project + real totals\&quot; view.
     * @return ProjectsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getResearchProjects() : ProjectsOut {
        val localVarResponse = getResearchProjectsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProjectsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/projects
     * Returns every research project in the caller&#39;s org with its real totals — canonical and retained side by side — which is the ops board&#39;s \&quot;every project + real totals\&quot; view.
     * Returns every research project in the caller&#39;s org with its real totals — canonical and retained side by side — which is the ops board&#39;s \&quot;every project + real totals\&quot; view.
     * @return ApiResponse<ProjectsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getResearchProjectsWithHttpInfo() : ApiResponse<ProjectsOut?> {
        val localVariableConfig = getResearchProjectsRequestConfig()

        return request<Unit, ProjectsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getResearchProjects
     *
     * @return RequestConfig
     */
    fun getResearchProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/research/totals
     * Returns the caller org&#39;s headline aggregate plus a per-kind breakdown — the observatory&#39;s poll target.
     * Returns the caller org&#39;s headline aggregate plus a per-kind breakdown — the observatory&#39;s poll target. Canonical and retained counts travel together, so a deduped view never reads as loss. ?project&#x3D; narrows to one project.
     * @param project Project narrows the aggregate to one project. Empty aggregates the whole org. (optional)
     * @return ResearchTotals
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getResearchTotals(project: kotlin.String? = null) : ResearchTotals {
        val localVarResponse = getResearchTotalsWithHttpInfo(project = project)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ResearchTotals
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/totals
     * Returns the caller org&#39;s headline aggregate plus a per-kind breakdown — the observatory&#39;s poll target.
     * Returns the caller org&#39;s headline aggregate plus a per-kind breakdown — the observatory&#39;s poll target. Canonical and retained counts travel together, so a deduped view never reads as loss. ?project&#x3D; narrows to one project.
     * @param project Project narrows the aggregate to one project. Empty aggregates the whole org. (optional)
     * @return ApiResponse<ResearchTotals?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getResearchTotalsWithHttpInfo(project: kotlin.String?) : ApiResponse<ResearchTotals?> {
        val localVariableConfig = getResearchTotalsRequestConfig(project = project)

        return request<Unit, ResearchTotals>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getResearchTotals
     *
     * @param project Project narrows the aggregate to one project. Empty aggregates the whole org. (optional)
     * @return RequestConfig
     */
    fun getResearchTotalsRequestConfig(project: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/totals",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/research/artifacts
     * Records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary.
     * Records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary. The caller submits the bytes as base64 &#x60;content&#x60;; the SERVER hashes them and THAT hash is the identity and the ref, so the address can never be poisoned by a client-asserted one. A client-supplied sha256, if present, must match the bytes. The project is the SERVER&#39;s value and visibility is forced private. Re-posting the same bytes is a no-op that reports created&#x3D;false.
     * @param researchArtifact 
     * @return ArtifactOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postResearchArtifacts(researchArtifact: ResearchArtifact) : ArtifactOut {
        val localVarResponse = postResearchArtifactsWithHttpInfo(researchArtifact = researchArtifact)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ArtifactOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/research/artifacts
     * Records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary.
     * Records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary. The caller submits the bytes as base64 &#x60;content&#x60;; the SERVER hashes them and THAT hash is the identity and the ref, so the address can never be poisoned by a client-asserted one. A client-supplied sha256, if present, must match the bytes. The project is the SERVER&#39;s value and visibility is forced private. Re-posting the same bytes is a no-op that reports created&#x3D;false.
     * @param researchArtifact 
     * @return ApiResponse<ArtifactOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postResearchArtifactsWithHttpInfo(researchArtifact: ResearchArtifact) : ApiResponse<ArtifactOut?> {
        val localVariableConfig = postResearchArtifactsRequestConfig(researchArtifact = researchArtifact)

        return request<ResearchArtifact, ArtifactOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postResearchArtifacts
     *
     * @param researchArtifact 
     * @return RequestConfig
     */
    fun postResearchArtifactsRequestConfig(researchArtifact: ResearchArtifact) : RequestConfig<ResearchArtifact> {
        val localVariableBody = researchArtifact
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/research/artifacts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/research/experiments
     * Appends one batch of experiment and attempt versions to the caller org&#39;s evidence store, idempotently by content, then rolls it up to the analytics plane best-effort.
     * Appends one batch of experiment and attempt versions to the caller org&#39;s evidence store, idempotently by content, then rolls it up to the analytics plane best-effort. The project is the SERVER&#39;s value and visibility is forced private — an upload grants no training or publication right, which is a separate call. A run carrying a BYO endpoint is SSRF-checked before the store is touched. The answer carries BOTH the canonical (deduped) and retained (full history) counts, so a caller sees the versioned truth rather than a dedup that reads as loss.
     * @param ingestRequest 
     * @return IngestOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postResearchExperiments(ingestRequest: IngestRequest) : IngestOut {
        val localVarResponse = postResearchExperimentsWithHttpInfo(ingestRequest = ingestRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IngestOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/research/experiments
     * Appends one batch of experiment and attempt versions to the caller org&#39;s evidence store, idempotently by content, then rolls it up to the analytics plane best-effort.
     * Appends one batch of experiment and attempt versions to the caller org&#39;s evidence store, idempotently by content, then rolls it up to the analytics plane best-effort. The project is the SERVER&#39;s value and visibility is forced private — an upload grants no training or publication right, which is a separate call. A run carrying a BYO endpoint is SSRF-checked before the store is touched. The answer carries BOTH the canonical (deduped) and retained (full history) counts, so a caller sees the versioned truth rather than a dedup that reads as loss.
     * @param ingestRequest 
     * @return ApiResponse<IngestOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postResearchExperimentsWithHttpInfo(ingestRequest: IngestRequest) : ApiResponse<IngestOut?> {
        val localVariableConfig = postResearchExperimentsRequestConfig(ingestRequest = ingestRequest)

        return request<IngestRequest, IngestOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postResearchExperiments
     *
     * @param ingestRequest 
     * @return RequestConfig
     */
    fun postResearchExperimentsRequestConfig(ingestRequest: IngestRequest) : RequestConfig<IngestRequest> {
        val localVariableBody = ingestRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/research/experiments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/research/grants
     * Records the SEPARATE authorization an upload never implies: a record&#39;s visibility (private, org or public) and, for a run, its training and commons-publication consent.
     * Records the SEPARATE authorization an upload never implies: a record&#39;s visibility (private, org or public) and, for a run, its training and commons-publication consent. Address a run by its stable id or an artifact by its sha256; an artifact grant sets visibility only. The ORG is the tenant boundary and comes from the validated principal, so a caller can only ever grant within its own org; &#x60;project&#x60; locates WHICH record inside it and defaults to the caller&#39;s project scope.
     * @param grantRequest 
     * @return GrantOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postResearchGrants(grantRequest: GrantRequest) : GrantOut {
        val localVarResponse = postResearchGrantsWithHttpInfo(grantRequest = grantRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GrantOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/research/grants
     * Records the SEPARATE authorization an upload never implies: a record&#39;s visibility (private, org or public) and, for a run, its training and commons-publication consent.
     * Records the SEPARATE authorization an upload never implies: a record&#39;s visibility (private, org or public) and, for a run, its training and commons-publication consent. Address a run by its stable id or an artifact by its sha256; an artifact grant sets visibility only. The ORG is the tenant boundary and comes from the validated principal, so a caller can only ever grant within its own org; &#x60;project&#x60; locates WHICH record inside it and defaults to the caller&#39;s project scope.
     * @param grantRequest 
     * @return ApiResponse<GrantOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postResearchGrantsWithHttpInfo(grantRequest: GrantRequest) : ApiResponse<GrantOut?> {
        val localVariableConfig = postResearchGrantsRequestConfig(grantRequest = grantRequest)

        return request<GrantRequest, GrantOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postResearchGrants
     *
     * @param grantRequest 
     * @return RequestConfig
     */
    fun postResearchGrantsRequestConfig(grantRequest: GrantRequest) : RequestConfig<GrantRequest> {
        val localVariableBody = grantRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/research/grants",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
