/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudArtifact
import ai.hanzo.cloud.model.CloudArtifactOut
import ai.hanzo.cloud.model.CloudArtifactsOut
import ai.hanzo.cloud.model.CloudExperimentsOut
import ai.hanzo.cloud.model.CloudGrantOut
import ai.hanzo.cloud.model.CloudGrantRequest
import ai.hanzo.cloud.model.CloudIngestOut
import ai.hanzo.cloud.model.CloudIngestRequest
import ai.hanzo.cloud.model.CloudProjectsOut
import ai.hanzo.cloud.model.CloudResearchTotals

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class ResearchApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/research/artifacts
     * ListResearchArtifacts returns the caller org&#39;s research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash.
     * ListResearchArtifacts returns the caller org&#39;s research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash. ?run&#x3D; narrows to one run, ?project&#x3D; to one project (default the caller&#39;s project scope), and ?since&#x3D; to a unix second.
     * @param project Project narrows to one project. Empty takes the caller&#39;s project scope. (optional)
     * @param run Run narrows to one run&#39;s artifacts by its stable id. (optional)
     * @param since Since bounds the feed to artifacts recorded at or after this unix second. (optional)
     * @return CloudArtifactsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1ResearchArtifacts(project: kotlin.String? = null, run: kotlin.String? = null, since: kotlin.Int? = null) : CloudArtifactsOut {
        val localVarResponse = cloudGetV1ResearchArtifactsWithHttpInfo(project = project, run = run, since = since)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudArtifactsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/artifacts
     * ListResearchArtifacts returns the caller org&#39;s research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash.
     * ListResearchArtifacts returns the caller org&#39;s research-diary feed newest-first — the snapshots and reports tied to its runs, as metadata and content addresses; the bytes themselves are fetched by hash. ?run&#x3D; narrows to one run, ?project&#x3D; to one project (default the caller&#39;s project scope), and ?since&#x3D; to a unix second.
     * @param project Project narrows to one project. Empty takes the caller&#39;s project scope. (optional)
     * @param run Run narrows to one run&#39;s artifacts by its stable id. (optional)
     * @param since Since bounds the feed to artifacts recorded at or after this unix second. (optional)
     * @return ApiResponse<CloudArtifactsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1ResearchArtifactsWithHttpInfo(project: kotlin.String?, run: kotlin.String?, since: kotlin.Int?) : ApiResponse<CloudArtifactsOut?> {
        val localVariableConfig = cloudGetV1ResearchArtifactsRequestConfig(project = project, run = run, since = since)

        return request<Unit, CloudArtifactsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1ResearchArtifacts
     *
     * @param project Project narrows to one project. Empty takes the caller&#39;s project scope. (optional)
     * @param run Run narrows to one run&#39;s artifacts by its stable id. (optional)
     * @param since Since bounds the feed to artifacts recorded at or after this unix second. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1ResearchArtifactsRequestConfig(project: kotlin.String?, run: kotlin.String?, since: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
                if (run != null) {
                    put("run", listOf(run.toString()))
                }
                if (since != null) {
                    put("since", listOf(since.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/artifacts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/research/artifacts/{sha256}
     * 
     * 
     * @param sha256 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1ResearchArtifactsBySha256(sha256: kotlin.String) : Unit {
        val localVarResponse = cloudGetV1ResearchArtifactsBySha256WithHttpInfo(sha256 = sha256)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/artifacts/{sha256}
     * 
     * 
     * @param sha256 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1ResearchArtifactsBySha256WithHttpInfo(sha256: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudGetV1ResearchArtifactsBySha256RequestConfig(sha256 = sha256)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1ResearchArtifactsBySha256
     *
     * @param sha256 
     * @return RequestConfig
     */
    fun cloudGetV1ResearchArtifactsBySha256RequestConfig(sha256: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/artifacts/{sha256}".replace("{"+"sha256"+"}", encodeURIComponent(sha256.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/research/experiments
     * ListExperiments returns the caller org&#39;s CANONICAL experiments — the deterministic deduped view over the versioned history.
     * ListExperiments returns the caller org&#39;s CANONICAL experiments — the deterministic deduped view over the versioned history. With no ?project&#x3D; it reads the org&#39;s whole set across projects (the ops board&#39;s cross-project view, since a project is a sub-scope of the one tenant); ?project&#x3D; narrows to one and ?kind&#x3D; to one discriminator.
     * @param project Project narrows to one project. Empty reads the org&#39;s whole set across projects. (optional)
     * @param kind Kind narrows to one discriminator: benchmark, kernel-perf, training, ablation or policy-eval. (optional)
     * @return CloudExperimentsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1ResearchExperiments(project: kotlin.String? = null, kind: kotlin.String? = null) : CloudExperimentsOut {
        val localVarResponse = cloudGetV1ResearchExperimentsWithHttpInfo(project = project, kind = kind)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudExperimentsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/experiments
     * ListExperiments returns the caller org&#39;s CANONICAL experiments — the deterministic deduped view over the versioned history.
     * ListExperiments returns the caller org&#39;s CANONICAL experiments — the deterministic deduped view over the versioned history. With no ?project&#x3D; it reads the org&#39;s whole set across projects (the ops board&#39;s cross-project view, since a project is a sub-scope of the one tenant); ?project&#x3D; narrows to one and ?kind&#x3D; to one discriminator.
     * @param project Project narrows to one project. Empty reads the org&#39;s whole set across projects. (optional)
     * @param kind Kind narrows to one discriminator: benchmark, kernel-perf, training, ablation or policy-eval. (optional)
     * @return ApiResponse<CloudExperimentsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1ResearchExperimentsWithHttpInfo(project: kotlin.String?, kind: kotlin.String?) : ApiResponse<CloudExperimentsOut?> {
        val localVariableConfig = cloudGetV1ResearchExperimentsRequestConfig(project = project, kind = kind)

        return request<Unit, CloudExperimentsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1ResearchExperiments
     *
     * @param project Project narrows to one project. Empty reads the org&#39;s whole set across projects. (optional)
     * @param kind Kind narrows to one discriminator: benchmark, kernel-perf, training, ablation or policy-eval. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1ResearchExperimentsRequestConfig(project: kotlin.String?, kind: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
                if (kind != null) {
                    put("kind", listOf(kind.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/experiments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/research/projects
     * ListResearchProjects returns every research project in the caller&#39;s org with its real totals — canonical and retained side by side — which is the ops board&#39;s \&quot;every project + real totals\&quot; view.
     * ListResearchProjects returns every research project in the caller&#39;s org with its real totals — canonical and retained side by side — which is the ops board&#39;s \&quot;every project + real totals\&quot; view.
     * @return CloudProjectsOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1ResearchProjects() : CloudProjectsOut {
        val localVarResponse = cloudGetV1ResearchProjectsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudProjectsOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/projects
     * ListResearchProjects returns every research project in the caller&#39;s org with its real totals — canonical and retained side by side — which is the ops board&#39;s \&quot;every project + real totals\&quot; view.
     * ListResearchProjects returns every research project in the caller&#39;s org with its real totals — canonical and retained side by side — which is the ops board&#39;s \&quot;every project + real totals\&quot; view.
     * @return ApiResponse<CloudProjectsOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1ResearchProjectsWithHttpInfo() : ApiResponse<CloudProjectsOut?> {
        val localVariableConfig = cloudGetV1ResearchProjectsRequestConfig()

        return request<Unit, CloudProjectsOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1ResearchProjects
     *
     * @return RequestConfig
     */
    fun cloudGetV1ResearchProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/research/totals
     * GetResearchTotals returns the caller org&#39;s headline aggregate plus a per-kind breakdown — the observatory&#39;s poll target.
     * GetResearchTotals returns the caller org&#39;s headline aggregate plus a per-kind breakdown — the observatory&#39;s poll target. Canonical and retained counts travel together, so a deduped view never reads as loss. ?project&#x3D; narrows to one project.
     * @param project Project narrows the aggregate to one project. Empty aggregates the whole org. (optional)
     * @return CloudResearchTotals
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1ResearchTotals(project: kotlin.String? = null) : CloudResearchTotals {
        val localVarResponse = cloudGetV1ResearchTotalsWithHttpInfo(project = project)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudResearchTotals
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/research/totals
     * GetResearchTotals returns the caller org&#39;s headline aggregate plus a per-kind breakdown — the observatory&#39;s poll target.
     * GetResearchTotals returns the caller org&#39;s headline aggregate plus a per-kind breakdown — the observatory&#39;s poll target. Canonical and retained counts travel together, so a deduped view never reads as loss. ?project&#x3D; narrows to one project.
     * @param project Project narrows the aggregate to one project. Empty aggregates the whole org. (optional)
     * @return ApiResponse<CloudResearchTotals?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1ResearchTotalsWithHttpInfo(project: kotlin.String?) : ApiResponse<CloudResearchTotals?> {
        val localVariableConfig = cloudGetV1ResearchTotalsRequestConfig(project = project)

        return request<Unit, CloudResearchTotals>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1ResearchTotals
     *
     * @param project Project narrows the aggregate to one project. Empty aggregates the whole org. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1ResearchTotalsRequestConfig(project: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/research/totals",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/research/artifacts
     * RecordResearchArtifact records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary.
     * RecordResearchArtifact records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary. The caller submits the bytes as base64 &#x60;content&#x60;; the SERVER hashes them and THAT hash is the identity and the ref, so the address can never be poisoned by a client-asserted one. A client-supplied sha256, if present, must match the bytes. The project is the SERVER&#39;s value and visibility is forced private. Re-posting the same bytes is a no-op that reports created&#x3D;false.
     * @param cloudArtifact 
     * @return CloudArtifactOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1ResearchArtifacts(cloudArtifact: CloudArtifact) : CloudArtifactOut {
        val localVarResponse = cloudPostV1ResearchArtifactsWithHttpInfo(cloudArtifact = cloudArtifact)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudArtifactOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/research/artifacts
     * RecordResearchArtifact records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary.
     * RecordResearchArtifact records one research-diary artifact — a board snapshot or a generated report — CONTENT-ADDRESSED inside the trust boundary. The caller submits the bytes as base64 &#x60;content&#x60;; the SERVER hashes them and THAT hash is the identity and the ref, so the address can never be poisoned by a client-asserted one. A client-supplied sha256, if present, must match the bytes. The project is the SERVER&#39;s value and visibility is forced private. Re-posting the same bytes is a no-op that reports created&#x3D;false.
     * @param cloudArtifact 
     * @return ApiResponse<CloudArtifactOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1ResearchArtifactsWithHttpInfo(cloudArtifact: CloudArtifact) : ApiResponse<CloudArtifactOut?> {
        val localVariableConfig = cloudPostV1ResearchArtifactsRequestConfig(cloudArtifact = cloudArtifact)

        return request<CloudArtifact, CloudArtifactOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1ResearchArtifacts
     *
     * @param cloudArtifact 
     * @return RequestConfig
     */
    fun cloudPostV1ResearchArtifactsRequestConfig(cloudArtifact: CloudArtifact) : RequestConfig<CloudArtifact> {
        val localVariableBody = cloudArtifact
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/research/artifacts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/research/experiments
     * IngestExperiments appends one batch of experiment and attempt versions to the caller org&#39;s evidence store, idempotently by content, then rolls it up to the analytics plane best-effort.
     * IngestExperiments appends one batch of experiment and attempt versions to the caller org&#39;s evidence store, idempotently by content, then rolls it up to the analytics plane best-effort. The project is the SERVER&#39;s value and visibility is forced private — an upload grants no training or publication right, which is a separate call. A run carrying a BYO endpoint is SSRF-checked before the store is touched. The answer carries BOTH the canonical (deduped) and retained (full history) counts, so a caller sees the versioned truth rather than a dedup that reads as loss.
     * @param cloudIngestRequest 
     * @return CloudIngestOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1ResearchExperiments(cloudIngestRequest: CloudIngestRequest) : CloudIngestOut {
        val localVarResponse = cloudPostV1ResearchExperimentsWithHttpInfo(cloudIngestRequest = cloudIngestRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudIngestOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/research/experiments
     * IngestExperiments appends one batch of experiment and attempt versions to the caller org&#39;s evidence store, idempotently by content, then rolls it up to the analytics plane best-effort.
     * IngestExperiments appends one batch of experiment and attempt versions to the caller org&#39;s evidence store, idempotently by content, then rolls it up to the analytics plane best-effort. The project is the SERVER&#39;s value and visibility is forced private — an upload grants no training or publication right, which is a separate call. A run carrying a BYO endpoint is SSRF-checked before the store is touched. The answer carries BOTH the canonical (deduped) and retained (full history) counts, so a caller sees the versioned truth rather than a dedup that reads as loss.
     * @param cloudIngestRequest 
     * @return ApiResponse<CloudIngestOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1ResearchExperimentsWithHttpInfo(cloudIngestRequest: CloudIngestRequest) : ApiResponse<CloudIngestOut?> {
        val localVariableConfig = cloudPostV1ResearchExperimentsRequestConfig(cloudIngestRequest = cloudIngestRequest)

        return request<CloudIngestRequest, CloudIngestOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1ResearchExperiments
     *
     * @param cloudIngestRequest 
     * @return RequestConfig
     */
    fun cloudPostV1ResearchExperimentsRequestConfig(cloudIngestRequest: CloudIngestRequest) : RequestConfig<CloudIngestRequest> {
        val localVariableBody = cloudIngestRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/research/experiments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/research/grants
     * GrantResearchVisibility records the SEPARATE authorization an upload never implies: a record&#39;s visibility (private, org or public) and, for a run, its training and commons-publication consent.
     * GrantResearchVisibility records the SEPARATE authorization an upload never implies: a record&#39;s visibility (private, org or public) and, for a run, its training and commons-publication consent. Address a run by its stable id or an artifact by its sha256; an artifact grant sets visibility only. The ORG is the tenant boundary and comes from the validated principal, so a caller can only ever grant within its own org; &#x60;project&#x60; locates WHICH record inside it and defaults to the caller&#39;s project scope.
     * @param cloudGrantRequest 
     * @return CloudGrantOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1ResearchGrants(cloudGrantRequest: CloudGrantRequest) : CloudGrantOut {
        val localVarResponse = cloudPostV1ResearchGrantsWithHttpInfo(cloudGrantRequest = cloudGrantRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudGrantOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/research/grants
     * GrantResearchVisibility records the SEPARATE authorization an upload never implies: a record&#39;s visibility (private, org or public) and, for a run, its training and commons-publication consent.
     * GrantResearchVisibility records the SEPARATE authorization an upload never implies: a record&#39;s visibility (private, org or public) and, for a run, its training and commons-publication consent. Address a run by its stable id or an artifact by its sha256; an artifact grant sets visibility only. The ORG is the tenant boundary and comes from the validated principal, so a caller can only ever grant within its own org; &#x60;project&#x60; locates WHICH record inside it and defaults to the caller&#39;s project scope.
     * @param cloudGrantRequest 
     * @return ApiResponse<CloudGrantOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1ResearchGrantsWithHttpInfo(cloudGrantRequest: CloudGrantRequest) : ApiResponse<CloudGrantOut?> {
        val localVariableConfig = cloudPostV1ResearchGrantsRequestConfig(cloudGrantRequest = cloudGrantRequest)

        return request<CloudGrantRequest, CloudGrantOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1ResearchGrants
     *
     * @param cloudGrantRequest 
     * @return RequestConfig
     */
    fun cloudPostV1ResearchGrantsRequestConfig(cloudGrantRequest: CloudGrantRequest) : RequestConfig<CloudGrantRequest> {
        val localVariableBody = cloudGrantRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/research/grants",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
