/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.BucketIn
import ai.hanzo.cloud.model.BucketItem
import ai.hanzo.cloud.model.BucketList
import ai.hanzo.cloud.model.ObjectList
import ai.hanzo.cloud.model.PresignResponse
import ai.hanzo.cloud.model.S3Health
import ai.hanzo.cloud.model.UploadIn

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class S3Api(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/s3/buckets/{bucket}
     * Removes an EMPTY bucket and answers 204.
     * Removes an EMPTY bucket and answers 204.  A non-empty bucket is 409 rather than a cascade: deleting a tenant&#39;s objects behind a single bucket call is not a thing this surface will do silently. A bucket the caller&#39;s org does not own is the same 404 an unknown name gives.
     * @param bucket Bucket is the bucket&#39;s friendly name, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteS3BucketsByBucket(bucket: kotlin.String) : Unit {
        val localVarResponse = deleteS3BucketsByBucketWithHttpInfo(bucket = bucket)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/s3/buckets/{bucket}
     * Removes an EMPTY bucket and answers 204.
     * Removes an EMPTY bucket and answers 204.  A non-empty bucket is 409 rather than a cascade: deleting a tenant&#39;s objects behind a single bucket call is not a thing this surface will do silently. A bucket the caller&#39;s org does not own is the same 404 an unknown name gives.
     * @param bucket Bucket is the bucket&#39;s friendly name, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteS3BucketsByBucketWithHttpInfo(bucket: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteS3BucketsByBucketRequestConfig(bucket = bucket)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteS3BucketsByBucket
     *
     * @param bucket Bucket is the bucket&#39;s friendly name, from the path.
     * @return RequestConfig
     */
    fun deleteS3BucketsByBucketRequestConfig(bucket: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/s3/buckets/{bucket}".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/buckets
     * Lists the caller org&#39;s own buckets.
     * Lists the caller org&#39;s own buckets.  Only the caller&#39;s: every bucket is physically named under a per-org prefix and the listing strips that prefix, so a tenant sees friendly names and another tenant&#39;s buckets are not in the answer at all.
     * @return BucketList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getS3Buckets() : BucketList {
        val localVarResponse = getS3BucketsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BucketList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/buckets
     * Lists the caller org&#39;s own buckets.
     * Lists the caller org&#39;s own buckets.  Only the caller&#39;s: every bucket is physically named under a per-org prefix and the listing strips that prefix, so a tenant sees friendly names and another tenant&#39;s buckets are not in the answer at all.
     * @return ApiResponse<BucketList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getS3BucketsWithHttpInfo() : ApiResponse<BucketList?> {
        val localVariableConfig = getS3BucketsRequestConfig()

        return request<Unit, BucketList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getS3Buckets
     *
     * @return RequestConfig
     */
    fun getS3BucketsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/buckets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/buckets/{bucket}/objects
     * Lists one folder level of a bucket.
     * Lists one folder level of a bucket.  Folder-style by default: sub-prefixes come back as directory entries, which is the file-manager view. &#x60;?recursive&#x3D;true&#x60; lists every key flat under the prefix instead. Keys are RELATIVE to &#x60;?prefix&#x3D;&#x60;, and the listing is bounded so a huge bucket cannot exhaust memory — Total is what came back, not what the bucket holds.
     * @param bucket Bucket is the bucket to list, from the path.
     * @param prefix  (optional)
     * @param recursive  (optional)
     * @return ObjectList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getS3BucketsByBucketObjects(bucket: kotlin.String, prefix: kotlin.String? = null, recursive: kotlin.String? = null) : ObjectList {
        val localVarResponse = getS3BucketsByBucketObjectsWithHttpInfo(bucket = bucket, prefix = prefix, recursive = recursive)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ObjectList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/buckets/{bucket}/objects
     * Lists one folder level of a bucket.
     * Lists one folder level of a bucket.  Folder-style by default: sub-prefixes come back as directory entries, which is the file-manager view. &#x60;?recursive&#x3D;true&#x60; lists every key flat under the prefix instead. Keys are RELATIVE to &#x60;?prefix&#x3D;&#x60;, and the listing is bounded so a huge bucket cannot exhaust memory — Total is what came back, not what the bucket holds.
     * @param bucket Bucket is the bucket to list, from the path.
     * @param prefix  (optional)
     * @param recursive  (optional)
     * @return ApiResponse<ObjectList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getS3BucketsByBucketObjectsWithHttpInfo(bucket: kotlin.String, prefix: kotlin.String?, recursive: kotlin.String?) : ApiResponse<ObjectList?> {
        val localVariableConfig = getS3BucketsByBucketObjectsRequestConfig(bucket = bucket, prefix = prefix, recursive = recursive)

        return request<Unit, ObjectList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getS3BucketsByBucketObjects
     *
     * @param bucket Bucket is the bucket to list, from the path.
     * @param prefix  (optional)
     * @param recursive  (optional)
     * @return RequestConfig
     */
    fun getS3BucketsByBucketObjectsRequestConfig(bucket: kotlin.String, prefix: kotlin.String?, recursive: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (prefix != null) {
                    put("prefix", listOf(prefix.toString()))
                }
                if (recursive != null) {
                    put("recursive", listOf(recursive.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/buckets/{bucket}/objects".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/s3/health
     * Health reports whether this deployment can serve object storage.
     * Health reports whether this deployment can serve object storage.  It is a REAL probe rather than a constant: 200 when admin credentials are present, so the store is reachable in principle, and 503 with the reason when they are not. It is deliberately NOT gated — liveness has to be probe-able without a token — so it is the one operation here that names no bucket and bills nothing.
     * @return S3Health
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getS3Health() : S3Health {
        val localVarResponse = getS3HealthWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as S3Health
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/s3/health
     * Health reports whether this deployment can serve object storage.
     * Health reports whether this deployment can serve object storage.  It is a REAL probe rather than a constant: 200 when admin credentials are present, so the store is reachable in principle, and 503 with the reason when they are not. It is deliberately NOT gated — liveness has to be probe-able without a token — so it is the one operation here that names no bucket and bills nothing.
     * @return ApiResponse<S3Health?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getS3HealthWithHttpInfo() : ApiResponse<S3Health?> {
        val localVariableConfig = getS3HealthRequestConfig()

        return request<Unit, S3Health>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getS3Health
     *
     * @return RequestConfig
     */
    fun getS3HealthRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/s3/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/s3/buckets
     * Makes a new bucket for the caller&#39;s org and answers 201 with it.
     * Makes a new bucket for the caller&#39;s org and answers 201 with it.  The physical name is derived from the caller&#39;s validated org, so a tenant can only ever create inside its own namespace and no request field can redirect that. A name already taken in the org is 409.
     * @param bucketIn 
     * @return BucketItem
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postS3Buckets(bucketIn: BucketIn) : BucketItem {
        val localVarResponse = postS3BucketsWithHttpInfo(bucketIn = bucketIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BucketItem
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/s3/buckets
     * Makes a new bucket for the caller&#39;s org and answers 201 with it.
     * Makes a new bucket for the caller&#39;s org and answers 201 with it.  The physical name is derived from the caller&#39;s validated org, so a tenant can only ever create inside its own namespace and no request field can redirect that. A name already taken in the org is 409.
     * @param bucketIn 
     * @return ApiResponse<BucketItem?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postS3BucketsWithHttpInfo(bucketIn: BucketIn) : ApiResponse<BucketItem?> {
        val localVariableConfig = postS3BucketsRequestConfig(bucketIn = bucketIn)

        return request<BucketIn, BucketItem>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postS3Buckets
     *
     * @param bucketIn 
     * @return RequestConfig
     */
    fun postS3BucketsRequestConfig(bucketIn: BucketIn) : RequestConfig<BucketIn> {
        val localVariableBody = bucketIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/s3/buckets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/s3/buckets/{bucket}/objects
     * Mints a presigned PUT URL the caller uploads to DIRECTLY.
     * Mints a presigned PUT URL the caller uploads to DIRECTLY.  The bytes never pass through this binary and the admin credential never leaves the server: the URL is signed against the PUBLIC host, scoped to exactly this bucket and key, and expires. A deployment with no public endpoint configured cannot mint one and answers 503 rather than a URL that will not work.
     * @param bucket Bucket is the bucket to upload into, from the path.
     * @param uploadIn 
     * @return PresignResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postS3BucketsByBucketObjects(bucket: kotlin.String, uploadIn: UploadIn) : PresignResponse {
        val localVarResponse = postS3BucketsByBucketObjectsWithHttpInfo(bucket = bucket, uploadIn = uploadIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PresignResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/s3/buckets/{bucket}/objects
     * Mints a presigned PUT URL the caller uploads to DIRECTLY.
     * Mints a presigned PUT URL the caller uploads to DIRECTLY.  The bytes never pass through this binary and the admin credential never leaves the server: the URL is signed against the PUBLIC host, scoped to exactly this bucket and key, and expires. A deployment with no public endpoint configured cannot mint one and answers 503 rather than a URL that will not work.
     * @param bucket Bucket is the bucket to upload into, from the path.
     * @param uploadIn 
     * @return ApiResponse<PresignResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postS3BucketsByBucketObjectsWithHttpInfo(bucket: kotlin.String, uploadIn: UploadIn) : ApiResponse<PresignResponse?> {
        val localVariableConfig = postS3BucketsByBucketObjectsRequestConfig(bucket = bucket, uploadIn = uploadIn)

        return request<UploadIn, PresignResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postS3BucketsByBucketObjects
     *
     * @param bucket Bucket is the bucket to upload into, from the path.
     * @param uploadIn 
     * @return RequestConfig
     */
    fun postS3BucketsByBucketObjectsRequestConfig(bucket: kotlin.String, uploadIn: UploadIn) : RequestConfig<UploadIn> {
        val localVariableBody = uploadIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/s3/buckets/{bucket}/objects".replace("{"+"bucket"+"}", encodeURIComponent(bucket.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
