/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.BotSearchPersonas200Response
import ai.hanzo.cloud.model.CloudProvisionRequest
import ai.hanzo.cloud.model.CloudProvisionResult
import ai.hanzo.cloud.model.CloudProvisionedResource
import ai.hanzo.cloud.model.CloudProvisionedSummary
import ai.hanzo.cloud.model.CommerceNote
import ai.hanzo.cloud.model.CommerceOrder
import ai.hanzo.cloud.model.CommerceSearchNotesRequest
import ai.hanzo.cloud.model.CommerceUser
import ai.hanzo.cloud.model.SearchResponseError
import ai.hanzo.cloud.model.SearchSearchQuery
import ai.hanzo.cloud.model.SearchSearchResult
import ai.hanzo.cloud.model.VectorRecommendPoints200Response
import ai.hanzo.cloud.model.VectorRecommendPointsRequest
import ai.hanzo.cloud.model.VectorSearchBatch200Response
import ai.hanzo.cloud.model.VectorSearchBatchRequest
import ai.hanzo.cloud.model.VectorSearchRequest

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class SearchApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/bot/search/personas
     * Lexical search for personas
     * 
     * @param q 
     * @param limit  (optional, default to 20)
     * @return BotSearchPersonas200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun botSearchPersonas(q: kotlin.String, limit: kotlin.Int? = 20) : BotSearchPersonas200Response {
        val localVarResponse = botSearchPersonasWithHttpInfo(q = q, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotSearchPersonas200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/bot/search/personas
     * Lexical search for personas
     * 
     * @param q 
     * @param limit  (optional, default to 20)
     * @return ApiResponse<BotSearchPersonas200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun botSearchPersonasWithHttpInfo(q: kotlin.String, limit: kotlin.Int?) : ApiResponse<BotSearchPersonas200Response?> {
        val localVariableConfig = botSearchPersonasRequestConfig(q = q, limit = limit)

        return request<Unit, BotSearchPersonas200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botSearchPersonas
     *
     * @param q 
     * @param limit  (optional, default to 20)
     * @return RequestConfig
     */
    fun botSearchPersonasRequestConfig(q: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/bot/search/personas",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/bot/search/skills
     * Hybrid vector + lexical search for skills
     * 
     * @param q Search query
     * @param limit  (optional, default to 20)
     * @return BotSearchPersonas200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun botSearchSkills(q: kotlin.String, limit: kotlin.Int? = 20) : BotSearchPersonas200Response {
        val localVarResponse = botSearchSkillsWithHttpInfo(q = q, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotSearchPersonas200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/bot/search/skills
     * Hybrid vector + lexical search for skills
     * 
     * @param q Search query
     * @param limit  (optional, default to 20)
     * @return ApiResponse<BotSearchPersonas200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun botSearchSkillsWithHttpInfo(q: kotlin.String, limit: kotlin.Int?) : ApiResponse<BotSearchPersonas200Response?> {
        val localVariableConfig = botSearchSkillsRequestConfig(q = q, limit = limit)

        return request<Unit, BotSearchPersonas200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botSearchSkills
     *
     * @param q Search query
     * @param limit  (optional, default to 20)
     * @return RequestConfig
     */
    fun botSearchSkillsRequestConfig(q: kotlin.String, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/bot/search/skills",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/search/{name}
     * DropSearch deletes one search index from the shared backend and removes its metadata row.
     * DropSearch deletes one search index from the shared backend and removes its metadata row. Answers 204 with no body; a second call is a 404.
     * @param name Name is the resource&#39;s org-unique slug, from the path. Lower-cased and trimmed before lookup, exactly as it was at create.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1SearchName(name: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1SearchNameWithHttpInfo(name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/search/{name}
     * DropSearch deletes one search index from the shared backend and removes its metadata row.
     * DropSearch deletes one search index from the shared backend and removes its metadata row. Answers 204 with no body; a second call is a 404.
     * @param name Name is the resource&#39;s org-unique slug, from the path. Lower-cased and trimmed before lookup, exactly as it was at create.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1SearchNameWithHttpInfo(name: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1SearchNameRequestConfig(name = name)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1SearchName
     *
     * @param name Name is the resource&#39;s org-unique slug, from the path. Lower-cased and trimmed before lookup, exactly as it was at create.
     * @return RequestConfig
     */
    fun cloudDeleteV1SearchNameRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/search/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search
     * ListSearch lists the caller org&#39;s search indexes.
     * ListSearch lists the caller org&#39;s search indexes. An index is a logical resource inside an already-live shared backend, so every one of them is reached through the public gateway rather than at an instance of its own.
     * @return kotlin.collections.List<CloudProvisionedSummary>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1Search() : kotlin.collections.List<CloudProvisionedSummary> {
        val localVarResponse = cloudGetV1SearchWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CloudProvisionedSummary>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search
     * ListSearch lists the caller org&#39;s search indexes.
     * ListSearch lists the caller org&#39;s search indexes. An index is a logical resource inside an already-live shared backend, so every one of them is reached through the public gateway rather than at an instance of its own.
     * @return ApiResponse<kotlin.collections.List<CloudProvisionedSummary>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1SearchWithHttpInfo() : ApiResponse<kotlin.collections.List<CloudProvisionedSummary>?> {
        val localVariableConfig = cloudGetV1SearchRequestConfig()

        return request<Unit, kotlin.collections.List<CloudProvisionedSummary>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1Search
     *
     * @return RequestConfig
     */
    fun cloudGetV1SearchRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/search/{name}
     * GetSearch returns one search index&#39;s metadata.
     * GetSearch returns one search index&#39;s metadata. It carries the index&#39;s status and the gateway address it is reached at, and no username: the backend authenticates with a shared, out-of-band key rather than a per-index credential.
     * @param name Name is the resource&#39;s org-unique slug, from the path. Lower-cased and trimmed before lookup, exactly as it was at create.
     * @return CloudProvisionedResource
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1SearchName(name: kotlin.String) : CloudProvisionedResource {
        val localVarResponse = cloudGetV1SearchNameWithHttpInfo(name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudProvisionedResource
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search/{name}
     * GetSearch returns one search index&#39;s metadata.
     * GetSearch returns one search index&#39;s metadata. It carries the index&#39;s status and the gateway address it is reached at, and no username: the backend authenticates with a shared, out-of-band key rather than a per-index credential.
     * @param name Name is the resource&#39;s org-unique slug, from the path. Lower-cased and trimmed before lookup, exactly as it was at create.
     * @return ApiResponse<CloudProvisionedResource?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1SearchNameWithHttpInfo(name: kotlin.String) : ApiResponse<CloudProvisionedResource?> {
        val localVariableConfig = cloudGetV1SearchNameRequestConfig(name = name)

        return request<Unit, CloudProvisionedResource>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1SearchName
     *
     * @param name Name is the resource&#39;s org-unique slug, from the path. Lower-cased and trimmed before lookup, exactly as it was at create.
     * @return RequestConfig
     */
    fun cloudGetV1SearchNameRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/search
     * 
     * 
     * @param cloudProvisionRequest  (optional)
     * @return CloudProvisionResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1Search(cloudProvisionRequest: CloudProvisionRequest? = null) : CloudProvisionResult {
        val localVarResponse = cloudPostV1SearchWithHttpInfo(cloudProvisionRequest = cloudProvisionRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudProvisionResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search
     * 
     * 
     * @param cloudProvisionRequest  (optional)
     * @return ApiResponse<CloudProvisionResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1SearchWithHttpInfo(cloudProvisionRequest: CloudProvisionRequest?) : ApiResponse<CloudProvisionResult?> {
        val localVariableConfig = cloudPostV1SearchRequestConfig(cloudProvisionRequest = cloudProvisionRequest)

        return request<CloudProvisionRequest, CloudProvisionResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1Search
     *
     * @param cloudProvisionRequest  (optional)
     * @return RequestConfig
     */
    fun cloudPostV1SearchRequestConfig(cloudProvisionRequest: CloudProvisionRequest?) : RequestConfig<CloudProvisionRequest> {
        val localVariableBody = cloudProvisionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/commerce/search/note
     * Search notes
     * 
     * @param commerceSearchNotesRequest 
     * @return kotlin.collections.List<CommerceNote>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun commerceSearchNotes(commerceSearchNotesRequest: CommerceSearchNotesRequest) : kotlin.collections.List<CommerceNote> {
        val localVarResponse = commerceSearchNotesWithHttpInfo(commerceSearchNotesRequest = commerceSearchNotesRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceNote>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/commerce/search/note
     * Search notes
     * 
     * @param commerceSearchNotesRequest 
     * @return ApiResponse<kotlin.collections.List<CommerceNote>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun commerceSearchNotesWithHttpInfo(commerceSearchNotesRequest: CommerceSearchNotesRequest) : ApiResponse<kotlin.collections.List<CommerceNote>?> {
        val localVariableConfig = commerceSearchNotesRequestConfig(commerceSearchNotesRequest = commerceSearchNotesRequest)

        return request<CommerceSearchNotesRequest, kotlin.collections.List<CommerceNote>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceSearchNotes
     *
     * @param commerceSearchNotesRequest 
     * @return RequestConfig
     */
    fun commerceSearchNotesRequestConfig(commerceSearchNotesRequest: CommerceSearchNotesRequest) : RequestConfig<CommerceSearchNotesRequest> {
        val localVariableBody = commerceSearchNotesRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/commerce/search/note",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/search/order
     * Search orders
     * 
     * @param q 
     * @return kotlin.collections.List<CommerceOrder>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun commerceSearchOrders(q: kotlin.String) : kotlin.collections.List<CommerceOrder> {
        val localVarResponse = commerceSearchOrdersWithHttpInfo(q = q)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceOrder>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/search/order
     * Search orders
     * 
     * @param q 
     * @return ApiResponse<kotlin.collections.List<CommerceOrder>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun commerceSearchOrdersWithHttpInfo(q: kotlin.String) : ApiResponse<kotlin.collections.List<CommerceOrder>?> {
        val localVariableConfig = commerceSearchOrdersRequestConfig(q = q)

        return request<Unit, kotlin.collections.List<CommerceOrder>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceSearchOrders
     *
     * @param q 
     * @return RequestConfig
     */
    fun commerceSearchOrdersRequestConfig(q: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/search/order",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/commerce/search/user
     * Search users
     * 
     * @param q 
     * @return kotlin.collections.List<CommerceUser>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun commerceSearchUsers(q: kotlin.String) : kotlin.collections.List<CommerceUser> {
        val localVarResponse = commerceSearchUsersWithHttpInfo(q = q)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CommerceUser>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/commerce/search/user
     * Search users
     * 
     * @param q 
     * @return ApiResponse<kotlin.collections.List<CommerceUser>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun commerceSearchUsersWithHttpInfo(q: kotlin.String) : ApiResponse<kotlin.collections.List<CommerceUser>?> {
        val localVariableConfig = commerceSearchUsersRequestConfig(q = q)

        return request<Unit, kotlin.collections.List<CommerceUser>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation commerceSearchUsers
     *
     * @param q 
     * @return RequestConfig
     */
    fun commerceSearchUsersRequestConfig(q: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/commerce/search/user",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter matchingStrategy
     */
     enum class MatchingStrategySearchSearchGet(val value: kotlin.String) {
         @SerializedName(value = "last") last("last"),
         @SerializedName(value = "all") all("all"),
         @SerializedName(value = "frequency") frequency("frequency");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/search/indexes/{indexUid}/search
     * Search documents (GET)
     * 
     * @param indexUid Unique index identifier
     * @param q Search query (optional)
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param attributesToRetrieve Comma-separated list of attributes to return (optional)
     * @param attributesToHighlight  (optional)
     * @param attributesToCrop  (optional)
     * @param cropLength  (optional, default to 10)
     * @param filter Filter expression (optional)
     * @param sort Comma-separated sort rules (optional)
     * @param facets Comma-separated facet attributes (optional)
     * @param showMatchesPosition  (optional)
     * @param showRankingScore  (optional)
     * @param matchingStrategy  (optional)
     * @return SearchSearchResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchSearchGet(indexUid: kotlin.String, q: kotlin.String? = null, offset: kotlin.Int? = 0, limit: kotlin.Int? = 20, attributesToRetrieve: kotlin.String? = null, attributesToHighlight: kotlin.String? = null, attributesToCrop: kotlin.String? = null, cropLength: kotlin.Int? = 10, filter: kotlin.String? = null, sort: kotlin.String? = null, facets: kotlin.String? = null, showMatchesPosition: kotlin.Boolean? = null, showRankingScore: kotlin.Boolean? = null, matchingStrategy: MatchingStrategySearchSearchGet? = null) : SearchSearchResult {
        val localVarResponse = searchSearchGetWithHttpInfo(indexUid = indexUid, q = q, offset = offset, limit = limit, attributesToRetrieve = attributesToRetrieve, attributesToHighlight = attributesToHighlight, attributesToCrop = attributesToCrop, cropLength = cropLength, filter = filter, sort = sort, facets = facets, showMatchesPosition = showMatchesPosition, showRankingScore = showRankingScore, matchingStrategy = matchingStrategy)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSearchResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/search/indexes/{indexUid}/search
     * Search documents (GET)
     * 
     * @param indexUid Unique index identifier
     * @param q Search query (optional)
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param attributesToRetrieve Comma-separated list of attributes to return (optional)
     * @param attributesToHighlight  (optional)
     * @param attributesToCrop  (optional)
     * @param cropLength  (optional, default to 10)
     * @param filter Filter expression (optional)
     * @param sort Comma-separated sort rules (optional)
     * @param facets Comma-separated facet attributes (optional)
     * @param showMatchesPosition  (optional)
     * @param showRankingScore  (optional)
     * @param matchingStrategy  (optional)
     * @return ApiResponse<SearchSearchResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchSearchGetWithHttpInfo(indexUid: kotlin.String, q: kotlin.String?, offset: kotlin.Int?, limit: kotlin.Int?, attributesToRetrieve: kotlin.String?, attributesToHighlight: kotlin.String?, attributesToCrop: kotlin.String?, cropLength: kotlin.Int?, filter: kotlin.String?, sort: kotlin.String?, facets: kotlin.String?, showMatchesPosition: kotlin.Boolean?, showRankingScore: kotlin.Boolean?, matchingStrategy: MatchingStrategySearchSearchGet?) : ApiResponse<SearchSearchResult?> {
        val localVariableConfig = searchSearchGetRequestConfig(indexUid = indexUid, q = q, offset = offset, limit = limit, attributesToRetrieve = attributesToRetrieve, attributesToHighlight = attributesToHighlight, attributesToCrop = attributesToCrop, cropLength = cropLength, filter = filter, sort = sort, facets = facets, showMatchesPosition = showMatchesPosition, showRankingScore = showRankingScore, matchingStrategy = matchingStrategy)

        return request<Unit, SearchSearchResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchSearchGet
     *
     * @param indexUid Unique index identifier
     * @param q Search query (optional)
     * @param offset  (optional, default to 0)
     * @param limit  (optional, default to 20)
     * @param attributesToRetrieve Comma-separated list of attributes to return (optional)
     * @param attributesToHighlight  (optional)
     * @param attributesToCrop  (optional)
     * @param cropLength  (optional, default to 10)
     * @param filter Filter expression (optional)
     * @param sort Comma-separated sort rules (optional)
     * @param facets Comma-separated facet attributes (optional)
     * @param showMatchesPosition  (optional)
     * @param showRankingScore  (optional)
     * @param matchingStrategy  (optional)
     * @return RequestConfig
     */
    fun searchSearchGetRequestConfig(indexUid: kotlin.String, q: kotlin.String?, offset: kotlin.Int?, limit: kotlin.Int?, attributesToRetrieve: kotlin.String?, attributesToHighlight: kotlin.String?, attributesToCrop: kotlin.String?, cropLength: kotlin.Int?, filter: kotlin.String?, sort: kotlin.String?, facets: kotlin.String?, showMatchesPosition: kotlin.Boolean?, showRankingScore: kotlin.Boolean?, matchingStrategy: MatchingStrategySearchSearchGet?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (attributesToRetrieve != null) {
                    put("attributesToRetrieve", listOf(attributesToRetrieve.toString()))
                }
                if (attributesToHighlight != null) {
                    put("attributesToHighlight", listOf(attributesToHighlight.toString()))
                }
                if (attributesToCrop != null) {
                    put("attributesToCrop", listOf(attributesToCrop.toString()))
                }
                if (cropLength != null) {
                    put("cropLength", listOf(cropLength.toString()))
                }
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (sort != null) {
                    put("sort", listOf(sort.toString()))
                }
                if (facets != null) {
                    put("facets", listOf(facets.toString()))
                }
                if (showMatchesPosition != null) {
                    put("showMatchesPosition", listOf(showMatchesPosition.toString()))
                }
                if (showRankingScore != null) {
                    put("showRankingScore", listOf(showRankingScore.toString()))
                }
                if (matchingStrategy != null) {
                    put("matchingStrategy", listOf(matchingStrategy.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/search/indexes/{indexUid}/search".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/search/indexes/{indexUid}/search
     * Search documents (POST)
     * 
     * @param indexUid Unique index identifier
     * @param searchSearchQuery 
     * @return SearchSearchResult
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchSearchPost(indexUid: kotlin.String, searchSearchQuery: SearchSearchQuery) : SearchSearchResult {
        val localVarResponse = searchSearchPostWithHttpInfo(indexUid = indexUid, searchSearchQuery = searchSearchQuery)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchSearchResult
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/search/indexes/{indexUid}/search
     * Search documents (POST)
     * 
     * @param indexUid Unique index identifier
     * @param searchSearchQuery 
     * @return ApiResponse<SearchSearchResult?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchSearchPostWithHttpInfo(indexUid: kotlin.String, searchSearchQuery: SearchSearchQuery) : ApiResponse<SearchSearchResult?> {
        val localVariableConfig = searchSearchPostRequestConfig(indexUid = indexUid, searchSearchQuery = searchSearchQuery)

        return request<SearchSearchQuery, SearchSearchResult>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchSearchPost
     *
     * @param indexUid Unique index identifier
     * @param searchSearchQuery 
     * @return RequestConfig
     */
    fun searchSearchPostRequestConfig(indexUid: kotlin.String, searchSearchQuery: SearchSearchQuery) : RequestConfig<SearchSearchQuery> {
        val localVariableBody = searchSearchQuery
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/search/indexes/{indexUid}/search".replace("{"+"indexUid"+"}", encodeURIComponent(indexUid.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/recommend
     * Recommend points
     * 
     * @param collectionName 
     * @param vectorRecommendPointsRequest 
     * @return VectorRecommendPoints200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vectorRecommendPoints(collectionName: kotlin.String, vectorRecommendPointsRequest: VectorRecommendPointsRequest) : VectorRecommendPoints200Response {
        val localVarResponse = vectorRecommendPointsWithHttpInfo(collectionName = collectionName, vectorRecommendPointsRequest = vectorRecommendPointsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VectorRecommendPoints200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/recommend
     * Recommend points
     * 
     * @param collectionName 
     * @param vectorRecommendPointsRequest 
     * @return ApiResponse<VectorRecommendPoints200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vectorRecommendPointsWithHttpInfo(collectionName: kotlin.String, vectorRecommendPointsRequest: VectorRecommendPointsRequest) : ApiResponse<VectorRecommendPoints200Response?> {
        val localVariableConfig = vectorRecommendPointsRequestConfig(collectionName = collectionName, vectorRecommendPointsRequest = vectorRecommendPointsRequest)

        return request<VectorRecommendPointsRequest, VectorRecommendPoints200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vectorRecommendPoints
     *
     * @param collectionName 
     * @param vectorRecommendPointsRequest 
     * @return RequestConfig
     */
    fun vectorRecommendPointsRequestConfig(collectionName: kotlin.String, vectorRecommendPointsRequest: VectorRecommendPointsRequest) : RequestConfig<VectorRecommendPointsRequest> {
        val localVariableBody = vectorRecommendPointsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vector/collections/{collection_name}/points/recommend".replace("{"+"collection_name"+"}", encodeURIComponent(collectionName.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/search/batch
     * Batch search
     * 
     * @param collectionName 
     * @param vectorSearchBatchRequest 
     * @return VectorSearchBatch200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vectorSearchBatch(collectionName: kotlin.String, vectorSearchBatchRequest: VectorSearchBatchRequest) : VectorSearchBatch200Response {
        val localVarResponse = vectorSearchBatchWithHttpInfo(collectionName = collectionName, vectorSearchBatchRequest = vectorSearchBatchRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VectorSearchBatch200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/search/batch
     * Batch search
     * 
     * @param collectionName 
     * @param vectorSearchBatchRequest 
     * @return ApiResponse<VectorSearchBatch200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vectorSearchBatchWithHttpInfo(collectionName: kotlin.String, vectorSearchBatchRequest: VectorSearchBatchRequest) : ApiResponse<VectorSearchBatch200Response?> {
        val localVariableConfig = vectorSearchBatchRequestConfig(collectionName = collectionName, vectorSearchBatchRequest = vectorSearchBatchRequest)

        return request<VectorSearchBatchRequest, VectorSearchBatch200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vectorSearchBatch
     *
     * @param collectionName 
     * @param vectorSearchBatchRequest 
     * @return RequestConfig
     */
    fun vectorSearchBatchRequestConfig(collectionName: kotlin.String, vectorSearchBatchRequest: VectorSearchBatchRequest) : RequestConfig<VectorSearchBatchRequest> {
        val localVariableBody = vectorSearchBatchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vector/collections/{collection_name}/points/search/batch".replace("{"+"collection_name"+"}", encodeURIComponent(collectionName.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/search
     * Search points
     * 
     * @param collectionName 
     * @param vectorSearchRequest 
     * @return VectorRecommendPoints200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun vectorSearchPoints(collectionName: kotlin.String, vectorSearchRequest: VectorSearchRequest) : VectorRecommendPoints200Response {
        val localVarResponse = vectorSearchPointsWithHttpInfo(collectionName = collectionName, vectorSearchRequest = vectorSearchRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VectorRecommendPoints200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/vector/collections/{collection_name}/points/search
     * Search points
     * 
     * @param collectionName 
     * @param vectorSearchRequest 
     * @return ApiResponse<VectorRecommendPoints200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun vectorSearchPointsWithHttpInfo(collectionName: kotlin.String, vectorSearchRequest: VectorSearchRequest) : ApiResponse<VectorRecommendPoints200Response?> {
        val localVariableConfig = vectorSearchPointsRequestConfig(collectionName = collectionName, vectorSearchRequest = vectorSearchRequest)

        return request<VectorSearchRequest, VectorRecommendPoints200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation vectorSearchPoints
     *
     * @param collectionName 
     * @param vectorSearchRequest 
     * @return RequestConfig
     */
    fun vectorSearchPointsRequestConfig(collectionName: kotlin.String, vectorSearchRequest: VectorSearchRequest) : RequestConfig<VectorSearchRequest> {
        val localVariableBody = vectorSearchRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vector/collections/{collection_name}/points/search".replace("{"+"collection_name"+"}", encodeURIComponent(collectionName.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
