/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.SeoAuditIn
import ai.hanzo.cloud.model.SeoAuditOut
import ai.hanzo.cloud.model.SeoBacklinkIn
import ai.hanzo.cloud.model.SeoBacklinkOut
import ai.hanzo.cloud.model.SeoCompetitorIn
import ai.hanzo.cloud.model.SeoCompetitorOut
import ai.hanzo.cloud.model.SeoIdeaIn
import ai.hanzo.cloud.model.SeoIdeaOut
import ai.hanzo.cloud.model.SeoKeywordIn
import ai.hanzo.cloud.model.SeoKeywordOut
import ai.hanzo.cloud.model.SeoRankIn
import ai.hanzo.cloud.model.SeoRankOut
import ai.hanzo.cloud.model.SeoRateOut

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class SeoApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/seo/audit
     * Fetch one page and report what it gets wrong
     * Fetches one page and reports what it gets wrong.  It returns the page&#39;s on-page score, its title and description, how much readable text it carries, and the full set of named checks — is it https, does it have one h1, is the title duplicated, is it slow, is it a redirect, is anything on it broken. It is the technical half of search visibility, and it is the half a developer can act on this afternoon.  ONE PAGE, LIVE, IN THIS REQUEST. It is deliberately not a site crawl: a crawl is a job with a lifecycle, and this answers the same questions about the page somebody is actually looking at, now, with no task id to poll. Point it at the pages that matter one at a time.  It is priced per page fetched, which is one.
     * @param seoAuditIn 
     * @return SeoAuditOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun seoAudit(seoAuditIn: SeoAuditIn) : SeoAuditOut {
        val localVarResponse = seoAuditWithHttpInfo(seoAuditIn = seoAuditIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SeoAuditOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/seo/audit
     * Fetch one page and report what it gets wrong
     * Fetches one page and reports what it gets wrong.  It returns the page&#39;s on-page score, its title and description, how much readable text it carries, and the full set of named checks — is it https, does it have one h1, is the title duplicated, is it slow, is it a redirect, is anything on it broken. It is the technical half of search visibility, and it is the half a developer can act on this afternoon.  ONE PAGE, LIVE, IN THIS REQUEST. It is deliberately not a site crawl: a crawl is a job with a lifecycle, and this answers the same questions about the page somebody is actually looking at, now, with no task id to poll. Point it at the pages that matter one at a time.  It is priced per page fetched, which is one.
     * @param seoAuditIn 
     * @return ApiResponse<SeoAuditOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun seoAuditWithHttpInfo(seoAuditIn: SeoAuditIn) : ApiResponse<SeoAuditOut?> {
        val localVariableConfig = seoAuditRequestConfig(seoAuditIn = seoAuditIn)

        return request<SeoAuditIn, SeoAuditOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation seoAudit
     *
     * @param seoAuditIn 
     * @return RequestConfig
     */
    fun seoAuditRequestConfig(seoAuditIn: SeoAuditIn) : RequestConfig<SeoAuditIn> {
        val localVariableBody = seoAuditIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/seo/audit",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/seo/backlinks
     * Who links to a target, and how much of it is broken or spam
     * Summarises who links to a target.  It returns the authority score, how many links point at it and from how many distinct sites, how many of those are broken, and how much of the profile reads as spam. Distinct sites is the number to read: a thousand links from one domain is one endorsement, and a profile that grew fast in links and not in domains is usually a profile somebody bought.  The target can be a whole domain, a subdomain, or one page URL — the summary is scoped to whatever is named. It is priced per request, so a domain with ten million links costs the same as one with ten.
     * @param seoBacklinkIn 
     * @return SeoBacklinkOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun seoBacklink(seoBacklinkIn: SeoBacklinkIn) : SeoBacklinkOut {
        val localVarResponse = seoBacklinkWithHttpInfo(seoBacklinkIn = seoBacklinkIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SeoBacklinkOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/seo/backlinks
     * Who links to a target, and how much of it is broken or spam
     * Summarises who links to a target.  It returns the authority score, how many links point at it and from how many distinct sites, how many of those are broken, and how much of the profile reads as spam. Distinct sites is the number to read: a thousand links from one domain is one endorsement, and a profile that grew fast in links and not in domains is usually a profile somebody bought.  The target can be a whole domain, a subdomain, or one page URL — the summary is scoped to whatever is named. It is priced per request, so a domain with ten million links costs the same as one with ten.
     * @param seoBacklinkIn 
     * @return ApiResponse<SeoBacklinkOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun seoBacklinkWithHttpInfo(seoBacklinkIn: SeoBacklinkIn) : ApiResponse<SeoBacklinkOut?> {
        val localVariableConfig = seoBacklinkRequestConfig(seoBacklinkIn = seoBacklinkIn)

        return request<SeoBacklinkIn, SeoBacklinkOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation seoBacklink
     *
     * @param seoBacklinkIn 
     * @return RequestConfig
     */
    fun seoBacklinkRequestConfig(seoBacklinkIn: SeoBacklinkIn) : RequestConfig<SeoBacklinkIn> {
        val localVariableBody = seoBacklinkIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/seo/backlinks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/seo/competitors
     * The domains that place for the same phrases
     * Names the domains that place for the same phrases.  Given a set of phrases it returns the sites that appear across them, with each one&#39;s average position, how many of the phrases it places for, its share of the available attention and the visits that earns. It answers \&quot;who am I actually up against here\&quot;, which is a different question from \&quot;who do I think my competitors are\&quot; and frequently a different answer.  Pair it with seoRank: this says who is in the race, seoRank says where any one of them finishes. It is priced per row, so Limit decides the cost.
     * @param seoCompetitorIn 
     * @return SeoCompetitorOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun seoCompetitor(seoCompetitorIn: SeoCompetitorIn) : SeoCompetitorOut {
        val localVarResponse = seoCompetitorWithHttpInfo(seoCompetitorIn = seoCompetitorIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SeoCompetitorOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/seo/competitors
     * The domains that place for the same phrases
     * Names the domains that place for the same phrases.  Given a set of phrases it returns the sites that appear across them, with each one&#39;s average position, how many of the phrases it places for, its share of the available attention and the visits that earns. It answers \&quot;who am I actually up against here\&quot;, which is a different question from \&quot;who do I think my competitors are\&quot; and frequently a different answer.  Pair it with seoRank: this says who is in the race, seoRank says where any one of them finishes. It is priced per row, so Limit decides the cost.
     * @param seoCompetitorIn 
     * @return ApiResponse<SeoCompetitorOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun seoCompetitorWithHttpInfo(seoCompetitorIn: SeoCompetitorIn) : ApiResponse<SeoCompetitorOut?> {
        val localVariableConfig = seoCompetitorRequestConfig(seoCompetitorIn = seoCompetitorIn)

        return request<SeoCompetitorIn, SeoCompetitorOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation seoCompetitor
     *
     * @param seoCompetitorIn 
     * @return RequestConfig
     */
    fun seoCompetitorRequestConfig(seoCompetitorIn: SeoCompetitorIn) : RequestConfig<SeoCompetitorIn> {
        val localVariableBody = seoCompetitorIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/seo/competitors",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/seo/ideas
     * Grow a seed phrase into the phrases nobody named yet
     * Grows a seed phrase into the phrases nobody named yet.  It takes phrases you have and returns phrases in the same category that you do not — relevant rather than merely containing the seed — each with its search volume, click cost, competition and how hard its first page is to reach. This is where a keyword list comes FROM; seoKeyword is where a list you already have gets measured.  It is priced per row, so Limit is the knob that decides what the call costs. Total says how many more there were.
     * @param seoIdeaIn 
     * @return SeoIdeaOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun seoIdea(seoIdeaIn: SeoIdeaIn) : SeoIdeaOut {
        val localVarResponse = seoIdeaWithHttpInfo(seoIdeaIn = seoIdeaIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SeoIdeaOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/seo/ideas
     * Grow a seed phrase into the phrases nobody named yet
     * Grows a seed phrase into the phrases nobody named yet.  It takes phrases you have and returns phrases in the same category that you do not — relevant rather than merely containing the seed — each with its search volume, click cost, competition and how hard its first page is to reach. This is where a keyword list comes FROM; seoKeyword is where a list you already have gets measured.  It is priced per row, so Limit is the knob that decides what the call costs. Total says how many more there were.
     * @param seoIdeaIn 
     * @return ApiResponse<SeoIdeaOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun seoIdeaWithHttpInfo(seoIdeaIn: SeoIdeaIn) : ApiResponse<SeoIdeaOut?> {
        val localVariableConfig = seoIdeaRequestConfig(seoIdeaIn = seoIdeaIn)

        return request<SeoIdeaIn, SeoIdeaOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation seoIdea
     *
     * @param seoIdeaIn 
     * @return RequestConfig
     */
    fun seoIdeaRequestConfig(seoIdeaIn: SeoIdeaIn) : RequestConfig<SeoIdeaIn> {
        val localVariableBody = seoIdeaIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/seo/ideas",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/seo/keywords
     * How often named phrases are searched, and what a click costs
     * Measures phrases the caller already has.  It answers, for each phrase named, how many people search it in a month, what an advertising click on it costs, and how contested that advertising is. This is the ground fact of search: everything else on this surface is a question about phrases, and this is the one that says whether a phrase is worth having.  Give it phrases you already suspect. To find phrases you have not thought of, use seoIdea; to find the ones a site already places for, use seoRank.  The market defaults to the United States in English. It is priced per request rather than per phrase, so asking about fifty phrases costs what asking about one does.
     * @param seoKeywordIn 
     * @return SeoKeywordOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun seoKeyword(seoKeywordIn: SeoKeywordIn) : SeoKeywordOut {
        val localVarResponse = seoKeywordWithHttpInfo(seoKeywordIn = seoKeywordIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SeoKeywordOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/seo/keywords
     * How often named phrases are searched, and what a click costs
     * Measures phrases the caller already has.  It answers, for each phrase named, how many people search it in a month, what an advertising click on it costs, and how contested that advertising is. This is the ground fact of search: everything else on this surface is a question about phrases, and this is the one that says whether a phrase is worth having.  Give it phrases you already suspect. To find phrases you have not thought of, use seoIdea; to find the ones a site already places for, use seoRank.  The market defaults to the United States in English. It is priced per request rather than per phrase, so asking about fifty phrases costs what asking about one does.
     * @param seoKeywordIn 
     * @return ApiResponse<SeoKeywordOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun seoKeywordWithHttpInfo(seoKeywordIn: SeoKeywordIn) : ApiResponse<SeoKeywordOut?> {
        val localVariableConfig = seoKeywordRequestConfig(seoKeywordIn = seoKeywordIn)

        return request<SeoKeywordIn, SeoKeywordOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation seoKeyword
     *
     * @param seoKeywordIn 
     * @return RequestConfig
     */
    fun seoKeywordRequestConfig(seoKeywordIn: SeoKeywordIn) : RequestConfig<SeoKeywordIn> {
        val localVariableBody = seoKeywordIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/seo/keywords",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/seo/rankings
     * Every phrase a domain already places for, with its position
     * Reports every phrase a domain already places for.  For each one it gives the phrase, the position on the results page, the page of the site that placed, that result&#39;s headline, the phrase&#39;s monthly searches and the visits the placement is estimated to earn. It is the single most direct question about a site&#39;s search visibility — yours or a competitor&#39;s, since it takes any domain.  Position is the ABSOLUTE rank, counting every element on the page — the ads, the answer boxes, the map — because that is what a person scrolling actually passes. An organic-only rank flatters a result that sits below half a screen of other things.  It is priced per row, so Limit decides what the call costs, and Total says how many more there were.
     * @param seoRankIn 
     * @return SeoRankOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun seoRank(seoRankIn: SeoRankIn) : SeoRankOut {
        val localVarResponse = seoRankWithHttpInfo(seoRankIn = seoRankIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SeoRankOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/seo/rankings
     * Every phrase a domain already places for, with its position
     * Reports every phrase a domain already places for.  For each one it gives the phrase, the position on the results page, the page of the site that placed, that result&#39;s headline, the phrase&#39;s monthly searches and the visits the placement is estimated to earn. It is the single most direct question about a site&#39;s search visibility — yours or a competitor&#39;s, since it takes any domain.  Position is the ABSOLUTE rank, counting every element on the page — the ads, the answer boxes, the map — because that is what a person scrolling actually passes. An organic-only rank flatters a result that sits below half a screen of other things.  It is priced per row, so Limit decides what the call costs, and Total says how many more there were.
     * @param seoRankIn 
     * @return ApiResponse<SeoRankOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun seoRankWithHttpInfo(seoRankIn: SeoRankIn) : ApiResponse<SeoRankOut?> {
        val localVariableConfig = seoRankRequestConfig(seoRankIn = seoRankIn)

        return request<SeoRankIn, SeoRankOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation seoRank
     *
     * @param seoRankIn 
     * @return RequestConfig
     */
    fun seoRankRequestConfig(seoRankIn: SeoRankIn) : RequestConfig<SeoRankIn> {
        val localVariableBody = seoRankIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/seo/rankings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/seo/rates
     * What each call on this surface costs, from the vendor&#39;s own list
     * Publishes what every call on this surface costs.  The numbers are read from the upstream&#39;s own published price list, not from a table kept here, so a price change on their side moves this card within the hour and moves what is debited with it. That is the whole of the pricing model: this surface resells at cost, and the cost is theirs to state.  A row has two numbers because a call has two costs: a flat charge for asking, and a charge per row returned. An op priced per request reports zero for the second, and for one priced per row the total is &#x60;request + result x limit&#x60; — which is the amount your balance is authorized against before the call, and roughly what you will be debited after it.  It is a read and it is free: asking what something costs must not require the balance that would pay for it. If the upstream cannot be reached the card comes back empty rather than stale — a price nobody can confirm is not a price.
     * @return SeoRateOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun seoRate() : SeoRateOut {
        val localVarResponse = seoRateWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SeoRateOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/seo/rates
     * What each call on this surface costs, from the vendor&#39;s own list
     * Publishes what every call on this surface costs.  The numbers are read from the upstream&#39;s own published price list, not from a table kept here, so a price change on their side moves this card within the hour and moves what is debited with it. That is the whole of the pricing model: this surface resells at cost, and the cost is theirs to state.  A row has two numbers because a call has two costs: a flat charge for asking, and a charge per row returned. An op priced per request reports zero for the second, and for one priced per row the total is &#x60;request + result x limit&#x60; — which is the amount your balance is authorized against before the call, and roughly what you will be debited after it.  It is a read and it is free: asking what something costs must not require the balance that would pay for it. If the upstream cannot be reached the card comes back empty rather than stale — a price nobody can confirm is not a price.
     * @return ApiResponse<SeoRateOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun seoRateWithHttpInfo() : ApiResponse<SeoRateOut?> {
        val localVariableConfig = seoRateRequestConfig()

        return request<Unit, SeoRateOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation seoRate
     *
     * @return RequestConfig
     */
    fun seoRateRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/seo/rates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
