/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.DriveIn
import ai.hanzo.cloud.model.DriveItem
import ai.hanzo.cloud.model.DriveList
import ai.hanzo.cloud.model.FileList
import ai.hanzo.cloud.model.SpaceHealth
import ai.hanzo.cloud.model.SpaceIn
import ai.hanzo.cloud.model.SpaceItem
import ai.hanzo.cloud.model.SpaceList

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class SpaceApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/space/{space}/drives/{drive}
     * Removes an EMPTY drive and answers 204.
     * Removes an EMPTY drive and answers 204.  A drive holding files is 409 rather than a cascade: deleting an org&#39;s files behind a single drive call is not a thing this surface will do silently. A drive or space the caller&#39;s org does not own is the same 404 an unknown name gives.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing deleted, and the debit lands only once the drive is gone.
     * @param space Space is the space&#39;s name, from the path.
     * @param drive Drive is the drive&#39;s name, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteSpaceBySpaceDrivesByDrive(space: kotlin.String, drive: kotlin.String) : Unit {
        val localVarResponse = deleteSpaceBySpaceDrivesByDriveWithHttpInfo(space = space, drive = drive)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/space/{space}/drives/{drive}
     * Removes an EMPTY drive and answers 204.
     * Removes an EMPTY drive and answers 204.  A drive holding files is 409 rather than a cascade: deleting an org&#39;s files behind a single drive call is not a thing this surface will do silently. A drive or space the caller&#39;s org does not own is the same 404 an unknown name gives.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing deleted, and the debit lands only once the drive is gone.
     * @param space Space is the space&#39;s name, from the path.
     * @param drive Drive is the drive&#39;s name, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteSpaceBySpaceDrivesByDriveWithHttpInfo(space: kotlin.String, drive: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteSpaceBySpaceDrivesByDriveRequestConfig(space = space, drive = drive)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteSpaceBySpaceDrivesByDrive
     *
     * @param space Space is the space&#39;s name, from the path.
     * @param drive Drive is the drive&#39;s name, from the path.
     * @return RequestConfig
     */
    fun deleteSpaceBySpaceDrivesByDriveRequestConfig(space: kotlin.String, drive: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/space/{space}/drives/{drive}".replace("{"+"space"+"}", encodeURIComponent(space.toString())).replace("{"+"drive"+"}", encodeURIComponent(drive.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/space/{space}/drives
     * Lists a space&#39;s drives.
     * Lists a space&#39;s drives.  Listing the drives IS listing the space&#39;s root folder, because a drive is the first segment of a key and nothing else — so the two can never disagree the way a drives table and the keys under it would. A space the caller&#39;s org does not own is the same 404 an unknown name gives.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing read, and the debit lands only once the listing has succeeded.
     * @param space Space is the space&#39;s name, from the path.
     * @return DriveList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSpaceBySpaceDrives(space: kotlin.String) : DriveList {
        val localVarResponse = getSpaceBySpaceDrivesWithHttpInfo(space = space)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DriveList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/space/{space}/drives
     * Lists a space&#39;s drives.
     * Lists a space&#39;s drives.  Listing the drives IS listing the space&#39;s root folder, because a drive is the first segment of a key and nothing else — so the two can never disagree the way a drives table and the keys under it would. A space the caller&#39;s org does not own is the same 404 an unknown name gives.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing read, and the debit lands only once the listing has succeeded.
     * @param space Space is the space&#39;s name, from the path.
     * @return ApiResponse<DriveList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSpaceBySpaceDrivesWithHttpInfo(space: kotlin.String) : ApiResponse<DriveList?> {
        val localVariableConfig = getSpaceBySpaceDrivesRequestConfig(space = space)

        return request<Unit, DriveList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSpaceBySpaceDrives
     *
     * @param space Space is the space&#39;s name, from the path.
     * @return RequestConfig
     */
    fun getSpaceBySpaceDrivesRequestConfig(space: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/space/{space}/drives".replace("{"+"space"+"}", encodeURIComponent(space.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/space/{space}/drives/{drive}/files
     * Lists one folder level of a drive.
     * Lists one folder level of a drive.  Folder-style by default: sub-folders come back as folder entries, which is the file-manager view. &#x60;?recursive&#x3D;true&#x60; lists every file flat under the folder instead. Names are RELATIVE to &#x60;?folder&#x3D;&#x60;, and the listing is bounded so a huge drive cannot exhaust memory — Total is what came back, not what the drive holds.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing read, and the debit lands only once the listing has succeeded.
     * @param space Space is the space to list in, from the path.
     * @param drive Drive is the drive to list, from the path.
     * @param folder  (optional)
     * @param recursive  (optional)
     * @return FileList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSpaceBySpaceDrivesByDriveFiles(space: kotlin.String, drive: kotlin.String, folder: kotlin.String? = null, recursive: kotlin.String? = null) : FileList {
        val localVarResponse = getSpaceBySpaceDrivesByDriveFilesWithHttpInfo(space = space, drive = drive, folder = folder, recursive = recursive)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as FileList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/space/{space}/drives/{drive}/files
     * Lists one folder level of a drive.
     * Lists one folder level of a drive.  Folder-style by default: sub-folders come back as folder entries, which is the file-manager view. &#x60;?recursive&#x3D;true&#x60; lists every file flat under the folder instead. Names are RELATIVE to &#x60;?folder&#x3D;&#x60;, and the listing is bounded so a huge drive cannot exhaust memory — Total is what came back, not what the drive holds.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing read, and the debit lands only once the listing has succeeded.
     * @param space Space is the space to list in, from the path.
     * @param drive Drive is the drive to list, from the path.
     * @param folder  (optional)
     * @param recursive  (optional)
     * @return ApiResponse<FileList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSpaceBySpaceDrivesByDriveFilesWithHttpInfo(space: kotlin.String, drive: kotlin.String, folder: kotlin.String?, recursive: kotlin.String?) : ApiResponse<FileList?> {
        val localVariableConfig = getSpaceBySpaceDrivesByDriveFilesRequestConfig(space = space, drive = drive, folder = folder, recursive = recursive)

        return request<Unit, FileList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSpaceBySpaceDrivesByDriveFiles
     *
     * @param space Space is the space to list in, from the path.
     * @param drive Drive is the drive to list, from the path.
     * @param folder  (optional)
     * @param recursive  (optional)
     * @return RequestConfig
     */
    fun getSpaceBySpaceDrivesByDriveFilesRequestConfig(space: kotlin.String, drive: kotlin.String, folder: kotlin.String?, recursive: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (folder != null) {
                    put("folder", listOf(folder.toString()))
                }
                if (recursive != null) {
                    put("recursive", listOf(recursive.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/space/{space}/drives/{drive}/files".replace("{"+"space"+"}", encodeURIComponent(space.toString())).replace("{"+"drive"+"}", encodeURIComponent(drive.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/space/health
     * Health reports whether this deployment can serve spaces, drives and files.
     * Health reports whether this deployment can serve spaces, drives and files.  It is a REAL probe rather than a constant: 200 when object-store credentials are present, so the store is reachable in principle, and 503 with the reason when they are not. It is deliberately NOT gated — liveness has to be probe-able without a token — so it is the one operation here that names no space and bills nothing.
     * @return SpaceHealth
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSpaceHealth() : SpaceHealth {
        val localVarResponse = getSpaceHealthWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SpaceHealth
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/space/health
     * Health reports whether this deployment can serve spaces, drives and files.
     * Health reports whether this deployment can serve spaces, drives and files.  It is a REAL probe rather than a constant: 200 when object-store credentials are present, so the store is reachable in principle, and 503 with the reason when they are not. It is deliberately NOT gated — liveness has to be probe-able without a token — so it is the one operation here that names no space and bills nothing.
     * @return ApiResponse<SpaceHealth?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSpaceHealthWithHttpInfo() : ApiResponse<SpaceHealth?> {
        val localVariableConfig = getSpaceHealthRequestConfig()

        return request<Unit, SpaceHealth>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSpaceHealth
     *
     * @return RequestConfig
     */
    fun getSpaceHealthRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/space/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/space/spaces
     * Lists the caller org&#39;s own spaces.
     * Lists the caller org&#39;s own spaces.  Only the caller&#39;s: every space is physically named under a per-org prefix and the listing strips that prefix, so another org&#39;s spaces are not in the answer at all. Another org&#39;s space is not refused but INVISIBLE, so this cannot be used to learn that a name is taken elsewhere.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing done, and the debit lands only once the work has succeeded.
     * @return SpaceList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSpaceSpaces() : SpaceList {
        val localVarResponse = getSpaceSpacesWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SpaceList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/space/spaces
     * Lists the caller org&#39;s own spaces.
     * Lists the caller org&#39;s own spaces.  Only the caller&#39;s: every space is physically named under a per-org prefix and the listing strips that prefix, so another org&#39;s spaces are not in the answer at all. Another org&#39;s space is not refused but INVISIBLE, so this cannot be used to learn that a name is taken elsewhere.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing done, and the debit lands only once the work has succeeded.
     * @return ApiResponse<SpaceList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSpaceSpacesWithHttpInfo() : ApiResponse<SpaceList?> {
        val localVariableConfig = getSpaceSpacesRequestConfig()

        return request<Unit, SpaceList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSpaceSpaces
     *
     * @return RequestConfig
     */
    fun getSpaceSpacesRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/space/spaces",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/space/{space}/drives
     * Makes a new drive in a space and answers 201 with it.
     * Makes a new drive in a space and answers 201 with it.  A drive is a PREFIX and not a bucket, so making one writes a zero-byte marker at \&quot;&lt;name&gt;/\&quot; — which is what makes an empty drive visible to a listing that has no other key to find. A name already taken in the space is 409.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing created, and the debit lands only once the drive exists.
     * @param space Space is the space to create the drive in, from the path. It carries NO &#x60;url:\&quot;-\&quot;&#x60;, unlike the field below it, and the difference is the whole reason both tags are written out: zip&#39;s binder skips a field tagged \&quot;-\&quot; for EVERY URL source, path params included, so a path-borne value that carried it would arrive empty and the create would refuse a perfectly good address.
     * @param driveIn 
     * @return DriveItem
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postSpaceBySpaceDrives(space: kotlin.String, driveIn: DriveIn) : DriveItem {
        val localVarResponse = postSpaceBySpaceDrivesWithHttpInfo(space = space, driveIn = driveIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DriveItem
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/space/{space}/drives
     * Makes a new drive in a space and answers 201 with it.
     * Makes a new drive in a space and answers 201 with it.  A drive is a PREFIX and not a bucket, so making one writes a zero-byte marker at \&quot;&lt;name&gt;/\&quot; — which is what makes an empty drive visible to a listing that has no other key to find. A name already taken in the space is 409.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing created, and the debit lands only once the drive exists.
     * @param space Space is the space to create the drive in, from the path. It carries NO &#x60;url:\&quot;-\&quot;&#x60;, unlike the field below it, and the difference is the whole reason both tags are written out: zip&#39;s binder skips a field tagged \&quot;-\&quot; for EVERY URL source, path params included, so a path-borne value that carried it would arrive empty and the create would refuse a perfectly good address.
     * @param driveIn 
     * @return ApiResponse<DriveItem?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postSpaceBySpaceDrivesWithHttpInfo(space: kotlin.String, driveIn: DriveIn) : ApiResponse<DriveItem?> {
        val localVariableConfig = postSpaceBySpaceDrivesRequestConfig(space = space, driveIn = driveIn)

        return request<DriveIn, DriveItem>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postSpaceBySpaceDrives
     *
     * @param space Space is the space to create the drive in, from the path. It carries NO &#x60;url:\&quot;-\&quot;&#x60;, unlike the field below it, and the difference is the whole reason both tags are written out: zip&#39;s binder skips a field tagged \&quot;-\&quot; for EVERY URL source, path params included, so a path-borne value that carried it would arrive empty and the create would refuse a perfectly good address.
     * @param driveIn 
     * @return RequestConfig
     */
    fun postSpaceBySpaceDrivesRequestConfig(space: kotlin.String, driveIn: DriveIn) : RequestConfig<DriveIn> {
        val localVariableBody = driveIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/space/{space}/drives".replace("{"+"space"+"}", encodeURIComponent(space.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/space/spaces
     * Makes a new space for the caller&#39;s org and answers 201 with it.
     * Makes a new space for the caller&#39;s org and answers 201 with it.  The one bucket a space&#39;s files live in is derived from the caller&#39;s VALIDATED org, so an org can only ever create inside its own namespace and no request field can redirect that. A name already taken in the org is 409.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing created, and the debit lands only once the space exists.
     * @param spaceIn 
     * @return SpaceItem
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postSpaceSpaces(spaceIn: SpaceIn) : SpaceItem {
        val localVarResponse = postSpaceSpacesWithHttpInfo(spaceIn = spaceIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SpaceItem
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/space/spaces
     * Makes a new space for the caller&#39;s org and answers 201 with it.
     * Makes a new space for the caller&#39;s org and answers 201 with it.  The one bucket a space&#39;s files live in is derived from the caller&#39;s VALIDATED org, so an org can only ever create inside its own namespace and no request field can redirect that. A name already taken in the org is 409.  Billed per call: the balance is checked BEFORE anything is touched, so an unfunded org is refused with nothing created, and the debit lands only once the space exists.
     * @param spaceIn 
     * @return ApiResponse<SpaceItem?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postSpaceSpacesWithHttpInfo(spaceIn: SpaceIn) : ApiResponse<SpaceItem?> {
        val localVariableConfig = postSpaceSpacesRequestConfig(spaceIn = spaceIn)

        return request<SpaceIn, SpaceItem>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postSpaceSpaces
     *
     * @param spaceIn 
     * @return RequestConfig
     */
    fun postSpaceSpacesRequestConfig(spaceIn: SpaceIn) : RequestConfig<SpaceIn> {
        val localVariableBody = spaceIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/space/spaces",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
