/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.KitList
import ai.hanzo.cloud.model.PublishKitIn
import ai.hanzo.cloud.model.ReplaceKitIn
import ai.hanzo.cloud.model.StarterKit

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class TemplateApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/template/{slug}
     * Deletes the caller org&#39;s OWN starter kit.
     * Deletes the caller org&#39;s OWN starter kit. A slug they do not own is a 404, never a delete: the DELETE binds org.
     * @param slug Slug is the starter kit to act on, from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteTemplateBySlug(slug: kotlin.String) : Unit {
        val localVarResponse = deleteTemplateBySlugWithHttpInfo(slug = slug)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/template/{slug}
     * Deletes the caller org&#39;s OWN starter kit.
     * Deletes the caller org&#39;s OWN starter kit. A slug they do not own is a 404, never a delete: the DELETE binds org.
     * @param slug Slug is the starter kit to act on, from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteTemplateBySlugWithHttpInfo(slug: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteTemplateBySlugRequestConfig(slug = slug)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteTemplateBySlug
     *
     * @param slug Slug is the starter kit to act on, from the path.
     * @return RequestConfig
     */
    fun deleteTemplateBySlugRequestConfig(slug: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/template/{slug}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/template
     * Lists the public starter-kit catalog plus, for a validated caller, that org&#39;s own private kits.
     * Lists the public starter-kit catalog plus, for a validated caller, that org&#39;s own private kits. No request field can widen the scope: the org comes from the validated principal, so an anonymous or cross-org caller structurally sees the public catalog only.
     * @return KitList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTemplate() : KitList {
        val localVarResponse = getTemplateWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as KitList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/template
     * Lists the public starter-kit catalog plus, for a validated caller, that org&#39;s own private kits.
     * Lists the public starter-kit catalog plus, for a validated caller, that org&#39;s own private kits. No request field can widen the scope: the org comes from the validated principal, so an anonymous or cross-org caller structurally sees the public catalog only.
     * @return ApiResponse<KitList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTemplateWithHttpInfo() : ApiResponse<KitList?> {
        val localVariableConfig = getTemplateRequestConfig()

        return request<Unit, KitList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getTemplate
     *
     * @return RequestConfig
     */
    fun getTemplateRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/template",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/template/{slug}
     * Returns one starter kit: the caller org&#39;s own by that slug, else the public catalog&#39;s.
     * Returns one starter kit: the caller org&#39;s own by that slug, else the public catalog&#39;s. A slug another org owns reads as not found.
     * @param slug Slug is the starter kit to act on, from the path.
     * @return StarterKit
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTemplateBySlug(slug: kotlin.String) : StarterKit {
        val localVarResponse = getTemplateBySlugWithHttpInfo(slug = slug)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StarterKit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/template/{slug}
     * Returns one starter kit: the caller org&#39;s own by that slug, else the public catalog&#39;s.
     * Returns one starter kit: the caller org&#39;s own by that slug, else the public catalog&#39;s. A slug another org owns reads as not found.
     * @param slug Slug is the starter kit to act on, from the path.
     * @return ApiResponse<StarterKit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTemplateBySlugWithHttpInfo(slug: kotlin.String) : ApiResponse<StarterKit?> {
        val localVariableConfig = getTemplateBySlugRequestConfig(slug = slug)

        return request<Unit, StarterKit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getTemplateBySlug
     *
     * @param slug Slug is the starter kit to act on, from the path.
     * @return RequestConfig
     */
    fun getTemplateBySlugRequestConfig(slug: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/template/{slug}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/template
     * Creates a starter kit PRIVATE to the caller&#39;s org and answers 201 with the stored kit.
     * Creates a starter kit PRIVATE to the caller&#39;s org and answers 201 with the stored kit. The owner is stamped by the server, so a body \&quot;org\&quot; is never trusted; publishing over a public-catalog slug is 409, so a slug still names exactly one kit.
     * @param publishKitIn 
     * @return StarterKit
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postTemplate(publishKitIn: PublishKitIn) : StarterKit {
        val localVarResponse = postTemplateWithHttpInfo(publishKitIn = publishKitIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StarterKit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/template
     * Creates a starter kit PRIVATE to the caller&#39;s org and answers 201 with the stored kit.
     * Creates a starter kit PRIVATE to the caller&#39;s org and answers 201 with the stored kit. The owner is stamped by the server, so a body \&quot;org\&quot; is never trusted; publishing over a public-catalog slug is 409, so a slug still names exactly one kit.
     * @param publishKitIn 
     * @return ApiResponse<StarterKit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postTemplateWithHttpInfo(publishKitIn: PublishKitIn) : ApiResponse<StarterKit?> {
        val localVariableConfig = postTemplateRequestConfig(publishKitIn = publishKitIn)

        return request<PublishKitIn, StarterKit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postTemplate
     *
     * @param publishKitIn 
     * @return RequestConfig
     */
    fun postTemplateRequestConfig(publishKitIn: PublishKitIn) : RequestConfig<PublishKitIn> {
        val localVariableBody = publishKitIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/template",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/template/{slug}
     * Overwrites the caller org&#39;s OWN starter kit at the path slug, answering the stored kit.
     * Overwrites the caller org&#39;s OWN starter kit at the path slug, answering the stored kit. A slug they do not own is 404, never a create: the UPDATE binds org, so a PUT can never reach another org&#39;s kit.
     * @param slug Slug is the kit to replace, from the path.
     * @param replaceKitIn 
     * @return StarterKit
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun putTemplateBySlug(slug: kotlin.String, replaceKitIn: ReplaceKitIn) : StarterKit {
        val localVarResponse = putTemplateBySlugWithHttpInfo(slug = slug, replaceKitIn = replaceKitIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as StarterKit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/template/{slug}
     * Overwrites the caller org&#39;s OWN starter kit at the path slug, answering the stored kit.
     * Overwrites the caller org&#39;s OWN starter kit at the path slug, answering the stored kit. A slug they do not own is 404, never a create: the UPDATE binds org, so a PUT can never reach another org&#39;s kit.
     * @param slug Slug is the kit to replace, from the path.
     * @param replaceKitIn 
     * @return ApiResponse<StarterKit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun putTemplateBySlugWithHttpInfo(slug: kotlin.String, replaceKitIn: ReplaceKitIn) : ApiResponse<StarterKit?> {
        val localVariableConfig = putTemplateBySlugRequestConfig(slug = slug, replaceKitIn = replaceKitIn)

        return request<ReplaceKitIn, StarterKit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation putTemplateBySlug
     *
     * @param slug Slug is the kit to replace, from the path.
     * @param replaceKitIn 
     * @return RequestConfig
     */
    fun putTemplateBySlugRequestConfig(slug: kotlin.String, replaceKitIn: ReplaceKitIn) : RequestConfig<ReplaceKitIn> {
        val localVariableBody = replaceKitIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/template/{slug}".replace("{"+"slug"+"}", encodeURIComponent(slug.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
