/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.AnalyticsHeartbeat200Response
import ai.hanzo.cloud.model.BotCreateToken200Response
import ai.hanzo.cloud.model.BotCreateTokenRequest
import ai.hanzo.cloud.model.BotListTokens200Response
import ai.hanzo.cloud.model.IamControllersResponse
import ai.hanzo.cloud.model.IamControllersTokenRequest
import ai.hanzo.cloud.model.IamObjectToken
import ai.hanzo.cloud.model.IamObjectTokenError
import ai.hanzo.cloud.model.IamObjectTokenWrapper

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class TokensApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/bot/tokens
     * Create a new API token
     * 
     * @param botCreateTokenRequest 
     * @return BotCreateToken200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun botCreateToken(botCreateTokenRequest: BotCreateTokenRequest) : BotCreateToken200Response {
        val localVarResponse = botCreateTokenWithHttpInfo(botCreateTokenRequest = botCreateTokenRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotCreateToken200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/bot/tokens
     * Create a new API token
     * 
     * @param botCreateTokenRequest 
     * @return ApiResponse<BotCreateToken200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun botCreateTokenWithHttpInfo(botCreateTokenRequest: BotCreateTokenRequest) : ApiResponse<BotCreateToken200Response?> {
        val localVariableConfig = botCreateTokenRequestConfig(botCreateTokenRequest = botCreateTokenRequest)

        return request<BotCreateTokenRequest, BotCreateToken200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botCreateToken
     *
     * @param botCreateTokenRequest 
     * @return RequestConfig
     */
    fun botCreateTokenRequestConfig(botCreateTokenRequest: BotCreateTokenRequest) : RequestConfig<BotCreateTokenRequest> {
        val localVariableBody = botCreateTokenRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/bot/tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/bot/tokens
     * List current user&#39;s API tokens
     * 
     * @return BotListTokens200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun botListTokens() : BotListTokens200Response {
        val localVarResponse = botListTokensWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as BotListTokens200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/bot/tokens
     * List current user&#39;s API tokens
     * 
     * @return ApiResponse<BotListTokens200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun botListTokensWithHttpInfo() : ApiResponse<BotListTokens200Response?> {
        val localVariableConfig = botListTokensRequestConfig()

        return request<Unit, BotListTokens200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botListTokens
     *
     * @return RequestConfig
     */
    fun botListTokensRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/bot/tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/bot/tokens/{id}
     * Revoke an API token
     * 
     * @param id 
     * @return AnalyticsHeartbeat200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun botRevokeToken(id: java.util.UUID) : AnalyticsHeartbeat200Response {
        val localVarResponse = botRevokeTokenWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsHeartbeat200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/bot/tokens/{id}
     * Revoke an API token
     * 
     * @param id 
     * @return ApiResponse<AnalyticsHeartbeat200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun botRevokeTokenWithHttpInfo(id: java.util.UUID) : ApiResponse<AnalyticsHeartbeat200Response?> {
        val localVariableConfig = botRevokeTokenRequestConfig(id = id)

        return request<Unit, AnalyticsHeartbeat200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation botRevokeToken
     *
     * @param id 
     * @return RequestConfig
     */
    fun botRevokeTokenRequestConfig(id: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/bot/tokens/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/iam/tokens
     * Api Controller Add Token
     * add token
     * @param iamObjectToken Details of the token
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun iamApiControllerAddToken(iamObjectToken: IamObjectToken) : IamControllersResponse {
        val localVarResponse = iamApiControllerAddTokenWithHttpInfo(iamObjectToken = iamObjectToken)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/iam/tokens
     * Api Controller Add Token
     * add token
     * @param iamObjectToken Details of the token
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun iamApiControllerAddTokenWithHttpInfo(iamObjectToken: IamObjectToken) : ApiResponse<IamControllersResponse?> {
        val localVariableConfig = iamApiControllerAddTokenRequestConfig(iamObjectToken = iamObjectToken)

        return request<IamObjectToken, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerAddToken
     *
     * @param iamObjectToken Details of the token
     * @return RequestConfig
     */
    fun iamApiControllerAddTokenRequestConfig(iamObjectToken: IamObjectToken) : RequestConfig<IamObjectToken> {
        val localVariableBody = iamObjectToken
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/iam/tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/iam/tokens/{id}
     * Api Controller Delete Token
     * delete token
     * @param id Resource identifier (owner/name)
     * @param iamObjectToken Details of the token
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun iamApiControllerDeleteToken(id: kotlin.String, iamObjectToken: IamObjectToken) : IamControllersResponse {
        val localVarResponse = iamApiControllerDeleteTokenWithHttpInfo(id = id, iamObjectToken = iamObjectToken)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/iam/tokens/{id}
     * Api Controller Delete Token
     * delete token
     * @param id Resource identifier (owner/name)
     * @param iamObjectToken Details of the token
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun iamApiControllerDeleteTokenWithHttpInfo(id: kotlin.String, iamObjectToken: IamObjectToken) : ApiResponse<IamControllersResponse?> {
        val localVariableConfig = iamApiControllerDeleteTokenRequestConfig(id = id, iamObjectToken = iamObjectToken)

        return request<IamObjectToken, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerDeleteToken
     *
     * @param id Resource identifier (owner/name)
     * @param iamObjectToken Details of the token
     * @return RequestConfig
     */
    fun iamApiControllerDeleteTokenRequestConfig(id: kotlin.String, iamObjectToken: IamObjectToken) : RequestConfig<IamObjectToken> {
        val localVariableBody = iamObjectToken
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/iam/tokens/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/iam/captcha/status
     * Api Controller Get Captcha Status
     * Get Login Error Counts
     * @param id The id ( owner/name ) of user
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun iamApiControllerGetCaptchaStatus(id: kotlin.String) : IamControllersResponse {
        val localVarResponse = iamApiControllerGetCaptchaStatusWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/iam/captcha/status
     * Api Controller Get Captcha Status
     * Get Login Error Counts
     * @param id The id ( owner/name ) of user
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun iamApiControllerGetCaptchaStatusWithHttpInfo(id: kotlin.String) : ApiResponse<IamControllersResponse?> {
        val localVariableConfig = iamApiControllerGetCaptchaStatusRequestConfig(id = id)

        return request<Unit, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerGetCaptchaStatus
     *
     * @param id The id ( owner/name ) of user
     * @return RequestConfig
     */
    fun iamApiControllerGetCaptchaStatusRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("id", listOf(id.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/iam/captcha/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /oauth/token
     * Api Controller Get O Auth Token
     * get OAuth access token
     * @param grantType OAuth grant type
     * @param clientId OAuth client id
     * @param clientSecret OAuth client secret
     * @param code OAuth code
     * @param iamControllersTokenRequest Optional. Params may be supplied as query string (documented above) or in the body; body values fill only fields still empty from the query. JSON (TokenRequest) is tried when the body is non-empty and grant_type is not device_code, otherwise form-urlencoded is parsed. (optional)
     * @return IamObjectTokenWrapper
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun iamApiControllerGetOAuthToken(grantType: kotlin.String, clientId: kotlin.String, clientSecret: kotlin.String, code: kotlin.String, iamControllersTokenRequest: IamControllersTokenRequest? = null) : IamObjectTokenWrapper {
        val localVarResponse = iamApiControllerGetOAuthTokenWithHttpInfo(grantType = grantType, clientId = clientId, clientSecret = clientSecret, code = code, iamControllersTokenRequest = iamControllersTokenRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamObjectTokenWrapper
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /oauth/token
     * Api Controller Get O Auth Token
     * get OAuth access token
     * @param grantType OAuth grant type
     * @param clientId OAuth client id
     * @param clientSecret OAuth client secret
     * @param code OAuth code
     * @param iamControllersTokenRequest Optional. Params may be supplied as query string (documented above) or in the body; body values fill only fields still empty from the query. JSON (TokenRequest) is tried when the body is non-empty and grant_type is not device_code, otherwise form-urlencoded is parsed. (optional)
     * @return ApiResponse<IamObjectTokenWrapper?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun iamApiControllerGetOAuthTokenWithHttpInfo(grantType: kotlin.String, clientId: kotlin.String, clientSecret: kotlin.String, code: kotlin.String, iamControllersTokenRequest: IamControllersTokenRequest?) : ApiResponse<IamObjectTokenWrapper?> {
        val localVariableConfig = iamApiControllerGetOAuthTokenRequestConfig(grantType = grantType, clientId = clientId, clientSecret = clientSecret, code = code, iamControllersTokenRequest = iamControllersTokenRequest)

        return request<IamControllersTokenRequest, IamObjectTokenWrapper>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerGetOAuthToken
     *
     * @param grantType OAuth grant type
     * @param clientId OAuth client id
     * @param clientSecret OAuth client secret
     * @param code OAuth code
     * @param iamControllersTokenRequest Optional. Params may be supplied as query string (documented above) or in the body; body values fill only fields still empty from the query. JSON (TokenRequest) is tried when the body is non-empty and grant_type is not device_code, otherwise form-urlencoded is parsed. (optional)
     * @return RequestConfig
     */
    fun iamApiControllerGetOAuthTokenRequestConfig(grantType: kotlin.String, clientId: kotlin.String, clientSecret: kotlin.String, code: kotlin.String, iamControllersTokenRequest: IamControllersTokenRequest?) : RequestConfig<IamControllersTokenRequest> {
        val localVariableBody = iamControllersTokenRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("grant_type", listOf(grantType.toString()))
                put("client_id", listOf(clientId.toString()))
                put("client_secret", listOf(clientSecret.toString()))
                put("code", listOf(code.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/oauth/token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/iam/tokens/{id}
     * Api Controller Get Token
     * get token
     * @param id The token ID in format: organization/token-name (e.g., built-in/token-123456)
     * @return IamObjectToken
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun iamApiControllerGetToken(id: kotlin.String) : IamObjectToken {
        val localVarResponse = iamApiControllerGetTokenWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamObjectToken
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/iam/tokens/{id}
     * Api Controller Get Token
     * get token
     * @param id The token ID in format: organization/token-name (e.g., built-in/token-123456)
     * @return ApiResponse<IamObjectToken?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun iamApiControllerGetTokenWithHttpInfo(id: kotlin.String) : ApiResponse<IamObjectToken?> {
        val localVariableConfig = iamApiControllerGetTokenRequestConfig(id = id)

        return request<Unit, IamObjectToken>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerGetToken
     *
     * @param id The token ID in format: organization/token-name (e.g., built-in/token-123456)
     * @return RequestConfig
     */
    fun iamApiControllerGetTokenRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/iam/tokens/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/iam/tokens
     * Api Controller Get Tokens
     * get tokens
     * @param owner The organization name (e.g., built-in)
     * @param pageSize The size of each page
     * @param p The number of the page
     * @return kotlin.collections.List<IamObjectToken>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun iamApiControllerGetTokens(owner: kotlin.String, pageSize: kotlin.String, p: kotlin.String) : kotlin.collections.List<IamObjectToken> {
        val localVarResponse = iamApiControllerGetTokensWithHttpInfo(owner = owner, pageSize = pageSize, p = p)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<IamObjectToken>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/iam/tokens
     * Api Controller Get Tokens
     * get tokens
     * @param owner The organization name (e.g., built-in)
     * @param pageSize The size of each page
     * @param p The number of the page
     * @return ApiResponse<kotlin.collections.List<IamObjectToken>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun iamApiControllerGetTokensWithHttpInfo(owner: kotlin.String, pageSize: kotlin.String, p: kotlin.String) : ApiResponse<kotlin.collections.List<IamObjectToken>?> {
        val localVariableConfig = iamApiControllerGetTokensRequestConfig(owner = owner, pageSize = pageSize, p = p)

        return request<Unit, kotlin.collections.List<IamObjectToken>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerGetTokens
     *
     * @param owner The organization name (e.g., built-in)
     * @param pageSize The size of each page
     * @param p The number of the page
     * @return RequestConfig
     */
    fun iamApiControllerGetTokensRequestConfig(owner: kotlin.String, pageSize: kotlin.String, p: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("owner", listOf(owner.toString()))
                put("pageSize", listOf(pageSize.toString()))
                put("p", listOf(p.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/iam/tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /oauth/token/refresh
     * Api Controller Refresh Token
     * refresh OAuth access token
     * @param grantType OAuth grant type
     * @param refreshToken OAuth refresh token
     * @param scope OAuth scope
     * @param clientId OAuth client id
     * @param clientSecret OAuth client secret (optional)
     * @param iamControllersTokenRequest Optional. Read only when client_id is absent from the query/Basic-auth; then JSON (TokenRequest) or form-urlencoded fills client_id, client_secret, grant_type, scope, refresh_token. (optional)
     * @return IamObjectTokenWrapper
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun iamApiControllerRefreshToken(grantType: kotlin.String, refreshToken: kotlin.String, scope: kotlin.String, clientId: kotlin.String, clientSecret: kotlin.String? = null, iamControllersTokenRequest: IamControllersTokenRequest? = null) : IamObjectTokenWrapper {
        val localVarResponse = iamApiControllerRefreshTokenWithHttpInfo(grantType = grantType, refreshToken = refreshToken, scope = scope, clientId = clientId, clientSecret = clientSecret, iamControllersTokenRequest = iamControllersTokenRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamObjectTokenWrapper
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /oauth/token/refresh
     * Api Controller Refresh Token
     * refresh OAuth access token
     * @param grantType OAuth grant type
     * @param refreshToken OAuth refresh token
     * @param scope OAuth scope
     * @param clientId OAuth client id
     * @param clientSecret OAuth client secret (optional)
     * @param iamControllersTokenRequest Optional. Read only when client_id is absent from the query/Basic-auth; then JSON (TokenRequest) or form-urlencoded fills client_id, client_secret, grant_type, scope, refresh_token. (optional)
     * @return ApiResponse<IamObjectTokenWrapper?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun iamApiControllerRefreshTokenWithHttpInfo(grantType: kotlin.String, refreshToken: kotlin.String, scope: kotlin.String, clientId: kotlin.String, clientSecret: kotlin.String?, iamControllersTokenRequest: IamControllersTokenRequest?) : ApiResponse<IamObjectTokenWrapper?> {
        val localVariableConfig = iamApiControllerRefreshTokenRequestConfig(grantType = grantType, refreshToken = refreshToken, scope = scope, clientId = clientId, clientSecret = clientSecret, iamControllersTokenRequest = iamControllersTokenRequest)

        return request<IamControllersTokenRequest, IamObjectTokenWrapper>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerRefreshToken
     *
     * @param grantType OAuth grant type
     * @param refreshToken OAuth refresh token
     * @param scope OAuth scope
     * @param clientId OAuth client id
     * @param clientSecret OAuth client secret (optional)
     * @param iamControllersTokenRequest Optional. Read only when client_id is absent from the query/Basic-auth; then JSON (TokenRequest) or form-urlencoded fills client_id, client_secret, grant_type, scope, refresh_token. (optional)
     * @return RequestConfig
     */
    fun iamApiControllerRefreshTokenRequestConfig(grantType: kotlin.String, refreshToken: kotlin.String, scope: kotlin.String, clientId: kotlin.String, clientSecret: kotlin.String?, iamControllersTokenRequest: IamControllersTokenRequest?) : RequestConfig<IamControllersTokenRequest> {
        val localVariableBody = iamControllersTokenRequest
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("grant_type", listOf(grantType.toString()))
                put("refresh_token", listOf(refreshToken.toString()))
                put("scope", listOf(scope.toString()))
                put("client_id", listOf(clientId.toString()))
                if (clientSecret != null) {
                    put("client_secret", listOf(clientSecret.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/oauth/token/refresh",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PUT /v1/iam/tokens/{id}
     * Api Controller Update Token
     * update token
     * @param id The token ID in format: organization/token-name (e.g., built-in/token-123456)
     * @param iamObjectToken Details of the token
     * @return IamControllersResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun iamApiControllerUpdateToken(id: kotlin.String, iamObjectToken: IamObjectToken) : IamControllersResponse {
        val localVarResponse = iamApiControllerUpdateTokenWithHttpInfo(id = id, iamObjectToken = iamObjectToken)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IamControllersResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /v1/iam/tokens/{id}
     * Api Controller Update Token
     * update token
     * @param id The token ID in format: organization/token-name (e.g., built-in/token-123456)
     * @param iamObjectToken Details of the token
     * @return ApiResponse<IamControllersResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun iamApiControllerUpdateTokenWithHttpInfo(id: kotlin.String, iamObjectToken: IamObjectToken) : ApiResponse<IamControllersResponse?> {
        val localVariableConfig = iamApiControllerUpdateTokenRequestConfig(id = id, iamObjectToken = iamObjectToken)

        return request<IamObjectToken, IamControllersResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation iamApiControllerUpdateToken
     *
     * @param id The token ID in format: organization/token-name (e.g., built-in/token-123456)
     * @param iamObjectToken Details of the token
     * @return RequestConfig
     */
    fun iamApiControllerUpdateTokenRequestConfig(id: kotlin.String, iamObjectToken: IamObjectToken) : RequestConfig<IamObjectToken> {
        val localVariableBody = iamObjectToken
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/v1/iam/tokens/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
