/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudIssuePatch
import ai.hanzo.cloud.model.CloudIssueView
import ai.hanzo.cloud.model.CloudProjectPatch
import ai.hanzo.cloud.model.CloudTrackerProject

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class TrackerApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/tracker/projects/{key}
     * DeleteProject removes one tracker project of the caller&#39;s org AND every issue filed under it, and answers 204 with no body.
     * DeleteProject removes one tracker project of the caller&#39;s org AND every issue filed under it, and answers 204 with no body. 404 when the org has no project under that key.  The cascade is the point: an issue has no meaning without the board whose key names it, so deleting the board deletes them together rather than leaving orphans addressable by an identifier that no longer resolves.
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1TrackerProjectsKey(key: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1TrackerProjectsKeyWithHttpInfo(key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/tracker/projects/{key}
     * DeleteProject removes one tracker project of the caller&#39;s org AND every issue filed under it, and answers 204 with no body.
     * DeleteProject removes one tracker project of the caller&#39;s org AND every issue filed under it, and answers 204 with no body. 404 when the org has no project under that key.  The cascade is the point: an issue has no meaning without the board whose key names it, so deleting the board deletes them together rather than leaving orphans addressable by an identifier that no longer resolves.
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1TrackerProjectsKeyWithHttpInfo(key: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1TrackerProjectsKeyRequestConfig(key = key)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1TrackerProjectsKey
     *
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return RequestConfig
     */
    fun cloudDeleteV1TrackerProjectsKeyRequestConfig(key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/tracker/projects/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/tracker/projects/{key}/issues/{num}
     * DeleteIssue removes one issue from a tracker project and answers 204 with no body.
     * DeleteIssue removes one issue from a tracker project and answers 204 with no body. 404 when the project or the issue does not exist in the caller&#39;s org.  The issue&#39;s number is NOT reused: the next issue on the board takes the next number, so a deleted identifier stays retired rather than silently pointing at different work.
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project — the digits of KEY-14. Positive; anything else is refused with 400.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1TrackerProjectsKeyIssuesNum(key: kotlin.String, num: kotlin.Int) : Unit {
        val localVarResponse = cloudDeleteV1TrackerProjectsKeyIssuesNumWithHttpInfo(key = key, num = num)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/tracker/projects/{key}/issues/{num}
     * DeleteIssue removes one issue from a tracker project and answers 204 with no body.
     * DeleteIssue removes one issue from a tracker project and answers 204 with no body. 404 when the project or the issue does not exist in the caller&#39;s org.  The issue&#39;s number is NOT reused: the next issue on the board takes the next number, so a deleted identifier stays retired rather than silently pointing at different work.
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project — the digits of KEY-14. Positive; anything else is refused with 400.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1TrackerProjectsKeyIssuesNumWithHttpInfo(key: kotlin.String, num: kotlin.Int) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1TrackerProjectsKeyIssuesNumRequestConfig(key = key, num = num)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1TrackerProjectsKeyIssuesNum
     *
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project — the digits of KEY-14. Positive; anything else is refused with 400.
     * @return RequestConfig
     */
    fun cloudDeleteV1TrackerProjectsKeyIssuesNumRequestConfig(key: kotlin.String, num: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/tracker/projects/{key}/issues/{num}".replace("{"+"key"+"}", encodeURIComponent(key.toString())).replace("{"+"num"+"}", encodeURIComponent(num.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/projects
     * ListProjects returns every tracker project in the caller&#39;s org, newest first.
     * ListProjects returns every tracker project in the caller&#39;s org, newest first.  A project is the board: it owns a KEY (the uppercase handle that prefixes every issue identifier, \&quot;ENG-14\&quot;) and the issues filed under it. The listing is org-scoped server-side — the org is the validated bearer claim, never a client-supplied header — so one org can never see another&#39;s boards.
     * @return kotlin.collections.List<CloudTrackerProject>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1TrackerProjects() : kotlin.collections.List<CloudTrackerProject> {
        val localVarResponse = cloudGetV1TrackerProjectsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CloudTrackerProject>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/projects
     * ListProjects returns every tracker project in the caller&#39;s org, newest first.
     * ListProjects returns every tracker project in the caller&#39;s org, newest first.  A project is the board: it owns a KEY (the uppercase handle that prefixes every issue identifier, \&quot;ENG-14\&quot;) and the issues filed under it. The listing is org-scoped server-side — the org is the validated bearer claim, never a client-supplied header — so one org can never see another&#39;s boards.
     * @return ApiResponse<kotlin.collections.List<CloudTrackerProject>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1TrackerProjectsWithHttpInfo() : ApiResponse<kotlin.collections.List<CloudTrackerProject>?> {
        val localVariableConfig = cloudGetV1TrackerProjectsRequestConfig()

        return request<Unit, kotlin.collections.List<CloudTrackerProject>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1TrackerProjects
     *
     * @return RequestConfig
     */
    fun cloudGetV1TrackerProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/projects/{key}
     * GetProject returns one tracker project of the caller&#39;s org by its key — its name, description and timestamps.
     * GetProject returns one tracker project of the caller&#39;s org by its key — its name, description and timestamps. 404 when the org has no project under that key.
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return CloudTrackerProject
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1TrackerProjectsKey(key: kotlin.String) : CloudTrackerProject {
        val localVarResponse = cloudGetV1TrackerProjectsKeyWithHttpInfo(key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTrackerProject
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/projects/{key}
     * GetProject returns one tracker project of the caller&#39;s org by its key — its name, description and timestamps.
     * GetProject returns one tracker project of the caller&#39;s org by its key — its name, description and timestamps. 404 when the org has no project under that key.
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return ApiResponse<CloudTrackerProject?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1TrackerProjectsKeyWithHttpInfo(key: kotlin.String) : ApiResponse<CloudTrackerProject?> {
        val localVariableConfig = cloudGetV1TrackerProjectsKeyRequestConfig(key = key)

        return request<Unit, CloudTrackerProject>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1TrackerProjectsKey
     *
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return RequestConfig
     */
    fun cloudGetV1TrackerProjectsKeyRequestConfig(key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/projects/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/projects/{key}/issues
     * ListIssues returns the issues of one tracker project, optionally filtered by status, kind, repo and source.
     * ListIssues returns the issues of one tracker project, optionally filtered by status, kind, repo and source.  This is the ONE place a surface takes its slice of the shared issue table: hanzo.team passes no filter or a status, a git repository&#39;s Issues tab passes kind&#x3D;issue&amp;repo&#x3D;&lt;r&gt; and its Pull Requests tab kind&#x3D;pr&amp;repo&#x3D;&lt;r&gt;. A filter value outside its closed set is refused with 400 rather than silently returning an empty board.
     * @param key Key is the project whose issues to list, from the path.
     * @param status Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400. (optional)
     * @param kind Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400. (optional)
     * @param repo Repo keeps only issues bound to that git repository. (optional)
     * @param source Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400. (optional)
     * @return kotlin.collections.List<CloudIssueView>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1TrackerProjectsKeyIssues(key: kotlin.String, status: kotlin.String? = null, kind: kotlin.String? = null, repo: kotlin.String? = null, source: kotlin.String? = null) : kotlin.collections.List<CloudIssueView> {
        val localVarResponse = cloudGetV1TrackerProjectsKeyIssuesWithHttpInfo(key = key, status = status, kind = kind, repo = repo, source = source)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CloudIssueView>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/projects/{key}/issues
     * ListIssues returns the issues of one tracker project, optionally filtered by status, kind, repo and source.
     * ListIssues returns the issues of one tracker project, optionally filtered by status, kind, repo and source.  This is the ONE place a surface takes its slice of the shared issue table: hanzo.team passes no filter or a status, a git repository&#39;s Issues tab passes kind&#x3D;issue&amp;repo&#x3D;&lt;r&gt; and its Pull Requests tab kind&#x3D;pr&amp;repo&#x3D;&lt;r&gt;. A filter value outside its closed set is refused with 400 rather than silently returning an empty board.
     * @param key Key is the project whose issues to list, from the path.
     * @param status Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400. (optional)
     * @param kind Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400. (optional)
     * @param repo Repo keeps only issues bound to that git repository. (optional)
     * @param source Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400. (optional)
     * @return ApiResponse<kotlin.collections.List<CloudIssueView>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1TrackerProjectsKeyIssuesWithHttpInfo(key: kotlin.String, status: kotlin.String?, kind: kotlin.String?, repo: kotlin.String?, source: kotlin.String?) : ApiResponse<kotlin.collections.List<CloudIssueView>?> {
        val localVariableConfig = cloudGetV1TrackerProjectsKeyIssuesRequestConfig(key = key, status = status, kind = kind, repo = repo, source = source)

        return request<Unit, kotlin.collections.List<CloudIssueView>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1TrackerProjectsKeyIssues
     *
     * @param key Key is the project whose issues to list, from the path.
     * @param status Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400. (optional)
     * @param kind Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400. (optional)
     * @param repo Repo keeps only issues bound to that git repository. (optional)
     * @param source Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1TrackerProjectsKeyIssuesRequestConfig(key: kotlin.String, status: kotlin.String?, kind: kotlin.String?, repo: kotlin.String?, source: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (kind != null) {
                    put("kind", listOf(kind.toString()))
                }
                if (repo != null) {
                    put("repo", listOf(repo.toString()))
                }
                if (source != null) {
                    put("source", listOf(source.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/projects/{key}/issues".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/projects/{key}/issues/{num}
     * GetIssue returns one issue of one tracker project by its per-project number — title, description, status, priority, assignee, labels, kind, source and its git bindings.
     * GetIssue returns one issue of one tracker project by its per-project number — title, description, status, priority, assignee, labels, kind, source and its git bindings. 404 when the project or the issue does not exist in the caller&#39;s org.
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project — the digits of KEY-14. Positive; anything else is refused with 400.
     * @return CloudIssueView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1TrackerProjectsKeyIssuesNum(key: kotlin.String, num: kotlin.Int) : CloudIssueView {
        val localVarResponse = cloudGetV1TrackerProjectsKeyIssuesNumWithHttpInfo(key = key, num = num)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudIssueView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/projects/{key}/issues/{num}
     * GetIssue returns one issue of one tracker project by its per-project number — title, description, status, priority, assignee, labels, kind, source and its git bindings.
     * GetIssue returns one issue of one tracker project by its per-project number — title, description, status, priority, assignee, labels, kind, source and its git bindings. 404 when the project or the issue does not exist in the caller&#39;s org.
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project — the digits of KEY-14. Positive; anything else is refused with 400.
     * @return ApiResponse<CloudIssueView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1TrackerProjectsKeyIssuesNumWithHttpInfo(key: kotlin.String, num: kotlin.Int) : ApiResponse<CloudIssueView?> {
        val localVariableConfig = cloudGetV1TrackerProjectsKeyIssuesNumRequestConfig(key = key, num = num)

        return request<Unit, CloudIssueView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1TrackerProjectsKeyIssuesNum
     *
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project — the digits of KEY-14. Positive; anything else is refused with 400.
     * @return RequestConfig
     */
    fun cloudGetV1TrackerProjectsKeyIssuesNumRequestConfig(key: kotlin.String, num: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/projects/{key}/issues/{num}".replace("{"+"key"+"}", encodeURIComponent(key.toString())).replace("{"+"num"+"}", encodeURIComponent(num.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/tracker/projects/{key}
     * UpdateProject renames a tracker project or rewrites its description, and returns the updated project.
     * UpdateProject renames a tracker project or rewrites its description, and returns the updated project. Both fields are optional: one the caller omits keeps its stored value.  The project KEY is never editable — it prefixes every issue identifier already filed under the board, so changing it would rewrite the human handle of every issue in it.
     * @param key Key is the project to update, from the path.
     * @param cloudProjectPatch 
     * @return CloudTrackerProject
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPatchV1TrackerProjectsKey(key: kotlin.String, cloudProjectPatch: CloudProjectPatch) : CloudTrackerProject {
        val localVarResponse = cloudPatchV1TrackerProjectsKeyWithHttpInfo(key = key, cloudProjectPatch = cloudProjectPatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudTrackerProject
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/tracker/projects/{key}
     * UpdateProject renames a tracker project or rewrites its description, and returns the updated project.
     * UpdateProject renames a tracker project or rewrites its description, and returns the updated project. Both fields are optional: one the caller omits keeps its stored value.  The project KEY is never editable — it prefixes every issue identifier already filed under the board, so changing it would rewrite the human handle of every issue in it.
     * @param key Key is the project to update, from the path.
     * @param cloudProjectPatch 
     * @return ApiResponse<CloudTrackerProject?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPatchV1TrackerProjectsKeyWithHttpInfo(key: kotlin.String, cloudProjectPatch: CloudProjectPatch) : ApiResponse<CloudTrackerProject?> {
        val localVariableConfig = cloudPatchV1TrackerProjectsKeyRequestConfig(key = key, cloudProjectPatch = cloudProjectPatch)

        return request<CloudProjectPatch, CloudTrackerProject>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPatchV1TrackerProjectsKey
     *
     * @param key Key is the project to update, from the path.
     * @param cloudProjectPatch 
     * @return RequestConfig
     */
    fun cloudPatchV1TrackerProjectsKeyRequestConfig(key: kotlin.String, cloudProjectPatch: CloudProjectPatch) : RequestConfig<CloudProjectPatch> {
        val localVariableBody = cloudProjectPatch
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/tracker/projects/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/tracker/projects/{key}/issues/{num}
     * UpdateIssue edits one issue in place and returns it — retitle it, rewrite its body, move it between board columns, reprioritize, reassign, or replace its labels.
     * UpdateIssue edits one issue in place and returns it — retitle it, rewrite its body, move it between board columns, reprioritize, reassign, or replace its labels. Every field is optional: one the caller omits keeps its stored value, and &#x60;labels&#x60; REPLACES the set rather than adding to it.  The issue&#39;s kind, source and git bindings are not editable here: they record where the work item came FROM, which is a fact about its origin rather than its current state.
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project, from the path.
     * @param cloudIssuePatch 
     * @return CloudIssueView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPatchV1TrackerProjectsKeyIssuesNum(key: kotlin.String, num: kotlin.Int, cloudIssuePatch: CloudIssuePatch) : CloudIssueView {
        val localVarResponse = cloudPatchV1TrackerProjectsKeyIssuesNumWithHttpInfo(key = key, num = num, cloudIssuePatch = cloudIssuePatch)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudIssueView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/tracker/projects/{key}/issues/{num}
     * UpdateIssue edits one issue in place and returns it — retitle it, rewrite its body, move it between board columns, reprioritize, reassign, or replace its labels.
     * UpdateIssue edits one issue in place and returns it — retitle it, rewrite its body, move it between board columns, reprioritize, reassign, or replace its labels. Every field is optional: one the caller omits keeps its stored value, and &#x60;labels&#x60; REPLACES the set rather than adding to it.  The issue&#39;s kind, source and git bindings are not editable here: they record where the work item came FROM, which is a fact about its origin rather than its current state.
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project, from the path.
     * @param cloudIssuePatch 
     * @return ApiResponse<CloudIssueView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPatchV1TrackerProjectsKeyIssuesNumWithHttpInfo(key: kotlin.String, num: kotlin.Int, cloudIssuePatch: CloudIssuePatch) : ApiResponse<CloudIssueView?> {
        val localVariableConfig = cloudPatchV1TrackerProjectsKeyIssuesNumRequestConfig(key = key, num = num, cloudIssuePatch = cloudIssuePatch)

        return request<CloudIssuePatch, CloudIssueView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPatchV1TrackerProjectsKeyIssuesNum
     *
     * @param key Key is the issue&#39;s project, from the path.
     * @param num Num is the issue&#39;s number within that project, from the path.
     * @param cloudIssuePatch 
     * @return RequestConfig
     */
    fun cloudPatchV1TrackerProjectsKeyIssuesNumRequestConfig(key: kotlin.String, num: kotlin.Int, cloudIssuePatch: CloudIssuePatch) : RequestConfig<CloudIssuePatch> {
        val localVariableBody = cloudIssuePatch
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/tracker/projects/{key}/issues/{num}".replace("{"+"key"+"}", encodeURIComponent(key.toString())).replace("{"+"num"+"}", encodeURIComponent(num.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/tracker/projects
     * 
     * 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1TrackerProjects() : Unit {
        val localVarResponse = cloudPostV1TrackerProjectsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/tracker/projects
     * 
     * 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1TrackerProjectsWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = cloudPostV1TrackerProjectsRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1TrackerProjects
     *
     * @return RequestConfig
     */
    fun cloudPostV1TrackerProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/tracker/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/tracker/projects/{key}/issues
     * 
     * 
     * @param key 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1TrackerProjectsByKeyIssues(key: kotlin.String) : Unit {
        val localVarResponse = cloudPostV1TrackerProjectsByKeyIssuesWithHttpInfo(key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/tracker/projects/{key}/issues
     * 
     * 
     * @param key 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1TrackerProjectsByKeyIssuesWithHttpInfo(key: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudPostV1TrackerProjectsByKeyIssuesRequestConfig(key = key)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1TrackerProjectsByKeyIssues
     *
     * @param key 
     * @return RequestConfig
     */
    fun cloudPostV1TrackerProjectsByKeyIssuesRequestConfig(key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/tracker/projects/{key}/issues".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
