/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.IssueEdit
import ai.hanzo.cloud.model.IssueHit
import ai.hanzo.cloud.model.IssueHits
import ai.hanzo.cloud.model.IssueView
import ai.hanzo.cloud.model.MilestoneView
import ai.hanzo.cloud.model.NewIssue
import ai.hanzo.cloud.model.TrackerProject

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class TrackerApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/tracker/projects/{key}
     * Refused — a board is a repository on the forge
     * Answers 405. A tracker board IS a repository on this deployment&#39;s forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.  Offering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \&quot;not this service&#39;s job\&quot; and \&quot;no such thing\&quot; are different facts, and the body names the forge so a caller knows where the job IS done.  What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.
     * @param key 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteV1TrackerProjectsByKey(key: kotlin.String) : Unit {
        val localVarResponse = deleteV1TrackerProjectsByKeyWithHttpInfo(key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/tracker/projects/{key}
     * Refused — a board is a repository on the forge
     * Answers 405. A tracker board IS a repository on this deployment&#39;s forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.  Offering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \&quot;not this service&#39;s job\&quot; and \&quot;no such thing\&quot; are different facts, and the body names the forge so a caller knows where the job IS done.  What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.
     * @param key 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteV1TrackerProjectsByKeyWithHttpInfo(key: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = deleteV1TrackerProjectsByKeyRequestConfig(key = key)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteV1TrackerProjectsByKey
     *
     * @param key 
     * @return RequestConfig
     */
    fun deleteV1TrackerProjectsByKeyRequestConfig(key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/tracker/projects/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/issues
     * Answers across every project in the org.
     * Answers across every project in the org.  The org comes from the validated principal and never from the request: a caller able to name the org could read another tenant&#39;s backlog, and a search is exactly the shape that would quietly return it.
     * @param q Q matches an issue&#39;s title or description. A word from the issue, which is what someone remembers — not its number, which is what they are looking up. (optional)
     * @param project Project narrows to one team key; \&quot;\&quot; searches every project in the org, which is the point of this op. (optional)
     * @param status Status keeps one board column: backlog, todo, in_progress, done, canceled. (optional)
     * @param kind Kind keeps one shape: issue, pr, epic. (optional)
     * @param repo Repo keeps issues bound to one git repository. (optional)
     * @param source Source keeps one origin: team, git, crm, helpdesk, cms, agent. \&quot;git\&quot; is how you ask for the mirrored GitHub issues specifically. (optional)
     * @param assignee Assignee keeps issues held by one person. Pass \&quot;me\&quot; for yourself. (optional)
     * @param limit Limit caps the answer; 0 means the default, and anything above the ceiling is clamped rather than refused — a search that errors on being too broad teaches people to guess. (optional)
     * @return IssueHits
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1TrackerIssues(q: kotlin.String? = null, project: kotlin.String? = null, status: kotlin.String? = null, kind: kotlin.String? = null, repo: kotlin.String? = null, source: kotlin.String? = null, assignee: kotlin.String? = null, limit: kotlin.Int? = null) : IssueHits {
        val localVarResponse = getV1TrackerIssuesWithHttpInfo(q = q, project = project, status = status, kind = kind, repo = repo, source = source, assignee = assignee, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IssueHits
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/issues
     * Answers across every project in the org.
     * Answers across every project in the org.  The org comes from the validated principal and never from the request: a caller able to name the org could read another tenant&#39;s backlog, and a search is exactly the shape that would quietly return it.
     * @param q Q matches an issue&#39;s title or description. A word from the issue, which is what someone remembers — not its number, which is what they are looking up. (optional)
     * @param project Project narrows to one team key; \&quot;\&quot; searches every project in the org, which is the point of this op. (optional)
     * @param status Status keeps one board column: backlog, todo, in_progress, done, canceled. (optional)
     * @param kind Kind keeps one shape: issue, pr, epic. (optional)
     * @param repo Repo keeps issues bound to one git repository. (optional)
     * @param source Source keeps one origin: team, git, crm, helpdesk, cms, agent. \&quot;git\&quot; is how you ask for the mirrored GitHub issues specifically. (optional)
     * @param assignee Assignee keeps issues held by one person. Pass \&quot;me\&quot; for yourself. (optional)
     * @param limit Limit caps the answer; 0 means the default, and anything above the ceiling is clamped rather than refused — a search that errors on being too broad teaches people to guess. (optional)
     * @return ApiResponse<IssueHits?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1TrackerIssuesWithHttpInfo(q: kotlin.String?, project: kotlin.String?, status: kotlin.String?, kind: kotlin.String?, repo: kotlin.String?, source: kotlin.String?, assignee: kotlin.String?, limit: kotlin.Int?) : ApiResponse<IssueHits?> {
        val localVariableConfig = getV1TrackerIssuesRequestConfig(q = q, project = project, status = status, kind = kind, repo = repo, source = source, assignee = assignee, limit = limit)

        return request<Unit, IssueHits>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1TrackerIssues
     *
     * @param q Q matches an issue&#39;s title or description. A word from the issue, which is what someone remembers — not its number, which is what they are looking up. (optional)
     * @param project Project narrows to one team key; \&quot;\&quot; searches every project in the org, which is the point of this op. (optional)
     * @param status Status keeps one board column: backlog, todo, in_progress, done, canceled. (optional)
     * @param kind Kind keeps one shape: issue, pr, epic. (optional)
     * @param repo Repo keeps issues bound to one git repository. (optional)
     * @param source Source keeps one origin: team, git, crm, helpdesk, cms, agent. \&quot;git\&quot; is how you ask for the mirrored GitHub issues specifically. (optional)
     * @param assignee Assignee keeps issues held by one person. Pass \&quot;me\&quot; for yourself. (optional)
     * @param limit Limit caps the answer; 0 means the default, and anything above the ceiling is clamped rather than refused — a search that errors on being too broad teaches people to guess. (optional)
     * @return RequestConfig
     */
    fun getV1TrackerIssuesRequestConfig(q: kotlin.String?, project: kotlin.String?, status: kotlin.String?, kind: kotlin.String?, repo: kotlin.String?, source: kotlin.String?, assignee: kotlin.String?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (kind != null) {
                    put("kind", listOf(kind.toString()))
                }
                if (repo != null) {
                    put("repo", listOf(repo.toString()))
                }
                if (source != null) {
                    put("source", listOf(source.toString()))
                }
                if (assignee != null) {
                    put("assignee", listOf(assignee.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/issues",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/milestones
     * Returns every milestone across your org&#39;s repositories, each stamped with the repository it belongs to.
     * Returns every milestone across your org&#39;s repositories, each stamped with the repository it belongs to.  The forge scopes milestones to a repository and publishes no org-level list, so this is a server-side fan-out over the repositories you can see. It runs here rather than in the browser because a client-side fan-out would need the forge reachable from the page and a credential held there.
     * @return kotlin.collections.List<MilestoneView>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1TrackerMilestones() : kotlin.collections.List<MilestoneView> {
        val localVarResponse = getV1TrackerMilestonesWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<MilestoneView>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/milestones
     * Returns every milestone across your org&#39;s repositories, each stamped with the repository it belongs to.
     * Returns every milestone across your org&#39;s repositories, each stamped with the repository it belongs to.  The forge scopes milestones to a repository and publishes no org-level list, so this is a server-side fan-out over the repositories you can see. It runs here rather than in the browser because a client-side fan-out would need the forge reachable from the page and a credential held there.
     * @return ApiResponse<kotlin.collections.List<MilestoneView>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1TrackerMilestonesWithHttpInfo() : ApiResponse<kotlin.collections.List<MilestoneView>?> {
        val localVariableConfig = getV1TrackerMilestonesRequestConfig()

        return request<Unit, kotlin.collections.List<MilestoneView>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1TrackerMilestones
     *
     * @return RequestConfig
     */
    fun getV1TrackerMilestonesRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/milestones",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/projects
     * Returns the boards of your org — one per repository on the deployment&#39;s forge that you can see.
     * Returns the boards of your org — one per repository on the deployment&#39;s forge that you can see. The key is the repository name, and it is what addresses the board&#39;s issues.  Archived repositories are omitted: they are not live work. The set is the FORGE&#39;s answer for your own account, so two people in one org can legitimately see different boards.
     * @return kotlin.collections.List<TrackerProject>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1TrackerProjects() : kotlin.collections.List<TrackerProject> {
        val localVarResponse = getV1TrackerProjectsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<TrackerProject>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/projects
     * Returns the boards of your org — one per repository on the deployment&#39;s forge that you can see.
     * Returns the boards of your org — one per repository on the deployment&#39;s forge that you can see. The key is the repository name, and it is what addresses the board&#39;s issues.  Archived repositories are omitted: they are not live work. The set is the FORGE&#39;s answer for your own account, so two people in one org can legitimately see different boards.
     * @return ApiResponse<kotlin.collections.List<TrackerProject>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1TrackerProjectsWithHttpInfo() : ApiResponse<kotlin.collections.List<TrackerProject>?> {
        val localVariableConfig = getV1TrackerProjectsRequestConfig()

        return request<Unit, kotlin.collections.List<TrackerProject>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1TrackerProjects
     *
     * @return RequestConfig
     */
    fun getV1TrackerProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/projects/{key}
     * Returns one board of your org by its key — the repository name.
     * Returns one board of your org by its key — the repository name. 404 when your org has no repository under that key, or when your own forge account cannot see it.
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return TrackerProject
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1TrackerProjectsByKey(key: kotlin.String) : TrackerProject {
        val localVarResponse = getV1TrackerProjectsByKeyWithHttpInfo(key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TrackerProject
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/projects/{key}
     * Returns one board of your org by its key — the repository name.
     * Returns one board of your org by its key — the repository name. 404 when your org has no repository under that key, or when your own forge account cannot see it.
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return ApiResponse<TrackerProject?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1TrackerProjectsByKeyWithHttpInfo(key: kotlin.String) : ApiResponse<TrackerProject?> {
        val localVariableConfig = getV1TrackerProjectsByKeyRequestConfig(key = key)

        return request<Unit, TrackerProject>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1TrackerProjectsByKey
     *
     * @param key Key is the project&#39;s org-unique handle: 2-8 uppercase alphanumerics starting with a letter (\&quot;ENG\&quot;, \&quot;OPS2\&quot;). Matched case-insensitively.
     * @return RequestConfig
     */
    fun getV1TrackerProjectsByKeyRequestConfig(key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/projects/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/tracker/projects/{key}/issues
     * Returns one board&#39;s issues — the work items of that repository on the forge, with their column, priority, assignee and labels.
     * Returns one board&#39;s issues — the work items of that repository on the forge, with their column, priority, assignee and labels.  The column is a LABEL on the forge, so the board and the forge web UI are the same object seen twice: relabelling in either moves the card in both. A closed issue reads as done whatever its labels say.
     * @param key Key is the project whose issues to list, from the path.
     * @param status Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400. (optional)
     * @param kind Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400. (optional)
     * @param repo Repo keeps only issues bound to that git repository. (optional)
     * @param source Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400. (optional)
     * @param scheduled Scheduled keeps only issues that carry a date — a start, a due date or both. This is the timeline&#39;s slice of the board: pass scheduled&#x3D;true to get exactly the rows a gantt has somewhere to draw, instead of fetching every issue and discarding the undated ones client-side. (optional)
     * @return kotlin.collections.List<IssueView>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getV1TrackerProjectsByKeyIssues(key: kotlin.String, status: kotlin.String? = null, kind: kotlin.String? = null, repo: kotlin.String? = null, source: kotlin.String? = null, scheduled: kotlin.Boolean? = null) : kotlin.collections.List<IssueView> {
        val localVarResponse = getV1TrackerProjectsByKeyIssuesWithHttpInfo(key = key, status = status, kind = kind, repo = repo, source = source, scheduled = scheduled)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<IssueView>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/tracker/projects/{key}/issues
     * Returns one board&#39;s issues — the work items of that repository on the forge, with their column, priority, assignee and labels.
     * Returns one board&#39;s issues — the work items of that repository on the forge, with their column, priority, assignee and labels.  The column is a LABEL on the forge, so the board and the forge web UI are the same object seen twice: relabelling in either moves the card in both. A closed issue reads as done whatever its labels say.
     * @param key Key is the project whose issues to list, from the path.
     * @param status Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400. (optional)
     * @param kind Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400. (optional)
     * @param repo Repo keeps only issues bound to that git repository. (optional)
     * @param source Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400. (optional)
     * @param scheduled Scheduled keeps only issues that carry a date — a start, a due date or both. This is the timeline&#39;s slice of the board: pass scheduled&#x3D;true to get exactly the rows a gantt has somewhere to draw, instead of fetching every issue and discarding the undated ones client-side. (optional)
     * @return ApiResponse<kotlin.collections.List<IssueView>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getV1TrackerProjectsByKeyIssuesWithHttpInfo(key: kotlin.String, status: kotlin.String?, kind: kotlin.String?, repo: kotlin.String?, source: kotlin.String?, scheduled: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<IssueView>?> {
        val localVariableConfig = getV1TrackerProjectsByKeyIssuesRequestConfig(key = key, status = status, kind = kind, repo = repo, source = source, scheduled = scheduled)

        return request<Unit, kotlin.collections.List<IssueView>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getV1TrackerProjectsByKeyIssues
     *
     * @param key Key is the project whose issues to list, from the path.
     * @param status Status keeps only issues in that board column: backlog, todo, in_progress, done or canceled. An unknown value is refused with 400. (optional)
     * @param kind Kind keeps only work items of that shape: issue, pr or epic. An unknown value is refused with 400. (optional)
     * @param repo Repo keeps only issues bound to that git repository. (optional)
     * @param source Source keeps only issues opened from that surface: team, git, crm, helpdesk, cms or agent. An unknown value is refused with 400. (optional)
     * @param scheduled Scheduled keeps only issues that carry a date — a start, a due date or both. This is the timeline&#39;s slice of the board: pass scheduled&#x3D;true to get exactly the rows a gantt has somewhere to draw, instead of fetching every issue and discarding the undated ones client-side. (optional)
     * @return RequestConfig
     */
    fun getV1TrackerProjectsByKeyIssuesRequestConfig(key: kotlin.String, status: kotlin.String?, kind: kotlin.String?, repo: kotlin.String?, source: kotlin.String?, scheduled: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (kind != null) {
                    put("kind", listOf(kind.toString()))
                }
                if (repo != null) {
                    put("repo", listOf(repo.toString()))
                }
                if (source != null) {
                    put("source", listOf(source.toString()))
                }
                if (scheduled != null) {
                    put("scheduled", listOf(scheduled.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/tracker/projects/{key}/issues".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/tracker/projects/{key}
     * Refused — a board is a repository on the forge
     * Answers 405. A tracker board IS a repository on this deployment&#39;s forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.  Offering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \&quot;not this service&#39;s job\&quot; and \&quot;no such thing\&quot; are different facts, and the body names the forge so a caller knows where the job IS done.  What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.
     * @param key 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun patchV1TrackerProjectsByKey(key: kotlin.String) : Unit {
        val localVarResponse = patchV1TrackerProjectsByKeyWithHttpInfo(key = key)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/tracker/projects/{key}
     * Refused — a board is a repository on the forge
     * Answers 405. A tracker board IS a repository on this deployment&#39;s forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.  Offering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \&quot;not this service&#39;s job\&quot; and \&quot;no such thing\&quot; are different facts, and the body names the forge so a caller knows where the job IS done.  What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.
     * @param key 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun patchV1TrackerProjectsByKeyWithHttpInfo(key: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = patchV1TrackerProjectsByKeyRequestConfig(key = key)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation patchV1TrackerProjectsByKey
     *
     * @param key 
     * @return RequestConfig
     */
    fun patchV1TrackerProjectsByKeyRequestConfig(key: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/tracker/projects/{key}".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PATCH /v1/tracker/projects/{key}/issues/{num}
     * Edits a work item — rename it, rewrite it, move it to another column, or re-prioritise it.
     * Edits a work item — rename it, rewrite it, move it to another column, or re-prioritise it. Absent fields are left alone.  MOVING A CARD IS A RELABEL. The column lives in the forge&#39;s label set, so the move replaces that set rather than writing a status column here that a forge-side change could contradict. Moving to &#x60;done&#x60; also CLOSES the issue on the forge, because a done card and an open issue are a contradiction.
     * @param key Key is the board — the repository name, from the path.
     * @param num Num is the issue number on that repository, from the path.
     * @param issueEdit 
     * @return IssueView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun patchV1TrackerProjectsByKeyIssuesByNum(key: kotlin.String, num: kotlin.Int, issueEdit: IssueEdit) : IssueView {
        val localVarResponse = patchV1TrackerProjectsByKeyIssuesByNumWithHttpInfo(key = key, num = num, issueEdit = issueEdit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IssueView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /v1/tracker/projects/{key}/issues/{num}
     * Edits a work item — rename it, rewrite it, move it to another column, or re-prioritise it.
     * Edits a work item — rename it, rewrite it, move it to another column, or re-prioritise it. Absent fields are left alone.  MOVING A CARD IS A RELABEL. The column lives in the forge&#39;s label set, so the move replaces that set rather than writing a status column here that a forge-side change could contradict. Moving to &#x60;done&#x60; also CLOSES the issue on the forge, because a done card and an open issue are a contradiction.
     * @param key Key is the board — the repository name, from the path.
     * @param num Num is the issue number on that repository, from the path.
     * @param issueEdit 
     * @return ApiResponse<IssueView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun patchV1TrackerProjectsByKeyIssuesByNumWithHttpInfo(key: kotlin.String, num: kotlin.Int, issueEdit: IssueEdit) : ApiResponse<IssueView?> {
        val localVariableConfig = patchV1TrackerProjectsByKeyIssuesByNumRequestConfig(key = key, num = num, issueEdit = issueEdit)

        return request<IssueEdit, IssueView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation patchV1TrackerProjectsByKeyIssuesByNum
     *
     * @param key Key is the board — the repository name, from the path.
     * @param num Num is the issue number on that repository, from the path.
     * @param issueEdit 
     * @return RequestConfig
     */
    fun patchV1TrackerProjectsByKeyIssuesByNumRequestConfig(key: kotlin.String, num: kotlin.Int, issueEdit: IssueEdit) : RequestConfig<IssueEdit> {
        val localVariableBody = issueEdit
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/v1/tracker/projects/{key}/issues/{num}".replace("{"+"key"+"}", encodeURIComponent(key.toString())).replace("{"+"num"+"}", encodeURIComponent(num.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/tracker/projects
     * Refused — a board is a repository on the forge
     * Answers 405. A tracker board IS a repository on this deployment&#39;s forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.  Offering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \&quot;not this service&#39;s job\&quot; and \&quot;no such thing\&quot; are different facts, and the body names the forge so a caller knows where the job IS done.  What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1TrackerProjects() : Unit {
        val localVarResponse = postV1TrackerProjectsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/tracker/projects
     * Refused — a board is a repository on the forge
     * Answers 405. A tracker board IS a repository on this deployment&#39;s forge, so creating, renaming and deleting one is a FORGE operation carried out with FORGE permissions.  Offering it here would put a second door on the same object, guarded by this surface instead of by the forge — a weaker guard on the same thing. So the route exists and refuses, rather than 404ing: \&quot;not this service&#39;s job\&quot; and \&quot;no such thing\&quot; are different facts, and the body names the forge so a caller knows where the job IS done.  What this surface DOES own is the work on a board: list the boards you can see, read and file their issues, move a card between columns, and roll milestones up across the org. Those are the routes beside this one.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1TrackerProjectsWithHttpInfo() : ApiResponse<Unit?> {
        val localVariableConfig = postV1TrackerProjectsRequestConfig()

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1TrackerProjects
     *
     * @return RequestConfig
     */
    fun postV1TrackerProjectsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/tracker/projects",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/tracker/projects/{key}/issues
     * Opens a work item on the board — an issue on that repository on the deployment&#39;s forge, filed as YOU.
     * Opens a work item on the board — an issue on that repository on the deployment&#39;s forge, filed as YOU.  The column and priority are written as LABELS, which is what makes the card and the forge issue the same object: someone relabelling in the forge web UI has moved your card.
     * @param key Key is the board — the repository name, from the path.
     * @param newIssue 
     * @return IssueView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1TrackerProjectsByKeyIssues(key: kotlin.String, newIssue: NewIssue) : IssueView {
        val localVarResponse = postV1TrackerProjectsByKeyIssuesWithHttpInfo(key = key, newIssue = newIssue)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IssueView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/tracker/projects/{key}/issues
     * Opens a work item on the board — an issue on that repository on the deployment&#39;s forge, filed as YOU.
     * Opens a work item on the board — an issue on that repository on the deployment&#39;s forge, filed as YOU.  The column and priority are written as LABELS, which is what makes the card and the forge issue the same object: someone relabelling in the forge web UI has moved your card.
     * @param key Key is the board — the repository name, from the path.
     * @param newIssue 
     * @return ApiResponse<IssueView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1TrackerProjectsByKeyIssuesWithHttpInfo(key: kotlin.String, newIssue: NewIssue) : ApiResponse<IssueView?> {
        val localVariableConfig = postV1TrackerProjectsByKeyIssuesRequestConfig(key = key, newIssue = newIssue)

        return request<NewIssue, IssueView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1TrackerProjectsByKeyIssues
     *
     * @param key Key is the board — the repository name, from the path.
     * @param newIssue 
     * @return RequestConfig
     */
    fun postV1TrackerProjectsByKeyIssuesRequestConfig(key: kotlin.String, newIssue: NewIssue) : RequestConfig<NewIssue> {
        val localVariableBody = newIssue
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/tracker/projects/{key}/issues".replace("{"+"key"+"}", encodeURIComponent(key.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/tracker/projects/{key}/issues/{num}/claim
     * Takes an issue: it becomes yours and it moves to in_progress.
     * Takes an issue: it becomes yours and it moves to in_progress.  The holder is the CALLER, never an argument. \&quot;Assign this to someone else\&quot; is a different act with different authority, and it already exists as a PATCH; conflating them would let anyone hand work to anyone by naming them.  Claiming something already held by someone else is refused rather than silently taken — two agents on one issue is the failure this prevents, and a claim that quietly wins a race is worse than one that says no.
     * @param key 
     * @param num 
     * @return IssueHit
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postV1TrackerProjectsByKeyIssuesByNumClaim(key: kotlin.String, num: kotlin.Int) : IssueHit {
        val localVarResponse = postV1TrackerProjectsByKeyIssuesByNumClaimWithHttpInfo(key = key, num = num)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as IssueHit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/tracker/projects/{key}/issues/{num}/claim
     * Takes an issue: it becomes yours and it moves to in_progress.
     * Takes an issue: it becomes yours and it moves to in_progress.  The holder is the CALLER, never an argument. \&quot;Assign this to someone else\&quot; is a different act with different authority, and it already exists as a PATCH; conflating them would let anyone hand work to anyone by naming them.  Claiming something already held by someone else is refused rather than silently taken — two agents on one issue is the failure this prevents, and a claim that quietly wins a race is worse than one that says no.
     * @param key 
     * @param num 
     * @return ApiResponse<IssueHit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postV1TrackerProjectsByKeyIssuesByNumClaimWithHttpInfo(key: kotlin.String, num: kotlin.Int) : ApiResponse<IssueHit?> {
        val localVariableConfig = postV1TrackerProjectsByKeyIssuesByNumClaimRequestConfig(key = key, num = num)

        return request<Unit, IssueHit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postV1TrackerProjectsByKeyIssuesByNumClaim
     *
     * @param key 
     * @param num 
     * @return RequestConfig
     */
    fun postV1TrackerProjectsByKeyIssuesByNumClaimRequestConfig(key: kotlin.String, num: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/tracker/projects/{key}/issues/{num}/claim".replace("{"+"key"+"}", encodeURIComponent(key.toString())).replace("{"+"num"+"}", encodeURIComponent(num.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
