/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudCreateVPCReq
import ai.hanzo.cloud.model.CloudVpcList
import ai.hanzo.cloud.model.CloudVpcView

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class VpcsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * DELETE /v1/vpcs/{id}
     * DeleteVpc removes one of the caller org&#39;s VPCs and answers 204.
     * DeleteVpc removes one of the caller org&#39;s VPCs and answers 204. Ownership is confirmed by re-fetching the resource and checking its physical name carries the caller&#39;s org prefix BEFORE anything is deleted, so a cross-tenant id is a 404 rather than a delete of another org&#39;s VPC.
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudDeleteV1VpcsId(id: kotlin.String) : Unit {
        val localVarResponse = cloudDeleteV1VpcsIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/vpcs/{id}
     * DeleteVpc removes one of the caller org&#39;s VPCs and answers 204.
     * DeleteVpc removes one of the caller org&#39;s VPCs and answers 204. Ownership is confirmed by re-fetching the resource and checking its physical name carries the caller&#39;s org prefix BEFORE anything is deleted, so a cross-tenant id is a 404 rather than a delete of another org&#39;s VPC.
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudDeleteV1VpcsIdWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = cloudDeleteV1VpcsIdRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudDeleteV1VpcsId
     *
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return RequestConfig
     */
    fun cloudDeleteV1VpcsIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/vpcs/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/vpcs
     * ListVpcs returns every VPC the caller&#39;s org owns, under the friendly names the org created them with.
     * ListVpcs returns every VPC the caller&#39;s org owns, under the friendly names the org created them with. DigitalOcean is one account for the whole deployment, so the account-wide inventory is filtered to the caller&#39;s own \&quot;o\&quot;&lt;orgHash&gt;- name prefix and the prefix is stripped — another org&#39;s VPC is not merely hidden, it is never in the answer.
     * @return CloudVpcList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1Vpcs() : CloudVpcList {
        val localVarResponse = cloudGetV1VpcsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudVpcList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/vpcs
     * ListVpcs returns every VPC the caller&#39;s org owns, under the friendly names the org created them with.
     * ListVpcs returns every VPC the caller&#39;s org owns, under the friendly names the org created them with. DigitalOcean is one account for the whole deployment, so the account-wide inventory is filtered to the caller&#39;s own \&quot;o\&quot;&lt;orgHash&gt;- name prefix and the prefix is stripped — another org&#39;s VPC is not merely hidden, it is never in the answer.
     * @return ApiResponse<CloudVpcList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1VpcsWithHttpInfo() : ApiResponse<CloudVpcList?> {
        val localVariableConfig = cloudGetV1VpcsRequestConfig()

        return request<Unit, CloudVpcList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1Vpcs
     *
     * @return RequestConfig
     */
    fun cloudGetV1VpcsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vpcs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/vpcs/{id}
     * GetVpc returns one of the caller org&#39;s VPCs by id.
     * GetVpc returns one of the caller org&#39;s VPCs by id. A VPC that exists but sits in another org&#39;s namespace is reported 404, never 403 — the answer must not tell one tenant that another tenant&#39;s resource exists.
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return CloudVpcView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1VpcsId(id: kotlin.String) : CloudVpcView {
        val localVarResponse = cloudGetV1VpcsIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudVpcView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/vpcs/{id}
     * GetVpc returns one of the caller org&#39;s VPCs by id.
     * GetVpc returns one of the caller org&#39;s VPCs by id. A VPC that exists but sits in another org&#39;s namespace is reported 404, never 403 — the answer must not tell one tenant that another tenant&#39;s resource exists.
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return ApiResponse<CloudVpcView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1VpcsIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudVpcView?> {
        val localVariableConfig = cloudGetV1VpcsIdRequestConfig(id = id)

        return request<Unit, CloudVpcView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1VpcsId
     *
     * @param id ID is the DigitalOcean resource id (a UUID), from the path.
     * @return RequestConfig
     */
    fun cloudGetV1VpcsIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/vpcs/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/vpcs
     * CreateVpc creates a VPC in the caller&#39;s org namespace and answers 201 with it.
     * CreateVpc creates a VPC in the caller&#39;s org namespace and answers 201 with it. The physical DigitalOcean name is derived server-side from the validated org, so a tenant can only ever create inside its own namespace; a name that already exists there is a 409.
     * @param cloudCreateVPCReq 
     * @return CloudVpcView
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1Vpcs(cloudCreateVPCReq: CloudCreateVPCReq) : CloudVpcView {
        val localVarResponse = cloudPostV1VpcsWithHttpInfo(cloudCreateVPCReq = cloudCreateVPCReq)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudVpcView
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/vpcs
     * CreateVpc creates a VPC in the caller&#39;s org namespace and answers 201 with it.
     * CreateVpc creates a VPC in the caller&#39;s org namespace and answers 201 with it. The physical DigitalOcean name is derived server-side from the validated org, so a tenant can only ever create inside its own namespace; a name that already exists there is a 409.
     * @param cloudCreateVPCReq 
     * @return ApiResponse<CloudVpcView?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1VpcsWithHttpInfo(cloudCreateVPCReq: CloudCreateVPCReq) : ApiResponse<CloudVpcView?> {
        val localVariableConfig = cloudPostV1VpcsRequestConfig(cloudCreateVPCReq = cloudCreateVPCReq)

        return request<CloudCreateVPCReq, CloudVpcView>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1Vpcs
     *
     * @param cloudCreateVPCReq 
     * @return RequestConfig
     */
    fun cloudPostV1VpcsRequestConfig(cloudCreateVPCReq: CloudCreateVPCReq) : RequestConfig<CloudCreateVPCReq> {
        val localVariableBody = cloudCreateVPCReq
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/vpcs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
