/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.CloudAccountList
import ai.hanzo.cloud.model.CloudCreateAccountIn
import ai.hanzo.cloud.model.CloudCreateWalletIn
import ai.hanzo.cloud.model.CloudSafeProposal
import ai.hanzo.cloud.model.CloudSafeTxIn
import ai.hanzo.cloud.model.CloudSignIn
import ai.hanzo.cloud.model.CloudSignature
import ai.hanzo.cloud.model.CloudWallet
import ai.hanzo.cloud.model.CloudWalletAccount
import ai.hanzo.cloud.model.CloudWalletList

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class WalletsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/wallets
     * Returns the caller org&#39;s wallets, newest first, optionally NARROWED within the org by project, agent or account.
     * Returns the caller org&#39;s wallets, newest first, optionally NARROWED within the org by project, agent or account. The org is always the bound isolation boundary — the filters only ever narrow inside it, so a caller can never widen past its own org.
     * @param project Project narrows to wallets scoped to one project. Must be a url-safe segment. (optional)
     * @param agent Agent narrows to wallets scoped to one agent. Must be a url-safe segment. (optional)
     * @param account Account narrows to wallets under one account id. Must be a url-safe segment. (optional)
     * @return CloudWalletList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1Wallets(project: kotlin.String? = null, agent: kotlin.String? = null, account: kotlin.String? = null) : CloudWalletList {
        val localVarResponse = cloudGetV1WalletsWithHttpInfo(project = project, agent = agent, account = account)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudWalletList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/wallets
     * Returns the caller org&#39;s wallets, newest first, optionally NARROWED within the org by project, agent or account.
     * Returns the caller org&#39;s wallets, newest first, optionally NARROWED within the org by project, agent or account. The org is always the bound isolation boundary — the filters only ever narrow inside it, so a caller can never widen past its own org.
     * @param project Project narrows to wallets scoped to one project. Must be a url-safe segment. (optional)
     * @param agent Agent narrows to wallets scoped to one agent. Must be a url-safe segment. (optional)
     * @param account Account narrows to wallets under one account id. Must be a url-safe segment. (optional)
     * @return ApiResponse<CloudWalletList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1WalletsWithHttpInfo(project: kotlin.String?, agent: kotlin.String?, account: kotlin.String?) : ApiResponse<CloudWalletList?> {
        val localVariableConfig = cloudGetV1WalletsRequestConfig(project = project, agent = agent, account = account)

        return request<Unit, CloudWalletList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1Wallets
     *
     * @param project Project narrows to wallets scoped to one project. Must be a url-safe segment. (optional)
     * @param agent Agent narrows to wallets scoped to one agent. Must be a url-safe segment. (optional)
     * @param account Account narrows to wallets under one account id. Must be a url-safe segment. (optional)
     * @return RequestConfig
     */
    fun cloudGetV1WalletsRequestConfig(project: kotlin.String?, agent: kotlin.String?, account: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (project != null) {
                    put("project", listOf(project.toString()))
                }
                if (agent != null) {
                    put("agent", listOf(agent.toString()))
                }
                if (account != null) {
                    put("account", listOf(account.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/wallets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/wallets/accounts
     * Returns the caller org&#39;s wallet accounts, newest first.
     * Returns the caller org&#39;s wallet accounts, newest first. Accounts are physically org-scoped, so another tenant&#39;s are not reachable from here.
     * @return CloudAccountList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1WalletsAccounts() : CloudAccountList {
        val localVarResponse = cloudGetV1WalletsAccountsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudAccountList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/wallets/accounts
     * Returns the caller org&#39;s wallet accounts, newest first.
     * Returns the caller org&#39;s wallet accounts, newest first. Accounts are physically org-scoped, so another tenant&#39;s are not reachable from here.
     * @return ApiResponse<CloudAccountList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1WalletsAccountsWithHttpInfo() : ApiResponse<CloudAccountList?> {
        val localVariableConfig = cloudGetV1WalletsAccountsRequestConfig()

        return request<Unit, CloudAccountList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1WalletsAccounts
     *
     * @return RequestConfig
     */
    fun cloudGetV1WalletsAccountsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/wallets/accounts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/wallets/{id}
     * Returns one of the caller org&#39;s wallets: its scope, custody kind, tier, chain and on-chain address.
     * Returns one of the caller org&#39;s wallets: its scope, custody kind, tier, chain and on-chain address. The custody handle to the signing material is never part of the answer. A wallet id another org owns reads as not found, so the response cannot confirm that it exists.
     * @param id 
     * @return CloudWallet
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudGetV1WalletsId(id: kotlin.String) : CloudWallet {
        val localVarResponse = cloudGetV1WalletsIdWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudWallet
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/wallets/{id}
     * Returns one of the caller org&#39;s wallets: its scope, custody kind, tier, chain and on-chain address.
     * Returns one of the caller org&#39;s wallets: its scope, custody kind, tier, chain and on-chain address. The custody handle to the signing material is never part of the answer. A wallet id another org owns reads as not found, so the response cannot confirm that it exists.
     * @param id 
     * @return ApiResponse<CloudWallet?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudGetV1WalletsIdWithHttpInfo(id: kotlin.String) : ApiResponse<CloudWallet?> {
        val localVariableConfig = cloudGetV1WalletsIdRequestConfig(id = id)

        return request<Unit, CloudWallet>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudGetV1WalletsId
     *
     * @param id 
     * @return RequestConfig
     */
    fun cloudGetV1WalletsIdRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/wallets/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/wallets
     * Provisions a new signing identity under one of the caller org&#39;s accounts and answers the stored wallet including its on-chain address.
     * Provisions a new signing identity under one of the caller org&#39;s accounts and answers the stored wallet including its on-chain address. The custody backend generates the key material — a KMS-sealed secp256k1 key, an MPC threshold key on the ring, or a Safe smart wallet owned by one — and the HANDLE to it is kept server-side and never returned. A custody kind the deployment has not wired fails CLOSED with 503: a signature is never fabricated. The wallet is scoped to the org, the caller&#39;s ambient project, and optionally an agent and the named account; those narrowings are what its key ref is derived from, so each must be a url-safe segment.
     * @param cloudCreateWalletIn 
     * @return CloudWallet
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1Wallets(cloudCreateWalletIn: CloudCreateWalletIn) : CloudWallet {
        val localVarResponse = cloudPostV1WalletsWithHttpInfo(cloudCreateWalletIn = cloudCreateWalletIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudWallet
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/wallets
     * Provisions a new signing identity under one of the caller org&#39;s accounts and answers the stored wallet including its on-chain address.
     * Provisions a new signing identity under one of the caller org&#39;s accounts and answers the stored wallet including its on-chain address. The custody backend generates the key material — a KMS-sealed secp256k1 key, an MPC threshold key on the ring, or a Safe smart wallet owned by one — and the HANDLE to it is kept server-side and never returned. A custody kind the deployment has not wired fails CLOSED with 503: a signature is never fabricated. The wallet is scoped to the org, the caller&#39;s ambient project, and optionally an agent and the named account; those narrowings are what its key ref is derived from, so each must be a url-safe segment.
     * @param cloudCreateWalletIn 
     * @return ApiResponse<CloudWallet?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1WalletsWithHttpInfo(cloudCreateWalletIn: CloudCreateWalletIn) : ApiResponse<CloudWallet?> {
        val localVariableConfig = cloudPostV1WalletsRequestConfig(cloudCreateWalletIn = cloudCreateWalletIn)

        return request<CloudCreateWalletIn, CloudWallet>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1Wallets
     *
     * @param cloudCreateWalletIn 
     * @return RequestConfig
     */
    fun cloudPostV1WalletsRequestConfig(cloudCreateWalletIn: CloudCreateWalletIn) : RequestConfig<CloudCreateWalletIn> {
        val localVariableBody = cloudCreateWalletIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/wallets",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/wallets/accounts
     * Opens a named wallet account for the caller&#39;s org.
     * Opens a named wallet account for the caller&#39;s org. An account is a GROUPING of wallets, not a key or a balance: wallets are created under one and can be listed by it. The org is stamped by the server from the validated principal, so a request can never open an account in another tenant.
     * @param cloudCreateAccountIn 
     * @return CloudWalletAccount
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1WalletsAccounts(cloudCreateAccountIn: CloudCreateAccountIn) : CloudWalletAccount {
        val localVarResponse = cloudPostV1WalletsAccountsWithHttpInfo(cloudCreateAccountIn = cloudCreateAccountIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudWalletAccount
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/wallets/accounts
     * Opens a named wallet account for the caller&#39;s org.
     * Opens a named wallet account for the caller&#39;s org. An account is a GROUPING of wallets, not a key or a balance: wallets are created under one and can be listed by it. The org is stamped by the server from the validated principal, so a request can never open an account in another tenant.
     * @param cloudCreateAccountIn 
     * @return ApiResponse<CloudWalletAccount?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1WalletsAccountsWithHttpInfo(cloudCreateAccountIn: CloudCreateAccountIn) : ApiResponse<CloudWalletAccount?> {
        val localVariableConfig = cloudPostV1WalletsAccountsRequestConfig(cloudCreateAccountIn = cloudCreateAccountIn)

        return request<CloudCreateAccountIn, CloudWalletAccount>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1WalletsAccounts
     *
     * @param cloudCreateAccountIn 
     * @return RequestConfig
     */
    fun cloudPostV1WalletsAccountsRequestConfig(cloudCreateAccountIn: CloudCreateAccountIn) : RequestConfig<CloudCreateAccountIn> {
        val localVariableBody = cloudCreateAccountIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/wallets/accounts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/wallets/{id}/keys
     * Rolls one wallet&#39;s signing material through its own custody backend and answers the wallet with whatever address that produced.
     * Rolls one wallet&#39;s signing material through its own custody backend and answers the wallet with whatever address that produced. For KMS custody a fresh secp256k1 key is generated and sealed, which CHANGES the address — funds and approvals at the old address do not move. For a Safe the address is counterfactual and the owner shares are ring-managed, so rotation is a no-op and the address is unchanged. A backend that is not configured fails closed with 503 rather than leaving the wallet half-rotated.
     * @param id 
     * @return CloudWallet
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1WalletsIdKeys(id: kotlin.String) : CloudWallet {
        val localVarResponse = cloudPostV1WalletsIdKeysWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudWallet
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/wallets/{id}/keys
     * Rolls one wallet&#39;s signing material through its own custody backend and answers the wallet with whatever address that produced.
     * Rolls one wallet&#39;s signing material through its own custody backend and answers the wallet with whatever address that produced. For KMS custody a fresh secp256k1 key is generated and sealed, which CHANGES the address — funds and approvals at the old address do not move. For a Safe the address is counterfactual and the owner shares are ring-managed, so rotation is a no-op and the address is unchanged. A backend that is not configured fails closed with 503 rather than leaving the wallet half-rotated.
     * @param id 
     * @return ApiResponse<CloudWallet?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1WalletsIdKeysWithHttpInfo(id: kotlin.String) : ApiResponse<CloudWallet?> {
        val localVariableConfig = cloudPostV1WalletsIdKeysRequestConfig(id = id)

        return request<Unit, CloudWallet>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1WalletsIdKeys
     *
     * @param id 
     * @return RequestConfig
     */
    fun cloudPostV1WalletsIdKeysRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/wallets/{id}/keys".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/wallets/{id}/safe-tx
     * Composes a Safe transaction on the MPC ring and answers its EIP-712 hash together with the owner approval the ring&#39;s threshold signature produced.
     * Composes a Safe transaction on the MPC ring and answers its EIP-712 hash together with the owner approval the ring&#39;s threshold signature produced. Only a wallet whose custody is \&quot;safe\&quot; can do this — any other custody is a 400, because the backend itself is asked whether it can propose rather than the kind being switched on. The ring computes the Safe-tx hash bound to the Safe contract and the chain id, so the hash a caller gets back is the one the Safe will verify. This PROPOSES: it does not execute the transaction.
     * @param id 
     * @param cloudSafeTxIn 
     * @return CloudSafeProposal
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1WalletsIdSafeTx(id: kotlin.String, cloudSafeTxIn: CloudSafeTxIn) : CloudSafeProposal {
        val localVarResponse = cloudPostV1WalletsIdSafeTxWithHttpInfo(id = id, cloudSafeTxIn = cloudSafeTxIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSafeProposal
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/wallets/{id}/safe-tx
     * Composes a Safe transaction on the MPC ring and answers its EIP-712 hash together with the owner approval the ring&#39;s threshold signature produced.
     * Composes a Safe transaction on the MPC ring and answers its EIP-712 hash together with the owner approval the ring&#39;s threshold signature produced. Only a wallet whose custody is \&quot;safe\&quot; can do this — any other custody is a 400, because the backend itself is asked whether it can propose rather than the kind being switched on. The ring computes the Safe-tx hash bound to the Safe contract and the chain id, so the hash a caller gets back is the one the Safe will verify. This PROPOSES: it does not execute the transaction.
     * @param id 
     * @param cloudSafeTxIn 
     * @return ApiResponse<CloudSafeProposal?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1WalletsIdSafeTxWithHttpInfo(id: kotlin.String, cloudSafeTxIn: CloudSafeTxIn) : ApiResponse<CloudSafeProposal?> {
        val localVariableConfig = cloudPostV1WalletsIdSafeTxRequestConfig(id = id, cloudSafeTxIn = cloudSafeTxIn)

        return request<CloudSafeTxIn, CloudSafeProposal>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1WalletsIdSafeTx
     *
     * @param id 
     * @param cloudSafeTxIn 
     * @return RequestConfig
     */
    fun cloudPostV1WalletsIdSafeTxRequestConfig(id: kotlin.String, cloudSafeTxIn: CloudSafeTxIn) : RequestConfig<CloudSafeTxIn> {
        val localVariableBody = cloudSafeTxIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/wallets/{id}/safe-tx".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/wallets/{id}/sign
     * Produces a secp256k1 signature from one of the caller org&#39;s wallets over a 32-byte digest, through whichever custody backend that wallet uses.
     * Produces a secp256k1 signature from one of the caller org&#39;s wallets over a 32-byte digest, through whichever custody backend that wallet uses. Give it either a &#x60;digest&#x60; (32 bytes as hex, signed verbatim) or a &#x60;message&#x60; (hashed with Keccak256 first) — exactly one is required. The private key never leaves its backend: KMS custody opens the sealed key in-process, MPC custody produces a threshold signature on the ring. The answer carries the digest that was signed alongside the signature, so a caller can verify what it got.
     * @param id 
     * @param cloudSignIn 
     * @return CloudSignature
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cloudPostV1WalletsIdSign(id: kotlin.String, cloudSignIn: CloudSignIn) : CloudSignature {
        val localVarResponse = cloudPostV1WalletsIdSignWithHttpInfo(id = id, cloudSignIn = cloudSignIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CloudSignature
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/wallets/{id}/sign
     * Produces a secp256k1 signature from one of the caller org&#39;s wallets over a 32-byte digest, through whichever custody backend that wallet uses.
     * Produces a secp256k1 signature from one of the caller org&#39;s wallets over a 32-byte digest, through whichever custody backend that wallet uses. Give it either a &#x60;digest&#x60; (32 bytes as hex, signed verbatim) or a &#x60;message&#x60; (hashed with Keccak256 first) — exactly one is required. The private key never leaves its backend: KMS custody opens the sealed key in-process, MPC custody produces a threshold signature on the ring. The answer carries the digest that was signed alongside the signature, so a caller can verify what it got.
     * @param id 
     * @param cloudSignIn 
     * @return ApiResponse<CloudSignature?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cloudPostV1WalletsIdSignWithHttpInfo(id: kotlin.String, cloudSignIn: CloudSignIn) : ApiResponse<CloudSignature?> {
        val localVariableConfig = cloudPostV1WalletsIdSignRequestConfig(id = id, cloudSignIn = cloudSignIn)

        return request<CloudSignIn, CloudSignature>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cloudPostV1WalletsIdSign
     *
     * @param id 
     * @param cloudSignIn 
     * @return RequestConfig
     */
    fun cloudPostV1WalletsIdSignRequestConfig(id: kotlin.String, cloudSignIn: CloudSignIn) : RequestConfig<CloudSignIn> {
        val localVariableBody = cloudSignIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/wallets/{id}/sign".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
