/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.Balances
import ai.hanzo.cloud.model.ChainList
import ai.hanzo.cloud.model.ChainStatus
import ai.hanzo.cloud.model.RpcIn
import ai.hanzo.cloud.model.RpcOut

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class Web3Api(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * GET /v1/web3/chains
     * Reports the chains this deployment can reach.
     * Reports the chains this deployment can reach. The list is the declared registry, so it is exactly what /v1/web3/rpc will accept — a chain that appears here is one this deployment actually has an upstream for.
     * @return ChainList
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getWeb3Chains() : ChainList {
        val localVarResponse = getWeb3ChainsWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChainList
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/web3/chains
     * Reports the chains this deployment can reach.
     * Reports the chains this deployment can reach. The list is the declared registry, so it is exactly what /v1/web3/rpc will accept — a chain that appears here is one this deployment actually has an upstream for.
     * @return ApiResponse<ChainList?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getWeb3ChainsWithHttpInfo() : ApiResponse<ChainList?> {
        val localVariableConfig = getWeb3ChainsRequestConfig()

        return request<Unit, ChainList>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getWeb3Chains
     *
     * @return RequestConfig
     */
    fun getWeb3ChainsRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/web3/chains",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/web3/chains/{chain}
     * Reports one chain and whether its upstream is answering.
     * Reports one chain and whether its upstream is answering. An unreachable chain is still a 200 with live:false — the chain is configured, which is a different fact from the chain being up, and a 502 here would make a console page error rather than show the outage.
     * @param chain Chain is the registry id, as in /v1/web3/chains/lux.
     * @return ChainStatus
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getWeb3ChainsByChain(chain: kotlin.String) : ChainStatus {
        val localVarResponse = getWeb3ChainsByChainWithHttpInfo(chain = chain)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ChainStatus
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/web3/chains/{chain}
     * Reports one chain and whether its upstream is answering.
     * Reports one chain and whether its upstream is answering. An unreachable chain is still a 200 with live:false — the chain is configured, which is a different fact from the chain being up, and a 502 here would make a console page error rather than show the outage.
     * @param chain Chain is the registry id, as in /v1/web3/chains/lux.
     * @return ApiResponse<ChainStatus?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getWeb3ChainsByChainWithHttpInfo(chain: kotlin.String) : ApiResponse<ChainStatus?> {
        val localVariableConfig = getWeb3ChainsByChainRequestConfig(chain = chain)

        return request<Unit, ChainStatus>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getWeb3ChainsByChain
     *
     * @param chain Chain is the registry id, as in /v1/web3/chains/lux.
     * @return RequestConfig
     */
    fun getWeb3ChainsByChainRequestConfig(chain: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/web3/chains/{chain}".replace("{"+"chain"+"}", encodeURIComponent(chain.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/web3/tokens/{chain}/{address}
     * Reads an address&#39;s native balance on a chain.
     * Reads an address&#39;s native balance on a chain.  ERC-20 positions are NOT enumerated here: eth_getBalance answers the native one, but \&quot;every token this address holds\&quot; is an indexer question — there is no RPC call that answers it, and walking a token list would return a number that silently omits whatever the list missed. explorer owns the indexer relationship; this returns the balance the chain itself can prove.
     * @param chain Chain is the registry id.
     * @param address Address is the account, 0x-prefixed.
     * @return Balances
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getWeb3TokensByChainByAddress(chain: kotlin.String, address: kotlin.String) : Balances {
        val localVarResponse = getWeb3TokensByChainByAddressWithHttpInfo(chain = chain, address = address)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Balances
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/web3/tokens/{chain}/{address}
     * Reads an address&#39;s native balance on a chain.
     * Reads an address&#39;s native balance on a chain.  ERC-20 positions are NOT enumerated here: eth_getBalance answers the native one, but \&quot;every token this address holds\&quot; is an indexer question — there is no RPC call that answers it, and walking a token list would return a number that silently omits whatever the list missed. explorer owns the indexer relationship; this returns the balance the chain itself can prove.
     * @param chain Chain is the registry id.
     * @param address Address is the account, 0x-prefixed.
     * @return ApiResponse<Balances?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getWeb3TokensByChainByAddressWithHttpInfo(chain: kotlin.String, address: kotlin.String) : ApiResponse<Balances?> {
        val localVariableConfig = getWeb3TokensByChainByAddressRequestConfig(chain = chain, address = address)

        return request<Unit, Balances>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getWeb3TokensByChainByAddress
     *
     * @param chain Chain is the registry id.
     * @param address Address is the account, 0x-prefixed.
     * @return RequestConfig
     */
    fun getWeb3TokensByChainByAddressRequestConfig(chain: kotlin.String, address: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/web3/tokens/{chain}/{address}".replace("{"+"chain"+"}", encodeURIComponent(chain.toString())).replace("{"+"address"+"}", encodeURIComponent(address.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/web3/rpc/{chain}
     * Forwards a JSON-RPC call to the named chain and returns its answer unchanged.
     * Forwards a JSON-RPC call to the named chain and returns its answer unchanged. Only declared chains are reachable, and only to a caller with a validated principal — this is the deployment&#39;s upstream, not an open relay.
     * @param chain Chain is the registry id, from the URL.
     * @param rpcIn 
     * @return RpcOut
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun postWeb3RpcByChain(chain: kotlin.String, rpcIn: RpcIn) : RpcOut {
        val localVarResponse = postWeb3RpcByChainWithHttpInfo(chain = chain, rpcIn = rpcIn)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RpcOut
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/web3/rpc/{chain}
     * Forwards a JSON-RPC call to the named chain and returns its answer unchanged.
     * Forwards a JSON-RPC call to the named chain and returns its answer unchanged. Only declared chains are reachable, and only to a caller with a validated principal — this is the deployment&#39;s upstream, not an open relay.
     * @param chain Chain is the registry id, from the URL.
     * @param rpcIn 
     * @return ApiResponse<RpcOut?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun postWeb3RpcByChainWithHttpInfo(chain: kotlin.String, rpcIn: RpcIn) : ApiResponse<RpcOut?> {
        val localVariableConfig = postWeb3RpcByChainRequestConfig(chain = chain, rpcIn = rpcIn)

        return request<RpcIn, RpcOut>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation postWeb3RpcByChain
     *
     * @param chain Chain is the registry id, from the URL.
     * @param rpcIn 
     * @return RequestConfig
     */
    fun postWeb3RpcByChainRequestConfig(chain: kotlin.String, rpcIn: RpcIn) : RequestConfig<RpcIn> {
        val localVariableBody = rpcIn
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/web3/rpc/{chain}".replace("{"+"chain"+"}", encodeURIComponent(chain.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
