/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package ai.hanzo.cloud.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.hanzo.cloud.model.AnalyticsCreateWebsiteRequest
import ai.hanzo.cloud.model.AnalyticsGetActiveVisitors200Response
import ai.hanzo.cloud.model.AnalyticsGetWebsiteDateRange200Response
import ai.hanzo.cloud.model.AnalyticsTransferWebsiteRequest
import ai.hanzo.cloud.model.AnalyticsUpdateWebsiteRequest
import ai.hanzo.cloud.model.AnalyticsWebsite

import com.google.gson.annotations.SerializedName

import ai.hanzo.cloud.infrastructure.ApiClient
import ai.hanzo.cloud.infrastructure.ApiResponse
import ai.hanzo.cloud.infrastructure.ClientException
import ai.hanzo.cloud.infrastructure.ClientError
import ai.hanzo.cloud.infrastructure.ServerException
import ai.hanzo.cloud.infrastructure.ServerError
import ai.hanzo.cloud.infrastructure.MultiValueMap
import ai.hanzo.cloud.infrastructure.PartConfig
import ai.hanzo.cloud.infrastructure.RequestConfig
import ai.hanzo.cloud.infrastructure.RequestMethod
import ai.hanzo.cloud.infrastructure.ResponseType
import ai.hanzo.cloud.infrastructure.Success
import ai.hanzo.cloud.infrastructure.toMultiValue

class WebsitesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.hanzo.ai")
        }
    }

    /**
     * POST /v1/analytics/websites
     * Create a new website
     * 
     * @param analyticsCreateWebsiteRequest 
     * @return AnalyticsWebsite
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsCreateWebsite(analyticsCreateWebsiteRequest: AnalyticsCreateWebsiteRequest) : AnalyticsWebsite {
        val localVarResponse = analyticsCreateWebsiteWithHttpInfo(analyticsCreateWebsiteRequest = analyticsCreateWebsiteRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsWebsite
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/websites
     * Create a new website
     * 
     * @param analyticsCreateWebsiteRequest 
     * @return ApiResponse<AnalyticsWebsite?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsCreateWebsiteWithHttpInfo(analyticsCreateWebsiteRequest: AnalyticsCreateWebsiteRequest) : ApiResponse<AnalyticsWebsite?> {
        val localVariableConfig = analyticsCreateWebsiteRequestConfig(analyticsCreateWebsiteRequest = analyticsCreateWebsiteRequest)

        return request<AnalyticsCreateWebsiteRequest, AnalyticsWebsite>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsCreateWebsite
     *
     * @param analyticsCreateWebsiteRequest 
     * @return RequestConfig
     */
    fun analyticsCreateWebsiteRequestConfig(analyticsCreateWebsiteRequest: AnalyticsCreateWebsiteRequest) : RequestConfig<AnalyticsCreateWebsiteRequest> {
        val localVariableBody = analyticsCreateWebsiteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/websites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/analytics/websites/{websiteId}
     * Delete website
     * 
     * @param websiteId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsDeleteWebsite(websiteId: java.util.UUID) : kotlin.Any {
        val localVarResponse = analyticsDeleteWebsiteWithHttpInfo(websiteId = websiteId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/analytics/websites/{websiteId}
     * Delete website
     * 
     * @param websiteId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsDeleteWebsiteWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = analyticsDeleteWebsiteRequestConfig(websiteId = websiteId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsDeleteWebsite
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsDeleteWebsiteRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/analytics/websites/{websiteId}".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/active
     * Get count of active visitors
     * 
     * @param websiteId 
     * @return AnalyticsGetActiveVisitors200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsGetActiveVisitors(websiteId: java.util.UUID) : AnalyticsGetActiveVisitors200Response {
        val localVarResponse = analyticsGetActiveVisitorsWithHttpInfo(websiteId = websiteId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsGetActiveVisitors200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/active
     * Get count of active visitors
     * 
     * @param websiteId 
     * @return ApiResponse<AnalyticsGetActiveVisitors200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsGetActiveVisitorsWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<AnalyticsGetActiveVisitors200Response?> {
        val localVariableConfig = analyticsGetActiveVisitorsRequestConfig(websiteId = websiteId)

        return request<Unit, AnalyticsGetActiveVisitors200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetActiveVisitors
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsGetActiveVisitorsRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/active".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}
     * Get website by ID
     * 
     * @param websiteId 
     * @return AnalyticsWebsite
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsGetWebsite(websiteId: java.util.UUID) : AnalyticsWebsite {
        val localVarResponse = analyticsGetWebsiteWithHttpInfo(websiteId = websiteId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsWebsite
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}
     * Get website by ID
     * 
     * @param websiteId 
     * @return ApiResponse<AnalyticsWebsite?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsGetWebsiteWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<AnalyticsWebsite?> {
        val localVariableConfig = analyticsGetWebsiteRequestConfig(websiteId = websiteId)

        return request<Unit, AnalyticsWebsite>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetWebsite
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsGetWebsiteRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/daterange
     * Get the date range of data available for a website
     * 
     * @param websiteId 
     * @return AnalyticsGetWebsiteDateRange200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsGetWebsiteDateRange(websiteId: java.util.UUID) : AnalyticsGetWebsiteDateRange200Response {
        val localVarResponse = analyticsGetWebsiteDateRangeWithHttpInfo(websiteId = websiteId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsGetWebsiteDateRange200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/daterange
     * Get the date range of data available for a website
     * 
     * @param websiteId 
     * @return ApiResponse<AnalyticsGetWebsiteDateRange200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsGetWebsiteDateRangeWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<AnalyticsGetWebsiteDateRange200Response?> {
        val localVariableConfig = analyticsGetWebsiteDateRangeRequestConfig(websiteId = websiteId)

        return request<Unit, AnalyticsGetWebsiteDateRange200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetWebsiteDateRange
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsGetWebsiteDateRangeRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/daterange".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/values
     * Get distinct values for a given column type
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param type Column type (e.g. browser, os, device, country, url, referrer, title, event, tag, language, region, city, host)
     * @param search  (optional)
     * @return kotlin.collections.List<kotlin.String>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsGetWebsiteValues(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, type: kotlin.String, search: kotlin.String? = null) : kotlin.collections.List<kotlin.String> {
        val localVarResponse = analyticsGetWebsiteValuesWithHttpInfo(websiteId = websiteId, startAt = startAt, endAt = endAt, type = type, search = search)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<kotlin.String>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites/{websiteId}/values
     * Get distinct values for a given column type
     * 
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param type Column type (e.g. browser, os, device, country, url, referrer, title, event, tag, language, region, city, host)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<kotlin.String>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsGetWebsiteValuesWithHttpInfo(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, type: kotlin.String, search: kotlin.String?) : ApiResponse<kotlin.collections.List<kotlin.String>?> {
        val localVariableConfig = analyticsGetWebsiteValuesRequestConfig(websiteId = websiteId, startAt = startAt, endAt = endAt, type = type, search = search)

        return request<Unit, kotlin.collections.List<kotlin.String>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsGetWebsiteValues
     *
     * @param websiteId 
     * @param startAt Start timestamp in milliseconds
     * @param endAt End timestamp in milliseconds
     * @param type Column type (e.g. browser, os, device, country, url, referrer, title, event, tag, language, region, city, host)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsGetWebsiteValuesRequestConfig(websiteId: java.util.UUID, startAt: kotlin.Long, endAt: kotlin.Long, type: kotlin.String, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("startAt", listOf(startAt.toString()))
                put("endAt", listOf(endAt.toString()))
                put("type", listOf(type.toString()))
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites/{websiteId}/values".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/analytics/websites
     * List websites owned by current user
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return kotlin.collections.List<AnalyticsWebsite>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsListWebsites(page: kotlin.Int? = null, pageSize: kotlin.Int? = null, orderBy: kotlin.String? = null, search: kotlin.String? = null) : kotlin.collections.List<AnalyticsWebsite> {
        val localVarResponse = analyticsListWebsitesWithHttpInfo(page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<AnalyticsWebsite>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/analytics/websites
     * List websites owned by current user
     * 
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return ApiResponse<kotlin.collections.List<AnalyticsWebsite>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsListWebsitesWithHttpInfo(page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : ApiResponse<kotlin.collections.List<AnalyticsWebsite>?> {
        val localVariableConfig = analyticsListWebsitesRequestConfig(page = page, pageSize = pageSize, orderBy = orderBy, search = search)

        return request<Unit, kotlin.collections.List<AnalyticsWebsite>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsListWebsites
     *
     * @param page  (optional)
     * @param pageSize  (optional)
     * @param orderBy  (optional)
     * @param search  (optional)
     * @return RequestConfig
     */
    fun analyticsListWebsitesRequestConfig(page: kotlin.Int?, pageSize: kotlin.Int?, orderBy: kotlin.String?, search: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (pageSize != null) {
                    put("pageSize", listOf(pageSize.toString()))
                }
                if (orderBy != null) {
                    put("orderBy", listOf(orderBy.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/analytics/websites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/websites/{websiteId}/reset
     * Reset all data for a website
     * 
     * @param websiteId 
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsResetWebsite(websiteId: java.util.UUID) : kotlin.Any {
        val localVarResponse = analyticsResetWebsiteWithHttpInfo(websiteId = websiteId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/websites/{websiteId}/reset
     * Reset all data for a website
     * 
     * @param websiteId 
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsResetWebsiteWithHttpInfo(websiteId: java.util.UUID) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = analyticsResetWebsiteRequestConfig(websiteId = websiteId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsResetWebsite
     *
     * @param websiteId 
     * @return RequestConfig
     */
    fun analyticsResetWebsiteRequestConfig(websiteId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/websites/{websiteId}/reset".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/websites/{websiteId}/transfer
     * Transfer website ownership to another user or team
     * 
     * @param websiteId 
     * @param analyticsTransferWebsiteRequest 
     * @return AnalyticsWebsite
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsTransferWebsite(websiteId: java.util.UUID, analyticsTransferWebsiteRequest: AnalyticsTransferWebsiteRequest) : AnalyticsWebsite {
        val localVarResponse = analyticsTransferWebsiteWithHttpInfo(websiteId = websiteId, analyticsTransferWebsiteRequest = analyticsTransferWebsiteRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsWebsite
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/websites/{websiteId}/transfer
     * Transfer website ownership to another user or team
     * 
     * @param websiteId 
     * @param analyticsTransferWebsiteRequest 
     * @return ApiResponse<AnalyticsWebsite?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsTransferWebsiteWithHttpInfo(websiteId: java.util.UUID, analyticsTransferWebsiteRequest: AnalyticsTransferWebsiteRequest) : ApiResponse<AnalyticsWebsite?> {
        val localVariableConfig = analyticsTransferWebsiteRequestConfig(websiteId = websiteId, analyticsTransferWebsiteRequest = analyticsTransferWebsiteRequest)

        return request<AnalyticsTransferWebsiteRequest, AnalyticsWebsite>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsTransferWebsite
     *
     * @param websiteId 
     * @param analyticsTransferWebsiteRequest 
     * @return RequestConfig
     */
    fun analyticsTransferWebsiteRequestConfig(websiteId: java.util.UUID, analyticsTransferWebsiteRequest: AnalyticsTransferWebsiteRequest) : RequestConfig<AnalyticsTransferWebsiteRequest> {
        val localVariableBody = analyticsTransferWebsiteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/websites/{websiteId}/transfer".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/analytics/websites/{websiteId}
     * Update website
     * 
     * @param websiteId 
     * @param analyticsUpdateWebsiteRequest 
     * @return AnalyticsWebsite
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun analyticsUpdateWebsite(websiteId: java.util.UUID, analyticsUpdateWebsiteRequest: AnalyticsUpdateWebsiteRequest) : AnalyticsWebsite {
        val localVarResponse = analyticsUpdateWebsiteWithHttpInfo(websiteId = websiteId, analyticsUpdateWebsiteRequest = analyticsUpdateWebsiteRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AnalyticsWebsite
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/analytics/websites/{websiteId}
     * Update website
     * 
     * @param websiteId 
     * @param analyticsUpdateWebsiteRequest 
     * @return ApiResponse<AnalyticsWebsite?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun analyticsUpdateWebsiteWithHttpInfo(websiteId: java.util.UUID, analyticsUpdateWebsiteRequest: AnalyticsUpdateWebsiteRequest) : ApiResponse<AnalyticsWebsite?> {
        val localVariableConfig = analyticsUpdateWebsiteRequestConfig(websiteId = websiteId, analyticsUpdateWebsiteRequest = analyticsUpdateWebsiteRequest)

        return request<AnalyticsUpdateWebsiteRequest, AnalyticsWebsite>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation analyticsUpdateWebsite
     *
     * @param websiteId 
     * @param analyticsUpdateWebsiteRequest 
     * @return RequestConfig
     */
    fun analyticsUpdateWebsiteRequestConfig(websiteId: java.util.UUID, analyticsUpdateWebsiteRequest: AnalyticsUpdateWebsiteRequest) : RequestConfig<AnalyticsUpdateWebsiteRequest> {
        val localVariableBody = analyticsUpdateWebsiteRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/analytics/websites/{websiteId}".replace("{"+"websiteId"+"}", encodeURIComponent(websiteId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
